<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.workflow.dao.WorkflowCaseMapper">

    <resultMap type="com.center.medical.workflow.bean.model.WorkflowCase" id="WorkflowCaseMap">
        <id property="id" column="id"/>
        <result property="fzxid" column="fzxid"/>
        <result property="bizId" column="biz_id"/>
        <result property="flowId" column="flow_id"/>
        <result property="caseName" column="case_name"/>
        <result property="typeFlag" column="type_flag"/>
        <result property="remark" column="remark"/>
        <result property="failText" column="fail_text"/>
        <result property="allLevel" column="all_level"/>
        <result property="curLevel" column="cur_level"/>
        <result property="status" column="status"/>
        <result property="createdate" column="createdate"/>
        <result property="creator" column="creator"/>
        <result property="modifydate" column="modifydate"/>
        <result property="modifier" column="modifier"/>
        <result property="data" column="data"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWorkflowCaseVo">
        select id,
               fzxid,
               biz_id,
               flow_id,
               case_name,
               type_flag,
               remark,
               fail_text,
               all_level,
               cur_level,
               status,
               createdate,
               creator,
               modifydate,
               modifier,
               data
        from md_workflow_case
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.workflow.bean.model.WorkflowCase">
        SELECT
        wfc.id,
        sb.fzx,
        wfc.biz_id,
        wf.flow_name,
        wfc.case_name,
        wfc.type_flag,
        wft.type_name,
        wfc.remark,
        wfc.fail_text,
        wfc.all_level,
        wfc.cur_level,
        wfc.`status`,
        wfci.`status` AS item_status,
        wfc.createdate,
        wfc.modifydate,
        wfc.modifier,
        su.user_name AS creator,
        mwfci.user_name
        FROM
        md_workflow_case wfc
        LEFT JOIN md_workflow_case_item wfci ON wfci.case_id = wfc.id
        LEFT JOIN sys_branch sb ON wfc.fzxid = sb.branch_id
        LEFT JOIN md_workflow wf ON wfc.flow_id = wf.id
        LEFT JOIN md_workflow_type wft ON wfc.type_flag = wft.type_flag
        LEFT JOIN sys_user su ON wfc.creator = su.user_no
        LEFT JOIN md_workflow_case_item mwfci ON mwfci.case_id = wfc.id
        and mwfci.status = 1
        <where>
            <choose>
                <when test="param.status!=null">
                    AND wfc.status = #{param.status}
                </when>
                <otherwise>
                    AND wfc.status != -1
                </otherwise>
            </choose>
            <if test="param.startTime!=null">
                AND wfc.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND wfc.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null">
                AND wfc.fzxid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.caseName!=null and param.caseName!=''">
                AND wfc.case_name LIKE concat('%',#{param.caseName},'%')
            </if>
            <if test="param.typeFlag!=null and param.typeFlag!=''">
                AND wfc.type_flag = #{param.typeFlag}
            </if>
            <if test="param.bizId!=null and param.bizId!=''">
                AND wfc.biz_id = #{param.bizId}
            </if>
            <if test="param.userNo!=null and param.userNo!=''">
                AND wfci.user_no = #{param.userNo}
            </if>
            <if test="param.creator!=null and param.creator!=''">
                AND su.user_name LIKE concat('%',#{param.creator},'%')
            </if>
        </where>
        ORDER BY wfci.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WorkflowCaseMap">
        SELECT wfc.id,
        sb.fzx,
        wfc.biz_id,
        wf.flow_name,
        wfc.case_name,
        wft.type_name,
        wfc.remark,
        wfc.fail_text,
        wfc.all_level,
        wfc.cur_level,
        wfc.status,
        wfc.createdate,
        wfc.creator,
        wfc.modifydate,
        wfc.modifier,
        wfc.data
        FROM md_workflow_case wfc
        LEFT JOIN sys_branch sb ON wfc.fzxid = sb.branch_id
        LEFT JOIN md_workflow wf ON wfc.flow_id = wf.id
        LEFT JOIN md_workflow_type wft ON wfc.type_flag = wft.type_flag
        <where>
            wfc.id = #{id}
        </where>
    </select>

</mapper>

