<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.IPersonalReportMapper">


    <!-- 判断是否有隐私项目，有隐私项目时要生成隐私报告 -->
    <select id="hasPrivateItem" resultType="com.center.medical.report.bean.dto.PrivateItemDto">
        SELECT p.patientcode,
               p.patientname
        FROM md_peispatient p
        WHERE EXISTS(
                SELECT 1
                FROM md_peispatientfeeitem pi
                         INNER JOIN md_items i ON i.id = pi.id_examfeeitem
                WHERE pi.id_patient = p.patientcode
                  AND i.bgdybs = '1'
                  AND i.dyddybs = 1
                  AND (pi.change_item IS NULL OR pi.change_item = 0)
                  AND (pi.f_giveup IS NULL OR pi.f_giveup = 0)
                  AND (pi.sfjj IS NULL OR pi.sfjj = 0)
                  AND pi.f_feecharged = 1
                  AND pi.f_examinated = 1
                  AND EXISTS(SELECT 1
                             FROM md_peispatientexamitem pei
                             WHERE pei.patientcode = pi.id_patient AND pei.id_examfeeitem = i.id)
            )
          AND p.patientcode = #{patientcode}
    </select>


    <!-- 判断是否有隐私项目，有隐私项目时要生成隐私报告 -->
    <select id="xjdata" resultType="com.center.medical.report.bean.dto.XjDataDto">
        SELECT pe.examfeeitem,
               pe.examitem_name_r,
               pe.examitemvaluesreport,
               e.type,
               pe.status,
               pe.zy_status,
               e.is_desc,
               pe.type type2,
               pe.units,
               pe.id_examitem
        FROM md_peispatientexamitem pe
                 INNER JOIN md_items i ON i.id = pe.id_examfeeitem
            AND i.bgdybs = '1'
                 INNER JOIN md_basexamltem e ON e.id = pe.id_examitem
                 INNER JOIN md_inspect_charge ic ON ic.charge_id = i.id
            AND ic.inspect_id = e.id
        WHERE ((
                   pe.STATUS != 'n'
			AND trim( pe.STATUS ) IS NOT NULL
                   )
            OR e.is_desc = 1
            OR pe.zy_status
            != 'N'
		OR (
			pe.examitemvaluesshort IS NOT NULL
			AND ( instr( pe.examitemvaluesshort, '阳性' )!= 0 OR instr( pe.examitemvaluesshort, '' )!= 0 )
		)
	)
	AND pe.patientcode = #{patientcode}
          AND pe.examitemvaluesnumber2 IS NULL
        ORDER BY
            i.createdate,
            ic.order_index
    </select>


    <!-- 判断是否有隐私项目，有隐私项目时要生成隐私报告 -->
    <select id="findBgdybs" resultType="com.center.medical.report.bean.dto.FindBgdybsDto">
        SELECT DISTINCT p.examfeeitem_nameprn,
                        p.examitem_nameprn,
                        p.examitemvaluesreport,
                        p.units,
                        p.status,
                        p.refrange,
                        p.inspect_name,
                        STR_TO_DATE(p.audit_date, '%Y-%m-%d') AS audit_date,
                        i.xh,
                        c.order_index,
                        i.id                                  AS iid
        FROM md_peispatientexamitem p
                 INNER JOIN md_items i ON i.id = p.id_examfeeitem
                 INNER JOIN md_inspect_charge c ON c.charge_id = i.id
                 INNER JOIN md_basexamltem e ON e.id = c.inspect_id
            AND e.id = p.id_examitem
                 INNER JOIN md_peispatientfeeitem pf ON pf.id_patient = p.patientcode
            AND pf.id_examfeeitem = p.id_examfeeitem
            AND pf.f_examinated = 1
        WHERE i.bgdybs = '1'
          AND p.patientcode = #{patientcode}
          AND i.examfeeitem_code IS NOT NULL
        ORDER BY i.xh,
                 i.id,
                 c.order_index
    </select>


    <!-- 获取头部模板数据 -->
    <select id="findAllOneHealth" resultType="com.center.medical.report.bean.dto.AllOneHealthDto">
        SELECT
        p.org_name AS workunit,
        p.org_depart AS department,
        p.patientcode AS patientcode,
        p.patientname AS patientname,
        p.id_sex AS sex,
        p.age AS age,
        c.tjtcmc AS combo,
        p.phone AS phone,
        p.dateregister,
        <if test="islrct!=null">
            <if test="islrct == 0 or islrct == 1">
                pp.picture AS head,
            </if>
        </if>
        e.patientarchiveno AS patientarchive,
        p.id_marriage AS marriage ,
        s.offer AS totaloffer,
        q.user_name AS totaldoctor,
        q.phonenumber AS hotline,
        STR_TO_DATE (s.createdate, '%Y-%m-%d') AS reportdate,
        p.id_patientclass,
        s.doctor_id AS totaldoctorid,
        p.idcardno,
        pg.orgreservationgroupname,
        p.numorgresv
        FROM
        md_peispatient p
        <if test="islrct!=null">
            <if test="islrct == 0 or islrct == 1">
                LEFT JOIN md_peispatient_photo pp ON pp.patientcode = p.patientcode
            </if>
        </if>
        LEFT JOIN md_createcombo c ON c.id = p.id_tjtc
        LEFT JOIN md_peispatientarchive e ON e.patientarchiveno = p.patientarchiveno
        LEFT JOIN md_section_total s ON s.patientcode = p.patientcode
        AND s.disease_health = 0
        AND s.is_delete = 0
        LEFT JOIN sys_user q ON s.doctor_id = q.user_no
        LEFT JOIN md_peisorgreservationgroup pg on pg.id = p.id_orgreservationgroup
        WHERE
        p.patientcode = #{patientcode}
        GROUP BY p.patientcode
    </select>


    <!-- 获取职业史信息 -->
    <select id="getExpHead2" resultType="com.center.medical.report.bean.dto.ExpHead2Dto">
        SELECT w.start_date,
               w.stop_date,
               w.dept,
               w.branch,
               w.type_of_work,
               (
                   SELECT group_concat(h.harm_name)
                   FROM md_harm h
                   WHERE h.id IN (w.occupation_harm)
               ) AS ocupationharm,
               w.occupation_defend
        FROM md_wz_zys w
                 LEFT JOIN md_peispatientarchive v ON w.id_patientarchive = v.id
                 LEFT JOIN md_peispatient p ON p.patientarchiveno = v.patientarchiveno
        WHERE p.patientcode = #{patientcode}
    </select>


    <!-- 获取职业病史 -->
    <select id="getExpHead3" resultType="com.center.medical.report.bean.dto.ExpHead3Dto">
        SELECT o.occupation_diseast,
               w.diagnosis_date,
               w.diagnosis_dept,
               w.status
        FROM md_wz_zybs w
                 LEFT JOIN md_occupation_diseast o ON o.id = w.occupation_diseast
                 LEFT JOIN md_peispatient p ON p.patientarchiveno = w.id_patientarchive
        WHERE p.patientcode = #{patientcode}
    </select>

    <!-- 获取职业病史 -->
    <select id="findAllDepD" resultType="java.lang.String">
        SELECT
        s.dep_id
        FROM
        md_section_result_main s
        LEFT JOIN sys_dept q ON s.dep_id = q.dept_no
        LEFT JOIN md_describe d ON d.patientcode = s.patientcode
        AND d.dep_id = s.dep_id
        AND d.tjlx = 1
        INNER JOIN md_peispatientfeeitem p ON p.id_patient = s.patientcode
        AND p.id_ks = s.dep_id
        AND p.f_examinated = 1
        LEFT JOIN md_inspect_charge ic ON ic.charge_id = p.id_examfeeitem
        AND ic.is_delete = 0
        LEFT JOIN md_basexamltem b ON b.id = ic.inspect_id
        AND b.is_delete = 0
        WHERE
        s.patientcode = #{patientcode}

        AND (((
        SELECT
        COUNT(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="jhys" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND c.medical_type = #{medicaltype}
        AND c.item_id = p.id_examfeeitem
        )> 0
        )
        OR (
        b.id IS NOT NULL
        AND (
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="jhys" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND c.medical_type = #{medicaltype}
        AND c.exam_id = b.id
        )> 0
        AND q.jklx NOT IN ( 'US', 'DR', 'CR', 'CT', 'MR', 'DX' )))
        GROUP BY
        s.dep_id,
        q.report_sort,
        q.sjbggs
        HAVING
        q.sjbggs not in ( 6, 4, 11 )
        OR COUNT( d.id )!= 0
        ORDER BY
        q.report_sort
    </select>


    <!-- 获取某个体检者本次体检都有哪些科室 -->
    <select id="findAllDep" resultType="java.lang.String">
        SELECT s.dep_id
        FROM md_section_result_main s
                 INNER JOIN sys_dept q ON s.dep_id = q.dept_no
                 INNER JOIN md_peispatientfeeitem p ON p.id_patient = s.patientcode
            AND p.id_ks = s.dep_id
            AND p.f_examinated = 1
        WHERE s.patientcode = #{patientcode}
        GROUP BY s.dep_id,
                 q.report_sort
        ORDER BY q.report_sort
    </select>


    <!-- 获取所有的图片科室健康 -->
    <select id="findAllPicDepH" resultType="com.center.medical.common.core.domain.entity.SysDept">
        SELECT DISTINCT q.dept_no,
                        q.report_sort
        FROM sys_dept q
                 INNER JOIN md_peispatientfeeitem p ON p.id_ks = q.dept_no
            AND p.f_examinated = 1
        WHERE p.id_patient = #{patientcode}
          AND q.add_pic_before = 0
        ORDER BY q.report_sort
    </select>

    <!-- 获取所有的图片科室职业 -->
    <select id="findAllPicDepD" resultType="com.center.medical.common.core.domain.entity.SysDept">
        SELECT DISTINCT
        q.dept_no,
        q.report_sort
        FROM
        sys_dept q
        INNER JOIN md_peispatientfeeitem p ON p.id_ks = q.dept_no
        AND p.f_examinated = 1
        LEFT JOIN md_inspect_charge ic ON ic.charge_id = p.id_examfeeitem
        AND ic.is_delete = 0
        LEFT JOIN md_basexamltem b ON b.id = ic.inspect_id
        AND b.is_delete = 0
        WHERE
        p.id_patient = #{patientcode}
        AND (((
        SELECT
        COUNT(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND c.medical_type = #{medicaltype}
        AND c.item_id = p.id_examfeeitem
        )> 0
        )
        OR (
        b.id IS NOT NULL
        AND (
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND c.medical_type = #{medicaltype}
        AND C.EXAM_ID = B.ID
        )> 0))
        ORDER BY q.report_sort
    </select>


    <!-- 获取职业史信息 -->
    <select id="getProfessionHead2" resultType="com.center.medical.report.bean.dto.ProfessionHead2Dto">
        SELECT STR_TO_DATE(w.start_date, '%Y-%m-%d') AS startDate,
               STR_TO_DATE(w.stop_date, '%Y-%m-%d')  AS endDate,
               w.dept,
               w.branch,
               w.type_of_work,
               group_concat(h.harm_name)             AS ocupationHarm,
               w.occupation_defend
        FROM md_wz_zys w
                 LEFT JOIN md_harm h ON FIND_IN_SET(h.id, w.occupation_harm) > 0
        WHERE w.djls = #{patientcode}
        GROUP BY w.id
        ORDER BY w.stop_date DESC
    </select>


    <!-- 获取职业病史 -->
    <select id="getProfessionHead3" resultType="com.center.medical.report.bean.dto.ProfessionHead3Dto">
        SELECT o.occupation_diseast,
               STR_TO_DATE(w.diagnosis_date, '%Y-%m-%d') AS diagnosisDate,
               w.diagnosis_dept,
               w.status
        FROM md_wz_zybs w
                 LEFT JOIN md_occupation_diseast o ON o.id = w.occupation_diseast
                 LEFT JOIN md_peispatient p ON p.patientarchiveno = w.id_patientarchive
        WHERE p.patientcode = #{patientcode}
    </select>

    <!-- 获取收费项目 -->
    <select id="getCaseData" resultType="com.center.medical.report.bean.dto.CaseDataDto">
        SELECT t.fee_name,
        t.item_name,
        ( CASE WHEN e.patientbaseinfodisporder = 1 THEN t.inspect_describe ELSE t.sign_list END ) AS `describe`
        FROM
        md_describe t
        LEFT JOIN md_items itemsx ON itemsx.id = t.fee_id
        INNER JOIN md_peispatientfeeitem pi ON pi.id_examfeeitem = t.fee_id
        AND pi.f_examinated = 1
        AND pi.id_patient = t.patientcode
        LEFT JOIN md_inspect_charge inspect_chargex ON inspect_chargex.charge_id = t.fee_id
        AND inspect_chargex.inspect_id = t.item_id
        AND inspect_chargex.is_delete = 0
        INNER JOIN md_basexamltem e ON e.id = t.item_id
        <where>
            t.dep_id = #{depId}
            AND t.patientcode = #{patientcode}
            <if test="dh == 1">
                AND t.tjlx = 1
            </if>
        </where>
        ORDER BY itemsx.xh,itemsx.examfeeitem_name,inspect_chargex.order_index
    </select>


    <!-- 根据体检号获取所有与模板jyk_1.docx有关的数据 -->
    <select id="findAllInspect" resultType="com.center.medical.report.bean.dto.AllInspectDto">
        SELECT DISTINCT
        p.examfeeitem_nameprn,
        p.examitem_nameprn,
        p.examitemvaluesreport,
        p.units,
        <choose>
            <when test="dh == 0">
                p.status AS status,
                p.refrange AS refrange,
            </when>
            <otherwise>
                p.zy_status AS status,
                IFNULL(p.report_range,p.refrange) AS refrange,
            </otherwise>
        </choose>
        p.inspect_name,
        STR_TO_DATE ( p.audit_date, '%Y-%m-%d %T' ) AS audit_date,
        i.xh,
        c.order_index,
        i.id AS iid,
        p.id_examitem,
        p.audit_name,
        STR_TO_DATE ( p.receive_date, '%Y-%m-%d %T' ) AS receive_date,
        i.id_labtype,
        p.examitemvaluestext,
        e.examitem_code3,
        i.id_cooporg
        FROM
        md_peispatientexamitem p
        INNER JOIN md_items i ON i.id = p.id_examfeeitem
        INNER JOIN md_inspect_charge c ON c.charge_id = i.id
        AND c.is_delete = 0
        INNER JOIN md_basexamltem e ON e.id = c.inspect_id
        AND e.id = p.id_examitem
        INNER JOIN md_peispatientfeeitem pf ON pf.id_patient = p.patientcode
        AND pf.id_examfeeitem = p.id_examfeeitem
        AND pf.f_examinated = 1
        <where>
            ( i.bgdybs IS NULL OR i.bgdybs = 0 )
            AND p.patientcode = #{patientcode}
            AND i.examfeeitem_code IS NOT NULL
            <if test="dh == 1">
                AND p.type = 1
            </if>
            AND (i.examfeeitem_code2 IS NULL or i.examfeeitem_code2 = '')
        </where>
        ORDER BY i.xh,i.id,c.order_index
    </select>


    <!-- 综合职业报告 -->
    <select id="getZyAtts" resultType="java.lang.String">
        SELECT DISTINCT
        1
        FROM
        md_peispatientfeeitem pi
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        LEFT JOIN md_inspect_charge ic ON ic.charge_id = i.id
        LEFT JOIN md_basexamltem e ON e.id = ic.inspect_id
        LEFT JOIN sys_dept d ON d.dept_no = pi.id_ks
        WHERE
        pi.id = #{feeItemId}
        AND EXISTS (
        SELECT
        1
        FROM
        md_comboexamitem cei
        WHERE
        cei.harm_id IN
        <foreach collection="jhyss" item="jhys" open="(" close=")" separator=",">
            #{jhys}
        </foreach>
        AND cei.medical_type = #{medicaltype}
        AND (
        cei.item_id = i.id
        OR (
        cei.exam_id = e.id
        AND d.jklx NOT IN ( 'us', 'dr', 'cr', 'ct', 'mr', 'dx' )))
        )
    </select>


    <!-- 职业必查拒检项目 -->
    <select id="getJjData" resultType="com.center.medical.report.bean.dto.JjDataDto">
        SELECT
        d.dept_name,
        i.examfeeitem_name,
        pi.jjr,
        pi.jjrqm,
        STR_TO_DATE( pi.jjsj, '%Y-%m-%d %T' ) as jjsj
        FROM
        md_peispatientfeeitem pi
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        INNER JOIN sys_dept d ON d.dept_no = pi.id_ks
        WHERE
        pi.sfjj = 1
        AND pi.id_patient = #{patientcode}
        AND (((
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="harmId" open="(" close=")" separator=",">
            #{harmId}
        </foreach>
        AND c.medical_type = #{medicalType}
        AND c.item_id = pi.id_examfeeitem
        )> 0
        )
        OR ((
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        INNER JOIN md_basexamltem e ON e.id = c.exam_id
        INNER JOIN md_inspect_charge ic ON ic.inspect_id = e.id
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="harmId" open="(" close=")" separator=",">
            #{harmId}
        </foreach>
        AND c.medical_type = #{medicalType}
        AND ic.charge_id = pi.id_examfeeitem
        )> 0
        AND d.jklx NOT IN ( 'us', 'dr', 'cr', 'ct', 'mr', 'dx' )))
    </select>


    <!-- 职业必查拒检项目 -->
    <select id="getOutSidePicture" resultType="java.lang.String">
        SELECT
        1
        FROM
        md_items i
        INNER JOIN sys_dept d ON d.dept_no = i.id_depart
        WHERE
        i.id = #{id}
        AND (((
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="harmId" open="(" close=")" separator=",">
            #{harmId}
        </foreach>
        AND c.medical_type = #{medicalType}
        AND c.item_id = i.id
        )> 0
        )
        OR ((
        SELECT
        count(*)
        FROM
        md_comboexamitem c
        INNER JOIN md_basexamltem e ON e.id = c.exam_id
        INNER JOIN md_inspect_charge ic ON ic.inspect_id = e.id
        WHERE
        c.harm_id IN
        <foreach collection="harmIds" item="harmId" open="(" close=")" separator=",">
            #{harmId}
        </foreach>
        AND c.medical_type = #{medicalType}
        AND ic.charge_id = i.id
        )> 0
        AND d.jklx NOT IN ( 'us', 'dr', 'cr', 'ct', 'mr', 'dx' )))
    </select>


    <!-- 获取复查名单 -->
    <select id="getReviewNoticeList" resultType="com.center.medical.report.bean.dto.ReviewNoticeListDto">
        SELECT
        p.patientname,
        p.idcardno,
        p.id_sex,
        p.age,
        p.medicaltype,
        p.jhgl,
        p.org_depart,
        IFNULL ( wt.type_name, p.trades ) as trades,
        p.jhys,
        GROUP_CONCAT(i.examfeeitem_name ORDER BY i.examfeeitem_name SEPARATOR '、') as examfeeitem_name,
        GROUP_CONCAT(i.id ORDER BY i.id SEPARATOR '、') as id,
        p.patientcode
        FROM
        md_peispatient p
        LEFT JOIN md_base_worktype wt ON wt.id = p.worktype_id
        INNER JOIN md_section_total st ON st.patientcode = p.patientcode
        AND st.disease_health = 1
        LEFT JOIN md_review r ON r.patientcode = p.patientcode
        LEFT JOIN md_review_project rp ON rp.review_id = r.id
        LEFT JOIN md_items i ON i.id = rp.items_id
        LEFT JOIN md_comments_progessional c ON c.patientcode = p.patientcode
        LEFT JOIN md_zy_vs_summary zv ON zv.id = c.progessional_id
        AND zv.is_delete = 0
        LEFT JOIN md_zy_summary z ON z.id = zv.occupation_summary
        AND z.is_delete = 0
        <where>
            p.zytjzt > 0
            AND p.id_org = #{param.customerId}
            AND p.dateregister >= #{param.startDate}
            AND p.dateregister <![CDATA[ <= ]]> #{param.endDate}
            AND z.serial_no = 3
            <if test="param.ddh!=null and param.ddh!=''">
                and p.numorgresv = #{param.ddh}
            </if>
            AND NOT EXISTS (
            SELECT
            1
            FROM
            md_peispatient p2
            WHERE
            p2.zytjzt > 0
            AND p2.inpatientno = p.patientcode
            AND p2.dateregister >= #{param.startDate}
            AND p2.dateregister <![CDATA[ <= ]]> #{param.endDate}
            )
            AND NOT EXISTS (
            SELECT 1 FROM md_peispatient p3 WHERE p3.zytjzt > 0
            AND p3.inpatientno = p.inpatientno
            AND p3.createdate > p.createdate
            AND p3.dateregister >= #{param.startDate}
            AND p3.dateregister <![CDATA[ <= ]]> #{param.endDate}
            )

        </where>
        GROUP BY
        p.patientname,
        p.idcardno,
        p.id_sex,
        p.age,
        p.medicaltype,
        p.jhgl,
        p.org_depart,
        p.trades,
        p.jhys,
        p.patientcode,
        wt.type_name
        ORDER BY
        p.patientcode
    </select>
</mapper>

