<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.ReportUrlMapper">

    <resultMap type="com.center.medical.report.bean.model.ReportUrl" id="ReportUrlMap">
        <id property="id" column="id"/>
        <result property="depId" column="dep_id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="wordUrl" column="word_url"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isHead" column="is_head"/>
        <result property="pdfUrl" column="pdf_url"/>
        <result property="depName" column="dep_name"/>
        <result property="diseaseHealth" column="disease_health"/>
        <result property="pdfUrlHead" column="pdf_url_head"/>
        <result property="wordUrlHead" column="word_url_head"/>
        <result property="shortCode" column="short_code"/>
        <result property="configId" column="config_id"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReportUrlVo">
        select id,
               dep_id,
               patientcode,
               word_url,
               createdate,
               modifydate,
               is_head,
               pdf_url,
               dep_name,
               disease_health,
               pdf_url_head,
               word_url_head,
               short_code,
               config_id,
               creator
        from md_report_url
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReportUrlMap">
        <include refid="selectReportUrlVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReportUrlMap">
        <include refid="selectReportUrlVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据体检号获取记录详情 -->
    <select id="getList" resultMap="ReportUrlMap">
        <include refid="selectReportUrlVo"/>
        <where>
            patientcode = #{patientcode}
            AND is_head = #{isHead}
            AND disease_health = #{diseaseHealth}
        </where>
    </select>

</mapper>

