<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.pacs.dao.PacsCsharpMapper">
    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.pacs.bean.vo.PacsGetRankDataVo">
        SELECT
            p.id,
            p.patientname,
            p.patientcode,
            p.id_sex,
            p.age,
            pt.patient_name AS idPatientclass,
            p.id_examtype,
            p.phone,
            m.is_audit,
            pt.flag,
            ps.f_diffperson AS fdiffperson,
            group_concat(DISTINCT pi.examfeeitem_name) AS exams,
            p.id_examplace,
            p.org_name
        FROM
            md_peispatient p
        LEFT JOIN md_patienttype pt ON pt.id = p.id_patientclass
        LEFT JOIN md_peis_state ps ON ps.patientcode = p.patientcode
        LEFT JOIN md_section_result_main m ON m.dep_id = #{param.ksID}
            AND m.patientcode = p.patientcode
        INNER JOIN md_peispatientfeeitem i ON i.id_ks = #{param.ksID}
            AND i.id_patient = p.patientcode
            AND i.f_giveup = 0
            AND i.sfjj = 0
            AND i.change_item = 0
            AND i.f_transferedhl7 IS NULL
            AND i.f_feecharged = 1
        INNER JOIN md_items t ON t.id = i.id_examfeeitem
        INNER JOIN md_pacs_items pi ON pi.examfeeitem_code = t.examfeeitem_code
            AND pi.is_delete = 0
        WHERE
            p.f_registered = 1
        <if test="param.status!=null and param.status!=''">
            <choose>
                <when test="param.status == '0'.toString() ">
                    AND(M.IS_AUDIT IS NULL OR M.IS_AUDIT=0)
                </when>
                <otherwise>
                    AND M.IS_AUDIT=1
                </otherwise>
            </choose>
        </if>
        <if test="param.idPatientclass!=null and param.idPatientclass!=''">
            AND P.ID_PATIENTCLASS = #{param.idPatientclass}
        </if>
        <if test="param.idExamtype!=null and param.idExamtype!=''">
            AND P.ID_EXAMTYPE = #{param.idExamtype}
        </if>
        <if test="param.patientcode!=null and param.patientcode!=''">
            AND P.PATIENTCODE = #{param.patientcode}
        </if>
        <if test="param.patientname!=null and param.patientname!=''">
            AND P.PATIENTNAME = #{param.patientname}
        </if>
        <if test="param.startTime!=null">
            AND P.DATEREGISTER <![CDATA[ >= ]]> #{param.startTime}
        </if>
        <if test="param.endTime!=null">
            AND P.DATEREGISTER <![CDATA[ <= ]]> #{param.endTime}
        </if>
        GROUP BY
            p.id,
            p.patientcode
        ORDER BY
            IFNULL(m.is_audit, 0) ASC,
            p.patientcode ASC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">


    </select>

    <!-- 获取分拣已审的个数 -->
    <select id="getCountSql" resultType="java.lang.Long">
        SELECT
        count(distinct p.patientcode)
        FROM
        md_peispatient p
        LEFT JOIN md_patienttype pt ON pt.id = p.id_patientclass
        LEFT JOIN md_peis_state ps ON ps.patientcode = p.patientcode
        LEFT JOIN md_section_result_main m ON m.dep_id = #{param.ksID}
        AND m.patientcode = p.patientcode
        INNER JOIN md_peispatientfeeitem i ON i.id_ks = #{param.ksID}
        AND i.id_patient = p.patientcode
        AND i.f_giveup = 0
        AND i.sfjj = 0
        AND i.change_item = 0
        AND i.f_transferedhl7 IS NULL
        AND i.f_feecharged = 1
        INNER JOIN md_items t ON t.id = i.id_examfeeitem
        INNER JOIN md_pacs_items pi ON pi.examfeeitem_code = t.examfeeitem_code
        AND pi.is_delete = 0
        WHERE
        p.f_registered = 1
        AND M.IS_AUDIT=1
        <if test="param.status!=null and param.status!=''">
            <choose>
                <when test="param.status == '0'.toString() ">
                    AND(M.IS_AUDIT IS NULL OR M.IS_AUDIT=0)
                </when>
                <otherwise>
                    AND M.IS_AUDIT=1
                </otherwise>
            </choose>
        </if>
        <if test="param.idPatientclass!=null and param.idPatientclass!=''">
            AND P.ID_PATIENTCLASS = #{param.idPatientclass}
        </if>
        <if test="param.idExamtype!=null and param.idExamtype!=''">
            AND P.ID_EXAMTYPE = #{param.idExamtype}
        </if>
        <if test="param.patientcode!=null and param.patientcode!=''">
            AND P.PATIENTCODE = #{param.patientcode}
        </if>
        <if test="param.patientname!=null and param.patientname!=''">
            AND P.PATIENTNAME = #{param.patientname}
        </if>
        <if test="param.startTime!=null">
            AND P.DATEREGISTER <![CDATA[ >= ]]> #{param.startTime}
        </if>
        <if test="param.endTime!=null">
            AND P.DATEREGISTER <![CDATA[ <= ]]> #{param.endTime}
        </if>
    </select>


    <!-- 收费项目表格数据 -->
    <select id="getItemsData" resultType="com.center.medical.pacs.bean.vo.PacsGetItemsDataVo">
        select pi.id,
               pt.id as itemId,
               group_concat(p.part_name) as partName,
               pt.examfeeitem_name as itemName,
               ifnull(pi.f_examinated, 0) as FExaminated,
               pi.feechargetime as chargeTime
        from md_peispatientfeeitem pi
                 inner join md_items i on i.id = pi.id_examfeeitem
                 inner join md_pacs_items pt on pt.examfeeitem_code = i.examfeeitem_code and pt.is_delete = 0
                 left join md_pacs_item_part ip on ip.item_id = pt.id
                 left join md_pacs_base_part p on p.id = ip.part_id
        where pi.id_patient = #{param.patientcode}
          and pi.id_ks = #{param.ksID}
          and pi.f_registered = 1
          and pi.f_giveup=0
          and (
                pi.sfjj is null
                or pi.sfjj=0
            )
          and pi.change_item=0
          and pi.f_transferedhl7 is null
          AND pi.f_feecharged=1
        group by pi.id, i.id, i.examfeeitem_name, pi.f_examinated
    </select>



    <!-- 收费项目表格数据2,pacs未开启 -->
    <select id="getItemsData2" resultType="com.center.medical.pacs.bean.vo.PacsGetItemsDataVo">
        SELECT
            pi.id,
            i.id as itemId,
            GROUP_CONCAT( p.part_name ORDER BY p.part_name SEPARATOR '、' ) as partName ,
            i.examfeeitem_name as itemName,
            pi.f_examinated as FExaminated,
            '' as chargeTime
        FROM
            md_peispatientfeeitem pi
                INNER JOIN md_pacs_items i ON i.id = pi.id_examfeeitem
                LEFT JOIN md_pacs_item_part ip ON ip.item_id = i.id
                LEFT JOIN md_pacs_base_part p ON p.id = ip.part_id
        WHERE
            pi.id_patient = #{param.patientcode}
          AND pi.id_ks = #{param.ksID}
          AND pi.f_registered = 1
        GROUP BY
            pi.id,
            i.id,
            i.examfeeitem_name,
            pi.f_examinated
    </select>


    <!-- 结论词表格数据 -->
    <select id="getJlcGridData" resultType="com.center.medical.pacs.bean.vo.PacsGetJlcGridVo">
        SELECT
            s.id as tzcid,
            s.result_id as jlcid,
            s.NAME as tzcname,
            s.body_detail as bodyDetail,
            c.NAME as jlcName,
            s.is_positive,
            s.intensive_level,
            (CASE WHEN ptwo.id IS NULL THEN '0' ELSE '1'END ) as isSelected,
            s.input_code as tzcCode,
            c.input_code as jlcCode,
            s.is_default
        FROM
            md_pacs_items i
                INNER JOIN md_pacs_inspect_charge ic ON ic.charge_id = i.id
                AND ic.is_delete = 0
                INNER JOIN md_pacs_basexamltem e ON e.id = ic.inspect_id
                INNER JOIN md_pacs_basexamltem_sign s ON s.inspect_id = e.id
                AND ( s.is_delete = 0 OR s.is_delete IS NULL )
                LEFT JOIN md_basconclusion c ON c.id = s.result_id
                LEFT JOIN md_pacs_section_result_two ptwo ON ptwo.charges_id = i.id
                AND ptwo.patientcode = #{param.patientcode}
                AND ptwo.nodule = s.id
        WHERE
            i.id = #{param.id}
        ORDER BY
            ic.order_index,
            s.orderindex
    </select>



    <!-- 获取历史数据 -->
    <select id="getHistoryList" resultType="com.center.medical.bean.vo.PacsHistoryListVo">
        SELECT
            po.patientcode,
            r.examresultdesc as description,
            r.examresultsummary as conclusions,
            po.dateregister as dateregister,
            pi.examfeeitem_name as feeitemName,
            d.dept_name,
            po.age,
            (CASE WHEN po.id_sex = '0' THEN '男'
                  WHEN po.id_sex = '1' THEN '女' ELSE '' END) as sex,
            po.patientname
        FROM
            md_peispatient po
            INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = po.patientcode
            AND pi.f_examinated = 1
            <if test="itemId!=null and itemId!=''">
                AND pi.id_examfeeitem = #{itemId}
            </if>
            INNER JOIN md_pacs_result r ON r.patientcode = po.patientcode
            AND r.item_id = pi.id_examfeeitem
            INNER JOIN sys_dept d ON d.dept_no = r.dep_id
            <if test="ksID!=null and ksID!=''">
                AND d.dept_no = #{ksID}
            </if>
            INNER JOIN md_peispatientarchive a ON a.patientarchiveno = po.patientarchiveno
            INNER JOIN md_peispatient pn ON pn.patientarchiveno = a.patientarchiveno
            AND pn.patientcode = #{patientcode}
            WHERE
            po.patientcode != #{patientcode}
        ORDER BY po.dateregister DESC
    </select>

    <!-- 获取历史数据 -->
    <select id="allDoctors" resultType="com.center.medical.pacs.bean.vo.PacsAllDoctorsVo">
        SELECT
            u.user_no as id,
            u.user_name as name,
            u.input_code as inputCode
        FROM
            sys_user u
                INNER JOIN sys_user_dep ud ON ud.user_id = u.user_no
                INNER JOIN sys_dept d ON d.dept_no = ud.dep_id
        WHERE
            u.cid = #{cid}
          AND d.dept_no = #{ksID}
          AND u.del_flag = 0
          AND u.status = 0
        <if test="key!=null and key!=''">
            AND u.input_code like concat('%',#{key},'%')
        </if>
    </select>


    <!-- 获取体检者收费项目 -->
    <select id="getTjItemByCode" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT
            tpi.*
        FROM
            md_peispatientfeeitem tpi
                INNER JOIN md_items i ON i.id = tpi.id_examfeeitem
        WHERE
            tpi.id_patient = #{patientcode}
          AND i.examfeeitem_code = #{code}
          AND tpi.f_feecharged = 1
          AND tpi.f_transferedhl7 IS NULL
          AND ( tpi.f_giveup IS NULL OR tpi.f_giveup = 0 )
          AND ( tpi.sfjj IS NULL OR tpi.sfjj = 0 )
          AND (
                tpi.change_item IS NULL
                OR tpi.change_item = 0
            )
    </select>


    <!-- 获取检查项目 -->
    <select id="getItems" resultType="com.center.medical.data.bean.model.Items">
        SELECT
            i.*
        FROM
            md_items i
                INNER JOIN md_peispatientfeeitem pi ON pi.id_examfeeitem = i.id
                AND pi.id_patient = #{patientcode}
                AND pi.f_feecharged = 1
                AND pi.f_transferedhl7 IS NULL
                AND ( pi.sfjj IS NULL OR pi.sfjj = 0 )
                AND ( pi.f_giveup IS NULL OR pi.f_giveup = 0 )
                AND ( pi.change_item IS NULL OR pi.change_item = 0 )
        WHERE
            i.examfeeitem_code = #{examfeeitemCode}
    </select>
</mapper>

