<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.pacs.dao.PacsAbteilungMapper">
    <select id="getPatientList" resultType="com.center.medical.pacs.bean.dto.PacsAbteilungPatientListDto">
        select
            p.id,
            p.patientname,
            p.patientcode,
            p.id_sex,
            p.age,
            l.level_name id_patient_class,
            p.id_examtype,
            p.phone,
            ifnull(m.is_audit,0) as status,
            group_concat(DISTINCT pt.examfeeitem_name) exams,
            count(DISTINCT att.id) img,
            case when count(DISTINCT att.id) > 0 then 1 else 0 end jcstatus,
            p.org_name
            <if test="patientListParam.deptNo!=null and patientListParam.deptNo=='24'">
                ,group_concat(DISTINCT SUBSTRING_INDEX(att2.dcm_path, ',', 1)) dicomImgs
            </if>
        from
            md_peispatient p
        left join
            md_user_level l
            on l.level_id=p.id_patientclass
        inner join
            md_peispatientfeeitem i
            on i.id_ks=#{patientListParam.deptNo}
            and i.id_patient=p.patientcode
            and i.f_giveup=0
            and i.sfjj = 0
            and i.change_item=0
            and i.f_transferedhl7 is null
            AND i.f_feecharged=1
        inner join
            md_items t
            on t.id=i.id_examfeeitem
        inner join
            md_pacs_items pt
            on pt.examfeeitem_code=t.examfeeitem_code
            and pt.is_delete=0
        left join
            md_section_result_main m
            on m.dep_id=#{patientListParam.deptNo}
            and m.patientcode=p.patientcode
        left join
            md_attachment att on att.patientcode=p.patientcode
            and att.fee_item_id = i.id
            and att.dep_id=#{patientListParam.deptNo}
        <if test="patientListParam.deptNo!=null and patientListParam.deptNo=='24'">
            left join md_attachment att2 on att2.patientcode=p.patientcode
                and att2.dcm_path is not null
        </if>
        <where>
            p.f_registered=1
            <if test="patientListParam.status==1">
                and m.is_audit=1
            </if>
            <if test="patientListParam.status==0">
                and(m.is_audit is null or m.is_audit=0)
            </if>
            <if test="patientListParam.idPatientClass!=null">
                and p.id_patientclass=#{patientListParam.idPatientClass}
            </if>
            <if test="patientListParam.patientcode!=null">
                and p.patientcode like concat('%',#{patientListParam.patientcode},'%')
            </if>
            <if test="patientListParam.patientname!=null">
                and p.patientname like concat('%',#{patientListParam.patientname},'%')
            </if>
            <if test="patientListParam.startDate!=null">
                and p.dateregister <![CDATA[ >= ]]> #{patientListParam.startDate}
            </if>
            <if test="patientListParam.endDate!=null">
                and p.dateregister <![CDATA[ <= ]]> #{patientListParam.endDate}
            </if>
        </where>
        group by
        p.id,
        p.patientname,
        p.patientcode
        <if test="patientListParam.jcstatus!=null">
            <if test="patientListParam.jcstatus==0">
                HAVING count( DISTINCT att.id ) = 0
            </if>
            <if test="patientListParam.jcstatus==1">
                HAVING count( DISTINCT att.id ) > 0
            </if>
        </if>
        order by
        ifnull(m.is_audit,0) asc,
        p.patientcode asc
    </select>
    <select id="getItemList" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungItemListVo">
        select pi.id,
               pt.id                      item_id,
               group_concat(p.part_name)  part_name,
               pt.examfeeitem_name        item_name,
               ifnull(pi.f_examinated, 0) f_examstarted,
               pi.feechargetime as chargeTime
        from md_peispatientfeeitem pi
                 inner join md_items i on i.id = pi.id_examfeeitem
                 inner join md_pacs_items pt on pt.examfeeitem_code = i.examfeeitem_code and pt.is_delete = 0
                 left join md_pacs_item_part ip on ip.item_id = pt.id
                 left join md_pacs_base_part p on p.id = ip.part_id
        where pi.id_patient = #{patientcode}
            and pi.id_ks = #{deptNo}
            and pi.f_registered = 1
            and pi.f_giveup=0
            and (
                pi.sfjj is null
                or pi.sfjj=0
            )
            and pi.change_item=0
            and pi.f_transferedhl7 is null
            AND pi.f_feecharged=1
        group by pi.id, i.id, i.examfeeitem_name, pi.f_examinated
    </select>
    <select id="getSignList" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungSignListVo">
        select s.id                                              tzcid,
               s.result_id                                       jlcid,
               s.name                                            tzcname,
               s.body_detail,
               c.name                                            jlc_name,
               ifnull(s.is_positive, 0)                          is_positive,
               s.intensive_level,
               (case when ptwo.id is null then '0' else '1' end) is_selected,
               s.input_code                                      tzc_code,
               c.input_code                                      jlc_code,
               s.is_default
        from md_pacs_items i
                 inner join md_pacs_inspect_charge ic on ic.charge_id = i.id and ic.is_delete = 0
                 inner join md_pacs_basexamltem e on e.id = ic.inspect_id
                 inner join md_pacs_basexamltem_sign s
                            on s.inspect_id = e.id and (s.is_delete = 0 or s.is_delete is null)
                 left join md_basconclusion c on c.id = s.result_id
                 left join md_pacs_section_result_two ptwo
                           on ptwo.charges_id = i.id and ptwo.patientcode = #{patientcode} and ptwo.nodule = s.id
        where i.id = #{itemId}
        order by ic.order_index, s.orderindex
    </select>
    <select id="getAbteilunList" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungAbteilunListVo">
        SELECT
        d.dept_no,
        d.dept_name,
        c.sjbggs,
        d.imgpath,
        <if test="patientcode!=null">
            CASE
            WHEN EXISTS (
            SELECT
            1
            FROM
            md_peispatientfeeitem pi
            WHERE
            pi.id_ks = d.dept_no
            AND pi.change_item = 0
            AND pi.id_patient = #{patientcode}
            AND pi.f_examinated = 0
            AND pi.f_giveup=0
            AND (pi.sfjj is null or pi.sfjj = 0)
            AND pi.f_feecharged=1
            AND pi.f_transferedhl7 is null
            ) THEN
            0
            ELSE
            1
            END f_examinated,
        </if>
        <if test="patientcode==null">
            1 f_examinated,
        </if>
        c.jklx
        FROM
        sys_dept d
        INNER JOIN sys_department c ON c.id = d.dept_no
        AND c.is_delete = 0
        INNER JOIN sys_user_dep ud ON ud.user_id = #{userNo}
        AND ud.dep_id = d.dept_no
        WHERE
        d.is_function = 1
        AND d.del_flag = '0'
        AND c.jklx IN (
        'us',
        'dr',
        'cr',
        'ct',
        'mr',
        'dx'
        )
        <if test="patientcode!=null">
            AND EXISTS (
            SELECT
            1
            FROM
            md_peispatientfeeitem pi
            WHERE
            pi.id_ks = d.dept_no
            AND pi.change_item = 0
            AND pi.id_patient = #{patientcode}
            AND pi.f_giveup=0
            AND (pi.sfjj is null or pi.sfjj = 0)
            AND pi.f_feecharged=1
            AND pi.f_transferedhl7 is null
            )
        </if>
        ORDER BY
        c.xh
    </select>
    <select id="getHistoryList" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT po.patientcode,
               r.examresultdesc    description,
               r.examresultsummary conclusions,
               po.dateregister,
               pi.examfeeitem_name feeitem_name,
               d.dept_name,
               po.age,
               po.id_sex,
               po.patientname
        FROM md_peispatient po
                 INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = po.patientcode
            AND pi.f_examinated = 1
                 INNER JOIN md_pacs_result r ON r.patientcode = po.patientcode
            AND r.item_id = pi.id_examfeeitem
                 INNER JOIN sys_dept d ON d.dept_no = r.dep_id
            AND d.dept_no = #{deptNo}
                 INNER JOIN md_peispatient pn ON pn.patientarchiveno = po.patientarchiveno
            AND pn.patientcode = #{patientcode}
        WHERE po.patientcode != #{patientcode}
        ORDER BY
            po.dateregister DESC
    </select>
    <select id="getPatientTotal" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungPatientTotalVo">
        select
        count(distinct p.id) total,
        count(distinct case when m.is_audit=1 then p.id else null end) examined,
        count(distinct case when m.is_audit is null or m.is_audit=0 then p.id else null end ) unexamined
        from
        md_peispatient p
        inner join
        md_peispatientfeeitem i
        on i.id_ks=#{patientListParam.deptNo}
        and i.id_patient=p.patientcode
        and i.f_giveup=0
        and (
        i.sfjj is null
        or i.sfjj=0
        )
        and i.change_item=0
        and i.f_transferedhl7 is null
        AND i.f_feecharged=1
        inner join
        md_items t
        on t.id=i.id_examfeeitem
        inner join
        md_pacs_items pt
        on pt.examfeeitem_code=t.examfeeitem_code
        and pt.is_delete=0
        left join
        md_section_result_main m
        on m.dep_id=#{patientListParam.deptNo}
        and m.patientcode=p.patientcode
        left join
        (
        select
        pa.patientcode,
        pa.dep_id,
        count(*) imgnum
        from
        md_attachment pa
        where
        exists (
        select
        1
        from
        md_peispatientfeeitem ppfi
        where
        ppfi.id=pa.pacs_fee_item_id
        and ppfi.change_item=0
        and ppfi.f_giveup=0
        and (
        ppfi.sfjj=0
        or ppfi.sfjj is null
        )
        and ppfi.f_transferedhl7 is null
        AND ppfi.f_feecharged=1
        )
        group by
        pa.patientcode,
        pa.dep_id
        ) att
        on att.patientcode=p.patientcode
        and att.dep_id=#{patientListParam.deptNo}
        where
        p.f_registered=1
        <if test="patientListParam.jcstatus==0">
            and att.imgnum is null
        </if>
        <if test="patientListParam.jcstatus==1">
            and att.imgnum is not null
        </if>
        <if test="patientListParam.idPatientClass!=null">
            and p.id_patientclass=#{patientListParam.idPatientClass}
        </if>
        <if test="patientListParam.patientcode!=null">
            and p.patientcode like concat('%',#{patientListParam.patientcode},'%')
        </if>
        <if test="patientListParam.patientname!=null">
            and p.patientname like concat('%',#{patientListParam.patientname},'%')
        </if>
        <if test="patientListParam.startDate!=null">
            and p.dateregister <![CDATA[ >= ]]> #{patientListParam.startDate}
        </if>
        <if test="patientListParam.endDate!=null">
            and p.dateregister <![CDATA[ <= ]]> #{patientListParam.endDate}
        </if>
    </select>

    <select id="getHistoryListOracle" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT DISTINCT
                po.patientcode,
               r.examresultdesc    description,
               r.examresultsummary conclusions,
               po.dateregister,
               pi.examfeeitem_name feeitem_name,
               d.NAME,
               po.age,
               po.id_sex,
               po.patientname,
               d.name deptName
        FROM peispatient po
                 INNER JOIN peispatientfeeitem pi ON pi.id_patient = po.patientcode
            AND pi.f_examinated = 1
                 INNER JOIN pacs_result r ON r.patientcode = po.patientcode
            AND r.item_id = pi.id_examfeeitem
                 INNER JOIN QX_DEPARTMENT d ON d.id = r.dep_id
            <if test="deptNo!=null and deptNo!=''">
                AND d.id = #{deptNo}
            </if>
        WHERE
            (
            <if test="ids!=null and ids.size>0">
                po.id_patientarchive in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                OR
            </if>
                po.idcardno=#{idcardno}
            )
            <if test="describe!=null and describe!=''">
                AND r.examresultdesc like ('%' || #{describe} || '%')
            </if>
        ORDER BY
            po.dateregister DESC
    </select>


    <select id="getHistoryListMysql" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT DISTINCT
                po.patientcode,
               r.examresultdesc    description,
               r.examresultsummary conclusions,
               po.dateregister,
               pi.examfeeitem_name feeitem_name,
               d.dept_name,
               po.age,
               po.id_sex,
               po.patientname,
               d.dept_name
        FROM md_peispatient po
                 INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = po.patientcode
            AND pi.f_examinated = 1
                 INNER JOIN md_pacs_result r ON r.patientcode = po.patientcode
            AND r.item_id = pi.id_examfeeitem
                 INNER JOIN sys_dept d ON d.dept_no = r.dep_id
            <if test="deptNo!=null and deptNo!=''">
                AND d.dept_no = #{deptNo}
            </if>
                 INNER JOIN md_peispatient pn ON pn.patientarchiveno = po.patientarchiveno
            AND pn.patientcode = #{patientcode}
        WHERE po.patientcode != #{patientcode}
                <if test="describe!=null and describe!=''">
                    AND r.examresultdesc like concat('%',#{describe},'%')
                </if>
        ORDER BY
            po.dateregister DESC
    </select>


    <select id="getHistoryListAll" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT DISTINCT
                po.patientcode,
               r.examresultdesc    description,
               r.examresultsummary conclusions,
               po.dateregister,
               pi.examfeeitem_name feeitem_name,
               d.dept_name,
               po.age,
               po.id_sex,
               po.patientname
        FROM md_peispatient po
                 INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = po.patientcode
            AND pi.f_examinated = 1
                 INNER JOIN md_pacs_result r ON r.patientcode = po.patientcode
            AND r.item_id = pi.id_examfeeitem
                 INNER JOIN sys_dept d ON d.dept_no = r.dep_id
            <if test="deptNo!=null and deptNo!=''">
                AND d.dept_no = #{deptNo}
            </if>
                 INNER JOIN md_peispatient pn ON pn.patientarchiveno = po.patientarchiveno
            AND pn.patientcode = #{patientcode}
        WHERE po.patientcode != #{patientcode}
        GROUP BY pi.examfeeitem_name
        ORDER BY
            po.dateregister DESC
    </select>

    <select id="getHistoryListOracleHis" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT DISTINCT
        po.patientcode,
        r.examresultdesc    description,
        r.examresultsummary conclusions,
        po.dateregister,
        pi.examfeeitem_name feeitem_name,
        d.NAME,
        po.age,
        po.id_sex,
        po.patientname,
        d.name deptName
        FROM PEISPATIENT_HIS po
        INNER JOIN peispatientfeeitem pi ON pi.id_patient = po.patientcode
        AND pi.f_examinated = 1
        INNER JOIN pacs_result r ON r.patientcode = po.patientcode
        AND r.item_id = pi.id_examfeeitem
        INNER JOIN QX_DEPARTMENT d ON d.id = r.dep_id
        WHERE
        (
            <if test="ids!=null and ids.size>0">
                po.id_patientarchive in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                OR
            </if>
            po.idcardno=#{idcardno}
        )
        <if test="describe!=null and describe!=''">
            AND r.examresultdesc like concat('%',#{describe},'%')
        </if>
        ORDER BY
        po.dateregister DESC
    </select>


    <!--查询老系统历史小结-->
    <select id="getHistorySummary" resultType="com.center.medical.pacs.bean.vo.PacsAbteilungHistoryListVo">
        SELECT
            *
        FROM
            (
            SELECT po.patientcode,
                   r.examresultdesc    description,
                   r.examresultsummary conclusions,
                   po.dateregister,
                   pi.examfeeitem_name feeitem_name,
                   d.name as deptName,
                   po.age,
                   po.id_sex,
                   po.patientname
            FROM peispatient po
                     INNER JOIN peispatientfeeitem pi ON pi.id_patient = po.patientcode
                AND pi.f_examinated = 1
                     INNER JOIN pacs_result r ON r.patientcode = po.patientcode
                AND r.item_id = pi.id_examfeeitem
                     INNER JOIN QX_DEPARTMENT d ON d.id = r.dep_id
                AND d.id = #{deptNo}
            WHERE po.idcardno = #{idcardno}
            ORDER BY
                po.dateregister DESC
            )
        WHERE
            ROWNUM <![CDATA[ <= ]]> 1
    </select>
</mapper>