<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.machine.dao.RegistrationMachineMapper">

    <!-- 通过套餐id查询是否存在 -->
    <select id="existBxxmByTcId" resultType="java.lang.Integer">
        select
            count(*)
        from
            md_mealanditem
        where
            tcid = #{tcId}
          and sfbx = 1
    </select>

    <!-- 查询收费项目数量 -->
    <select id="getItemNumByPatientCode" resultType="java.lang.Integer">
        SELECT
            count(*) AS num
        FROM
            md_peispatientfeeitem
        WHERE
            id_patient = #{patientCode}
    </select>

    <!-- 查询收费项目数量 -->
    <select id="getPayWayNameByPatientCode" resultType="java.lang.String">

                SELECT
                    id_payway
                FROM
                    md_peisorgreservationgroup
                WHERE
                        id IN ( SELECT id_orgreservationgroup FROM md_peispatient WHERE patientcode = #{patientCode} )
    </select>


    <!-- 获取领取名称 -->
    <select id="getMethodName" resultType="java.lang.String">
        select
            nm.method_name
        from
            md_notificationmethod nm
        where
            nm.id = #{idInformway}
          AND nm.is_delete = 0
    </select>


    <!-- 获取体检者对应的收费项目信息 按餐序、科室、标本类型排序 -->
    <select id="getModelItems2" resultType="java.util.HashMap">
        SELECT
            IFNULL( i.cx, '1' ) cx,
            pitem.id_ks,
            qd.dept_name AS ks,
            y.name AS yblx,
            i.id_labtype AS yblxid,
            group_concat(${fieldName} ORDER BY ${fieldName} ) AS itemname,
            group_concat(i.bz ORDER BY ${fieldName} ) AS bz,
            qd.dyd_memo AS dyd_memo
        FROM
            md_peispatientfeeitem pitem
                LEFT JOIN md_items i ON pitem.id_examfeeitem = i.id
                LEFT JOIN sys_dept qd ON pitem.id_ks = qd.dept_no
                LEFT JOIN sys_cen_dep cd ON pitem.id_ks = cd.did
                AND cd.cid = #{cid}
                LEFT JOIN md_yblx y ON y.id = i.id_labtype
                AND y.is_delete = 0
        WHERE
            pitem.id_patient = #{patientCode}
          AND ( pitem.change_item IS NULL OR pitem.change_item = 0 )
          AND ( pitem.f_giveup IS NULL OR pitem.f_giveup = 0 )
          AND ( pitem.sfjj IS NULL OR pitem.sfjj = 0 )
          AND ( i.dyddybs IS NULL OR i.dyddybs = '1' )
          AND pitem.f_transferedhl7 IS NULL
        GROUP BY
            IFNULL( i.cx, '1' ),
            pitem.id_ks,
            qd.dept_name,
            y.name,
            cd.dyd_xh,
            i.id_labtype,
            qd.dyd_memo,
            y.xh
        ORDER BY
            IFNULL( i.cx, '1' ),
            cd.dyd_xh IS NULL,
            cd.dyd_xh,
            y.xh IS NULL,
            y.xh
    </select>



    <!-- 获取体检者对应的收费项目信息 按餐序、科室、标本类型排序 -->
    <select id="getRepeatItems" resultType="java.lang.String">
        SELECT
            ic.charge_id
        FROM
            md_inspect_charge ic
                INNER JOIN md_basexamltem b ON b.id = ic.inspect_id
        WHERE
            ic.inspect_id = #{inspectId}
          AND ic.charge_id IN
            <foreach collection="itemIds" item="itemId" open="(" close=")" separator=",">
                #{itemId}
            </foreach>
          AND ic.is_delete = 0
          AND ( b.f_can_dup IS NULL OR b.f_can_dup != 1 )
        GROUP BY
            ic.charge_id
    </select>


    <!-- 无关联科室已检 -->
    <select id="noRelatedDepartments" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT
            pe.*
        FROM
            md_peispatientfeeitem pe
                LEFT JOIN sys_dept d ON d.id = pe.id_ks
        WHERE
            pe.id_patient = #{patientcode}
          AND ( pe.change_item IS NULL OR pe.change_item = 0 )
          AND ( pe.f_giveup IS NULL OR pe.f_giveup = 0 )
          AND ( pe.sfjj IS NULL OR pe.sfjj = 0 )
          AND ( pe.id_ks IS NULL OR d.is_function = 0 )
          AND pe.f_feecharged = 1
    </select>
</mapper>

