<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.center.medical.center.qingdao.profession.mapper.ItemQueryMapper">
    <resultMap id="Base" type="com.center.medical.center.qingdao.profession.entity.dto.FeeItemDTO">
        <result column="HARM_IDS" property="harmIds"/>
        <result column="ITEM_ID" property="itemId"/>
        <result column="DEP_ID" property="depId"/>
        <result column="RUMMAGER_NAME" property="rummagerName"/>
        <result column="ZY_CONCLUSIONS" property="zyConclusions"/>
    </resultMap>
    <select id="queryFeeItem" resultMap="Base">
        SELECT
            group_concat(
                cei.harm_id
                ORDER BY
                    cei.harm_id
            ) harm_ids,
            pi.id_examfeeitem item_id,
            pi.id_ks dep_id,
            srm.rummager_name,
            srm.zy_conclusions
        FROM
            md_peispatient p
        INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.f_examinated = 1
        INNER JOIN md_comboexamitem cei ON cei.medical_type = p.medicaltype
        AND cei.item_id = pi.id_examfeeitem
        AND (
            cei.harm_id = p.jhys
            OR p.jhys LIKE '%,' || cei.harm_id || ',%'
            OR p.jhys LIKE '%,' || cei.harm_id
            OR p.jhys LIKE cei.harm_id || ',%'
        )
        INNER JOIN md_section_result_main srm ON srm.patientcode = p.patientcode
        AND srm.dep_id = pi.id_ks
        INNER JOIN sys_cen_dep cd ON cd.did = pi.id_ks
        WHERE
            p.patientcode = #{patientcode}
        AND (
            cd.jklx NOT IN ('US', 'CR', 'CT', 'MR', 'DX')
            OR cd.jklx IS NULL
        )
        GROUP BY
            pi.id_examfeeitem,
            pi.id_ks,
            srm.rummager_name,
            srm.zy_conclusions
        union all
            select
                group_concat(
                    cei.harm_id
                    order by
                        cei.harm_id
                ) harm_ids,
                pc.item_id item_id,
                pc.dep_id dep_id,
                pc.examdoctor rummager_name,
                pc.examresultsummary zy_conclusions
            from
                md_peispatient p
            inner join md_pacs_result pc on pc.patientcode = p.patientcode
            inner join md_comboexamitem cei on cei.medical_type = p.medicaltype
            and cei.item_id = pc.item_id
            and (
                cei.harm_id = p.jhys
                or p.jhys like '%,' || cei.harm_id || ',%'
                or p.jhys like '%,' || cei.harm_id
                or p.jhys like cei.harm_id || ',%'
            )
            inner join md_section_result_main srm on srm.patientcode = p.patientcode
            and srm.dep_id = pc.dep_id
            and srm.is_audit = 1
            inner join sys_cen_dep cd on cd.did = pc.dep_id
            where
                p.patientcode = #{patientcode}
            and (
                cd.jklx in (
                    'US',
                    'DR',
                    'CR',
                    'CT',
                    'MR',
                    'DX'
                )
            )
            group by
                pc.item_id,
                pc.dep_id,
                pc.examdoctor,
                pc.examresultsummary
    </select>

    <select id="queryFeeItemCount" resultType="java.lang.Long">
       SELECT
	        count(*)
       FROM
            (
                SELECT
                    group_concat(
                        cei.harm_id
                        ORDER BY
                            cei.harm_id SEPARATOR ','
                    ) harm_ids,
                    pi.id_examfeeitem item_id,
                    pi.id_ks dep_id,
                    srm.rummager_name,
                    srm.zy_conclusions
                FROM
                    md_peispatient p
                INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
                AND pi.f_examinated = 1
                INNER JOIN md_comboexamitem cei ON cei.medical_type = p.medicaltype
                AND cei.item_id = pi.id_examfeeitem
                AND (
                    cei.harm_id = p.jhys
                    OR p.jhys LIKE '%,' || cei.harm_id || ',%'
                    OR p.jhys LIKE '%,' || cei.harm_id
                    OR p.jhys LIKE cei.harm_id || ',%'
                )
                INNER JOIN md_section_result_main srm ON srm.patientcode = p.patientcode
                AND srm.dep_id = pi.id_ks
                INNER JOIN sys_cen_dep cd ON cd.did = pi.id_ks
                WHERE
                    p.patientcode = #{patientcode}
                AND (
                    cd.jklx NOT IN ('US', 'CR', 'CT', 'MR', 'DX')
                    OR cd.jklx IS NULL
                )
                GROUP BY
                    pi.id_examfeeitem,
                    pi.id_ks,
                    srm.rummager_name,
                    srm.zy_conclusions

                UNION ALL

                SELECT
                    group_concat(
                        cei.harm_id
                        ORDER BY
                            cei.harm_id SEPARATOR ','
                    ) harm_ids,
                    pc.item_id item_id,
                    pc.dep_id dep_id,
                    pc.examdoctor rummager_name,
                    pc.examresultsummary zy_conclusions
                FROM
                    md_peispatient p
                INNER JOIN md_pacs_result pc ON pc.patientcode = p.patientcode
                INNER JOIN md_comboexamitem cei ON cei.medical_type = p.medicaltype
                AND cei.item_id = pc.item_id
                AND (
                    cei.harm_id = p.jhys
                    OR p.jhys LIKE '%,' || cei.harm_id || ',%'
                    OR p.jhys LIKE '%,' || cei.harm_id
                    OR p.jhys LIKE cei.harm_id || ',%'
                )
                INNER JOIN md_section_result_main srm ON srm.patientcode = p.patientcode
                AND srm.dep_id = pc.dep_id
                AND srm.is_audit = 1
                INNER JOIN sys_cen_dep cd ON cd.did = pc.dep_id
                WHERE
                    p.patientcode = #{patientcode}
                AND (
                    cd.jklx IN (
                        'US',
                        'DR',
                        'CR',
                        'CT',
                        'MR',
                        'DX'
                    )
                )
                GROUP BY
                    pc.item_id,
                    pc.dep_id,
                    pc.examdoctor,
                    pc.examresultsummary
	   ) t
    </select>
</mapper>