<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.MdLungMapper">

    <resultMap type="com.center.medical.olddata.bean.model.MdLung" id="MdLungMap">
        <id property="id" column="id"/>
        <result property="depId" column="dep_id"/>
        <result property="tjrq" column="tjrq"/>
        <result property="xj" column="xj"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
        <result property="fvc" column="fvc"/>
        <result property="fev" column="fev"/>
        <result property="fevFvc" column="fev_fvc"/>
        <result property="percentageMmef" column="percentage_mmef"/>
        <result property="predictMmef" column="predict_mmef"/>
        <result property="mmef" column="mmef"/>
        <result property="percentageFeffa" column="percentage_feffa"/>
        <result property="predictFeffa" column="predict_feffa"/>
        <result property="feffa" column="feffa"/>
        <result property="percentageFeffb" column="percentage_feffb"/>
        <result property="predictFeffb" column="predict_feffb"/>
        <result property="feffb" column="feffb"/>
        <result property="percentageFeffc" column="percentage_feffc"/>
        <result property="predictFeffc" column="predict_feffc"/>
        <result property="feffc" column="feffc"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="predictFvc" column="predict_fvc"/>
        <result property="percentageFvc" column="percentage_fvc"/>
        <result property="predictFev" column="predict_fev"/>
        <result property="percentageFev" column="percentage_fev"/>
        <result property="predictFevFvc" column="predict_fev_fvc"/>
        <result property="percentageFevFvc" column="percentage_fev_fvc"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdLungVo">
        select id,
               dep_id,
               tjrq,
               xj,
               create_id,
               modify_id,
               fvc,
               fev,
               fev_fvc,
               percentage_mmef,
               predict_mmef,
               mmef,
               percentage_feffa,
               predict_feffa,
               feffa,
               percentage_feffb,
               predict_feffb,
               feffb,
               percentage_feffc,
               predict_feffc,
               feffc,
               patientcode,
               createdate,
               modifydate,
               predict_fvc,
               percentage_fvc,
               predict_fev,
               percentage_fev,
               predict_fev_fvc,
               percentage_fev_fvc
        from md_lung
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdLungMap">
        <include refid="selectMdLungVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdLungMap">
        <include refid="selectMdLungVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

