<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.OrPeispatientConsultationMapper">

    <resultMap type="com.center.medical.olddata.bean.model.OrPeispatientConsultation" id="PeispatientConsultationMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="everOfDisease" column="EVER_OF_DISEASE"/>
        <result property="ccnl" column="CCNL"/>
        <result property="jq" column="JQ"/>
        <result property="zq" column="ZQ"/>
        <result property="tjnl" column="TJNL"/>
        <result property="familyNumber" column="FAMILY_NUMBER"/>
        <result property="zc" column="ZC"/>
        <result property="sc" column="SC"/>
        <result property="lc" column="LC"/>
        <result property="jt" column="JT"/>
        <result property="ywrc" column="YWRC"/>
        <result property="abstainSmokeNote" column="ABSTAIN_SMOKE_NOTE"/>
        <result property="everydaySmokeN" column="EVERYDAY_SMOKE_N"/>
        <result property="smokeYear" column="SMOKE_YEAR"/>
        <result property="noKissTheCup" column="NO_KISS_THE_CUP"/>
        <result property="betweenKissTheCup" column="BETWEEN_KISS_THE_CUP"/>
        <result property="evermoreKiss" column="EVERMORE_KISS"/>
        <result property="abstainLostKiss" column="ABSTAIN_LOST_KISS"/>
        <result property="kissYearN" column="KISS_YEAR_N"/>
        <result property="kissAmount" column="KISS_AMOUNT"/>
        <result property="kissType" column="KISS_TYPE"/>
        <result property="familyOfDisease" column="FAMILY_OF_DISEASE"/>
        <result property="symptom" column="SYMPTOM"/>
        <result property="isAudit" column="IS_AUDIT"/>
        <result property="everOfDiseaseRemark" column="EVER_OF_DISEASE_REMARK"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientConsultationVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               EVER_OF_DISEASE,
               CCNL,
               JQ,
               ZQ,
               TJNL,
               FAMILY_NUMBER,
               ZC,
               SC,
               LC,
               JT,
               YWRC,
               ABSTAIN_SMOKE_NOTE,
               EVERYDAY_SMOKE_N,
               SMOKE_YEAR,
               NO_KISS_THE_CUP,
               BETWEEN_KISS_THE_CUP,
               EVERMORE_KISS,
               ABSTAIN_LOST_KISS,
               KISS_YEAR_N,
               KISS_AMOUNT,
               KISS_TYPE,
               FAMILY_OF_DISEASE,
               SYMPTOM,
               IS_AUDIT,
               EVER_OF_DISEASE_REMARK
        from PEISPATIENT_CONSULTATION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientConsultationMap">
        <include refid="selectPeispatientConsultationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientConsultationMap">
        <include refid="selectPeispatientConsultationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

