<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.OrTjregMapper">

    <resultMap type="com.center.medical.olddata.bean.model.OrTjreg" id="TjregMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="tjbh" column="TJBH"/>
        <result property="tjrq" column="TJRQ"/>
        <result property="sg" column="SG"/>
        <result property="tz" column="TZ"/>
        <result property="xl" column="XL"/>
        <result property="xy" column="XY"/>
        <result property="xj" column="XJ"/>
        <result property="tjzt" column="TJZT"/>
        <result property="djid" column="DJID"/>
        <result property="bmi" column="BMI"/>
        <result property="ssy" column="SSY"/>
        <result property="szy" column="SZY"/>
        <result property="yw" column="YW"/>
        <result property="djls" column="DJLS"/>
        <result property="mb" column="MB"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="commonState" column="COMMON_STATE"/>
        <result property="respiratoryRate" column="RESPIRATORY_RATE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="depId" column="DEP_ID"/>
        <result property="shortCode" column="SHORT_CODE"/>
        <result property="xyms" column="XYMS"/>
        <result property="bmims" column="BMIMS"/>
        <result property="scbz" column="SCBZ"/>
        <result property="temperature" column="TEMPERATURE"/>
        <result property="waist" column="WAIST"/>
        <result property="bust" column="BUST"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectTjregVo">
        select PATIENTCODE,
               TJBH,
               TJRQ,
               SG,
               TZ,
               XL,
               XY,
               XJ,
               TJZT,
               DJID,
               BMI,
               SSY,
               SZY,
               YW,
               DJLS,
               MB,
               CREATE_ID,
               MODIFY_ID,
               COMMON_STATE,
               ID,
               RESPIRATORY_RATE,
               CREATEDATE,
               MODIFYDATE,
               DEP_ID,
               SHORT_CODE,
               XYMS,
               BMIMS,
               SCBZ,
               TEMPERATURE,
               WAIST,
               BUST
        from TJREG
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="TjregMap">
        <include refid="selectTjregVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="TjregMap">
        <include refid="selectTjregVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

