<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.VCheckReqmainMysqlMapper">



    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.olddata.bean.model.VCheckReqmainMysql">

    </select>




    <!-- 获取视图数据 -->
    <select id="getCheckReqmain" resultType="com.center.medical.olddata.bean.model.VCheckReqmainMysql">
        SELECT
        `pi`.`InterfaceClass` AS `InterfaceClass`,
        substr( `p`.`CheckRegSN`, 5, 8 ) AS `CheckRegSN`,
        substr( `p`.`CheckRegNo`, 5, 8 ) AS `CheckRegNo`,
        concat( `p`.`CheckRegNo`, `pi`.`ItemCode` ) AS `CheckReqID`,
        `p`.`CheckReqDate` AS `CheckReqDate`,
        concat( `p`.`CheckRegNo`, `pi`.`ItemCode` ) AS `CheckReqNo`,
        `p`.`PatientName` AS `PatientName`,
        `p`.`Sex` AS `Sex`,
        `p`.`BirthDate` AS `BirthDate`,
        `p`.`Age` AS `Age`,
        '岁' AS `AgeUnit`,
        `p`.`IDCardNo` AS `IDCardNo`,
        `pi`.`DepartCode` AS `DepartCode`,
        `v_check_depart`.`DepartName` AS `DepartName`,
        `pi`.`DoctorCode` AS `DoctorCode`,
        `pi`.`DoctorName` AS `DoctorName`,
        `pi`.`ItemCode` AS `ItemCode`,
        `pi`.`ItemName` AS `ItemName`,
        `p`.`CheckRegNo` AS `SimpleCode`,
        '' AS `SimpleName`,
        `v_check_depart`.`DepartCode` AS `ExecDepartCode`,
        `v_check_depart`.`DepartName` AS `ExecDepartName`,
        `pi`.`Amount` AS `Amount`
        FROM
        (((
        SELECT
        `p`.`patientcode` AS `CheckRegSN`,
        `p`.`patientcode` AS `CheckRegNo`,
        date_format( `p`.`dateregister`, '%Y-%m-%d %H:%i:%s' ) AS `CheckReqDate`,
        `p`.`patientcode` AS `CheckReqNo`,
        `p`.`patientname` AS `PatientName`,(
        CASE
        `p`.`id_sex`
        WHEN 0 THEN
        '男' ELSE '女'
        END
        ) AS `Sex`,
        date_format( `p`.`birthdate`, '%Y-%m-%d %H:%i:%s' ) AS `BirthDate`,
        `p`.`idcardno` AS `IDCardNo`,
        `p`.`age` AS `Age`
        FROM
        (
        `md_peispatient` `p`
        LEFT JOIN `md_peisorgreservationgroup` `pi` ON ((
        `pi`.`id` = `p`.`id_orgreservationgroup`
        )))
        WHERE
        ((
        `p`.`f_registered` = 1
        )
        AND (
        `p`.`dateregister` >= ( now() - INTERVAL 7 DAY ))
        AND ((
        `p`.`f_paused` IS NULL
        )
        OR ( `p`.`f_paused` <![CDATA[ <> ]]> 1 ))
        AND ((
        `pi`.`id` IS NULL
        )
        OR ( `pi`.`f_grouppaused` IS NULL )
        OR ( `pi`.`f_grouppaused` <![CDATA[ <> ]]> 1 )))) `p`
        JOIN (
        SELECT
        `i`.`id_patient` AS `ID_PATIENT`,
        5 AS `InterfaceClass`,
        `d`.`input_code` AS `DepartCode`,
        `u`.`user_code` AS `ID_EXAMDOCTOR`,
        `bi`.`examfeeitem_code` AS `ItemCode`,
        `bi`.`examfeeitem_name` AS `ItemName`,
        `i`.`factprice` AS `Amount`,
        `i`.`doctorreg_r` AS `DoctorName`,
        `u`.`user_code` AS `DoctorCode`
        FROM
        (((
        `md_peispatientfeeitem` `i`
        JOIN `md_items` `bi` ON (((
        `bi`.`id` = `i`.`id_examfeeitem`
        )
        AND ( `bi`.`examfeeitem_code` IS NOT NULL ))))
        JOIN `sys_dept` `d` ON ((
        `d`.`dept_no` = `i`.`id_ks`
        )))
        LEFT JOIN `sys_user` `u` ON ((
        `u`.`user_no` = `i`.`id_examdoctor`
        )))
        WHERE
        ((
        `i`.`id_ks` = '19'
        )
        AND ((
        `i`.`f_giveup` IS NULL
        )
        OR ( `i`.`f_giveup` = 0 ))
        AND ((
        `i`.`sfjj` IS NULL
        )
        OR ( `i`.`sfjj` = 0 ))
        AND ((
        `i`.`change_item` IS NULL
        )
        OR ( `i`.`change_item` = 0 ))
        AND ( `i`.`f_feecharged` = 1 )
        AND ( `i`.`f_transferedhl7` IS NULL )) UNION ALL
        SELECT
        `i`.`id_patient` AS `ID_PATIENT`,
        6 AS `InterfaceClass`,
        `d`.`input_code` AS `DepartCode`,
        `u`.`user_code` AS `ID_EXAMDOCTOR`,
        `bi`.`examfeeitem_code` AS `ItemCode`,
        `bi`.`examfeeitem_name` AS `ItemName`,
        `i`.`factprice` AS `Amount`,
        `i`.`doctorreg_r` AS `DoctorName`,
        `u`.`user_code` AS `DoctorCode`
        FROM
        (((
        `md_peispatientfeeitem` `i`
        JOIN `md_items` `bi` ON (((
        `bi`.`id` = `i`.`id_examfeeitem`
        )
        AND ( `bi`.`examfeeitem_code` IS NOT NULL ))))
        JOIN `sys_dept` `d` ON ((
        `d`.`dept_no` = `i`.`id_ks`
        )))
        LEFT JOIN `sys_user` `u` ON ((
        `u`.`user_no` = `i`.`id_examdoctor`
        )))
        WHERE
        ((
        `i`.`id_ks` IN ( '143', '173', '171', '24', '165', '402848e3625a920201625ff99a3404a5' ))
        AND ((
        `i`.`f_giveup` IS NULL
        )
        OR ( `i`.`f_giveup` = 0 ))
        AND ((
        `i`.`sfjj` IS NULL
        )
        OR ( `i`.`sfjj` = 0 ))
        AND ((
        `i`.`change_item` IS NULL
        )
        OR ( `i`.`change_item` = 0 ))
        AND ( `i`.`f_feecharged` = 1 )
        AND ( `i`.`f_transferedhl7` IS NULL ))) `pi` ON ((
        `p`.`CheckRegNo` = `pi`.`ID_PATIENT`
        )))
        JOIN `v_check_depart` ON ((
        `v_check_depart`.`DepartCode` = `pi`.`DepartCode`
        )))
        WHERE
        `p`.`CheckRegNo` = #{patientcode}
    </select>


    <!-- 获取视图数据 -->
    <delete id="deleteTimeOutList">
        DELETE
        FROM
            V_CHECK_REQMAIN_MYSQL
        WHERE
            TO_DATE(CheckReqDate, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[ <= ]]> #{time}
    </delete>
</mapper>

