<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.GeneQueryMapper">





    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.query.bean.vo.GeneQueryVo">
        SELECT
            sc.int_id,
            sc.khdwmc as orgName,
            p.patientname,
            p.patientcode,
            i.unitprice,
            i.examfeeitem_name as itemName,
            CASE WHEN p.F_USECODEHIDEN = 0 THEN '个人' ELSE '团体'END as type,
            p.doctorapply,
            pi.factprice,
            IFNULL(pi.sfjx,0) as isAdd,
            p.phone,
            p.dateregister
        FROM
            md_peispatient p
                LEFT JOIN crm_sellcustomer sc ON sc.id = p.id_org
                INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
                AND pi.change_item = 0
                AND pi.f_feecharged = 1
                INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        <where>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.itemName!=null and param.itemName!=''">
                and instr(i.examfeeitem_name, #{param.itemName})>0
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND sc.khdwmc like concat('%',#{param.orgName},'%')
            </if>
            <if test="param.doctorapply!=null and param.doctorapply!=''">
                AND p.doctorapply like concat('%',#{param.doctorapply},'%')
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        order by p.patientcode, i.examfeeitem_name
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>



    <!-- 导出新产品数据查询 -->
    <select id="getExportData" resultType="com.center.medical.query.bean.vo.GeneQueryVo">
        SELECT
        sc.int_id,
        sc.khdwmc as orgName,
        p.patientname,
        p.patientcode,
        i.unitprice,
        i.examfeeitem_name as itemName,
        CASE WHEN p.F_USECODEHIDEN = 0 THEN '个人' ELSE '团体'END as type,
        p.doctorapply,
        pi.factprice,
        IFNULL(pi.sfjx,0) as isAdd,
        p.phone,
        p.dateregister
        FROM
        md_peispatient p
        LEFT JOIN crm_sellcustomer sc ON sc.id = p.id_org
        INNER JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        AND pi.f_feecharged = 1
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        <where>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.itemName!=null and param.itemName!=''">
                and instr(i.examfeeitem_name, #{param.itemName})>0
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND sc.khdwmc like concat('%',#{param.orgName},'%')
            </if>
            <if test="param.doctorapply!=null and param.doctorapply!=''">
                AND p.doctorapply like concat('%',#{param.doctorapply},'%')
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        order by p.patientcode, i.examfeeitem_name
    </select>

</mapper>

