<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.TotalSendMapper">

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.query.bean.vo.TotalSendVo">
        SELECT
            STR_TO_DATE ( p.send_date, '%Y-%m-%d' ) AS send0,
            STR_TO_DATE ( p.back_date, '%Y-%m-%d' ) AS send1,
            d.name AS send2,
            u.examfeeitem_name AS send3,
            p.patientcode AS send4,
            q.org_name AS send5,
            q.patientname AS send6,
            q.address AS send7,
            q.id_sex AS send8,
            q.age AS send9,
            STR_TO_DATE ( q.dateregister, '%Y-%m-%d %T' ) AS send10,
            u.costprice
        FROM
            md_outside_main p
                LEFT JOIN md_outside_charge_item s ON p.patientcode = s.patientcode
                LEFT JOIN md_peispatient q ON p.patientcode = q.patientcode
                LEFT JOIN md_items u ON u.id = s.id_charge
                LEFT JOIN md_wsjg d ON d.id = s.wsjg_id
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND p.send_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.send_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.center != null and param.center != ''">
                AND d.name LIKE #{param.center}
            </if>
        </where>
        ORDER BY STR_TO_DATE(p.send_date,'%Y-%m-%d'),d.name
    </select>


    <!-- 获取合计金额 -->
    <select id="amountTo" resultType="java.lang.String">
        SELECT IFNULL(SUM(costprice),0) FROM (
        SELECT
        STR_TO_DATE ( p.send_date, '%Y-%m-%d' ) AS send0,
        STR_TO_DATE ( p.back_date, '%Y-%m-%d' ) AS send1,
        d.name AS send2,
        u.examfeeitem_name AS send3,
        p.patientcode AS send4,
        q.org_name AS send5,
        q.patientname AS send6,
        q.address AS send7,
        q.id_sex AS send8,
        q.age AS send9,
        STR_TO_DATE ( q.dateregister, '%Y-%m-%d %T' ) AS send10,
        u.costprice
        FROM
        md_outside_main p
        LEFT JOIN md_outside_charge_item s ON p.patientcode = s.patientcode
        LEFT JOIN md_peispatient q ON p.patientcode = q.patientcode
        LEFT JOIN md_items u ON u.id = s.id_charge
        LEFT JOIN md_wsjg d ON d.id = s.wsjg_id
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND p.send_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.send_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.center != null and param.center != ''">
                AND d.name LIKE #{param.center}
            </if>
        </where>
        ORDER BY STR_TO_DATE(p.send_date,'%Y-%m-%d'),d.name
        ) AS aaaa
    </select>


    <!-- 导出外送统计 -->
    <select id="getExportData" resultType="com.center.medical.query.bean.vo.TotalSendVo">
        SELECT
        STR_TO_DATE ( p.send_date, '%Y-%m-%d' ) AS send0,
        STR_TO_DATE ( p.back_date, '%Y-%m-%d' ) AS send1,
        d.name AS send2,
        u.examfeeitem_name AS send3,
        p.patientcode AS send4,
        q.org_name AS send5,
        q.patientname AS send6,
        q.address AS send7,
        q.id_sex AS send8,
        q.age AS send9,
        STR_TO_DATE ( q.dateregister, '%Y-%m-%d %T' ) AS send10,
        u.costprice
        FROM
        md_outside_main p
        LEFT JOIN md_outside_charge_item s ON p.patientcode = s.patientcode
        LEFT JOIN md_peispatient q ON p.patientcode = q.patientcode
        LEFT JOIN md_items u ON u.id = s.id_charge
        LEFT JOIN md_wsjg d ON d.id = s.wsjg_id
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND p.send_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.send_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.center != null and param.center != ''">
                AND d.name LIKE #{param.center}
            </if>
        </where>
        ORDER BY STR_TO_DATE(p.send_date,'%Y-%m-%d'),d.name
    </select>
</mapper>

