<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmReceiveandsellMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmReceiveandsell" id="CrmReceiveandsellMap">
        <id property="id" column="id"/>
        <result property="clientid" column="clientid"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="lqrq" column="lqrq"/>
        <result property="isDelete" column="is_delete"/>
        <result property="czzt" column="czzt"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmReceiveandsellVo">
        select id,
               clientid,
               xsjlid,
               lqrq,
               is_delete,
               czzt,
               createdate,
               modifydate
        from crm_receiveandsell
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmReceiveandsellMap">
        <include refid="selectCrmReceiveandsellVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmReceiveandsellMap">
        <include refid="selectCrmReceiveandsellVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

