<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmTeamremindMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmTeamremind" id="CrmTeamremindMap">
        <id property="id" column="id"/>
        <result property="xshtwhid" column="xshtwhid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="khlxdh" column="khlxdh"/>
        <result property="clr" column="clr"/>
        <result property="clsj" column="clsj"/>
        <result property="sctjksrq" column="sctjksrq"/>
        <result property="xcgtrq" column="xcgtrq"/>
        <result property="clzt" column="clzt"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="khdwid" column="khdwid"/>
        <result property="khdwlxr" column="khdwlxr"/>
        <result property="isExamed" column="is_examed"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmTeamremindVo">
        select id,
               xshtwhid,
               khdwmc,
               khlxdh,
               clr,
               clsj,
               sctjksrq,
               xcgtrq,
               clzt,
               xsjlid,
               fzxid,
               createdate,
               modifydate,
               khdwid,
               khdwlxr,
               is_examed
        from crm_teamremind
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmTeamremindMap">
        <include refid="selectCrmTeamremindVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmTeamremindMap">
        <include refid="selectCrmTeamremindVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

