<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdAttachmentGroupMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdAttachmentGroup" id="MdAttachmentGroupMap">
        <id property="fileGroupId" column="file_group_id"/>
        <result property="branchId" column="branch_id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdAttachmentGroupVo">
        select file_group_id, branch_id, name, type
        from md_attachment_group
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdAttachmentGroupMap">
        <include refid="selectMdAttachmentGroupVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdAttachmentGroupMap">
        <include refid="selectMdAttachmentGroupVo"/>
        <where>
            fileGroupId = #{id}
        </where>
    </select>

</mapper>

