<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBallCheckReportMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBallCheckReport" id="MdBallCheckReportMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="diseaseHealth" column="disease_health"/>
        <result property="sampleName" column="sample_name"/>
        <result property="comboId" column="combo_id"/>
        <result property="sampleType" column="sample_type"/>
        <result property="groupId" column="group_id"/>
        <result property="orderId" column="order_id"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="status" column="status"/>
        <result property="isPrint" column="is_print"/>
        <result property="ddh" column="ddh"/>
        <result property="orgName" column="org_name"/>
        <result property="idOrgreservation" column="id_orgreservation"/>
        <result property="createId" column="create_id"/>
        <result property="wordUrl" column="word_url"/>
        <result property="pdfUrl" column="pdf_url"/>
        <result property="picInspectM" column="pic_inspect_m"/>
        <result property="picInspectW" column="pic_inspect_w"/>
        <result property="picInspectT" column="pic_inspect_t"/>
        <result property="picAgeColumnar" column="pic_age_columnar"/>
        <result property="picAgePie" column="pic_age_pie"/>
        <result property="picAgeW" column="pic_age_w"/>
        <result property="picAgeM" column="pic_age_m"/>
        <result property="itemTotal" column="item_total"/>
        <result property="exceptionM" column="exception_m"/>
        <result property="exceptionW" column="exception_w"/>
        <result property="exceptionT" column="exception_t"/>
        <result property="sglx" column="sglx"/>
        <result property="scsflj" column="scsflj"/>
        <result property="bgfx" column="bgfx"/>
        <result property="generateName" column="generate_name"/>
        <result property="generateDate" column="generate_date"/>
        <result property="generateHint" column="generate_hint"/>
        <result property="hasUnchecked" column="has_unchecked"/>
        <result property="bcbgfx" column="bcbgfx"/>
        <result property="scbs" column="scbs"/>
        <result property="sex" column="sex"/>
        <result property="createStatus" column="create_status"/>
        <result property="configId" column="config_id"/>
        <result property="progress" column="progress"/>
        <result property="orgDepart" column="org_depart"/>
        <result property="ballCheckReport" column="ball_check_report"/>
        <result property="reason" column="reason"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBallCheckReportVo">
        select id,
               patientcode,
               disease_health,
               sample_name,
               combo_id,
               sample_type,
               group_id,
               order_id,
               begin_time,
               end_time,
               createdate,
               modifydate,
               status,
               is_print,
               ddh,
               org_name,
               id_orgreservation,
               create_id,
               word_url,
               pdf_url,
               pic_inspect_m,
               pic_inspect_w,
               pic_inspect_t,
               pic_age_columnar,
               pic_age_pie,
               pic_age_w,
               pic_age_m,
               item_total,
               exception_m,
               exception_w,
               exception_t,
               sglx,
               scsflj,
               bgfx,
               generate_name,
               generate_date,
               generate_hint,
               has_unchecked,
               bcbgfx,
               scbs,
               sex,
               create_status,
               config_id,
               progress,
               org_depart,
               ball_check_report,
               reason
        from md_ball_check_report
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBallCheckReportMap">
        <include refid="selectMdBallCheckReportVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBallCheckReportMap">
        <include refid="selectMdBallCheckReportVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

