<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBasMergeConclusionMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBasMergeConclusion" id="MdBasMergeConclusionMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="conclusionId" column="conclusion_id"/>
        <result property="mergeId" column="merge_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBasMergeConclusionVo">
        select id, createdate, modifydate, conclusion_id, merge_id
        from md_bas_merge_conclusion
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBasMergeConclusionMap">
        <include refid="selectMdBasMergeConclusionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBasMergeConclusionMap">
        <include refid="selectMdBasMergeConclusionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

