<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBusinessSourceMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBusinessSource" id="MdBusinessSourceMap">
        <id property="id" column="id"/>
        <result property="sourceId" column="source_id"/>
        <result property="typeName" column="type_name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="logo" column="logo"/>
        <result property="tip" column="tip"/>
        <result property="seq" column="seq"/>
        <result property="status" column="status"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBusinessSourceVo">
        select id,
               source_id,
               type_name,
               account,
               password,
               logo,
               tip,
               seq,
               status,
               createdate,
               modifydate
        from sys_business_source
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBusinessSourceMap">
        <include refid="selectMdBusinessSourceVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBusinessSourceMap">
        <include refid="selectMdBusinessSourceVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

