<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdCardMemberMedicalMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdCardMemberMedical" id="MdCardMemberMedicalMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="memberId" column="member_id"/>
        <result property="medicalId" column="medical_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdCardMemberMedicalVo">
        select id, createdate, modifydate, member_id, medical_id
        from md_card_member_medical
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdCardMemberMedicalMap">
        <include refid="selectMdCardMemberMedicalVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdCardMemberMedicalMap">
        <include refid="selectMdCardMemberMedicalVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

