<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdComboanditemMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdComboanditem" id="MdComboanditemMap">
        <id property="id" column="id"/>
        <result property="tcid" column="tcid"/>
        <result property="sfxmid" column="sfxmid"/>
        <result property="sfbx" column="sfbx"/>
        <result property="isDelete" column="is_delete"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="sfbj" column="sfbj"/>
        <result property="itemSort" column="item_sort"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdComboanditemVo">
        select id,
               tcid,
               sfxmid,
               sfbx,
               is_delete,
               xsjlid,
               createdate,
               modifydate,
               sfbj,
               item_sort,
               sort
        from md_comboanditem
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdComboanditemMap">
        <include refid="selectMdComboanditemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdComboanditemMap">
        <include refid="selectMdComboanditemVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

