<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdDiningRecordMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdDiningRecord" id="MdDiningRecordMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="diningTime" column="dining_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdDiningRecordVo">
        select id, createdate, modifydate, patientcode, dining_time
        from md_dining_record
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdDiningRecordMap">
        <include refid="selectMdDiningRecordVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdDiningRecordMap">
        <include refid="selectMdDiningRecordVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

