<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdDrugDiseaseMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdDrugDisease" id="MdDrugDiseaseMap">
        <id property="id" column="id"/>
        <result property="healthEvaluation" column="health_evaluation"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="typeId" column="type_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdDrugDiseaseVo">
        select id, health_evaluation, input_code, createdate, modifydate, type_id, is_delete
        from md_drug_disease
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdDrugDiseaseMap">
        <include refid="selectMdDrugDiseaseVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdDrugDiseaseMap">
        <include refid="selectMdDrugDiseaseVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

