<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdExpresscompanyMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdExpresscompany" id="MdExpresscompanyMap">
        <id property="id" column="id"/>
        <result property="expressName" column="express_name"/>
        <result property="expressPhone" column="express_phone"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdExpresscompanyVo">
        select id, express_name, express_phone, input_code, createdate, modifydate
        from md_expresscompany
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdExpresscompanyMap">
        <include refid="selectMdExpresscompanyVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdExpresscompanyMap">
        <include refid="selectMdExpresscompanyVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

