<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdFinancialReportingMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdFinancialReporting" id="MdFinancialReportingMap">
        <id property="id" column="id"/>
        <result property="outputvalueGoals" column="outputvalue_goals"/>
        <result property="profitsituationProfit" column="profitsituation_profit"/>
        <result property="profitsituationGoals" column="profitsituation_goals"/>
        <result property="cashflowFlow" column="cashflow_flow"/>
        <result property="cashflowCordon" column="cashflow_cordon"/>
        <result property="cashflowOutputvalue" column="cashflow_outputvalue"/>
        <result property="saleoverdueAccounts" column="saleoverdue_accounts"/>
        <result property="saleoverdueRateOfRecovery" column="saleoverdue_rate_of_recovery"/>
        <result property="saleoverdueDiscountRate" column="saleoverdue_discount_rate"/>
        <result property="peopleNumber" column="people_number"/>
        <result property="costproportionSale" column="costproportion_sale"/>
        <result property="costproportionManage" column="costproportion_manage"/>
        <result property="costproportionHousing" column="costproportion_housing"/>
        <result property="costproportionPeople" column="costproportion_people"/>
        <result property="costproportionCommission" column="costproportion_commission"/>
        <result property="costproportionConsumables" column="costproportion_consumables"/>
        <result property="costproportionConsumablesNo" column="costproportion_consumables_no"/>
        <result property="choosedate" column="choosedate"/>
        <result property="createdate" column="createdate"/>
        <result property="createUserid" column="create_userid"/>
        <result property="createUsername" column="create_username"/>
        <result property="modifydate" column="modifydate"/>
        <result property="modifyUserid" column="modify_userid"/>
        <result property="modifyUsername" column="modify_username"/>
        <result property="cid" column="cid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="customerNew" column="customer_new"/>
        <result property="customerLose" column="customer_lose"/>
        <result property="customerLoseAccounting" column="customer_lose_accounting"/>
        <result property="customerBig50" column="customer_big50"/>
        <result property="customerBig50Count" column="customer_big50_count"/>
        <result property="customerBig20" column="customer_big20"/>
        <result property="customerBig20Count" column="customer_big20_count"/>
        <result property="customerAccounting" column="customer_accounting"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdFinancialReportingVo">
        select id,
               outputvalue_goals,
               profitsituation_profit,
               profitsituation_goals,
               cashflow_flow,
               cashflow_cordon,
               cashflow_outputvalue,
               saleoverdue_accounts,
               saleoverdue_rate_of_recovery,
               saleoverdue_discount_rate,
               people_number,
               costproportion_sale,
               costproportion_manage,
               costproportion_housing,
               costproportion_people,
               costproportion_commission,
               costproportion_consumables,
               costproportion_consumables_no,
               choosedate,
               createdate,
               create_userid,
               create_username,
               modifydate,
               modify_userid,
               modify_username,
               cid,
               is_delete,
               customer_new,
               customer_lose,
               customer_lose_accounting,
               customer_big50,
               customer_big50_count,
               customer_big20,
               customer_big20_count,
               customer_accounting
        from md_financial_reporting
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdFinancialReportingMap">
        <include refid="selectMdFinancialReportingVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdFinancialReportingMap">
        <include refid="selectMdFinancialReportingVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

