<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdFxCompletionMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdFxCompletion" id="MdFxCompletionMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="sampleId" column="sample_id"/>
        <result property="patientname" column="patientname"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="jhgl" column="jhgl"/>
        <result property="jhys" column="jhys"/>
        <result property="jhysIds" column="jhys_ids"/>
        <result property="idOrg" column="id_org"/>
        <result property="orgName" column="org_name"/>
        <result property="orgDepart" column="org_depart"/>
        <result property="marriage" column="marriage"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="uncheckedItems" column="unchecked_items"/>
        <result property="uncheckedItemids" column="unchecked_itemids"/>
        <result property="medicaldate" column="medicaldate"/>
        <result property="fExamstarted" column="f_examstarted"/>
        <result property="fReadytofinal" column="f_readytofinal"/>
        <result property="zytjzt" column="zytjzt"/>
        <result property="trades" column="trades"/>
        <result property="dateregister" column="dateregister"/>
        <result property="isPrint" column="is_print"/>
        <result property="jktjzt" column="jktjzt"/>
        <result property="registered" column="registered"/>
        <result property="fRegistered" column="f_registered"/>
        <result property="dateregisternotime" column="dateregisternotime"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdFxCompletionVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               sample_id,
               patientname,
               sex,
               age,
               jhgl,
               jhys,
               jhys_ids,
               id_org,
               org_name,
               org_depart,
               marriage,
               id_marriage,
               unchecked_items,
               unchecked_itemids,
               medicaldate,
               f_examstarted,
               f_readytofinal,
               zytjzt,
               trades,
               dateregister,
               is_print,
               jktjzt,
               registered,
               f_registered,
               dateregisternotime
        from md_fx_completion
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdFxCompletionMap">
        <include refid="selectMdFxCompletionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdFxCompletionMap">
        <include refid="selectMdFxCompletionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

