<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdLimitOperationMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdLimitOperation" id="MdLimitOperationMap">
        <id property="id" column="id"/>
        <result property="cardId" column="card_id"/>
        <result property="cardType" column="card_type"/>
        <result property="limit" column="limit"/>
        <result property="memotext" column="memotext"/>
        <result property="createdate" column="createdate"/>
        <result property="operationId" column="operation_id"/>
        <result property="isAdd" column="is_add"/>
        <result property="operationTime" column="operation_time"/>
        <result property="modifydate" column="modifydate"/>
        <result property="payMode" column="pay_mode"/>
        <result property="handleMoney" column="handle_money"/>
        <result property="branchCenter" column="branch_center"/>
        <result property="chargeId" column="charge_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="patientname" column="patientname"/>
        <result property="memberCardno" column="member_cardno"/>
        <result property="consumetype" column="consumetype"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdLimitOperationVo">
        select id,
               card_id,
               card_type,
               limit,
               memotext,
               createdate,
               operation_id,
               is_add,
               operation_time,
               modifydate,
               pay_mode,
               handle_money,
               branch_center,
               charge_id,
               is_delete,
               patientname,
               member_cardno,
               consumetype
        from md_limit_operation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdLimitOperationMap">
        <include refid="selectMdLimitOperationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdLimitOperationMap">
        <include refid="selectMdLimitOperationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

