<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdOccupationDrugMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdOccupationDrug" id="MdOccupationDrugMap">
        <id property="id" column="id"/>
        <result property="harmId" column="harm_id"/>
        <result property="poststage" column="poststage"/>
        <result property="industrialDisease" column="industrial_disease"/>
        <result property="contraindication" column="contraindication"/>
        <result property="keyword" column="keyword"/>
        <result property="diagnosis" column="diagnosis"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isPublic" column="is_public"/>
        <result property="fzxIds" column="fzx_ids"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdOccupationDrugVo">
        select id,
               harm_id,
               poststage,
               industrial_disease,
               contraindication,
               keyword,
               diagnosis,
               createdate,
               modifydate,
               is_public,
               fzx_ids
        from md_occupation_drug
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdOccupationDrugMap">
        <include refid="selectMdOccupationDrugVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdOccupationDrugMap">
        <include refid="selectMdOccupationDrugVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

