<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPacsPdfMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPacsPdf" id="MdPacsPdfMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="feeitemId" column="feeitem_id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="pdfUrl" column="pdf_url"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPacsPdfVo">
        select id, createdate, modifydate, feeitem_id, patientcode, pdf_url
        from md_pacs_pdf
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPacsPdfMap">
        <include refid="selectMdPacsPdfVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPacsPdfMap">
        <include refid="selectMdPacsPdfVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

