<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPacsBasconclusionMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPacsBasconclusion" id="MdPacsBasconclusionMap">
        <id property="id" column="id"/>
        <result property="sysmanmark" column="sysmanmark"/>
        <result property="keyconclusion" column="keyconclusion"/>
        <result property="name" column="name"/>
        <result property="conclusionNameeng" column="conclusion_nameeng"/>
        <result property="conclusionCode" column="conclusion_code"/>
        <result property="conclusionCode2" column="conclusion_code2"/>
        <result property="conclusionCode3" column="conclusion_code3"/>
        <result property="conclusionCodehm" column="conclusion_codehm"/>
        <result property="conclusioncodex" column="conclusioncodex"/>
        <result property="idConclusiontype" column="id_conclusiontype"/>
        <result property="idConclusiontype2" column="id_conclusiontype2"/>
        <result property="idConclusiontype3" column="id_conclusiontype3"/>
        <result property="idConclusiongroup" column="id_conclusiongroup"/>
        <result property="idConclusionlink" column="id_conclusionlink"/>
        <result property="idConclusionmedinsurance" column="id_conclusionmedinsurance"/>
        <result property="idConclusioncadre" column="id_conclusioncadre"/>
        <result property="idConclusionoccup" column="id_conclusionoccup"/>
        <result property="idSection" column="id_section"/>
        <result property="depiction" column="depiction"/>
        <result property="suggestion" column="suggestion"/>
        <result property="advice" column="advice"/>
        <result property="dietguide" column="dietguide"/>
        <result property="sportguide" column="sportguide"/>
        <result property="knowledge" column="knowledge"/>
        <result property="suggestiongroup" column="suggestiongroup"/>
        <result property="idIcd10" column="id_icd10"/>
        <result property="inputCode" column="input_code"/>
        <result property="inputcodeb" column="inputcodeb"/>
        <result property="inputcodec" column="inputcodec"/>
        <result property="inputcoded" column="inputcoded"/>
        <result property="inputcodee" column="inputcodee"/>
        <result property="disporder" column="disporder"/>
        <result property="idSpecialconclusionlist" column="id_specialconclusionlist"/>
        <result property="fRealdisease" column="f_realdisease"/>
        <result property="fMaledisease" column="f_maledisease"/>
        <result property="fFemaledisease" column="f_femaledisease"/>
        <result property="fHideongroupreport" column="f_hideongroupreport"/>
        <result property="disporderOngroupreport" column="disporder_ongroupreport"/>
        <result property="conclusionfindermatch" column="conclusionfindermatch"/>
        <result property="conclusion" column="conclusion"/>
        <result property="fNormalconclusion" column="f_normalconclusion"/>
        <result property="severedegree" column="severedegree"/>
        <result property="fOccudiseaseobject" column="f_occudiseaseobject"/>
        <result property="fOccudiseasecontraindication" column="f_occudiseasecontraindication"/>
        <result property="suggestionoccudisease" column="suggestionoccudisease"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="status" column="status"/>
        <result property="divisionId" column="division_id"/>
        <result property="isLong" column="is_long"/>
        <result property="depName" column="dep_name"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isPublic" column="is_public"/>
        <result property="fzxIds" column="fzx_ids"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPacsBasconclusionVo">
        select id,
               sysmanmark,
               keyconclusion,
               name,
               conclusion_nameeng,
               conclusion_code,
               conclusion_code2,
               conclusion_code3,
               conclusion_codehm,
               conclusioncodex,
               id_conclusiontype,
               id_conclusiontype2,
               id_conclusiontype3,
               id_conclusiongroup,
               id_conclusionlink,
               id_conclusionmedinsurance,
               id_conclusioncadre,
               id_conclusionoccup,
               id_section,
               depiction,
               suggestion,
               advice,
               dietguide,
               sportguide,
               knowledge,
               suggestiongroup,
               id_icd10,
               input_code,
               inputcodeb,
               inputcodec,
               inputcoded,
               inputcodee,
               disporder,
               id_specialconclusionlist,
               f_realdisease,
               f_maledisease,
               f_femaledisease,
               f_hideongroupreport,
               disporder_ongroupreport,
               conclusionfindermatch,
               conclusion,
               f_normalconclusion,
               severedegree,
               f_occudiseaseobject,
               f_occudiseasecontraindication,
               suggestionoccudisease,
               createdate,
               modifydate,
               note,
               status,
               division_id,
               is_long,
               dep_name,
               is_delete,
               is_public,
               fzx_ids
        from md_pacs_basconclusion
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPacsBasconclusionMap">
        <include refid="selectMdPacsBasconclusionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPacsBasconclusionMap">
        <include refid="selectMdPacsBasconclusionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

