<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPacsBasexamltemSignMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPacsBasexamltemSign"
               id="MdPacsBasexamltemSignMap">
        <id property="id" column="id"/>
        <result property="inspectId" column="inspect_id"/>
        <result property="name" column="name"/>
        <result property="resultId" column="result_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isInSummary" column="is_in_summary"/>
        <result property="bodyInputCode" column="body_input_code"/>
        <result property="bodyDetail" column="body_detail"/>
        <result property="bodyDetailZy" column="body_detail_zy"/>
        <result property="intensiveLevel" column="intensive_level"/>
        <result property="otherMutex" column="other_mutex"/>
        <result property="numMutex" column="num_mutex"/>
        <result property="isPositive" column="is_positive"/>
        <result property="inputCode" column="input_code"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isDefault" column="is_default"/>
        <result property="orderindex" column="orderindex"/>
        <result property="isInput" column="is_input"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPacsBasexamltemSignVo">
        select id,
               inspect_id,
               name,
               result_id,
               createdate,
               modifydate,
               is_in_summary,
               body_input_code,
               body_detail,
               body_detail_zy,
               intensive_level,
               other_mutex,
               num_mutex,
               is_positive,
               input_code,
               is_delete,
               is_default,
               orderindex,
               is_input
        from md_pacs_basexamltem_sign
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPacsBasexamltemSignMap">
        <include refid="selectMdPacsBasexamltemSignVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPacsBasexamltemSignMap">
        <include refid="selectMdPacsBasexamltemSignVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

