<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPeispatientPhotoMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPeispatientPhoto" id="MdPeispatientPhotoMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="picture" column="picture"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPeispatientPhotoVo">
        select id, createdate, modifydate, patientcode, picture
        from md_peispatient_photo
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPeispatientPhotoMap">
        <include refid="selectMdPeispatientPhotoVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPeispatientPhotoMap">
        <include refid="selectMdPeispatientPhotoVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

