<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPeisQuestionnaireMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPeisQuestionnaire" id="MdPeisQuestionnaireMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="patientname" column="patientname"/>
        <result property="idSex" column="id_sex"/>
        <result property="idNation" column="id_nation"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="hasAllergyHistory" column="has_allergy_history"/>
        <result property="reportType" column="report_type"/>
        <result property="breakfast" column="breakfast"/>
        <result property="diseaseHistory" column="disease_history"/>
        <result property="phAndDiseases" column="ph_and_diseases"/>
        <result property="familyHistory" column="family_history"/>
        <result property="isSmoking" column="is_smoking"/>
        <result property="smokeNum" column="smoke_num"/>
        <result property="isDrinking" column="is_drinking"/>
        <result property="drinkType" column="drink_type"/>
        <result property="drinkNum" column="drink_num"/>
        <result property="eatingHabits" column="eating_habits"/>
        <result property="sports" column="sports"/>
        <result property="sleep" column="sleep"/>
        <result property="psychological" column="psychological"/>
        <result property="historyAbnormal" column="history_abnormal"/>
        <result property="abnormal" column="abnormal"/>
        <result property="isPreparingPregnant" column="is_preparing_pregnant"/>
        <result property="isHavingPeriod" column="is_having_period"/>
        <result property="isPregnant" column="is_pregnant"/>
        <result property="inputCode" column="input_code"/>
        <result property="doctorname" column="doctorname"/>
        <result property="writeTime" column="write_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPeisQuestionnaireVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               patientname,
               id_sex,
               id_nation,
               id_marriage,
               address,
               phone,
               has_allergy_history,
               report_type,
               breakfast,
               disease_history,
               ph_and_diseases,
               family_history,
               is_smoking,
               smoke_num,
               is_drinking,
               drink_type,
               drink_num,
               eating_habits,
               sports,
               sleep,
               psychological,
               history_abnormal,
               abnormal,
               is_preparing_pregnant,
               is_having_period,
               is_pregnant,
               input_code,
               doctorname,
               write_time
        from md_peis_questionnaire
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPeisQuestionnaireMap">
        <include refid="selectMdPeisQuestionnaireVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPeisQuestionnaireMap">
        <include refid="selectMdPeisQuestionnaireVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

