<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdReservationMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdReservation" id="MdReservationMap">
        <id property="id" column="id"/>
        <result property="reservationNo" column="reservation_no"/>
        <result property="branchId" column="branch_id"/>
        <result property="levelId" column="level_id"/>
        <result property="levelName" column="level_name"/>
        <result property="reservationDate" column="reservation_date"/>
        <result property="timeId" column="time_id"/>
        <result property="userId" column="user_id"/>
        <result property="comboId" column="combo_id"/>
        <result property="tjtcmc" column="tjtcmc"/>
        <result property="bizId" column="biz_id"/>
        <result property="bizComboId" column="biz_combo_id"/>
        <result property="bizOrderNum" column="biz_order_num"/>
        <result property="realName" column="real_name"/>
        <result property="idcard" column="idcard"/>
        <result property="mobile" column="mobile"/>
        <result property="systemId" column="system_id"/>
        <result property="fUsecodehiden" column="f_usecodehiden"/>
        <result property="sex" column="sex"/>
        <result property="patientcode" column="patientcode"/>
        <result property="idOrg" column="id_org"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="failReason" column="fail_reason"/>
        <result property="isDelete" column="is_delete"/>
        <result property="operator" column="operator"/>
        <result property="createdate" column="createdate"/>
        <result property="creator" column="creator"/>
        <result property="modifydate" column="modifydate"/>
        <result property="modifier" column="modifier"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdReservationVo">
        select id,
               reservation_no,
               branch_id,
               level_id,
               level_name,
               reservation_date,
               time_id,
               user_id,
               combo_id,
               tjtcmc,
               biz_id,
               biz_combo_id,
               biz_order_num,
               real_name,
               idcard,
               mobile,
               sysytem_id,
               f_usecodehiden,
               sex,
               patientcode,
               id_org,
               remark,
               status,
               fail_reason,
               is_delete,
               operator,
               createdate,
               creator,
               modifydate,
               modifier
        from md_reservation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdReservationMap">
        <include refid="selectMdReservationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdReservationMap">
        <include refid="selectMdReservationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

