<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdShortMessageTypeMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdShortMessageType" id="MdShortMessageTypeMap">
        <id property="id" column="id"/>
        <result property="typeName" column="type_name"/>
        <result property="inputcode" column="inputcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="isDelete" column="is_delete"/>
        <result property="params" column="params"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdShortMessageTypeVo">
        select id,
               type_name,
               inputcode,
               createdate,
               modifydate,
               note,
               is_delete,
               params
        from md_short_message_type
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdShortMessageTypeMap">
        <include refid="selectMdShortMessageTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdShortMessageTypeMap">
        <include refid="selectMdShortMessageTypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

