<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdTjdwBranchMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdTjdwBranch" id="MdTjdwBranchMap">
        <id property="id" column="id"/>
        <result property="serialCode" column="serial_code"/>
        <result property="branchCode" column="branch_code"/>
        <result property="branchName" column="branch_name"/>
        <result property="corpCode" column="corp_code"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdTjdwBranchVo">
        select id,
               serial_code,
               branch_code,
               branch_name,
               corp_code,
               input_code,
               createdate,
               modifydate
        from md_tjdw_branch
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdTjdwBranchMap">
        <include refid="selectMdTjdwBranchVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdTjdwBranchMap">
        <include refid="selectMdTjdwBranchVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

