<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdWzTjdwxxMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdWzTjdwxx" id="MdWzTjdwxxMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createDate" column="create_date"/>
        <result property="corpCode" column="corp_code"/>
        <result property="corpName" column="corp_name"/>
        <result property="corpAddress" column="corp_address"/>
        <result property="post" column="post"/>
        <result property="economyType" column="economy_type"/>
        <result property="calling" column="calling"/>
        <result property="callingSpace" column="calling_space"/>
        <result property="phone" column="phone"/>
        <result property="fax" column="fax"/>
        <result property="dbUser" column="db_user"/>
        <result property="remark" column="remark"/>
        <result property="lxr" column="lxr"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdWzTjdwxxVo">
        select id,
               patientcode,
               create_date,
               corp_code,
               corp_name,
               corp_address,
               post,
               economy_type,
               calling,
               calling_space,
               phone,
               fax,
               db_user,
               remark,
               lxr,
               createdate,
               modifydate,
               create_id,
               modify_id
        from md_wz_tjdwxx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdWzTjdwxxMap">
        <include refid="selectMdWzTjdwxxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdWzTjdwxxMap">
        <include refid="selectMdWzTjdwxxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

