<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdWzCallbackMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdWzCallback" id="MdWzCallbackMap">
        <id property="id" column="id"/>
        <result property="djls" column="djls"/>
        <result property="patientcode" column="patientcode"/>
        <result property="amount" column="amount"/>
        <result property="createDate" column="create_date"/>
        <result property="dateFrom" column="date_from"/>
        <result property="dateTo" column="date_to"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="resultText" column="result_text"/>
        <result property="summaryCode" column="summary_code"/>
        <result property="summaryText" column="summary_text"/>
        <result property="callbackOrderText" column="callback_order_text"/>
        <result property="callbackStation" column="callback_station"/>
        <result property="dbUser" column="db_user"/>
        <result property="callbackClass" column="callback_class"/>
        <result property="noticeOfProceedingText" column="notice_of_proceeding_text"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdWzCallbackVo">
        select id,
               djls,
               patientcode,
               amount,
               create_date,
               date_from,
               date_to,
               item_code,
               item_name,
               result_text,
               summary_code,
               summary_text,
               callback_order_text,
               callback_station,
               db_user,
               callback_class,
               notice_of_proceeding_text,
               createdate,
               modifydate,
               create_id,
               modify_id
        from md_wz_callback
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdWzCallbackMap">
        <include refid="selectMdWzCallbackVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdWzCallbackMap">
        <include refid="selectMdWzCallbackVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

