<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdYearMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdYear" id="MdYearMap">
        <id property="id" column="id"/>
        <result property="year" column="year"/>
        <result property="parentname" column="parentname"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdYearVo">
        select id, year, parentname, createdate, modifydate
        from md_year
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdYearMap">
        <include refid="selectMdYearVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdYearMap">
        <include refid="selectMdYearVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

