<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.SysDictDataMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.SysDictData" id="SysDictDataMap">
        <id property="dictCode" column="dict_code"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictType" column="dict_type"/>
        <result property="cssClass" column="css_class"/>
        <result property="listClass" column="list_class"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysDictDataVo">
        select dict_code,
               dict_sort,
               dict_label,
               dict_value,
               dict_type,
               css_class,
               list_class,
               is_default,
               status,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_dict_data
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysDictDataMap">
        <include refid="selectSysDictDataVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysDictDataMap">
        <include refid="selectSysDictDataVo"/>
        <where>
            dictCode = #{id}
        </where>
    </select>

</mapper>

