<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.ConsulationMapper">

    <resultMap type="com.center.medical.member.bean.model.Consulation" id="ConsulationMap">
        <id property="id" column="id"/>
        <result property="modifydate" column="modifydate"/>
        <result property="createdate" column="createdate"/>
        <result property="consultType" column="consult_type"/>
        <result property="consultName" column="consult_name"/>
        <result property="consultTime" column="consult_time"/>
        <result property="depId" column="dep_id"/>
        <result property="signPath" column="sign_path"/>
        <result property="consultContent" column="consult_content"/>
        <result property="patientcode" column="patientcode"/>
        <result property="consultPhone" column="consult_phone"/>
        <result property="doctorUsername" column="doctor_username"/>
        <result property="configId" column="config_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectConsulationVo">
        select id,
               modifydate,
               createdate,
               consult_type,
               consult_name,
               consult_time,
               dep_id,
               sign_path,
               consult_content,
               patientcode,
               consult_phone,
               doctor_username,
               config_id
        from md_consulation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="ConsulationMap">
        SELECT
            c.id,
            c.consult_name,
            d.dept_name,
            c.consult_content,
            c.consult_phone,
            c.doctor_username,
            c.consult_type,
            STR_TO_DATE( c.consult_time, '%Y-%m-%d %T' ) consultTime,
            c.patientcode
        FROM
            md_consulation c
                LEFT JOIN sys_dept d ON d.dept_no = c.dep_id
        <where>
            1 = 1
            <if test="param.consultName!=null and param.consultName!=''">
                AND c.consult_name like concat('%',#{param.consultName},'%')
            </if>
            <if test="param.consultPhone!=null and param.consultPhone!=''">
                AND c.consult_phone like concat('%',#{param.consultPhone},'%')
            </if>
            <if test="param.doctorUsername!=null and param.doctorUsername!=''">
                AND c.doctor_username like concat('%',#{param.doctorUsername},'%')
            </if>
            <if test="param.consultType!=null and param.consultType!=''">
                AND c.consult_type = #{param.consultType}
            </if>
            <if test="param.startTime!=null">
                AND c.consult_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND c.consult_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY c.consult_time DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ConsulationMap">
        <include refid="selectConsulationVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 咨询与随访统计分页查询 -->
    <select id="getStatisticsListData" resultType="com.center.medical.member.bean.vo.StatisticsListVo">
        SELECT
            c.doctor_username,
            c.consult_type,
            count( 1 ) AS count
        FROM
            md_consulation c
        <where>
            1 =1
            <if test="param.doctorUsername!=null and param.doctorUsername!=''">
                AND c.doctor_username like concat('%',#{param.doctorUsername},'%')
            </if>
            <if test="param.consultType!=null and param.consultType!=''">
                AND c.consult_type = #{param.consultType}
            </if>
            <if test="param.startTime!=null">
                AND c.consult_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND c.consult_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        GROUP BY c.doctor_username,c.consult_type
        ORDER BY c.doctor_username,c.consult_type
    </select>
</mapper>

