<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.SMSFollowUpMapper">


    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientVo">
        select id,
               id_orgpatient,
               id_cis,
               patientarchiveno,
               patientcode,
               patientbizno,
               idcardno,
               numorgresv,
               patientname,
               input_code,
               id_orgreservationgroup,
               id_orgreservation,
               id_org,
               org_name,
               org_depart,
               have_private,
               id_payway,
               payway,
               personpricelimit,
               id_sex,
               birthdate,
               age,
               id_marriage,
               marriage,
               id_nation,
               nation,
               address,
               id_informway,
               id_opendoctor,
               email,
               phone,
               id_patientclass,
               id_resarea,
               resarea,
               f_isforprepare,
               f_isforreserve,
               f_registered,
               dateregister,
               guidancenote,
               id_doctorreg,
               doctorreg,
               id_examtype,
               id_examsuite,
               examsuite_name,
               examsuite_alias,
               id_doctorapply,
               doctorapply,
               f_guidanceprinted,
               f_examstarted,
               f_readytofinal,
               f_paused,
               f_finallocked,
               f_finalexamed,
               id_doctorfinal,
               doctorfinal_name_r,
               datefinalexamed,
               f_closed,
               dateclosed,
               note,
               knowledge,
               timingstartedat,
               hospitalcode,
               id_examplace,
               parsedassignedsuiteandfi,
               parsedassignedgroupandfi,
               parsedsuiteandfi,
               parsedsuiteandfilab,
               id_guidenurse,
               patientnameencoded,
               patientcodehiden,
               f_wordprinted,
               guidancenote2,
               f_usecodehiden,
               id_patientclass3,
               dateregisternotime,
               counterreportprinted,
               f_isrecheck,
               f_settlenone,
               dateguidancereturned,
               f_outpatient,
               patientnamereceipt,
               patientnamepinyin,
               statusofhm,
               instancetag,
               inpatientno,
               insuranceno,
               countreportxml,
               countreportcompare,
               countreportoccupation,
               countreportoccupationpdf,
               countreportoccupationxml,
               scbs,
               id_tjtc,
               jzdw,
               jzdwr,
               spr,
               tjr,
               lqfs,
               yzbm,
               yjaddress,
               qtxz,
               is_hmdb,
               is_hmd,
               isjj,
               zgl,
               jhgl,
               jhys,
               jktjzt,
               zytjzt,
               tmyd,
               medicaldate,
               trades,
               cjjgsfyhf,
               bhgybsfyhf,
               yxjgsfyhf,
               medicaltype,
               prepayment,
               tcprice,
               createdate,
               modifydate,
               cultural,
               workno,
               work_date,
               harm_date,
               disease_print_num,
               health_print_num,
               readytofinal_date,
               guide_signle_count,
               short_code,
               is_noticed,
               review_pdf,
               contraindicated_pdf,
               disease_pdf,
               ts_limit,
               checkout_date,
               checkout_status,
               worktype_id,
               id_examclass,
               original_trade
        from md_peispatient
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.member.bean.vo.SMSFollowUpVo">
        SELECT
        p.id,
        p.patientcode,
        p.patientname,
        p.id_sex,
        '' sex,
        p.age,
        p.phone,
        p.idcardno,
        p.medicaldate,
        s.creater,
        p.dateguidancereturned,
        p.org_name,
        s.notify_result,
        STR_TO_DATE( s.notify_time, '%Y-%m-%d %T' ) AS notifyTime,
        p.is_noticed
        FROM
        md_peispatient p
        LEFT JOIN (
        SELECT
        *
        FROM
        md_sms_record sin2
        WHERE
        NOT EXISTS (
        SELECT
        1
        FROM
        md_sms_record sin1
        WHERE
        sin1.patientcode = sin2.patientcode
        AND sin1.notify_type = sin2.notify_type
        AND sin1.createdate > sin2.createdate
        )) s ON s.patientcode = p.patientcode
        AND s.notify_type = '0'
        <where>
            p.f_isforreserve = 1
            <if test="param.type!=null and param.type!=''">
                <if test="param.type == 0">
                    AND p.patientbizno IS NULL
                </if>
                <if test="param.type == 1">
                    AND p.patientbizno IS NOT NULL
                </if>
            </if>
            AND ( p.f_registered = 0 OR p.f_registered IS NULL )
            AND (
            p.f_paused IS NULL
            OR p.f_paused = 0
            )
            <if test="param.isReg!=null and param.isReg!=''">
                AND P.doctorapply = #{param.userNo}
            </if>
            <if test="param.startTime!=null">
                AND dateguidancereturned <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND dateguidancereturned <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.notifyResult!=null and param.notifyResult!=''">
                AND s.notify_result = #{param.notifyResult}
            </if>
            <if test="param.useCodeHiden!=null and param.useCodeHiden!=''">
                AND p.f_usecodehiden = #{param.useCodeHiden}
            </if>
        </where>
        <choose>
            <when test="param.isReg!=null and param.isReg == 1">
                ORDER BY
                (
                CASE
                WHEN p.dateguidancereturned <![CDATA[ >= ]]> #{beginDay}
                AND p.dateguidancereturned <![CDATA[ <= ]]> #{endDay}
                THEN
                1
                WHEN p.createdate IS NULL
                AND p.dateguidancereturned IS NULL THEN
                3 ELSE 2
                END
                ) ASC,(
                CASE
                WHEN p.dateguidancereturned IS NULL THEN
                p.createdate ELSE p.dateguidancereturned
                END
                ) DESC
            </when>
            <otherwise>
                ORDER BY IFNULL(S.NOTIFY_RESULT,1) ASC,P.MEDICALDATE ASC
            </otherwise>
        </choose>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">
        <include refid="selectPeispatientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

