<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.UserLevelMapper">

    <resultMap type="com.center.medical.member.bean.model.UserLevel" id="UserLevelMap">
        <id property="levelId" column="level_id"/>
        <result property="levelName" column="level_name"/>
        <result property="levelType" column="level_type"/>
        <result property="needAmount" column="need_amount"/>
        <result property="term" column="term"/>
        <result property="termType" column="term_type"/>
        <result property="img" column="img"/>
        <result property="discountRange" column="discount_range"/>
        <result property="discountType" column="discount_type"/>
        <result property="discount" column="discount"/>
        <result property="presScore" column="pres_score"/>
        <result property="rateScore" column="rate_score"/>
        <result property="status" column="status"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectUserLevelVo">
        select level_id,
               level_name,
               level_type,
               need_amount,
               term,
               term_type,
               img,
               discount_range,
               discount_type,
               discount,
               pres_score,
               rate_score,
               status,
               createdate,
               modifydate
        from md_user_level
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="UserLevelMap">
        <include refid="selectUserLevelVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="UserLevelMap">
        <include refid="selectUserLevelVo"/>
        <where>
            levelId = #{id}
        </where>
    </select>

</mapper>

