##导入宏定义
$!define

##保存文件（宏定义）
#save("/bean/model", ".java")

##包路径（宏定义）
#setPackageSuffix("bean.model")

##自动导入包（全局变量）
$!autoImport
#foreach($pkColumn in $tableInfo.pkColumn)
    #if($!pkColumn.shortType.equals("String"))import com.baomidou.mybatisplus.annotation.IdType;#end
    #break
#end
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import com.baomidou.mybatisplus.annotation.TableId;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;
import lombok.Data;

##表注释（宏定义）
#tableComment("表实体类")
@Data
##@Builder
@TableName("$tableInfo.obj.name")
@ApiModel(value="$!{tableInfo.name}",description="$tableInfo.comment实体类")
public class $!{tableInfo.name} extends Model<$!{tableInfo.name}> implements Serializable {
	private static final long serialVersionUID = $!tool.serial();
#foreach($column in $tableInfo.fullColumn)

    #foreach($pkColumn in $tableInfo.pkColumn)
        #if($!pkColumn.name.equals(${column.name}) && $!pkColumn.shortType.equals(
            "String"))@TableId(value="$!pkColumn.name", type = IdType.ASSIGN_ID)
        #elseif($!pkColumn.name.equals(${column.name})) @TableId(value="$!pkColumn.name")#end
        #break
    #end
	@ApiModelProperty(value = "${column.comment}")
	private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
}