<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.admin.dao.MdPeisorgreservationgroupMapper">

    <resultMap type="com.center.medical.datamove.admin.bean.model.MdPeisorgreservationgroup"
               id="MdPeisorgreservationgroupMap">
        <id property="id" column="id"/>
        <result property="idOrgreservationgroup" column="id_orgreservationgroup"/>
        <result property="idOrgreservation" column="id_orgreservation"/>
        <result property="orgreservationgroupname" column="orgreservationgroupname"/>
        <result property="inputCode" column="input_code"/>
        <result property="dispOrder" column="disp_order"/>
        <result property="orgName" column="org_name"/>
        <result property="dateexamplanned" column="dateexamplanned"/>
        <result property="instruction" column="instruction"/>
        <result property="fMale" column="f_male"/>
        <result property="fFemale" column="f_female"/>
        <result property="fHasmarried" column="f_hasmarried"/>
        <result property="fNevermarried" column="f_nevermarried"/>
        <result property="agemin" column="agemin"/>
        <result property="agemax" column="agemax"/>
        <result property="grouptype" column="grouptype"/>
        <result property="idExamtype" column="id_examtype"/>
        <result property="idExamsuite" column="id_examsuite"/>
        <result property="examsuiteAlias" column="examsuite_alias"/>
        <result property="countexaminee" column="countexaminee"/>
        <result property="idPayway" column="id_payway"/>
        <result property="payway" column="payway"/>
        <result property="offpercent" column="offpercent"/>
        <result property="grouppricelimit" column="grouppricelimit"/>
        <result property="fGroupstarted" column="f_groupstarted"/>
        <result property="fGrouppaused" column="f_grouppaused"/>
        <result property="idPatientclass" column="id_patientclass"/>
        <result property="confidentiallevel" column="confidentiallevel"/>
        <result property="note" column="note"/>
        <result property="idExamplace" column="id_examplace"/>
        <result property="guidancenotegroup" column="guidancenotegroup"/>
        <result property="fUsecodehidengroup" column="f_usecodehidengroup"/>
        <result property="idPatientclass2" column="id_patientclass2"/>
        <result property="idPatientclass3" column="id_patientclass3"/>
        <result property="keyoccudiseasedutystatus" column="keyoccudiseasedutystatus"/>
        <result property="hazardfactorsuite" column="hazardfactorsuite"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="fzxid" column="fzxid"/>
        <result property="isShowMoney" column="is_show_money"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPeisorgreservationgroupVo">
        select id,
               id_orgreservationgroup,
               id_orgreservation,
               orgreservationgroupname,
               input_code,
               disp_order,
               org_name,
               dateexamplanned,
               instruction,
               f_male,
               f_female,
               f_hasmarried,
               f_nevermarried,
               agemin,
               agemax,
               grouptype,
               id_examtype,
               id_examsuite,
               examsuite_alias,
               countexaminee,
               id_payway,
               payway,
               offpercent,
               grouppricelimit,
               f_groupstarted,
               f_grouppaused,
               id_patientclass,
               confidentiallevel,
               note,
               id_examplace,
               guidancenotegroup,
               f_usecodehidengroup,
               id_patientclass2,
               id_patientclass3,
               keyoccudiseasedutystatus,
               hazardfactorsuite,
               createdate,
               modifydate,
               is_delete,
               fzxid,
               is_show_money
        from md_peisorgreservationgroup
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPeisorgreservationgroupMap">
        <include refid="selectMdPeisorgreservationgroupVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPeisorgreservationgroupMap">
        <include refid="selectMdPeisorgreservationgroupVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

