##导入宏定义
$!define

##设置表后缀（宏定义）
#setTableSuffix("Service")

##保存文件（宏定义）
#save("/service", "Service.java")

##包路径（宏定义）
#setPackageSuffix("service")

import com.baomidou.mybatisplus.extension.service.IService;
import $!{tableInfo.savePackageName}.bean.model.$!tableInfo.name;
import com.baomidou.mybatisplus.core.metadata.IPage;
import page.utils.com.center.medical.common.PageParam;

##表注释（宏定义）
#tableComment("表服务接口")
public interface $!{tableName} extends IService<$!tableInfo.name> {

	/**
	* 分页查询[$!tableInfo.comment]列表
	*
	* @param page 分页参数
	* @param param 查询参数
	* @return 分页数据
	*/
	IPage<$!tableInfo.name> getPage(PageParam<$!tableInfo.name> page, $!tableInfo.name param);

	#if($!tableInfo.pkColumn.size()>0)
	/**
	* 根据主键id获取记录详情
	*
	* @param id 主键$!tableInfo.pkColumn.get(0).name
	* @return 详情信息
	*/
		$!tableInfo.name getInfoById($!tableInfo.pkColumn.get(0).shortType id);
	#end

}
