<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.center.common.dao.LisZhongHeMapper">
    <select id="selectList" resultType="com.center.medical.center.common.bean.dto.LisZhongHeDto">
        SELECT
            r.HOSP_BAR_CODE,
            r.PAT_NAME,
            r.REPORT_DOCTOR,
            CONVERT ( VARCHAR,p.APPLY_DATE, 120 ) AS jyrqq,
            r.HOSP_TEST_ID,
            r.REPORT_RESULT,
            r.TEST_STATE,
            r.REFERENCE,
            r.UNIT AS itemunit,
            '' AS sampleno,
            '' AS sex,
            r.VERIFIED_DOCTOR,
            CONVERT ( VARCHAR,p.RESULT_DATE, 120 ) AS checkdatetime,
            '' AS checkercode,
            '' AS techniciancode,
            '' AS wzms
        FROM
            dbo.T_TEST_RESULTS_HIS_REPORT r
        INNER JOIN
            dbo.T_TEST_PATIENTS_HIS_REPORT p ON r.PTID = p.PTID
        WHERE
            r.HOSP_BAR_CODE = #{patientcode8}
        ORDER BY
            r.TEST_DATE DESC
    </select>
</mapper>