<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.center.common.dao.RilinTotalVerdictMapper">

    <delete id="removeByPatientcodes" parameterType="String">
        DELETE
        FROM
        md_total_verdict tv
        WHERE
        EXISTS (
            SELECT
            *
            FROM
            md_section_total st
            WHERE
            st.id = tv.total_id
            AND st.patientcode IN
            <foreach collection="patientcodes" item="patientcode" open="(" separator="," close=")">
                #{patientcode}
            </foreach>
        )
    </delete>
</mapper>
