<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppOrderItemMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppOrderItem" id="AppOrderItemMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="itemId" column="ITEM_ID"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="isOptional" column="IS_OPTIONAL"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppOrderItemVo">
        select ID, CREATEDATE, MODIFYDATE, ITEM_ID, ORDER_ID, IS_OPTIONAL
        from APP_ORDER_ITEM
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppOrderItemMap">
        <include refid="selectAppOrderItemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppOrderItemMap">
        <include refid="selectAppOrderItemVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

