<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppUserQuestionnaireMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppUserQuestionnaire" id="AppUserQuestionnaireMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="appUserId" column="APP_USER_ID"/>
        <result property="questionnaireId" column="QUESTIONNAIRE_ID"/>
        <result property="familyId" column="FAMILY_ID"/>
        <result property="isFamily" column="IS_FAMILY"/>
        <result property="branchId" column="BRANCH_ID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="doctorId" column="DOCTOR_ID"/>
        <result property="status" column="STATUS"/>
        <result property="checkTime" column="CHECK_TIME"/>
        <result property="payTime" column="PAY_TIME"/>
        <result property="price" column="PRICE"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="refundTime" column="REFUND_TIME"/>
        <result property="refundUsername" column="REFUND_USERNAME"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppUserQuestionnaireVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               APP_USER_ID,
               QUESTIONNAIRE_ID,
               FAMILY_ID,
               IS_FAMILY,
               BRANCH_ID,
               IS_DELETE,
               DOCTOR_ID,
               STATUS,
               CHECK_TIME,
               PAY_TIME,
               PRICE,
               MODIFIER,
               REFUND_TIME,
               REFUND_USERNAME
        from APP_USER_QUESTIONNAIRE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppUserQuestionnaireMap">
        <include refid="selectAppUserQuestionnaireVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppUserQuestionnaireMap">
        <include refid="selectAppUserQuestionnaireVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

