<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AreaMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Area" id="AreaMap">
        <id property="id" column="ID"/>
        <result property="resarea" column="RESAREA"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="areaCode" column="AREA_CODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDefault" column="IS_DEFAULT"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAreaVo">
        select ID, RESAREA, INPUT_CODE, AREA_CODE, CREATEDATE, MODIFYDATE, IS_DEFAULT
        from AREA
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AreaMap">
        <include refid="selectAreaVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AreaMap">
        <include refid="selectAreaVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

