<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.BasconclusionMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Basconclusion" id="BasconclusionMap">
        <id property="id" column="ID"/>
        <result property="sysmanmark" column="SYSMANMARK"/>
        <result property="keyconclusion" column="KEYCONCLUSION"/>
        <result property="name" column="NAME"/>
        <result property="conclusionNameeng" column="CONCLUSION_NAMEENG"/>
        <result property="conclusionCode" column="CONCLUSION_CODE"/>
        <result property="conclusionCode2" column="CONCLUSION_CODE2"/>
        <result property="conclusionCode3" column="CONCLUSION_CODE3"/>
        <result property="conclusionCodehm" column="CONCLUSION_CODEHM"/>
        <result property="conclusioncodex" column="CONCLUSIONCODEX"/>
        <result property="idConclusiontype" column="ID_CONCLUSIONTYPE"/>
        <result property="idConclusiontype2" column="ID_CONCLUSIONTYPE2"/>
        <result property="idConclusiontype3" column="ID_CONCLUSIONTYPE3"/>
        <result property="idConclusiongroup" column="ID_CONCLUSIONGROUP"/>
        <result property="idConclusionlink" column="ID_CONCLUSIONLINK"/>
        <result property="idConclusionmedinsurance" column="ID_CONCLUSIONMEDINSURANCE"/>
        <result property="idConclusioncadre" column="ID_CONCLUSIONCADRE"/>
        <result property="idConclusionoccup" column="ID_CONCLUSIONOCCUP"/>
        <result property="idSection" column="ID_SECTION"/>
        <result property="depiction" column="DEPICTION"/>
        <result property="suggestion" column="SUGGESTION"/>
        <result property="advice" column="ADVICE"/>
        <result property="dietguide" column="DIETGUIDE"/>
        <result property="sportguide" column="SPORTGUIDE"/>
        <result property="knowledge" column="KNOWLEDGE"/>
        <result property="suggestiongroup" column="SUGGESTIONGROUP"/>
        <result property="idIcd10" column="ID_ICD10"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="inputcodeb" column="INPUTCODEB"/>
        <result property="inputcodec" column="INPUTCODEC"/>
        <result property="inputcoded" column="INPUTCODED"/>
        <result property="inputcodee" column="INPUTCODEE"/>
        <result property="disporder" column="DISPORDER"/>
        <result property="idSpecialconclusionlist" column="ID_SPECIALCONCLUSIONLIST"/>
        <result property="fRealdisease" column="F_REALDISEASE"/>
        <result property="fMaledisease" column="F_MALEDISEASE"/>
        <result property="fFemaledisease" column="F_FEMALEDISEASE"/>
        <result property="fHideongroupreport" column="F_HIDEONGROUPREPORT"/>
        <result property="disporderOngroupreport" column="DISPORDER_ONGROUPREPORT"/>
        <result property="conclusionfindermatch" column="CONCLUSIONFINDERMATCH"/>
        <result property="conclusion" column="CONCLUSION"/>
        <result property="fNormalconclusion" column="F_NORMALCONCLUSION"/>
        <result property="severedegree" column="SEVEREDEGREE"/>
        <result property="fOccudiseaseobject" column="F_OCCUDISEASEOBJECT"/>
        <result property="fOccudiseasecontraindication" column="F_OCCUDISEASECONTRAINDICATION"/>
        <result property="suggestionoccudisease" column="SUGGESTIONOCCUDISEASE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="note" column="NOTE"/>
        <result property="status" column="STATUS"/>
        <result property="divisionId" column="DIVISION_ID"/>
        <result property="isLong" column="IS_LONG"/>
        <result property="depName" column="DEP_NAME"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="isPublic" column="IS_PUBLIC"/>
        <result property="fzxIds" column="FZX_IDS"/>
        <result property="creater" column="CREATER"/>
        <result property="auditer" column="AUDITER"/>
        <result property="auditTime" column="AUDIT_TIME"/>
        <result property="auditStatus" column="AUDIT_STATUS"/>
        <result property="scbz" column="SCBZ"/>
        <result property="isInCommonUse" column="IS_IN_COMMON_USE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBasconclusionVo">
        select ID,
               SYSMANMARK,
               KEYCONCLUSION,
               NAME,
               CONCLUSION_NAMEENG,
               CONCLUSION_CODE,
               CONCLUSION_CODE2,
               CONCLUSION_CODE3,
               CONCLUSION_CODEHM,
               CONCLUSIONCODEX,
               ID_CONCLUSIONTYPE,
               ID_CONCLUSIONTYPE2,
               ID_CONCLUSIONTYPE3,
               ID_CONCLUSIONGROUP,
               ID_CONCLUSIONLINK,
               ID_CONCLUSIONMEDINSURANCE,
               ID_CONCLUSIONCADRE,
               ID_CONCLUSIONOCCUP,
               ID_SECTION,
               DEPICTION,
               SUGGESTION,
               ADVICE,
               DIETGUIDE,
               SPORTGUIDE,
               KNOWLEDGE,
               SUGGESTIONGROUP,
               ID_ICD10,
               INPUT_CODE,
               INPUTCODEB,
               INPUTCODEC,
               INPUTCODED,
               INPUTCODEE,
               DISPORDER,
               ID_SPECIALCONCLUSIONLIST,
               F_REALDISEASE,
               F_MALEDISEASE,
               F_FEMALEDISEASE,
               F_HIDEONGROUPREPORT,
               DISPORDER_ONGROUPREPORT,
               CONCLUSIONFINDERMATCH,
               CONCLUSION,
               F_NORMALCONCLUSION,
               SEVEREDEGREE,
               F_OCCUDISEASEOBJECT,
               F_OCCUDISEASECONTRAINDICATION,
               SUGGESTIONOCCUDISEASE,
               CREATEDATE,
               MODIFYDATE,
               NOTE,
               STATUS,
               DIVISION_ID,
               IS_LONG,
               DEP_NAME,
               IS_DELETE,
               IS_PUBLIC,
               FZX_IDS,
               CREATER,
               AUDITER,
               AUDIT_TIME,
               AUDIT_STATUS,
               SCBZ,
               IS_IN_COMMON_USE
        from BASCONCLUSION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="BasconclusionMap">
        <include refid="selectBasconclusionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BasconclusionMap">
        <include refid="selectBasconclusionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

