<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.BaseAdiconExamItemCodeMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.BaseAdiconExamItemCode"
               id="BaseAdiconExamItemCodeMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseAdiconExamItemCodeVo">
        select ID, CREATEDATE, MODIFYDATE, ITEM_CODE, ITEM_NAME, INPUT_CODE
        from BASE_ADICON_EXAM_ITEM_CODE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="BaseAdiconExamItemCodeMap">
        <include refid="selectBaseAdiconExamItemCodeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseAdiconExamItemCodeMap">
        <include refid="selectBaseAdiconExamItemCodeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

