<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CardRecheckRecordMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.CardRecheckRecord" id="CardRecheckRecordMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="startMoney" column="START_MONEY"/>
        <result property="endMoney" column="END_MONEY"/>
        <result property="money" column="MONEY"/>
        <result property="note" column="NOTE"/>
        <result property="cardNo" column="CARD_NO"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="chargeTime" column="CHARGE_TIME"/>
        <result property="chargeType" column="CHARGE_TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCardRecheckRecordVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               START_MONEY,
               END_MONEY,
               MONEY,
               NOTE,
               CARD_NO,
               PATIENTCODE,
               CHARGE_TIME,
               CHARGE_TYPE
        from CARD_RECHECK_RECORD
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CardRecheckRecordMap">
        <include refid="selectCardRecheckRecordVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CardRecheckRecordMap">
        <include refid="selectCardRecheckRecordVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

