<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ComboexamitemMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Comboexamitem" id="ComboexamitemMap">
        <id property="id" column="ID"/>
        <result property="harmId" column="HARM_ID"/>
        <result property="examId" column="EXAM_ID"/>
        <result property="itemId" column="ITEM_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="scopeUpper" column="SCOPE_UPPER"/>
        <result property="scoperFloor" column="SCOPER_FLOOR"/>
        <result property="gscopeupper" column="GSCOPEUPPER"/>
        <result property="gscoperfloor" column="GSCOPERFLOOR"/>
        <result property="comboId" column="COMBO_ID"/>
        <result property="medicalType" column="MEDICAL_TYPE"/>
        <result property="ksId" column="KS_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectComboexamitemVo">
        select HARM_ID,
               EXAM_ID,
               ITEM_ID,
               ID,
               CREATEDATE,
               MODIFYDATE,
               SCOPE_UPPER,
               SCOPER_FLOOR,
               GSCOPEUPPER,
               GSCOPERFLOOR,
               COMBO_ID,
               MEDICAL_TYPE,
               KS_ID
        from COMBOEXAMITEM
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ComboexamitemMap">
        <include refid="selectComboexamitemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ComboexamitemMap">
        <include refid="selectComboexamitemVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

