<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CountryMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Country" id="CountryMap">
        <id property="id" column="ID"/>
        <result property="keycountry" column="KEYCOUNTRY"/>
        <result property="countryName" column="COUNTRY_NAME"/>
        <result property="countryCode" column="COUNTRY_CODE"/>
        <result property="countryCode2" column="COUNTRY_CODE2"/>
        <result property="countryCode3" column="COUNTRY_CODE3"/>
        <result property="countryCodehm" column="COUNTRY_CODEHM"/>
        <result property="countryCodexh" column="COUNTRY_CODEXH"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="note" column="NOTE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCountryVo">
        select ID,
               KEYCOUNTRY,
               COUNTRY_NAME,
               COUNTRY_CODE,
               COUNTRY_CODE2,
               COUNTRY_CODE3,
               COUNTRY_CODEHM,
               COUNTRY_CODEXH,
               INPUT_CODE,
               NOTE,
               CREATEDATE,
               MODIFYDATE
        from COUNTRY
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CountryMap">
        <include refid="selectCountryVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CountryMap">
        <include refid="selectCountryVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

