<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CreateOrderQtxzMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.CreateOrderQtxz" id="CreateOrderQtxzMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="qtxz" column="QTXZ"/>
        <result property="oldQtxz" column="OLD_QTXZ"/>
        <result property="idx" column="IDX"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCreateOrderQtxzVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               ORDER_ID,
               USERNAME,
               QTXZ,
               OLD_QTXZ,
               IDX
        from CREATE_ORDER_QTXZ
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CreateOrderQtxzMap">
        <include refid="selectCreateOrderQtxzVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CreateOrderQtxzMap">
        <include refid="selectCreateOrderQtxzVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

