<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CustomerOperateHistoryMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.CustomerOperateHistory"
               id="CustomerOperateHistoryMap">
        <result property="operateId" column="OPERATE_ID"/>
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="khdwid" column="KHDWID"/>
        <result property="khdwmc" column="KHDWMC"/>
        <result property="operateType" column="OPERATE_TYPE"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="xsjlmc" column="XSJLMC"/>
        <result property="operateName" column="OPERATE_NAME"/>
        <result property="fprid" column="FPRID"/>
        <result property="fprmc" column="FPRMC"/>
        <result property="fromXsjlid" column="FROM_XSJLID"/>
        <result property="fromXsjlname" column="FROM_XSJLNAME"/>
        <result property="transType" column="TRANS_TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCustomerOperateHistoryVo">
        select OPERATE_ID,
               ID,
               CREATEDATE,
               MODIFYDATE,
               KHDWID,
               KHDWMC,
               OPERATE_TYPE,
               XSJLID,
               XSJLMC,
               OPERATE_NAME,
               FPRID,
               FPRMC,
               FROM_XSJLID,
               FROM_XSJLNAME,
               TRANS_TYPE
        from CUSTOMER_OPERATE_HISTORY
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CustomerOperateHistoryMap">
        <include refid="selectCustomerOperateHistoryVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CustomerOperateHistoryMap">
        <include refid="selectCustomerOperateHistoryVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

