<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.FxDetectionzyMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.FxDetectionzy" id="FxDetectionzyMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="sampleId" column="SAMPLE_ID"/>
        <result property="disease" column="DISEASE"/>
        <result property="checkNum" column="CHECK_NUM"/>
        <result property="occupationDiseast" column="OCCUPATION_DISEAST"/>
        <result property="occupationDiagnosis" column="OCCUPATION_DIAGNOSIS"/>
        <result property="harmName" column="HARM_NAME"/>
        <result property="harmNum" column="HARM_NUM"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFxDetectionzyVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               SAMPLE_ID,
               DISEASE,
               CHECK_NUM,
               OCCUPATION_DISEAST,
               OCCUPATION_DIAGNOSIS,
               HARM_NAME,
               HARM_NUM
        from FX_DETECTIONZY
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="FxDetectionzyMap">
        <include refid="selectFxDetectionzyVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FxDetectionzyMap">
        <include refid="selectFxDetectionzyVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

