<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.HarmPackageMatchMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.HarmPackageMatch" id="HarmPackageMatchMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="tcid" column="TCID"/>
        <result property="harmId" column="HARM_ID"/>
        <result property="pharmId" column="PHARM_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectHarmPackageMatchVo">
        select ID, CREATEDATE, MODIFYDATE, TCID, HARM_ID, PHARM_ID
        from HARM_PACKAGE_MATCH
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="HarmPackageMatchMap">
        <include refid="selectHarmPackageMatchVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="HarmPackageMatchMap">
        <include refid="selectHarmPackageMatchVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

