<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.InterfaceAccountMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.InterfaceAccount" id="InterfaceAccountMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="key" column="KEY"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectInterfaceAccountVo">
        select ID, CREATEDATE, MODIFYDATE, USERNAME, PASSWORD, KEY
        from INTERFACE_ACCOUNT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="InterfaceAccountMap">
        <include refid="selectInterfaceAccountVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="InterfaceAccountMap">
        <include refid="selectInterfaceAccountVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

