<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.LaboratoryResultMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.LaboratoryResult" id="LaboratoryResultMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="projectsId" column="PROJECTS_ID"/>
        <result property="lisCode" column="LIS_CODE"/>
        <result property="projects" column="PROJECTS"/>
        <result property="intensiveLevel" column="INTENSIVE_LEVEL"/>
        <result property="projectsResult" column="PROJECTS_RESULT"/>
        <result property="isNormal" column="IS_NORMAL"/>
        <result property="unit" column="UNIT"/>
        <result property="resultUpper" column="RESULT_UPPER"/>
        <result property="resultFloor" column="RESULT_FLOOR"/>
        <result property="doctorId" column="DOCTOR_ID"/>
        <result property="inspectCode" column="INSPECT_CODE"/>
        <result property="inspectTime" column="INSPECT_TIME"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectLaboratoryResultVo">
        select ID,
               PATIENTCODE,
               CREATE_ID,
               MODIFY_ID,
               PROJECTS_ID,
               LIS_CODE,
               PROJECTS,
               INTENSIVE_LEVEL,
               PROJECTS_RESULT,
               IS_NORMAL,
               UNIT,
               RESULT_UPPER,
               RESULT_FLOOR,
               DOCTOR_ID,
               INSPECT_CODE,
               INSPECT_TIME,
               CREATEDATE,
               MODIFYDATE
        from LABORATORY_RESULT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="LaboratoryResultMap">
        <include refid="selectLaboratoryResultVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="LaboratoryResultMap">
        <include refid="selectLaboratoryResultVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

