<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.NationMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Nation" id="NationMap">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="romeCode" column="ROME_CODE"/>
        <result property="wordCode" column="WORD_CODE"/>
        <result property="numberCode" column="NUMBER_CODE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectNationVo">
        select ID,
               NAME,
               INPUT_CODE,
               CREATEDATE,
               MODIFYDATE,
               ROME_CODE,
               WORD_CODE,
               NUMBER_CODE
        from NATION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="NationMap">
        <include refid="selectNationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="NationMap">
        <include refid="selectNationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

