<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.OccupationDrugMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.OccupationDrug" id="OccupationDrugMap">
        <id property="id" column="ID"/>
        <result property="harmId" column="HARM_ID"/>
        <result property="poststage" column="POSTSTAGE"/>
        <result property="industrialDisease" column="INDUSTRIAL_DISEASE"/>
        <result property="contraindication" column="CONTRAINDICATION"/>
        <result property="keyword" column="KEYWORD"/>
        <result property="diagnosis" column="DIAGNOSIS"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isPublic" column="IS_PUBLIC"/>
        <result property="fzxIds" column="FZX_IDS"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOccupationDrugVo">
        select ID,
               HARM_ID,
               POSTSTAGE,
               INDUSTRIAL_DISEASE,
               CONTRAINDICATION,
               KEYWORD,
               DIAGNOSIS,
               CREATEDATE,
               MODIFYDATE,
               IS_PUBLIC,
               FZX_IDS
        from OCCUPATION_DRUG
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OccupationDrugMap">
        <include refid="selectOccupationDrugVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OccupationDrugMap">
        <include refid="selectOccupationDrugVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

