<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.OccupationDiseastMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.OccupationDiseast" id="OccupationDiseastMap">
        <id property="id" column="ID"/>
        <result property="occupationDiseastCode" column="OCCUPATION_DISEAST_CODE"/>
        <result property="occupationDiseast" column="OCCUPATION_DISEAST"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="occupationDiseastClass" column="OCCUPATION_DISEAST_CLASS"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOccupationDiseastVo">
        select ID,
               OCCUPATION_DISEAST_CODE,
               OCCUPATION_DISEAST,
               INPUT_CODE,
               DB_USER,
               OCCUPATION_DISEAST_CLASS,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE
        from OCCUPATION_DISEAST
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OccupationDiseastMap">
        <include refid="selectOccupationDiseastVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OccupationDiseastMap">
        <include refid="selectOccupationDiseastVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

