<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.OtherReportMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.OtherReport" id="OtherReportMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="pdfUrl" column="PDF_URL"/>
        <result property="configId" column="CONFIG_ID"/>
        <result property="createStatus" column="CREATE_STATUS"/>
        <result property="errorMsg" column="ERROR_MSG"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="reportType" column="REPORT_TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOtherReportVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               PDF_URL,
               CONFIG_ID,
               CREATE_STATUS,
               ERROR_MSG,
               CREATER,
               CREATE_TIME,
               REPORT_TYPE
        from OTHER_REPORT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

