<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.OutsideMainMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.OutsideMain" id="OutsideMainMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="sendPeople" column="SEND_PEOPLE"/>
        <result property="sendDate" column="SEND_DATE"/>
        <result property="backPeople" column="BACK_PEOPLE"/>
        <result property="backDate" column="BACK_DATE"/>
        <result property="note" column="NOTE"/>
        <result property="wsjg" column="WSJG"/>
        <result property="patientname" column="PATIENTNAME"/>
        <result property="status" column="STATUS"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOutsideMainVo">
        select ID,
               PATIENTCODE,
               CREATEDATE,
               MODIFYDATE,
               SEND_PEOPLE,
               SEND_DATE,
               BACK_PEOPLE,
               BACK_DATE,
               NOTE,
               WSJG,
               PATIENTNAME,
               STATUS,
               IS_DELETE
        from OUTSIDE_MAIN
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OutsideMainMap">
        <include refid="selectOutsideMainVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OutsideMainMap">
        <include refid="selectOutsideMainVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

