<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.OutsidePictrueMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.OutsidePictrue" id="OutsidePictrueMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="pictruePosition" column="PICTRUE_POSITION"/>
        <result property="orderIndex" column="ORDER_INDEX"/>
        <result property="chargeId" column="CHARGE_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOutsidePictrueVo">
        select ID, PATIENTCODE, CREATEDATE, MODIFYDATE, PICTRUE_POSITION, ORDER_INDEX, CHARGE_ID
        from OUTSIDE_PICTRUE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OutsidePictrueMap">
        <include refid="selectOutsidePictrueVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OutsidePictrueMap">
        <include refid="selectOutsidePictrueVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

