<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PacsPdfMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.PacsPdf" id="PacsPdfMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="feeitemId" column="FEEITEM_ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="pdfUrl" column="PDF_URL"/>
        <result property="depId" column="DEP_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPacsPdfVo">
        select ID, CREATEDATE, MODIFYDATE, FEEITEM_ID, PATIENTCODE, PDF_URL, DEP_ID
        from PACS_PDF
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PacsPdfMap">
        <include refid="selectPacsPdfVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PacsPdfMap">
        <include refid="selectPacsPdfVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

