<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeispatientarchiveMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Peispatientarchive" id="PeispatientarchiveMap">
        <result property="idPatientarchive" column="ID_PATIENTARCHIVE"/>
        <result property="patientarchiveno" column="PATIENTARCHIVENO"/>
        <result property="patientcardno" column="PATIENTCARDNO"/>
        <result property="idcardno" column="IDCARDNO"/>
        <result property="patientname" column="PATIENTNAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="idSex" column="ID_SEX"/>
        <result property="sex" column="SEX"/>
        <result property="age" column="AGE"/>
        <result property="agebasedate" column="AGEBASEDATE"/>
        <result property="birthdate" column="BIRTHDATE"/>
        <result property="idMarriage" column="ID_MARRIAGE"/>
        <result property="marriage" column="MARRIAGE"/>
        <result property="idNation" column="ID_NATION"/>
        <result property="nation" column="NATION"/>
        <result property="address" column="ADDRESS"/>
        <result property="phone" column="PHONE"/>
        <result property="idEducation" column="ID_EDUCATION"/>
        <result property="education" column="EDUCATION"/>
        <result property="idOccupation" column="ID_OCCUPATION"/>
        <result property="occupation" column="OCCUPATION"/>
        <result property="idResarea" column="ID_RESAREA"/>
        <result property="resarea" column="RESAREA"/>
        <result property="dateregister" column="DATEREGISTER"/>
        <result property="note" column="NOTE"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="ishmd" column="ISHMD"/>
        <result property="hmdbz" column="HMDBZ"/>
        <result property="restatus" column="RESTATUS"/>
        <result property="yjgzbj" column="YJGZBJ"/>
        <result property="memberlevel" column="MEMBERLEVEL"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="cultural" column="CULTURAL"/>
        <result property="isOrg" column="IS_ORG"/>
        <result property="membercreate" column="MEMBERCREATE"/>
        <result property="khjl" column="KHJL"/>
        <result property="jf" column="JF"/>
        <result property="fzx" column="FZX"/>
        <result property="dw" column="DW"/>
        <id property="id" column="ID"/>
        <result property="countreportoccupationxml" column="COUNTREPORTOCCUPATIONXML"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="isMain" column="IS_MAIN"/>
        <result property="source" column="SOURCE"/>
        <result property="oldCard" column="OLD_CARD"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientarchiveVo">
        select ID_PATIENTARCHIVE,
               PATIENTARCHIVENO,
               PATIENTCARDNO,
               IDCARDNO,
               PATIENTNAME,
               INPUT_CODE,
               ID_SEX,
               SEX,
               AGE,
               AGEBASEDATE,
               BIRTHDATE,
               ID_MARRIAGE,
               MARRIAGE,
               ID_NATION,
               NATION,
               ADDRESS,
               PHONE,
               ID_EDUCATION,
               EDUCATION,
               ID_OCCUPATION,
               OCCUPATION,
               ID_RESAREA,
               RESAREA,
               DATEREGISTER,
               NOTE,
               CREATE_DATE,
               MODIFY_DATE,
               ISHMD,
               HMDBZ,
               RESTATUS,
               YJGZBJ,
               MEMBERLEVEL,
               CREATEDATE,
               MODIFYDATE,
               CULTURAL,
               IS_ORG,
               MEMBERCREATE,
               KHJL,
               JF,
               FZX,
               DW,
               ID,
               COUNTREPORTOCCUPATIONXML,
               IS_DELETE,
               IS_MAIN,
               SOURCE,
               OLD_CARD
        from PEISPATIENTARCHIVE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientarchiveMap">
        <include refid="selectPeispatientarchiveVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientarchiveMap">
        <include refid="selectPeispatientarchiveVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

