<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeispatientscclMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Peispatientsccl" id="PeispatientscclMap">
        <id property="id" column="ID"/>
        <result property="clname" column="CLNAME"/>
        <result property="idFzx" column="ID_FZX"/>
        <result property="clcontent" column="CLCONTENT"/>
        <result property="jm" column="JM"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientscclVo">
        select ID, CLNAME, ID_FZX, CLCONTENT, JM, CREATEDATE, MODIFYDATE
        from PEISPATIENTSCCL
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientscclMap">
        <include refid="selectPeispatientscclVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientscclMap">
        <include refid="selectPeispatientscclVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

