<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeisStateMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.PeisState" id="PeisStateMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="fDiffperson" column="F_DIFFPERSON"/>
        <result property="fInneroper" column="F_INNEROPER"/>
        <result property="patientflag" column="PATIENTFLAG"/>
        <result property="idPatientclass2" column="ID_PATIENTCLASS2"/>
        <result property="idGuidancereturnedby" column="ID_GUIDANCERETURNEDBY"/>
        <result property="scbs" column="SCBS"/>
        <result property="countreportpdf" column="COUNTREPORTPDF"/>
        <result property="countreportcomparexml" column="COUNTREPORTCOMPAREXML"/>
        <result property="isBatchRegistered" column="IS_BATCH_REGISTERED"/>
        <result property="jinanMsg" column="JINAN_MSG"/>
        <result property="jinanStatus" column="JINAN_STATUS"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>
        <result property="healthCareId" column="HEALTH_CARE_ID"/>
        <result property="isDongruanRecieved" column="IS_DONGRUAN_RECIEVED"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeisStateVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               F_DIFFPERSON,
               F_INNEROPER,
               PATIENTFLAG,
               ID_PATIENTCLASS2,
               ID_GUIDANCERETURNEDBY,
               SCBS,
               COUNTREPORTPDF,
               COUNTREPORTCOMPAREXML,
               IS_BATCH_REGISTERED,
               JINAN_MSG,
               JINAN_STATUS,
               UPLOAD_DATE,
               HEALTH_CARE_ID,
               IS_DONGRUAN_RECIEVED
        from PEIS_STATE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

