<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeispatientMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Peispatient" id="PeispatientMap">
        <id property="id" column="ID"/>
        <result property="idCis" column="ID_CIS"/>
        <result property="idPatientarchive" column="ID_PATIENTARCHIVE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="patientarchiveno" column="PATIENTARCHIVENO"/>
        <result property="patientcardno" column="PATIENTCARDNO"/>
        <result property="patientbizno" column="PATIENTBIZNO"/>
        <result property="idcardno" column="IDCARDNO"/>
        <result property="numorgresv" column="NUMORGRESV"/>
        <result property="patientname" column="PATIENTNAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="idOrgreservationgroup" column="ID_ORGRESERVATIONGROUP"/>
        <result property="idOrgreservation" column="ID_ORGRESERVATION"/>
        <result property="idOrg" column="ID_ORG"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="orgDepart" column="ORG_DEPART"/>
        <result property="havePrivate" column="have_private"/>
        <result property="idPayway" column="ID_PAYWAY"/>
        <result property="payway" column="PAYWAY"/>
        <result property="personpricelimit" column="PERSONPRICELIMIT"/>
        <result property="idSex" column="ID_SEX"/>
        <result property="birthdate" column="BIRTHDATE"/>
        <result property="age" column="AGE"/>
        <result property="idMarriage" column="ID_MARRIAGE"/>
        <result property="marriage" column="MARRIAGE"/>
        <result property="idNation" column="ID_NATION"/>
        <result property="nation" column="NATION"/>
        <result property="address" column="ADDRESS"/>
        <result property="idInformway" column="ID_INFORMWAY"/>
        <result property="idOpendoctor" column="ID_OPENDOCTOR"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="idPatientclass" column="ID_PATIENTCLASS"/>
        <result property="idResarea" column="ID_RESAREA"/>
        <result property="resarea" column="RESAREA"/>
        <result property="fIsforprepare" column="F_ISFORPREPARE"/>
        <result property="fIsforreserve" column="F_ISFORRESERVE"/>
        <result property="fRegistered" column="F_REGISTERED"/>
        <result property="dateregister" column="DATEREGISTER"/>
        <result property="moneyamount" column="MONEYAMOUNT"/>
        <result property="moneyamountpaid" column="MONEYAMOUNTPAID"/>
        <result property="guidancenote" column="GUIDANCENOTE"/>
        <result property="workno" column="WORKNO"/>
        <result property="idDoctorreg" column="ID_DOCTORREG"/>
        <result property="doctorreg" column="DOCTORREG"/>
        <result property="idExamtype" column="ID_EXAMTYPE"/>
        <result property="examsuiteName" column="EXAMSUITE_NAME"/>
        <result property="examsuiteAlias" column="EXAMSUITE_ALIAS"/>
        <result property="idDoctorapply" column="ID_DOCTORAPPLY"/>
        <result property="doctorapply" column="DOCTORAPPLY"/>
        <result property="fGuidanceprinted" column="F_GUIDANCEPRINTED"/>
        <result property="fExamstarted" column="F_EXAMSTARTED"/>
        <result property="fReadytofinal" column="F_READYTOFINAL"/>
        <result property="idDoctorfee" column="ID_DOCTORFEE"/>
        <result property="fPaused" column="F_PAUSED"/>
        <result property="fFinallocked" column="F_FINALLOCKED"/>
        <result property="fFinalexamed" column="F_FINALEXAMED"/>
        <result property="idDoctorfinal" column="ID_DOCTORFINAL"/>
        <result property="doctorfinalNameR" column="DOCTORFINAL_NAME_R"/>
        <result property="datefinalexamed" column="DATEFINALEXAMED"/>
        <result property="fIssevere" column="F_ISSEVERE"/>
        <result property="fClosed" column="F_CLOSED"/>
        <result property="dateclosed" column="DATECLOSED"/>
        <result property="note" column="NOTE"/>
        <result property="fSevereinformed" column="F_SEVEREINFORMED"/>
        <result property="knowledge" column="KNOWLEDGE"/>
        <result property="timingstartedat" column="TIMINGSTARTEDAT"/>
        <result property="hospitalcode" column="HOSPITALCODE"/>
        <result property="idExamplace" column="ID_EXAMPLACE"/>
        <result property="parsedassignedsuiteandfi" column="PARSEDASSIGNEDSUITEANDFI"/>
        <result property="parsedassignedgroupandfi" column="PARSEDASSIGNEDGROUPANDFI"/>
        <result property="parsedsuiteandfi" column="PARSEDSUITEANDFI"/>
        <result property="parsedsuiteandfilab" column="PARSEDSUITEANDFILAB"/>
        <result property="idGuidenurse" column="ID_GUIDENURSE"/>
        <result property="patientnameencoded" column="PATIENTNAMEENCODED"/>
        <result property="patientcodehiden" column="PATIENTCODEHIDEN"/>
        <result property="fWordprinted" column="F_WORDPRINTED"/>
        <result property="guidancenote2" column="GUIDANCENOTE2"/>
        <result property="fUsecodehiden" column="F_USECODEHIDEN"/>
        <result property="idPatientclass3" column="ID_PATIENTCLASS3"/>
        <result property="dateregisternotime" column="DATEREGISTERNOTIME"/>
        <result property="counterreportprinted" column="COUNTERREPORTPRINTED"/>
        <result property="fIsrecheck" column="F_ISRECHECK"/>
        <result property="fSettlenone" column="F_SETTLENONE"/>
        <result property="dateguidancereturned" column="DATEGUIDANCERETURNED"/>
        <result property="fOutpatient" column="F_OUTPATIENT"/>
        <result property="patientnamereceipt" column="PATIENTNAMERECEIPT"/>
        <result property="patientnamepinyin" column="PATIENTNAMEPINYIN"/>
        <result property="statusofhm" column="STATUSOFHM"/>
        <result property="instancetag" column="INSTANCETAG"/>
        <result property="inpatientno" column="INPATIENTNO"/>
        <result property="insuranceno" column="INSURANCENO"/>
        <result property="countreportxml" column="COUNTREPORTXML"/>
        <result property="countreportcompare" column="COUNTREPORTCOMPARE"/>
        <result property="countreportoccupation" column="COUNTREPORTOCCUPATION"/>
        <result property="countreportoccupationpdf" column="COUNTREPORTOCCUPATIONPDF"/>
        <result property="countreportoccupationxml" column="COUNTREPORTOCCUPATIONXML"/>
        <result property="idTjtc" column="ID_TJTC"/>
        <result property="jzdw" column="JZDW"/>
        <result property="jzdwr" column="JZDWR"/>
        <result property="spr" column="SPR"/>
        <result property="tjr" column="TJR"/>
        <result property="lqfs" column="LQFS"/>
        <result property="yzbm" column="YZBM"/>
        <result property="yjaddress" column="YJADDRESS"/>
        <result property="qtxz" column="QTXZ"/>
        <result property="isHmdb" column="IS_HMDB"/>
        <result property="isHmd" column="IS_HMD"/>
        <result property="isjj" column="ISJJ"/>
        <result property="zgl" column="ZGL"/>
        <result property="jhgl" column="JHGL"/>
        <result property="jhys" column="JHYS"/>
        <result property="jktjzt" column="JKTJZT"/>
        <result property="zytjzt" column="ZYTJZT"/>
        <result property="tmyd" column="TMYD"/>
        <result property="medicaldate" column="MEDICALDATE"/>
        <result property="trades" column="TRADES"/>
        <result property="cjjgsfyhf" column="CJJGSFYHF"/>
        <result property="bhgybsfyhf" column="BHGYBSFYHF"/>
        <result property="yxjgsfyhf" column="YXJGSFYHF"/>
        <result property="medicaltype" column="MEDICALTYPE"/>
        <result property="prepayment" column="PREPAYMENT"/>
        <result property="tcprice" column="TCPRICE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="cultural" column="CULTURAL"/>
        <result property="workDate" column="WORK_DATE"/>
        <result property="harmDate" column="HARM_DATE"/>
        <result property="diseasePrintNum" column="DISEASE_PRINT_NUM"/>
        <result property="healthPrintNum" column="HEALTH_PRINT_NUM"/>
        <result property="readytofinalDate" column="READYTOFINAL_DATE"/>
        <result property="guideSignleCount" column="GUIDE_SIGNLE_COUNT"/>
        <result property="shortCode" column="SHORT_CODE"/>
        <result property="isNoticed" column="IS_NOTICED"/>
        <result property="reviewPdf" column="REVIEW_PDF"/>
        <result property="contraindicatedPdf" column="CONTRAINDICATED_PDF"/>
        <result property="diseasePdf" column="DISEASE_PDF"/>
        <result property="tsLimit" column="TS_LIMIT"/>
        <result property="checkoutDate" column="CHECKOUT_DATE"/>
        <result property="checkoutStatus" column="CHECKOUT_STATUS"/>
        <result property="physique" column="PHYSIQUE"/>
        <result property="docName" column="DOC_NAME"/>
        <result property="worktypeId" column="WORKTYPE_ID"/>
        <result property="idExamclass" column="ID_EXAMCLASS"/>
        <result property="orgDepartsube" column="ORG_DEPARTSUBE"/>
        <result property="originalTrade" column="ORIGINAL_TRADE"/>
        <result property="autoExamined" column="AUTO_EXAMINED"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientVo">
        select ID_CIS,
               ID_PATIENTARCHIVE,
               PATIENTCODE,
               PATIENTARCHIVENO,
               PATIENTCARDNO,
               PATIENTBIZNO,
               IDCARDNO,
               NUMORGRESV,
               PATIENTNAME,
               INPUT_CODE,
               ID_ORGRESERVATIONGROUP,
               ID_ORGRESERVATION,
               ID_ORG,
               ORG_NAME,
               ORG_DEPART,
               ID_FEETYPE,
               ID_PAYWAY,
               PAYWAY,
               PERSONPRICELIMIT,
               ID_SEX,
               BIRTHDATE,
               AGE,
               ID_MARRIAGE,
               MARRIAGE,
               ID_NATION,
               NATION,
               ADDRESS,
               ID_INFORMWAY,
               ID_OPENDOCTOR,
               EMAIL,
               PHONE,
               ID_PATIENTCLASS,
               ID_RESAREA,
               RESAREA,
               F_ISFORPREPARE,
               F_ISFORRESERVE,
               F_REGISTERED,
               DATEREGISTER,
               MONEYAMOUNT,
               MONEYAMOUNTPAID,
               GUIDANCENOTE,
               WORKNO,
               ID_DOCTORREG,
               DOCTORREG,
               ID_EXAMTYPE,
               EXAMSUITE_NAME,
               EXAMSUITE_ALIAS,
               ID_DOCTORAPPLY,
               DOCTORAPPLY,
               F_GUIDANCEPRINTED,
               F_EXAMSTARTED,
               F_READYTOFINAL,
               ID_DOCTORFEE,
               F_PAUSED,
               F_FINALLOCKED,
               F_FINALEXAMED,
               ID_DOCTORFINAL,
               DOCTORFINAL_NAME_R,
               DATEFINALEXAMED,
               F_ISSEVERE,
               F_CLOSED,
               DATECLOSED,
               NOTE,
               F_SEVEREINFORMED,
               KNOWLEDGE,
               TIMINGSTARTEDAT,
               HOSPITALCODE,
               ID_EXAMPLACE,
               PARSEDASSIGNEDSUITEANDFI,
               PARSEDASSIGNEDGROUPANDFI,
               PARSEDSUITEANDFI,
               PARSEDSUITEANDFILAB,
               ID_GUIDENURSE,
               PATIENTNAMEENCODED,
               PATIENTCODEHIDEN,
               F_WORDPRINTED,
               GUIDANCENOTE2,
               F_USECODEHIDEN,
               ID_PATIENTCLASS3,
               DATEREGISTERNOTIME,
               COUNTERREPORTPRINTED,
               F_ISRECHECK,
               F_SETTLENONE,
               DATEGUIDANCERETURNED,
               F_OUTPATIENT,
               PATIENTNAMERECEIPT,
               PATIENTNAMEPINYIN,
               STATUSOFHM,
               INSTANCETAG,
               INPATIENTNO,
               INSURANCENO,
               COUNTREPORTXML,
               COUNTREPORTCOMPARE,
               COUNTREPORTOCCUPATION,
               COUNTREPORTOCCUPATIONPDF,
               COUNTREPORTOCCUPATIONXML,
               ID_TJTC,
               JZDW,
               JZDWR,
               SPR,
               TJR,
               LQFS,
               YZBM,
               YJADDRESS,
               QTXZ,
               IS_HMDB,
               IS_HMD,
               ISJJ,
               ZGL,
               JHGL,
               JHYS,
               JKTJZT,
               ZYTJZT,
               TMYD,
               ID,
               MEDICALDATE,
               TRADES,
               CJJGSFYHF,
               BHGYBSFYHF,
               YXJGSFYHF,
               MEDICALTYPE,
               PREPAYMENT,
               TCPRICE,
               CREATEDATE,
               MODIFYDATE,
               CULTURAL,
               WORK_DATE,
               HARM_DATE,
               DISEASE_PRINT_NUM,
               HEALTH_PRINT_NUM,
               READYTOFINAL_DATE,
               GUIDE_SIGNLE_COUNT,
               SHORT_CODE,
               IS_NOTICED,
               REVIEW_PDF,
               CONTRAINDICATED_PDF,
               DISEASE_PDF,
               TS_LIMIT,
               CHECKOUT_DATE,
               CHECKOUT_STATUS,
               PHYSIQUE,
               DOC_NAME,
               WORKTYPE_ID,
               ID_EXAMCLASS,
               ORG_DEPARTSUBE,
               ORIGINAL_TRADE,
               AUTO_EXAMINED
        from PEISPATIENT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientMap">
        <include refid="selectPeispatientVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientMap">
        <include refid="selectPeispatientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

