<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PhysicalExaminationResultMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.PhysicalExaminationResult"
               id="PhysicalExaminationResultMap">
        <result property="modifyDate" column="MODIFY_DATE"/>
        <id property="id" column="ID"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="ndate" column="NDATE"/>
        <result property="ntime" column="NTIME"/>
        <result property="patindex" column="PATINDEX"/>
        <result property="patname" column="PATNAME"/>
        <result property="patsex" column="PATSEX"/>
        <result property="specimenno" column="SPECIMENNO"/>
        <result property="specimennotes" column="SPECIMENNOTES"/>
        <result property="labelindex" column="LABELINDEX"/>
        <result property="docterindex" column="DOCTERINDEX"/>
        <result property="testindex" column="TESTINDEX"/>
        <result property="nvalue" column="NVALUE"/>
        <result property="svalue" column="SVALUE"/>
        <result property="reviewnotes" column="REVIEWNOTES"/>
        <result property="status" column="STATUS"/>
        <result property="name" column="NAME"/>
        <result property="units" column="UNITS"/>
        <result property="reflow" column="REFLOW"/>
        <result property="refhigh" column="REFHIGH"/>
        <result property="prtorder" column="PRTORDER"/>
        <result property="docname" column="DOCNAME"/>
        <result property="rename" column="RENAME"/>
        <result property="patext3" column="PATEXT3"/>
        <result property="aspatname" column="ASPATNAME"/>
        <result property="reviewdate" column="REVIEWDATE"/>
        <result property="reviewtime" column="REVIEWTIME"/>
        <result property="receivedate" column="RECEIVEDATE"/>
        <result property="receivetime" column="RECEIVETIME"/>
        <result property="source" column="SOURCE"/>
        <result property="systemItemCode" column="SYSTEM_ITEM_CODE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPhysicalExaminationResultVo">
        select MODIFY_DATE,
               ID,
               CREATE_DATE,
               NDATE,
               NTIME,
               PATINDEX,
               PATNAME,
               PATSEX,
               SPECIMENNO,
               SPECIMENNOTES,
               LABELINDEX,
               DOCTERINDEX,
               TESTINDEX,
               NVALUE,
               SVALUE,
               REVIEWNOTES,
               STATUS,
               NAME,
               UNITS,
               REFLOW,
               REFHIGH,
               PRTORDER,
               DOCNAME,
               RENAME,
               PATEXT3,
               ASPATNAME,
               REVIEWDATE,
               REVIEWTIME,
               RECEIVEDATE,
               RECEIVETIME,
               SOURCE,
               SYSTEM_ITEM_CODE
        from PHYSICAL_EXAMINATION_RESULT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PhysicalExaminationResultMap">
        <include refid="selectPhysicalExaminationResultVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PhysicalExaminationResultMap">
        <include refid="selectPhysicalExaminationResultVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

