<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.QxCenDepMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.QxCenDep" id="QxCenDepMap">
        <id property="id" column="ID"/>
        <result property="cid" column="CID"/>
        <result property="did" column="DID"/>
        <result property="imgpath" column="IMGPATH"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="xh" column="XH"/>
        <result property="sjbggs" column="SJBGGS"/>
        <result property="jcdd" column="JCDD"/>
        <result property="jklx" column="JKLX"/>
        <result property="ksh" column="KSH"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="dydXh" column="DYD_XH"/>
        <result property="dydMemo" column="DYD_MEMO"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectQxCenDepVo">
        select ID,
               CID,
               DID,
               IMGPATH,
               CREATEDATE,
               MODIFYDATE,
               XH,
               SJBGGS,
               JCDD,
               JKLX,
               KSH,
               DESCRIPTION,
               DYD_XH,
               DYD_MEMO
        from QX_CEN_DEP
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="QxCenDepMap">
        <include refid="selectQxCenDepVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="QxCenDepMap">
        <include refid="selectQxCenDepVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

