<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.QxUsersLockMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.QxUsersLock" id="QxUsersLockMap">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="sessionId" column="SESSION_ID"/>
        <result property="failedcount" column="FAILEDCOUNT"/>
        <result property="lockdate" column="LOCKDATE"/>
        <result property="lockcount" column="LOCKCOUNT"/>
        <result property="isLocked" column="IS_LOCKED"/>
        <result property="unlockdate" column="UNLOCKDATE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectQxUsersLockVo">
        select ID,
               USERNAME,
               SESSION_ID,
               FAILEDCOUNT,
               LOCKDATE,
               LOCKCOUNT,
               IS_LOCKED,
               UNLOCKDATE,
               CREATEDATE,
               MODIFYDATE
        from QX_USERS_LOCK
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="QxUsersLockMap">
        <include refid="selectQxUsersLockVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="QxUsersLockMap">
        <include refid="selectQxUsersLockVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

