<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.QxWsUsersMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.QxWsUsers" id="QxWsUsersMap">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="logindate" column="LOGINDATE"/>
        <result property="loginip" column="LOGINIP"/>
        <result property="useraccountnonexpired" column="USERACCOUNTNONEXPIRED"/>
        <result property="useraccountnonlocked" column="USERACCOUNTNONLOCKED"/>
        <result property="userenabled" column="USERENABLED"/>
        <result property="usercredentialsnonexpired" column="USERCREDENTIALSNONEXPIRED"/>
        <result property="depid" column="DEPID"/>
        <result property="issystem" column="ISSYSTEM"/>
        <result property="isleader" column="ISLEADER"/>
        <result property="cid" column="CID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="phone" column="PHONE"/>
        <result property="isDoc" column="IS_DOC"/>
        <result property="customerId" column="CUSTOMER_ID"/>
        <result property="ishelp" column="ISHELP"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectQxWsUsersVo">
        select ID,
               USERNAME,
               PASSWORD,
               NAME,
               EMAIL,
               CREATEDATE,
               MODIFYDATE,
               LOGINDATE,
               LOGINIP,
               USERACCOUNTNONEXPIRED,
               USERACCOUNTNONLOCKED,
               USERENABLED,
               USERCREDENTIALSNONEXPIRED,
               DEPID,
               ISSYSTEM,
               ISLEADER,
               CID,
               IS_DELETE,
               INPUT_CODE,
               PHONE,
               IS_DOC,
               CUSTOMER_ID,
               ISHELP
        from QX_WS_USERS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="QxWsUsersMap">
        <include refid="selectQxWsUsersVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="QxWsUsersMap">
        <include refid="selectQxWsUsersVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

