<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ReservationMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Reservation" id="ReservationMap">
        <id property="id" column="ID"/>
        <result property="idReservation" column="ID_RESERVATION"/>
        <result property="idCheck" column="ID_CHECK"/>
        <result property="patientname" column="PATIENTNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="idcardno" column="IDCARDNO"/>
        <result property="type" column="TYPE"/>
        <result property="idPatientclass" column="ID_PATIENTCLASS"/>
        <result property="approvedStatus" column="APPROVED_STATUS"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="medicaldate" column="MEDICALDATE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="successcode" column="SUCCESSCODE"/>
        <result property="idSex" column="ID_SEX"/>
        <result property="idExamtype" column="ID_EXAMTYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReservationVo">
        select ID,
               ID_RESERVATION,
               ID_CHECK,
               PATIENTNAME,
               PHONE,
               IDCARDNO,
               TYPE,
               ID_PATIENTCLASS,
               APPROVED_STATUS,
               IS_DELETE,
               MEDICALDATE,
               CREATEDATE,
               MODIFYDATE,
               SUCCESSCODE,
               ID_SEX,
               ID_EXAMTYPE
        from RESERVATION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReservationMap">
        <include refid="selectReservationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReservationMap">
        <include refid="selectReservationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

