<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ReviewNotificationFormatMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.ReviewNotificationFormat"
               id="ReviewNotificationFormatMap">
        <id property="id" column="ID"/>
        <result property="formatName" column="FORMAT_NAME"/>
        <result property="formatCode" column="FORMAT_CODE"/>
        <result property="formatFile" column="FORMAT_FILE"/>
        <result property="memo" column="MEMO"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReviewNotificationFormatVo">
        select ID,
               FORMAT_NAME,
               FORMAT_CODE,
               FORMAT_FILE,
               MEMO,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE
        from REVIEW_NOTIFICATION_FORMAT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReviewNotificationFormatMap">
        <include refid="selectReviewNotificationFormatVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReviewNotificationFormatMap">
        <include refid="selectReviewNotificationFormatVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

