<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.RiskclientconMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Riskclientcon" id="RiskclientconMap">
        <id property="id" column="ID"/>
        <result property="riskid" column="RISKID"/>
        <result property="gwxm" column="GWXM"/>
        <result property="wjzxj" column="WJZXJ"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="divisionId" column="DIVISION_ID"/>
        <result property="wjzjb" column="WJZJB"/>
        <result property="doctorId" column="DOCTOR_ID"/>
        <result property="checkTime" column="CHECK_TIME"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="sfxm" column="SFXM"/>
        <result property="tbbz" column="TBBZ"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectRiskclientconVo">
        select ID,
               RISKID,
               GWXM,
               WJZXJ,
               CREATEDATE,
               MODIFYDATE,
               DIVISION_ID,
               WJZJB,
               DOCTOR_ID,
               CHECK_TIME,
               PATIENTCODE,
               SFXM,
               TBBZ
        from RISKCLIENTCON
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="RiskclientconMap">
        <include refid="selectRiskclientconVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="RiskclientconMap">
        <include refid="selectRiskclientconVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

