<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.SysUploadLogMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.SysUploadLog" id="SysUploadLogMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="cid" column="CID"/>
        <result property="uploadType" column="UPLOAD_TYPE"/>
        <result property="uploadNum" column="UPLOAD_NUM"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>
        <result property="uploadStatus" column="UPLOAD_STATUS"/>
        <result property="msg" column="MSG"/>
        <result property="ip" column="IP"/>
        <result property="uploadDateStr" column="UPLOAD_DATE_STR"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysUploadLogVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               CID,
               UPLOAD_TYPE,
               UPLOAD_NUM,
               UPLOAD_DATE,
               UPLOAD_STATUS,
               MSG,
               IP,
               UPLOAD_DATE_STR
        from SYS_UPLOAD_LOG
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysUploadLogMap">
        <include refid="selectSysUploadLogVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysUploadLogMap">
        <include refid="selectSysUploadLogVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

