<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.TjbbXtjcMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.TjbbXtjc" id="TjbbXtjcMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="xh" column="XH"/>
        <result property="xtjc" column="XTJC"/>
        <result property="ckfw" column="CKFW"/>
        <result property="valueMin" column="VALUE_MIN"/>
        <result property="valueMax" column="VALUE_MAX"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectTjbbXtjcVo">
        select PATIENTCODE,
               XH,
               XTJC,
               CKFW,
               VALUE_MIN,
               VALUE_MAX,
               CREATE_ID,
               MODIFY_ID,
               ID,
               CREATEDATE,
               MODIFYDATE
        from TJBB_XTJC
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="TjbbXtjcMap">
        <include refid="selectTjbbXtjcVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="TjbbXtjcMap">
        <include refid="selectTjbbXtjcVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

