<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.TotalVerdictMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.TotalVerdict" id="TotalVerdictMap">
        <id property="id" column="ID"/>
        <result property="basconclusionId" column="BASCONCLUSION_ID"/>
        <result property="totalId" column="TOTAL_ID"/>
        <result property="divisionId" column="DIVISION_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="diseaseHealth" column="DISEASE_HEALTH"/>
        <result property="flag" column="FLAG"/>
        <result property="totalAdvice" column="TOTAL_ADVICE"/>
        <result property="basconclusionName" column="BASCONCLUSION_NAME"/>
        <result property="mergeId" column="MERGE_ID"/>
        <result property="mergeName" column="MERGE_NAME"/>
        <result property="verdictSort" column="VERDICT_SORT"/>
        <result property="suggestiongroup" column="SUGGESTIONGROUP"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectTotalVerdictVo">
        select ID,
               BASCONCLUSION_ID,
               TOTAL_ID,
               DIVISION_ID,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE,
               DISEASE_HEALTH,
               FLAG,
               TOTAL_ADVICE,
               BASCONCLUSION_NAME,
               MERGE_ID,
               MERGE_NAME,
               VERDICT_SORT,
               SUGGESTIONGROUP
        from TOTAL_VERDICT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="TotalVerdictMap">
        <include refid="selectTotalVerdictVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="TotalVerdictMap">
        <include refid="selectTotalVerdictVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

