<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.TradeRecordMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.TradeRecord" id="TradeRecordMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="outTradeNo" column="OUT_TRADE_NO"/>
        <result property="money" column="MONEY"/>
        <result property="note" column="NOTE"/>
        <result property="tradeType" column="TRADE_TYPE"/>
        <result property="tempItemIds" column="TEMP_ITEM_IDS"/>
        <result property="status" column="STATUS"/>
        <result property="registerId" column="REGISTER_ID"/>
        <result property="orderType" column="ORDER_TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectTradeRecordVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               OUT_TRADE_NO,
               MONEY,
               NOTE,
               TRADE_TYPE,
               TEMP_ITEM_IDS,
               STATUS,
               REGISTER_ID,
               ORDER_TYPE
        from TRADE_RECORD
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="TradeRecordMap">
        <include refid="selectTradeRecordVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="TradeRecordMap">
        <include refid="selectTradeRecordVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

