<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.UserHarmClassMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.UserHarmClass" id="UserHarmClassMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="classId" column="CLASS_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectUserHarmClassVo">
        select ID, CREATEDATE, MODIFYDATE, USER_ID, CLASS_ID
        from USER_HARM_CLASS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="UserHarmClassMap">
        <include refid="selectUserHarmClassVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="UserHarmClassMap">
        <include refid="selectUserHarmClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

