<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.VisitWriteMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.VisitWrite" id="VisitWriteMap">
        <id property="id" column="ID"/>
        <result property="satisfactionId" column="SATISFACTION_ID"/>
        <result property="visitResult" column="VISIT_RESULT"/>
        <result property="visitLevel" column="VISIT_LEVEL"/>
        <result property="visitterId" column="VISITTER_ID"/>
        <result property="visitTime" column="VISIT_TIME"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="memo" column="MEMO"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectVisitWriteVo">
        select ID,
               SATISFACTION_ID,
               VISIT_RESULT,
               VISIT_LEVEL,
               VISITTER_ID,
               VISIT_TIME,
               CREATEDATE,
               MODIFYDATE,
               MEMO
        from VISIT_WRITE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="VisitWriteMap">
        <include refid="selectVisitWriteVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="VisitWriteMap">
        <include refid="selectVisitWriteVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

