<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.WhysqzfwMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Whysqzfw" id="WhysqzfwMap">
        <id property="id" column="ID"/>
        <result property="harmName" column="HARM_NAME"/>
        <result property="unit" column="UNIT"/>
        <result property="jcName" column="JC_NAME"/>
        <result property="jcId" column="JC_ID"/>
        <result property="whId" column="WH_ID"/>
        <result property="scopeUpper" column="SCOPE_UPPER"/>
        <result property="scoperFloor" column="SCOPER_FLOOR"/>
        <result property="scoperName" column="SCOPER_NAME"/>
        <result property="scoperCode" column="SCOPER_CODE"/>
        <result property="lisId" column="LIS_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="zyorjk" column="ZYORJK"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="sex" column="SEX"/>
        <result property="gscopeupper" column="GSCOPEUPPER"/>
        <result property="gscoperfloor" column="GSCOPERFLOOR"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWhysqzfwVo">
        select ID,
               HARM_NAME,
               UNIT,
               JC_NAME,
               JC_ID,
               WH_ID,
               SCOPE_UPPER,
               SCOPER_FLOOR,
               SCOPER_NAME,
               SCOPER_CODE,
               LIS_ID,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE,
               ZYORJK,
               INPUT_CODE,
               SEX,
               GSCOPEUPPER,
               GSCOPERFLOOR
        from WHYSQZFW
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WhysqzfwMap">
        <include refid="selectWhysqzfwVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WhysqzfwMap">
        <include refid="selectWhysqzfwVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

