<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.WzZysWhysMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.WzZysWhys" id="WzZysWhysMap">
        <id property="id" column="ID"/>
        <result property="djls" column="DJLS"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="amount" column="AMOUNT"/>
        <result property="occupationNo" column="OCCUPATION_NO"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="diathesis" column="DIATHESIS"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="remark" column="REMARK"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWzZysWhysVo">
        select ID,
               DJLS,
               PATIENTCODE,
               AMOUNT,
               OCCUPATION_NO,
               CREATE_DATE,
               DIATHESIS,
               DB_USER,
               REMARK,
               CREATEDATE,
               MODIFYDATE,
               CREATE_ID,
               MODIFY_ID
        from WZ_ZYS_WHYS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WzZysWhysMap">
        <include refid="selectWzZysWhysVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WzZysWhysMap">
        <include refid="selectWzZysWhysVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

