<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ZyFhcsGcClassMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.ZyFhcsGcClass" id="ZyFhcsGcClassMap">
        <id property="id" column="ID"/>
        <result property="defendEngineeringClassCode" column="DEFEND_ENGINEERING_CLASS_CODE"/>
        <result property="defendEngineeringClass" column="DEFEND_ENGINEERING_CLASS"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyFhcsGcClassVo">
        select ID,
               DEFEND_ENGINEERING_CLASS_CODE,
               DEFEND_ENGINEERING_CLASS,
               INPUT_CODE,
               DB_USER,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE
        from ZY_FHCS_GC_CLASS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ZyFhcsGcClassMap">
        <include refid="selectZyFhcsGcClassVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyFhcsGcClassMap">
        <include refid="selectZyFhcsGcClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

