<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.BaseZoneQdMapper">

    <resultMap type="com.center.medical.data.bean.model.BaseZoneQd" id="BaseZoneQdMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="zoneCode" column="zone_code"/>
        <result property="zoneName" column="zone_name"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseZoneQdVo">
        select id, createdate, modifydate, zone_code, zone_name
        from md_base_zone_qd
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BaseZoneQdMap">
        <include refid="selectBaseZoneQdVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseZoneQdMap">
        <include refid="selectBaseZoneQdVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 获取所属区域 -->
    <select id="getUnitArea" resultType="com.center.medical.data.bean.vo.UnitAreaVo">
        SELECT
            zone_code,
            zone_name
        FROM
            md_base_zone_qd
        ORDER BY
            zone_code
    </select>
</mapper>

