<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.BaseGuideMealMapper">

    <resultMap type="com.center.medical.data.bean.model.BaseGuideMeal" id="BaseGuideMealMap">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="content" column="content"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="fzx" column="fzx"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseGuideMealVo">
        select id,
               type,
               name,
               value,
               content,
               createdate,
               modifydate,
               fzx,
               remark
        from md_base_guide_meal
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BaseGuideMealMap">
        <include refid="selectBaseGuideMealVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseGuideMealMap">
        <include refid="selectBaseGuideMealVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

