<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.InspectChargeMapper">

    <resultMap type="com.center.medical.data.bean.model.InspectCharge" id="InspectChargeMap">
        <id property="id" column="id"/>
        <result property="chargeId" column="charge_id"/>
        <result property="inspectId" column="inspect_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="orderIndex" column="order_index"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectInspectChargeVo">
        select id, charge_id, inspect_id, createdate, modifydate, is_delete, order_index
        from md_inspect_charge
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="InspectChargeMap">
        <include refid="selectInspectChargeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="InspectChargeMap">
        <include refid="selectInspectChargeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 获取拼接的检查项目名称 -->
    <select id="getExName" resultType="string">
        SELECT group_concat(b.examitem_name) as exName
        FROM md_basexamltem b
                 INNER JOIN md_inspect_charge ic ON b.id = ic.inspect_id
            AND ic.is_delete = 0
            AND ic.charge_id = #{idExamfeeitem}
        WHERE NOT EXISTS(
                SELECT 1
                FROM md_basexamltem_sign bs
                WHERE bs.inspect_id = b.id
                  AND bs.is_default = 1
                  AND bs.is_delete = 0
            )
    </select>

    <!-- 项目列表-结果-手动输入结果模块项目展示 -->
    <select id="getAllOutData" resultType="com.center.medical.bean.vo.AllOutDataVo">
        SELECT
        t.charge_id as idCharge,
        i.examfeeitem_name as idFee,
        t.inspect_id as idCheck,
        b.examitem_name as bcheck,
        b.input_code as inputCode,
        <if test="idSex!=null and idSex==0">
            b.valuemalemax as ckgx,
            b.valuemalemin as ckdz
        </if>
        <if test="idSex!=null and idSex==1">
            b.valuefemalemax as ckgx,
            b.valuefemalemin as ckdz
        </if>
        FROM
        md_inspect_charge t
        LEFT JOIN md_basexamltem b ON t.inspect_id = b.id
        LEFT JOIN md_items i ON t.charge_id = i.id
        WHERE
        t.charge_id = #{idChargeFee}
        ORDER BY t.createdate DESC
    </select>


    <!-- 得到相同检查项目的不同收费项目 -->
    <select id="getRepeatItems" resultType="string">
        SELECT
        ic.charge_id
        FROM
        md_inspect_charge ic
        INNER JOIN md_basexamltem b ON b.id = ic.inspect_id
        WHERE
        ic.inspect_id = #{inspectid}
        AND ic.charge_id IN
        <foreach collection="str" item="st" open="(" close=")" separator=",">
            #{st}
        </foreach>
        AND ic.is_delete = 0
        AND ( b.f_can_dup IS NULL OR b.f_can_dup != 1 )
        GROUP BY
        ic.charge_id
    </select>


    <!-- 编辑收费项目-右下表格数据 -->
    <select id="getAllItemsData" resultType="com.center.medical.data.bean.vo.ListDatasVo">
        SELECT
        mic.id,
        mic.inspect_id AS cid,
        mic.order_index,
        mb.examitem_name AS name,
        mbe.examitemtype_name AS jcxmlx,
        mb.f_male AS sex,

        mb.valuemalemax,
        mb.valuemalemin,
        mb.valuefemalemax,
        mb.valuefemalemin,

        mb.valuedangerousmax AS wjzsx,
        mb.valuedangerousmin AS wjzxx,
        d.dept_name AS ksmc,
        mb.type AS lx,
        mb.interface_code,
        mb.examitem_name
        FROM
        md_inspect_charge mic
        LEFT JOIN md_basexamltem mb ON mb.id = mic.inspect_id
        LEFT JOIN md_basexamltemtype mbe ON mbe.id = mb.id_examitemtype
        LEFT JOIN sys_dept d ON d.dept_no = mb.division_id
        <where>
            mic.is_delete = 0
            AND mic.charge_id = #{id}
        </where>
        ORDER BY order_index
    </select>
</mapper>

