<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.KsIpMapper">

    <resultMap type="com.center.medical.data.bean.model.KsIp" id="KsIpMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ip" column="ip"/>
        <result property="ksId" column="ks_id"/>
        <result property="remark" column="remark"/>
        <result property="branchId" column="branch_id"/>
        <result property="status" column="status"/>
        <result property="localPath" column="local_path"/>
        <result property="backupPath" column="backup_path"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectKsIpVo">
        select id,
               name,
               ip,
               ks_id,
               remark,
               branch_id,
               status,
               local_path,
               backup_path,
               create_time,
               update_time
        from md_ks_ip
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="KsIpMap">
        <include refid="selectKsIpVo"/>
        <where>
            <if test="param.name!=null and param.name!=''">
                name like concat('%',#{param.name},'%')
            </if>
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="KsIpMap">
        <include refid="selectKsIpVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!--查询[科室IP]列表-->
    <select id="getList" resultType="com.center.medical.data.bean.model.KsIp">
        SELECT id,
        name,
        ip,
        remark
        FROM md_ks_ip
        <where>
            status = 1
            <if test="ksId!=null and ksId!=''">
                AND ks_id = #{ksId}
            </if>
            <if test="branchId!=null and branchId!=''">
                AND branch_id = #{branchId}
            </if>
        </where>
    </select>

</mapper>

