<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.OccupationSymptomMapper">

    <resultMap type="com.center.medical.data.bean.model.OccupationSymptom" id="OccupationSymptomMap">
        <id property="id" column="id"/>
        <result property="symptomCode" column="symptom_code"/>
        <result property="symptom" column="symptom"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOccupationSymptomVo">
        select id,
               symptom_code,
               symptom,
               input_code,
               db_user,
               createdate,
               modifydate,
               is_delete
        from md_occupation_symptom
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="OccupationSymptomMap">
        <include refid="selectOccupationSymptomVo"/>
        where is_delete = 0
        <if test="param.inputCode!=null and param.inputCode!=''">
            AND input_code like concat('%',#{param.inputCode},'%')
        </if>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OccupationSymptomMap">
        <include refid="selectOccupationSymptomVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!--根据id获取记录详情，没有被删除的-->
    <select id="getOccupationSymptomById" resultMap="OccupationSymptomMap">
        <include refid="selectOccupationSymptomVo"/>
        <where>
            id = #{id}
            and is_delete = 0
        </where>
    </select>


    <!--弹窗数据-->
    <select id="getShowData" resultType="com.center.medical.data.bean.model.OccupationSymptom">
        SELECT DISTINCT
        o.id,
        o.symptom_code,
        o.symptom,
        o.input_code,
        ( CASE WHEN t.id IS NOT NULL THEN '1' ELSE '0' END ) AS `key`
        FROM
        md_occupation_symptom o
        LEFT JOIN ( SELECT e.symptom_id AS id
        FROM md_emphasis_ask_symptom e
        WHERE e.disiase_type = #{param.medicaltype}
        AND e.harmname IN
            <foreach collection="param.jhys" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        ) t ON t.id = o.id
        <where>
            (o.is_delete IS NULL
            OR o.is_delete = 0)
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND o.input_code like concat('%',#{param.inputCode},'%')
            </if>
        </where>
        ORDER BY `key` DESC,o.symptom_code
    </select>
</mapper>

