<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.OccupationDiseastClassMapper">

    <resultMap type="com.center.medical.data.bean.model.OccupationDiseastClass" id="OccupationDiseastClassMap">
        <id property="id" column="id"/>
        <result property="occupationDiseastClassCode" column="occupation_diseast_class_code"/>
        <result property="occupationDiseastClassName" column="occupation_diseast_class_name"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOccupationDiseastClassVo">
        select id,
               occupation_diseast_class_code,
               occupation_diseast_class_name,
               input_code,
               db_user,
               createdate,
               modifydate,
               is_delete
        from md_occupation_diseast_class
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="OccupationDiseastClassMap">
        <include refid="selectOccupationDiseastClassVo"/>
        where is_delete = 0
        <if test="param.inputCode!=null and param.inputCode!=''">
            AND input_code like concat('%',#{param.inputCode},'%')
        </if>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OccupationDiseastClassMap">
        <include refid="selectOccupationDiseastClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

