<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.PatienttypeMapper">

    <resultMap type="com.center.medical.data.bean.model.Patienttype" id="PatienttypeMap">
        <id property="id" column="id"/>
        <result property="patientName" column="patient_name"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPatienttypeVo">
        select id, patient_name, input_code, createdate, modifydate, flag
        from md_patienttype
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PatienttypeMap">
        <include refid="selectPatienttypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PatienttypeMap">
        <include refid="selectPatienttypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

