<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.WsjgMapper">

    <resultMap type="com.center.medical.data.bean.model.Wsjg" id="WsjgMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="srm" column="srm"/>
        <result property="addr" column="addr"/>
        <result property="phone" column="phone"/>
        <result property="lxr" column="lxr"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWsjgVo">
        select id,
               name,
               srm,
               addr,
               phone,
               lxr,
               createdate,
               modifydate,
               is_delete
        from md_wsjg
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WsjgMap">
        <include refid="selectWsjgVo"/>
    </select>
    <!-- 根据条件查询列表数据 -->
    <select id="getList" resultMap="WsjgMap">
        select id,
        name,
        srm
        from md_wsjg
        <where>
            is_delete = 0
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND srm LIKE concat('%',#{param.inputCode},'%')
            </if>
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WsjgMap">
        <include refid="selectWsjgVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getWsjgData" resultType="com.center.medical.data.bean.vo.WsjgDataVo">
        select
            id,
            name as wsjg,
            srm as inputCode
        from md_wsjg
        <where>
            is_delete = 0
            <if test="srm!=null and srm!=''">
                AND srm LIKE concat('%',#{srm},'%')
            </if>
        </where>
    </select>
</mapper>

