<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.ZyHarmClassMapper">

    <resultMap type="com.center.medical.data.bean.model.ZyHarmClass" id="ZyHarmClassMap">
        <id property="id" column="id"/>
        <result property="harId" column="har_id"/>
        <result property="harmClassCode" column="harm_class_code"/>
        <result property="harmClass" column="harm_class"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="name" column="name"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyHarmClassVo">
        select id,
               har_id,
               harm_class_code,
               harm_class,
               input_code,
               db_user,
               name,
               createdate,
               modifydate,
               note,
               is_delete
        from md_zy_harm_class
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="ZyHarmClassMap">
        select id,
        har_id,
        harm_class_code,
        harm_class,
        input_code,
        db_user,
        name,
        createdate,
        modifydate,
        note,
        is_delete
        from md_zy_harm_class
        where is_delete = 0
        <if test="param.inputCode!=null and param.inputCode!=''">
            AND input_code like concat('%',#{param.inputCode},'%')
        </if>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyHarmClassMap">
        <include refid="selectZyHarmClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

