<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.BasexamltemSignMapper">

    <resultMap type="com.center.medical.data.bean.model.BasexamltemSign" id="BasexamltemSignMap">
        <id property="id" column="id"/>
        <result property="inspectId" column="inspect_id"/>
        <result property="name" column="name"/>
        <result property="resultId" column="result_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isInSummary" column="is_in_summary"/>
        <result property="bodyInputCode" column="body_input_code"/>
        <result property="bodyDetail" column="body_detail"/>
        <result property="bodyDetailZy" column="body_detail_zy"/>
        <result property="intensiveLevel" column="intensive_level"/>
        <result property="otherMutex" column="other_mutex"/>
        <result property="numMutex" column="num_mutex"/>
        <result property="isPositive" column="is_positive"/>
        <result property="inputCode" column="input_code"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isDefault" column="is_default"/>
        <result property="orderindex" column="orderindex"/>
        <result property="isInput" column="is_input"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBasexamltemSignVo">
        SELECT id,
               inspect_id,
               name,
               result_id,
               createdate,
               modifydate,
               is_in_summary,
               body_input_code,
               body_detail,
               body_detail_zy,
               intensive_level,
               other_mutex,
               num_mutex,
               is_positive,
               input_code,
               is_delete,
               is_default,
               orderindex,
               is_input
        FROM md_basexamltem_sign
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BasexamltemSignMap">
        <include refid="selectBasexamltemSignVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BasexamltemSignMap">
        <include refid="selectBasexamltemSignVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getFeatureListData" resultType="com.center.medical.data.bean.vo.FeatureListVo">
        SELECT
            bs.id,
            bs.name AS tzcname,
            bs.is_positive,
            bs.body_detail,
            bs.body_detail_zy,
            bs.result_id,
            mb.name,
            bs.intensive_level,
            bs.is_default,
            bs.is_in_summary,
            bs.other_mutex,
            bs.num_mutex,
            bs.orderindex
        FROM md_basexamltem_sign bs
        LEFT JOIN md_basconclusion mb ON mb.id = bs.result_id
        <where>
            bs.inspect_id = #{param.id}
            AND bs.is_delete = 0
            <if test="param.tzcname!=null and param.tzcname!=''">
                AND bs.name like concat('%',#{param.tzcname},'%')
            </if>
            <if test="param.resultId!=null and param.resultId!=''">
                AND bs.result_id = #{param.resultId}
            </if>
        </where>
        ORDER BY bs.orderindex ASC
    </select>
</mapper>

