<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.center.medical.data.dao.BaseDictionaryMatchMapper">

        <resultMap type="com.center.medical.data.bean.model.BaseDictionaryMatch" id="BaseDictionaryMatchMap">
            <id property="id" column="id"/>
            <result property="createdate" column="createdate"/>
            <result property="modifydate" column="modifydate"/>
            <result property="dictionaryId" column="dictionary_id"/>
            <result property="medicalId" column="medical_id"/>
        </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseDictionaryMatchVo">
        select id, createdate, modifydate, dictionary_id, medical_id            from base_dictionary_match
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BaseDictionaryMatchMap">
        <include refid="selectBaseDictionaryMatchVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseDictionaryMatchMap">
        <include refid="selectBaseDictionaryMatchVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 通过搜索条件分页查询列表 -->
    <select id="getDataMatch" resultMap="BaseDictionaryMatchMap">
        SELECT *
        FROM BASE_DICTIONARY_MATCH BDM
        LEFT JOIN BASE_DICTIONARY BS ON BDM.DICTIONARY_ID=BS.ID
        <where>
            1 = 1
            <if test="param.id!=null and param.id!=''">
                AND BDM.MEDICAL_ID = #{param.id}
            </if>
            <if test="param.classCode!=null and param.classCode!=''">
                AND BS.DICTIONARY_TYPE = #{param.classCode}
            </if>
        </where>
    </select>


    <update id="updateBaseDictionaryMatch">
        update base_dictionary_match m
            inner join base_dictionary d on d.id = m.dictionary_id
            set m.dictionary_id = #{param.dictionaryId}
        where d.dictionary_type = #{param.classCode}
          and d.dictionary_code = #{param.nowId}
          and m.medical_id = #{param.medicalId}
    </update>





    <delete id="deleteBaseDictionaryMatch">
        delete from base_dictionary_match m
        where exists(
            select 1 from base_dictionary b
            where b.dictionary_type = #{param.classCode}
            and b.dictionary_code = #{param.nowId}
            and b.id = m.dictionary_id )
        and m.medical_id = #{param.medicalId}
    </delete>

</mapper>

