<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.BaseGuideMealitemMapper">

    <resultMap type="com.center.medical.data.bean.model.BaseGuideMealitem" id="BaseGuideMealitemMap">
        <id property="id" column="id"/>
        <result property="mealId" column="meal_id"/>
        <result property="itemId" column="item_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="ysPrice" column="ys_price"/>
        <result property="price" column="price"/>
        <result property="remark" column="remark"/>
        <result property="tj" column="tj"/>
        <result property="orderindex" column="orderindex"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseGuideMealitemVo">
        select id,
               meal_id,
               item_id,
               createdate,
               modifydate,
               ys_price,
               price,
               remark,
               tj,
               orderindex
        from md_base_guide_mealitem
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BaseGuideMealitemMap">
        <include refid="selectBaseGuideMealitemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseGuideMealitemMap">
        <include refid="selectBaseGuideMealitemVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

