<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.BasMergeMapper">

    <resultMap type="com.center.medical.data.bean.model.BasMerge" id="BasMergeMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="mergeName" column="merge_name"/>
        <result property="suggestion" column="suggestion"/>
        <result property="isDelete" column="is_delete"/>
        <result property="inputCode" column="input_code"/>
        <result property="tjjy" column="tjjy"/>
        <result property="creater" column="creater"/>
    </resultMap>

    <resultMap type="com.center.medical.data.bean.model.BasMergeConclusion" id="BasMergeConclusionMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="conclusionId" column="conclusion_id"/>
        <result property="mergeId" column="merge_id"/>
    </resultMap>


    <!-- 数据表字段属性 -->
    <sql id="selectBasMergeVo">
        select id,
               createdate,
               modifydate,
               merge_name,
               suggestion,
               is_delete,
               input_code,
               tjjy,
               creater
        from md_bas_merge
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BasMergeMap">
        select mbm.*
        from md_bas_merge mbm
        where is_delete = 0
        <if test="param.inputCode!=null and param.inputCode!=''">
            AND input_code like concat('%',#{param.inputCode},'%')
        </if>
        <if test="param.mergeName!=null and param.mergeName!=''">
            AND merge_name like concat('%',#{param.mergeName},'%')
        </if>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BasMergeMap">
        <include refid="selectBasMergeVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!--通过Con和mid获取合并结伦词-->
    <select id="getMergeByCon" resultMap="BasMergeMap">
        SELECT M.*
        FROM md_bas_merge M
        INNER JOIN md_bas_merge_conclusion C ON C.MERGE_ID=M.ID AND C.CONCLUSION_ID IN (#{str})
        LEFT JOIN md_bas_merge_conclusion C2 ON C2.MERGE_ID=M.ID AND C2.CONCLUSION_ID NOT IN (#{str})
        WHERE M.IS_DELETE=0
        <if test="mId!=null and mId!=''">
            AND M.ID != #{mId}
        </if>
        GROUP BY M.ID,M.CREATEDATE,
                 M.MODIFYDATE,
                 M.MERGE_NAME,
                 M.SUGGESTION,
                 M.IS_DELETE,
                 M.INPUT_CODE,
                 M.TJJY,
                 M.CREATER
        HAVING COUNT(DISTINCT C.CONCLUSION_ID) = #{length}
        AND COUNT(C2.ID)=0
    </select>

</mapper>

