<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.DevicetypePositionCheckitemMapper">

    <resultMap type="com.center.medical.data.bean.model.DevicetypePositionCheckitem"
               id="DevicetypePositionCheckitemMap">
        <id property="id" column="id"/>
        <result property="devicetypename" column="devicetypename"/>
        <result property="studypositionname" column="studypositionname"/>
        <result property="checkitemnname" column="checkitemnname"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDevicetypePositionCheckitemVo">
        select id, devicetypename, studypositionname, checkitemnname
        from md_devicetype_position_checkitem
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="DevicetypePositionCheckitemMap">
        <include refid="selectDevicetypePositionCheckitemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DevicetypePositionCheckitemMap">
        <include refid="selectDevicetypePositionCheckitemVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 获取部位检查项目数据 -->
    <select id="getPostionCheckItemData" resultType="com.center.medical.data.bean.vo.PostionCheckItemVo">
        SELECT dpc.id,
        dpc.devicetypename,
        dpc.studypositionname,
        dpc.checkitemnname
        FROM md_devicetype_position_checkitem dpc
        <where>
            1 = 1
            <if test="key!=null and key!=''">
                AND dpc.studypositionname LIKE concat('%',#{key},'%')
            </if>
            <if test="id!=null and id!=''">
                AND dpc.id = #{id}
            </if>
        </where>
        ORDER BY dpc.studypositionname
    </select>
</mapper>

