<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.ShortmessageMapper">

    <resultMap type="com.center.medical.data.bean.model.Shortmessage" id="ShortmessageMap">
        <id property="id" column="id"/>
        <result property="messageType" column="message_type"/>
        <result property="messageName" column="message_name"/>
        <result property="messageText" column="message_text"/>
        <result property="inputcode" column="inputcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="isDelete" column="is_delete"/>
        <result property="templateId" column="template_id"/>
        <result property="params" column="params"/>
        <result property="appid" column="appid"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectShortmessageVo">
        select id,
               message_type,
               message_name,
               message_text,
               inputcode,
               createdate,
               modifydate,
               note,
               is_delete,
               template_id,
               params,
               appid
        from md_shortmessage
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.data.bean.model.Shortmessage">
        select ms.id,
        ms.message_type,
        ms.message_name,
        ms.message_text,
        ms.inputcode,
        ms.createdate,
        ms.modifydate,
        ms.note,
        ms.is_delete,
        ms.template_id,
        ms.params,
        ms.appid,
        msmt.type_name
        from md_shortmessage ms
        LEFT JOIN md_short_message_type msmt ON ms.message_type = msmt.id
        where ms.is_delete = 0
        <if test="param.messageType!=null and param.messageType!=''">
            AND ms.message_type = #{param.messageType}
        </if>
        <if test="param.inputcode!=null and param.inputcode!=''">
            AND ms.inputcode like concat('%',#{param.inputcode},'%')
        </if>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.data.bean.model.Shortmessage">
        select ms.id,
        ms.message_type,
        ms.message_name,
        ms.message_text,
        ms.inputcode,
        ms.createdate,
        ms.modifydate,
        ms.note,
        ms.is_delete,
        ms.template_id,
        ms.params,
        ms.appid,
        msmt.type_name
        from md_shortmessage ms
        LEFT JOIN md_short_message_type msmt ON ms.message_type = msmt.id
        <where>
            ms.is_delete = 0
            AND ms.id = #{id}
        </where>
    </select>

</mapper>

