<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.data.dao.ZyVsSummaryMapper">

    <resultMap type="com.center.medical.data.bean.model.ZyVsSummary" id="ZyVsSummaryMap">
        <id property="id" column="id"/>
        <result property="regimentationNote" column="regimentation_note"/>
        <result property="occupationSummaryClass" column="occupation_summary_class"/>
        <result property="occupationSummaryCode" column="occupation_summary_code"/>
        <result property="diagnosisFrom" column="diagnosis_from"/>
        <result property="occupationDiagnosisCode" column="occupation_diagnosis_code"/>
        <result property="occupationDiagnosis" column="occupation_diagnosis"/>
        <result property="diagnosis" column="diagnosis"/>
        <result property="summaryText" column="summary_text"/>
        <result property="forPersonInfluence" column="for_person_influence"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="occupationDiseast" column="occupation_diseast"/>
        <result property="occupationSummary" column="occupation_summary"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="healthEvaluationClass" column="health_evaluation_class"/>
        <result property="zzjjzdm" column="zzjjzdm"/>
        <result property="isDelete" column="is_delete"/>
        <result property="serialNo" column="serial_no"/>
        <result property="itemId" column="item_id"/>
        <result property="alwaysInReport" column="always_in_report"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyVsSummaryVo">
        select id,
               regimentation_note,
               occupation_summary_class,
               occupation_summary_code,
               diagnosis_from,
               occupation_diagnosis_code,
               occupation_diagnosis,
               diagnosis,
               summary_text,
               for_person_influence,
               input_code,
               db_user,
               occupation_diseast,
               occupation_summary,
               createdate,
               modifydate,
               health_evaluation_class,
               zzjjzdm,
               is_delete,
               serial_no,
               item_id,
               always_in_report
        from md_zy_vs_summary
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.data.bean.model.ZyVsSummary">
        select mzvs.* ,
        mh.harm_name as mhHarmName,
        mzhc.harm_class as mzchHarmClass,
        mzs.occupation_summary as mzsOccupationSummary,
        mi.examfeeitem_name as miExamfeeitemName,
        modi.occupation_diseast AS occupationDiseastName
        from md_zy_vs_summary mzvs
        left join md_harm mh on mzvs.occupation_diagnosis = mh.id
        left join md_zy_harm_class mzhc on mzvs.health_evaluation_class = mzhc.id
        left join md_zy_summary mzs on mzs.id = mzvs.occupation_summary
        left join md_occupation_diseast modi on modi.id = mzvs.occupation_diseast
        left join md_items mi on mzvs.item_id = mi.id
        <where>
            mzvs.is_delete = 0
            <if test="param.regimentationNote!=null and param.regimentationNote!=''">
                AND mzvs.regimentation_note = #{param.regimentationNote}
            </if>
            <if test="param.occupationDiagnosis!=null and param.occupationDiagnosis!=''">
                AND mzvs.occupation_diagnosis = #{param.occupationDiagnosis}
            </if>
            <if test="param.occupationSummary!=null and param.occupationSummary!=''">
                AND mzvs.occupation_summary = #{param.occupationSummary}
            </if>
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND mzvs.input_code like concat('%',#{param.inputCode},'%')
            </if>
        </where>
        order by mzvs.regimentation_note ASC,mzvs.health_evaluation_class ASC,mzvs.occupation_diagnosis
        ASC,mzvs.occupation_summary ASC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.data.bean.model.ZyVsSummary">
        select mzvs.* ,
        mh.harm_name as mhHarmName,
        mzhc.harm_class as mzchHarmClass,
        mzs.occupation_summary as mzsOccupationSummary,
        mi.examfeeitem_name as miExamfeeitemName,
        modi.occupation_diseast AS occupationDiseastName
        from md_zy_vs_summary mzvs
        left join md_harm mh on mzvs.occupation_diagnosis = mh.id
        left join md_zy_harm_class mzhc on mzvs.health_evaluation_class = mzhc.id
        left join md_zy_summary mzs on mzs.id = mzvs.occupation_summary
        left join md_occupation_diseast modi on modi.id = mzvs.occupation_diseast
        left join md_items mi on mzvs.item_id = mi.id
        <where>
            mzvs.is_delete = 0
            and mzvs.id = #{id}
        </where>
    </select>

    <!--根据主键id获取记录详情，没删除的-->
    <select id="getZyVsSummaryById" resultType="com.center.medical.data.bean.model.ZyVsSummary">
        select *
        from md_zy_vs_summary
        <where>
            is_delete = 0
            and id = #{id}
        </where>
    </select>

    <!--根据条件获取职业病处理意见ID-->
    <select id="getIdList" resultType="java.lang.String">
        SELECT
        DISTINCT zv.id
        FROM
        md_zy_vs_summary zv
        INNER JOIN md_zy_summary z ON z.id = zv.occupation_summary
        AND z.serial_no = 7
        INNER JOIN md_comboexamitem c ON c.harm_id = zv.occupation_diagnosis
        AND c.medical_type = zv.regimentation_note
        AND c.item_id = zv.item_id
        <where>
            zv.is_delete=0
            <if test="medicaltype=null">
                AND zv.regimentation_note= #{medicaltype}
            </if>
            <if test="odList!=null">
                AND zv.occupation_diagnosis IN
                <foreach collection="odList" item="od" open="(" close=")" separator=",">
                    #{od}
                </foreach>
            </if>
            <if test="itemIds!=null">
                AND c.item_id IN
                <foreach collection="itemIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <!--根据条件获取职业处理意见 对象集合-->
    <select id="getZyVsSummarySearchData" resultType="com.center.medical.data.bean.model.ZyVsSummary">
        select id,
        regimentation_note,
        occupation_summary_class,
        occupation_summary_code,
        diagnosis_from,
        occupation_diagnosis_code,
        occupation_diagnosis,
        diagnosis,
        summary_text,
        for_person_influence,
        input_code,
        db_user,
        occupation_diseast,
        occupation_summary,
        createdate,
        modifydate,
        health_evaluation_class,
        zzjjzdm,
        is_delete,
        serial_no,
        item_id,
        always_in_report
        from md_zy_vs_summary
        <where>
            is_delete = 0
            <if test="occupationDiagnosis!=null">
                AND occupation_diagnosis in
                <foreach collection="occupationDiagnosis" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="regimentationNote!=null and regimentationNote!=''">
                AND regimentation_note = #{regimentationNote}
            </if>
            <if test="occupationSummary!=null and occupationSummary!=''">
                AND occupation_summary = #{occupationSummary}
            </if>
        </where>
    </select>
</mapper>

