<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.BranchMapper">

    <resultMap type="com.center.medical.bean.model.Branch" id="BranchMap">
        <id property="id" column="id"/>
        <result property="branchId" column="branch_id"/>
        <result property="fzx" column="fzx"/>
        <result property="jm" column="jm"/>
        <result property="srm" column="srm"/>
        <result property="pid" column="pid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="address" column="address"/>
        <result property="isDefault" column="is_default"/>
        <result property="branchType" column="branch_type"/>
        <result property="fPayOnline" column="f_pay_online"/>
        <result property="lng" column="lng"/>
        <result property="lat" column="lat"/>
        <result property="tel" column="tel"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="inspectInfo" column="inspect_info"/>
        <result property="noInfo" column="no_info"/>
        <result property="pics" column="pics"/>
        <result property="introduce" column="introduce"/>
        <result property="qtInfo" column="qt_info"/>
        <result property="picture" column="picture"/>
        <result property="hospitalSubId" column="hospital_sub_id"/>
        <result property="pyjm" column="pyjm"/>
        <result property="isShow" column="is_show"/>
        <result property="needReservation" column="need_reservation"/>
        <result property="startTime2" column="start_time2"/>
        <result property="endTime2" column="end_time2"/>
        <result property="reservationPeriod" column="reservation_period"/>
        <result property="branchSort" column="branch_sort"/>
        <result property="centerorgname" column="centerorgname"/>
        <result property="briefFzx" column="brief_fzx"/>
        <result property="isWechatApp" column="is_wechat_app"/>
        <result property="queueUrl" column="queue_url"/>
        <result property="latGcj" column="lat_gcj"/>
        <result property="lngGcj" column="lng_gcj"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBranchVo">
        select id,
               branch_id,
               fzx,
               jm,
               srm,
               pid,
               is_delete,
               address,
               is_default,
               branch_type,
               f_pay_online,
               lng,
               lat,
               tel,
               start_time,
               end_time,
               province,
               city,
               area,
               inspect_info,
               no_info,
               pics,
               introduce,
               qt_info,
               picture,
               hospital_sub_id,
               pyjm,
               is_show,
               need_reservation,
               start_time2,
               end_time2,
               reservation_period,
               branch_sort,
               centerorgname,
               brief_fzx,
               is_wechat_app,
               queue_url,
               lat_gcj,
               lng_gcj,
               create_time,
               update_time
        from sys_branch sb
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="BranchMap">
        <include refid="selectBranchVo"/>
        <where>
            sb.is_delete = 0
            <if test="param.fzx!=null and param.fzx!=''">
                AND sb.fzx LIKE CONCAT('%',#{param.fzx},'%')
            </if>
        </where>
        ORDER BY
        sb.branch_sort ASC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BranchMap">
        <include refid="selectBranchVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据branchId获取记录详情 -->
    <select id="getInfoByBranchId" resultMap="BranchMap">
        <include refid="selectBranchVo"/>
        <where>
            sb.branch_id = #{branchId}
        </where>
    </select>

    <!--获取套餐的分中心-->
    <select id="getBranchData" resultMap="BranchMap">
        SELECT b.*
        FROM sys_branch b
                 LEFT JOIN md_comboandfzx caf ON caf.fzxid = b.id
            AND caf.tcid = #{id}
                 LEFT JOIN md_mealandfzx maf ON maf.fzxid = b.id
            AND maf.tcid = #{id}
        WHERE (maf.id IS NOT NULL OR caf.id IS NOT NULL)
          AND b.is_delete = 0
    </select>


    <!--获取用户分中心-->
    <select id="getListBranch" resultMap="BranchMap">
        SELECT
        b.id,
        b.branch_id,
        b.fzx,
        b.jm,
        b.srm
        FROM
        sys_branch b
        WHERE
        b.is_delete = 0
        AND b.branch_id IN
        <foreach collection="branchIds" item="brandId" open="(" close=")" separator=",">
            #{brandId}
        </foreach>
    </select>

    <!-- 根据机构门店id获取记录详情 -->
    <select id="getInfoByHospitalSubId" resultMap="BranchMap">
        <include refid="selectBranchVo"/>
        <where>
            hospital_sub_id = #{hospitalSubId}
            and is_delete=0
        </where>
    </select>


    <!-- 根据机构门店id获取记录详情 -->
    <select id="getUserCenterOrgNameList" resultType="com.center.medical.system.bean.vo.CenterOrgNameListVo">
        SELECT
            b.branch_id,
            b.fzx,
            b.centerorgname
        FROM
            sys_branch b
                LEFT JOIN sys_user_branch ub ON ub.branch_id = b.branch_id
        <where>
            ub.user_id = #{userNo}
        </where>
    </select>
</mapper>

