<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.CodeConfigMapper">

    <resultMap type="com.center.medical.system.bean.model.CodeConfig" id="SysCodeConfigMap">
        <id property="id" column="id"/>
        <result property="codeType" column="code_type"/>
        <result property="authCode" column="auth_code"/>
        <result property="bizAuthCode" column="biz_auth_code"/>
        <result property="bsFlag" column="bs_flag"/>
        <result property="sourceId" column="source_id"/>
        <result property="codeSetting" column="code_setting"/>
        <result property="remark" column="remark"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="status" column="status"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="keyText" column="key_text"/>
        <result property="valueText" column="value_text"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysCodeConfigVo">
        select id,
               code_type,
               auth_code,
               biz_auth_code,
               bs_flag,
               source_id,
               code_setting,
               remark,
               expiry_date,
               status,
               createdate,
               modifydate,
               key_text,
               value_text
        from sys_code_config
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysCodeConfigMap">
        <include refid="selectSysCodeConfigVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysCodeConfigMap">
        <include refid="selectSysCodeConfigVo"/>
        <where>
            id = #{id}
            AND status = 1
        </where>
    </select>

</mapper>

