<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysBranchMapper">

    <resultMap type="com.center.medical.bean.model.SysBranch" id="SysBranchResult">
        <id property="id" column="id"/>
        <result property="branchId" column="branch_id"/>
        <result property="fzx" column="fzx"/>
        <result property="jm" column="jm"/>
        <result property="srm" column="srm"/>
        <result property="pid" column="pid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="address" column="address"/>
        <result property="isDefault" column="is_default"/>
        <result property="branchType" column="branch_type"/>
        <result property="fPayOnline" column="f_pay_online"/>
        <result property="lng" column="lng"/>
        <result property="lat" column="lat"/>
        <result property="tel" column="tel"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="inspectInfo" column="inspect_info"/>
        <result property="noInfo" column="no_info"/>
        <result property="pics" column="pics"/>
        <result property="introduce" column="introduce"/>
        <result property="qtInfo" column="qt_info"/>
        <result property="picture" column="picture"/>
        <result property="hospitalSubId" column="hospital_sub_id"/>
        <result property="pyjm" column="pyjm"/>
        <result property="isShow" column="is_show"/>
        <result property="needReservation" column="need_reservation"/>
        <result property="startTime2" column="start_time2"/>
        <result property="endTime2" column="end_time2"/>
        <result property="reservationPeriod" column="reservation_period"/>
        <result property="branchSort" column="branch_sort"/>
        <result property="centerorgname" column="centerorgname"/>
        <result property="briefFzx" column="brief_fzx"/>
        <result property="isWechatApp" column="is_wechat_app"/>
        <result property="queueUrl" column="queue_url"/>
        <result property="latGcj" column="lat_gcj"/>
        <result property="lngGcj" column="lng_gcj"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysBranchVo">
        select id,
               branch_id,
               fzx,
               jm,
               srm,
               pid,
               is_delete,
               address,
               is_default,
               branch_type,
               f_pay_online,
               lng,
               lat,
               tel,
               start_time,
               end_time,
               province,
               city,
               area,
               inspect_info,
               no_info,
               pics,
               introduce,
               qt_info,
               picture,
               hospital_sub_id,
               pyjm,
               is_show,
               need_reservation,
               start_time2,
               end_time2,
               reservation_period,
               branch_sort,
               centerorgname,
               brief_fzx,
               is_wechat_app,
               queue_url,
               lat_gcj,
               lng_gcj,
               create_time,
               update_time
        from sys_branch
    </sql>

    <select id="getList" resultMap="SysBranchResult">
        <include refid="selectSysBranchVo"/>
        <where>
            <if test="param.fzx != null  and param.fzx != ''">
                and fzx like concat('%', #{param.fzx}, '%')
            </if>
            <if test="param.jm != null  and param.jm != ''">
                and jm = #{param.jm}
            </if>
            <if test="param.srm != null  and param.srm != ''">
                and srm = #{param.srm}
            </if>
            <if test="param.isDefault != null ">
                and is_default = #{param.isDefault}
            </if>
            <if test="param.branchType != null ">
                and branch_type = #{param.branchType}
            </if>
            <if test="param.fPayOnline != null ">
                and f_pay_online = #{param.fPayOnline}
            </if>
            <if test="param.tel != null  and param.tel != ''">
                and tel = #{param.tel}
            </if>
            <if test="param.hospitalSubId != null  and param.hospitalSubId != ''">
                and hospital_sub_id = #{param.hospitalSubId}
            </if>
            <if test="param.pyjm != null  and param.pyjm != ''">
                and pyjm = #{param.pyjm}
            </if>
            <if test="param.branchId != null  and param.branchId != ''">
                and branch_id = #{param.branchId}
            </if>
        </where>
        ORDER BY
        branch_sort ASC
    </select>


    <select id="getInfoById" resultMap="SysBranchResult">
        SELECT
        *
        FROM sys_branch
        <where>
            id = #{id}
            AND is_delete = 0
        </where>

    </select>

    <!--通过userNo获取部门id和简码-->
    <select id="getCenterPrefix" resultType="com.center.medical.bean.model.SysBranch">
        select sys_branch.branch_id,
               sys_branch.jm
        from sys_user
                 left join sys_branch on sys_branch.branch_id = sys_user.cid
            and sys_branch.is_delete = 0
        where sys_user.user_no = #{curuserid}
    </select>


    <!--获取默认的cid-->
    <select id="getDefaultCid" resultType="string">
        SELECT
        branch_id
        FROM
        sys_branch
        <where>
            is_default = 1
            AND is_delete = 0
        </where>
    </select>


    <!--获取默认的cid-->
    <select id="getDefaultBranch" resultType="com.center.medical.bean.model.SysBranch">
        SELECT
        *
        FROM sys_branch
        <where>
            is_default = 1
            AND is_delete = 0
        </where>
    </select>


    <!--获取默认的cid-->
    <select id="centerListData" resultType="com.center.medical.system.bean.vo.CenterListDataVo">
        SELECT
        id,
        pid,
        fzx AS name,
        IFNULL(is_default,0) AS isDefault
        FROM sys_branch
        <where>
            is_show = 1
            AND is_delete = 0
        </where>
    </select>


    <!--通过branchId获取分中心-->
    <select id="getByBranchId" resultMap="SysBranchResult">
        SELECT
        *
        FROM sys_branch
        <where>
            branch_id = #{branchId}
            AND is_delete = 0
        </where>

    </select>



    <!--通过分中心名称查询-->
    <select id="getByBranchName" resultMap="SysBranchResult">
        SELECT
        *
        FROM sys_branch
        <where>
            fzx = #{fzx}
            AND is_delete = 0
        </where>

    </select>
</mapper>