<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysCenDepMapper">

    <resultMap type="com.center.medical.common.core.domain.entity.SysCenDep" id="SysCenDepMap">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="did" column="did"/>
        <result property="imgpath" column="imgpath"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="xh" column="xh"/>
        <result property="sjbggs" column="sjbggs"/>
        <result property="jcdd" column="jcdd"/>
        <result property="jklx" column="jklx"/>
        <result property="ksh" column="ksh"/>
        <result property="description" column="description"/>
        <result property="dydXh" column="dyd_xh"/>
        <result property="dydMemo" column="dyd_memo"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysCenDepVo">
        select id,
               cid,
               did,
               imgpath,
               createdate,
               modifydate,
               xh,
               sjbggs,
               jcdd,
               jklx,
               ksh,
               description,
               dyd_xh,
               dyd_memo
        from sys_cen_dep
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="SysCenDepMap">
        <include refid="selectSysCenDepVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysCenDepMap">
        <include refid="selectSysCenDepVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

