<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysNoticeConfigMapper">

    <resultMap type="com.center.medical.common.core.domain.entity.SysNoticeConfig" id="SysNoticeConfigMap">
        <id property="id" column="id"/>
        <result property="noticeName" column="notice_name"/>
        <result property="noticeText" column="notice_text"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="isDelete" column="is_delete"/>
        <result property="templateId" column="template_id"/>
        <result property="appid" column="appid"/>
        <result property="roleId" column="role_id"/>
        <result property="operator" column="operator"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysNoticeConfigVo">
        select id,
               notice_name,
               notice_text,
               createdate,
               modifydate,
               note,
               is_delete,
               template_id,
               appid,
               role_id,
               operator
        from sys_notice_config
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysNoticeConfigMap">
        SELECT
            id,
            notice_name,
            notice_text,
            createdate,
            note,
            is_delete,
            template_id,
            appid,
            role_id,
            operator
        FROM
            sys_notice_config
        <where>
            is_delete = 0
            <if test="param.noticeName!=null and param.noticeName!=''">
                AND notice_name like concat('%',#{param.noticeName},'%')
            </if>
        </where>
        order by createdate desc
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysNoticeConfigMap">
        <include refid="selectSysNoticeConfigVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getUserNoById" resultType="java.lang.String">
        SELECT DISTINCT
            su.user_no
        FROM
            sys_notice_config snc
                INNER JOIN sys_user_role sur ON FIND_IN_SET( sur.role_id, snc.role_id )
                INNER JOIN sys_user su ON sur.user_id = su.user_id
        <where>
            snc.id = #{id}
        </where>
    </select>
</mapper>

