<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysVersion1Mapper">

    <resultMap type="com.center.medical.system.bean.model.SysVersion1" id="SysVersionMap">
        <id property="id" column="id"/>
        <result property="versionNumber" column="version_number"/>
        <result property="versionName" column="version_name"/>
        <result property="serviceId" column="service_id"/>
        <result property="filePath" column="file_path"/>
        <result property="notes" column="notes"/>
        <result property="executeType" column="execute_type"/>
        <result property="executeTime" column="execute_time"/>
        <result property="status" column="status"/>
        <result property="finishTime" column="finish_time"/>
        <result property="sqlFile" column="sql_file"/>
        <result property="createby" column="createby"/>
        <result property="createdate" column="createdate"/>
        <result property="modifyby" column="modifyby"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysVersionVo">
        select id,
               version_number,
               version_name,
               service_id,
               file_path,
               notes,
               execute_type,
               execute_time,
               status,
               finish_time,
               sql_file,
               createby,
               createdate,
               modifyby,
               modifydate
        from sys_version
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysVersionMap">
        <include refid="selectSysVersionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysVersionMap">
        <include refid="selectSysVersionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

