<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reservation.dao.SortQueryMapper">



    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.reservation.bean.vo.SortQueryVo">
        SELECT
            reservationDate,
            dept,
            item,
            MAX(sfwc) as sfwc,
            SUM(am) AS am,
            SUM(pm) AS pm,
            SUM(vip) AS vip,
            SUM(vvip) AS vvip,
            MAX(amlimit) AS amlimit,
            MAX(pmlimit) AS pmlimit,
            MAX(viplimit) AS viplimit,
            MAX(vviplimit) AS vviplimit
        FROM (
            SELECT
            STR_TO_DATE( r.reservation_date, '%Y-%m-%d' ) as reservationDate,
            i.depart_name AS dept,
            i.examfeeitem_name AS item,
            cm.sfwc,
            count(DISTINCT CASE WHEN r.level_id = 1 THEN r.id ELSE null END ) AS am,
            0 AS pm,
            count(DISTINCT CASE WHEN r.level_id = 2 THEN r.id ELSE null END ) AS vip,
            count(DISTINCT CASE WHEN r.level_id = 3 THEN r.id ELSE null END ) AS vvip,
            rs.amlimit,
            rs.pmlimit,
            rs.viplimit,
            rs.vviplimit
            FROM
            md_reservation r
            LEFT JOIN (
            SELECT
            reservation_date,
            sum( CASE WHEN level_id = 1 AND am_or_pm = 0 THEN max_num ELSE 0 END ) AS amlimit,
            sum( CASE WHEN level_id = 1 AND am_or_pm = 1 THEN max_num ELSE 0 END ) AS pmlimit,
            sum( CASE WHEN level_id = 2 THEN max_num ELSE 0 END ) AS viplimit,
            sum( CASE WHEN level_id = 3 THEN max_num ELSE 0 END ) AS vviplimit
            FROM
            md_reservation_setting
            GROUP BY
            reservation_date
            ) AS rs ON STR_TO_DATE(rs.reservation_date, '%Y-%m-%d' ) = STR_TO_DATE(r.reservation_date, '%Y-%m-%d' )
            LEFT JOIN md_peispatientfeeitem pf ON pf.id_patient = r.patientcode
            LEFT JOIN md_items i ON i.id = pf.id_examfeeitem
            LEFT JOIN md_createmeal cm ON cm.id = r.combo_id
            <where>
                r.patientcode is not null
                AND r.status != '-1'
                <if test="param.divisionId!=null and param.divisionId!=''">
                    AND i.id_depart = #{param.divisionId}
                </if>
                <if test="param.itemId!=null and param.itemId!=''">
                    AND i.id = #{param.itemId}
                </if>
                <if test="param.startTime!=null">
                    AND r.reservation_date <![CDATA[ >= ]]> #{param.startTime}
                </if>
                <if test="param.endTime!=null">
                    AND r.reservation_date <![CDATA[ <= ]]> #{param.endTime}
                </if>
                <if test="param.containSingle!=null and param.containSingle == 0">
                    AND r.f_usecodehiden = 1
                </if>
            </where>
            GROUP BY
            STR_TO_DATE( r.reservation_date, '%Y-%m-%d' ),
            i.depart_name,
            i.examfeeitem_name

            UNION ALL

            SELECT
            STR_TO_DATE( rg.reservation_date, '%Y-%m-%d' ) AS reservationDate,
            i.depart_name AS dept,
            i.examfeeitem_name AS item,
            cm.sfwc,
            SUM(CASE WHEN rg.level_id = 1 THEN count_am ELSE 0 END ) AS am,
            0 AS pm,
            SUM(CASE WHEN rg.level_id = 2 THEN count_am ELSE 0 END ) AS vip,
            SUM(CASE WHEN rg.level_id = 3 THEN count_am ELSE 0 END ) AS vvip,
            0 as amlimit,
            0 as pmlimit,
            0 as viplimit,
            0 as vviplimit
            FROM
            md_reservation_group rg
            LEFT JOIN md_createmeal cm ON cm.id = rg.combo_id
            LEFT JOIN md_mealanditem mai ON cm.id = mai.tcid
            LEFT JOIN md_items i ON i.id = mai.sfxmid
            <where>
                rg.combo_id is not null
                AND rg.is_delete = 0
                <if test="param.divisionId!=null and param.divisionId!=''">
                    AND i.id_depart = #{param.divisionId}
                </if>
                <if test="param.itemId!=null and param.itemId!=''">
                    AND i.id = #{param.itemId}
                </if>
                <if test="param.startTime!=null">
                    AND rg.reservation_date <![CDATA[ >= ]]> #{param.startTime}
                </if>
                <if test="param.endTime!=null">
                    AND rg.reservation_date <![CDATA[ <= ]]> #{param.endTime}
                </if>
            </where>
            GROUP BY
            STR_TO_DATE( rg.reservation_date, '%Y-%m-%d' ),
            i.depart_name,
            i.examfeeitem_name
        ) aaa
        GROUP BY
        reservationDate,
        dept,
        item
        ORDER BY
        reservationDate DESC,
        dept,
        item
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.reservation.bean.model.Reservation">

    </select>




    <!-- 不包含个检的分页 -->
    <select id="getPageNoContain" resultType="com.center.medical.reservation.bean.vo.SortQueryVo">

    </select>





    <!-- 导出数据包含个检 -->
    <select id="exportData" resultType="com.center.medical.reservation.bean.vo.SortQueryVo">
        SELECT
        reservationDate,
        dept,
        item,
        MAX(sfwc) as sfwc,
        SUM(am) AS am,
        SUM(pm) AS pm,
        SUM(vip) AS vip,
        SUM(vvip) AS vvip,
        MAX(amlimit) AS amlimit,
        MAX(pmlimit) AS pmlimit,
        MAX(viplimit) AS viplimit,
        MAX(vviplimit) AS vviplimit
        FROM (
        SELECT
        STR_TO_DATE( r.reservation_date, '%Y-%m-%d' ) as reservationDate,
        i.depart_name AS dept,
        i.examfeeitem_name AS item,
        cm.sfwc,
        count(DISTINCT CASE WHEN r.level_id = 1 THEN r.id ELSE null END ) AS am,
        0 AS pm,
        count(DISTINCT CASE WHEN r.level_id = 2 THEN r.id ELSE null END ) AS vip,
        count(DISTINCT CASE WHEN r.level_id = 3 THEN r.id ELSE null END ) AS vvip,
        rs.amlimit,
        rs.pmlimit,
        rs.viplimit,
        rs.vviplimit
        FROM
        md_reservation r
        LEFT JOIN (
        SELECT
        reservation_date,
        sum( CASE WHEN level_id = 1 AND am_or_pm = 0 THEN max_num ELSE 0 END ) AS amlimit,
        sum( CASE WHEN level_id = 1 AND am_or_pm = 1 THEN max_num ELSE 0 END ) AS pmlimit,
        sum( CASE WHEN level_id = 2 THEN max_num ELSE 0 END ) AS viplimit,
        sum( CASE WHEN level_id = 3 THEN max_num ELSE 0 END ) AS vviplimit
        FROM
        md_reservation_setting
        GROUP BY
        reservation_date
        ) AS rs ON STR_TO_DATE(rs.reservation_date, '%Y-%m-%d' ) = STR_TO_DATE(r.reservation_date, '%Y-%m-%d' )
        LEFT JOIN md_peispatientfeeitem pf ON pf.id_patient = r.patientcode
        LEFT JOIN md_items i ON i.id = pf.id_examfeeitem
        LEFT JOIN md_createmeal cm ON cm.id = r.combo_id
        <where>
            r.patientcode is not null
            AND r.status != '-1'
            <if test="param.divisionId!=null and param.divisionId!=''">
                AND i.id_depart = #{param.divisionId}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.startTime!=null">
                AND r.reservation_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.reservation_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.containSingle!=null and param.containSingle == 0">
                AND r.f_usecodehiden = 1
            </if>
        </where>
        GROUP BY
        STR_TO_DATE( r.reservation_date, '%Y-%m-%d' ),
        i.depart_name,
        i.examfeeitem_name

        UNION ALL

        SELECT
        STR_TO_DATE( rg.reservation_date, '%Y-%m-%d' ) AS reservationDate,
        i.depart_name AS dept,
        i.examfeeitem_name AS item,
        cm.sfwc,
        SUM(CASE WHEN rg.level_id = 1 THEN count_am ELSE 0 END ) AS am,
        0 AS pm,
        SUM(CASE WHEN rg.level_id = 2 THEN count_am ELSE 0 END ) AS vip,
        SUM(CASE WHEN rg.level_id = 3 THEN count_am ELSE 0 END ) AS vvip,
        0 as amlimit,
        0 as pmlimit,
        0 as viplimit,
        0 as vviplimit
        FROM
        md_reservation_group rg
        LEFT JOIN md_createmeal cm ON cm.id = rg.combo_id
        LEFT JOIN md_mealanditem mai ON cm.id = mai.tcid
        LEFT JOIN md_items i ON i.id = mai.sfxmid
        <where>
            rg.combo_id is not null
            AND rg.is_delete = 0
            <if test="param.divisionId!=null and param.divisionId!=''">
                AND i.id_depart = #{param.divisionId}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.startTime!=null">
                AND rg.reservation_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND rg.reservation_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        GROUP BY
        STR_TO_DATE( rg.reservation_date, '%Y-%m-%d' ),
        i.depart_name,
        i.examfeeitem_name
        ) aaa
        GROUP BY
        reservationDate,
        dept,
        item
        ORDER BY
        reservationDate DESC,
        dept,
        item
    </select>



    <!-- 导出数据不包含个检 -->
    <select id="exportDataNoContain" resultType="com.center.medical.reservation.bean.vo.SortQueryVo">

    </select>
</mapper>

