<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.CdcMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.query.bean.vo.CdcPageVo">
        SELECT
            p.dateregister,
            p.org_name,
            p.patientname,
            p.idcardno,
            p.phone,
            p.medicaltype,
            p.id_sex,
            FLOOR ( p.zgl / 12 ) as zglyear,
            MOD ( p.zgl, 12 ) as zglmonth,
            p.jhys,
            FLOOR ( p.jhgl / 12 ) as jhglyear,
            MOD ( p.jhgl, 12 ) as jhglmonth,
            p.org_depart,
            IFNULL ( bw.type_name, p.trades ) as trades,
            xdt.zy_conclusions as xdt,
            e.test_result as dct,
            p.patientcode,
            ( CASE WHEN p.counterreportprinted > 0 THEN '是' ELSE '否' END ) as isfc,
            pc.symptom,
            e.air_left500,
            e.air_left1000,
            e.air_left2000,
            e.air_left3000,
            e.air_left4000,
            e.air_left6000,
            e.air_right500,
            e.air_right1000,
            e.air_right2000,
            e.air_right3000,
            e.air_right4000,
            e.air_right6000,
            p.age,
            ( CASE WHEN st.summary_id is null THEN st.offer ELSE zs.occupation_summary END ) as occupationSummary,
            mr.url_pdf
        FROM
            md_peispatient p
                LEFT JOIN md_base_worktype bw ON bw.id = p.worktype_id
                LEFT JOIN md_peispatient_consultation pc ON pc.patientcode = p.patientcode
                INNER JOIN md_section_total st ON st.patientcode = p.patientcode
                AND st.disease_health = 1
                LEFT JOIN md_tjreg tr ON tr.patientcode = p.patientcode
                LEFT JOIN md_lung l ON l.patientcode = p.patientcode
                LEFT JOIN md_electro_audiometer e ON e.patientcode = p.patientcode
                LEFT JOIN md_peispatientexamitem bxbjs ON bxbjs.patientcode = p.patientcode
                AND bxbjs.id_examitem = '16'
                LEFT JOIN md_peispatientexamitem hxb ON hxb.patientcode = p.patientcode
                AND hxb.id_examitem = '22'
                LEFT JOIN md_peispatientexamitem xhdb ON xhdb.patientcode = p.patientcode
                AND xhdb.id_examitem = '23'
                LEFT JOIN md_peispatientexamitem xxb ON xxb.patientcode = p.patientcode
                AND xxb.id_examitem = '29'
                LEFT JOIN md_peispatientexamitem nt ON nt.patientcode = p.patientcode
                AND nt.id_examitem = '429'
                LEFT JOIN md_peispatientexamitem ndb ON ndb.patientcode = p.patientcode
                AND NDB.id_examitem = '647'
                LEFT JOIN md_peispatientexamitem bxb ON bxb.patientcode = p.patientcode
                AND bxb.id_examitem = '67'
                LEFT JOIN md_peispatientexamitem nqx ON nqx.patientcode = p.patientcode
                AND nqx.id_examitem = '98'
                LEFT JOIN md_peispatientexamitem alt ON alt.patientcode = p.patientcode
                AND alt.id_examitem = '40'
                LEFT JOIN md_peispatientexamitem xq ON xq.patientcode = p.patientcode
                AND xq.id_examitem = '1326'
                LEFT JOIN md_peispatientexamitem nq ON nq.patientcode = p.patientcode
                AND nq.id_examitem = 'z045'
                LEFT JOIN md_peispatientexamitem zxlxb ON zxlxb.patientcode = p.patientcode
                AND zxlxb.id_examitem = '770'
                LEFT JOIN md_peispatientexamitem rpbt ON rpbt.patientcode = p.patientcode
                AND rpbt.id_examitem = 'z0137'
                LEFT JOIN md_peispatientexamitem nbz ON nbz.patientcode = p.patientcode
                AND nbz.id_examitem = '69'
                LEFT JOIN md_peispatientexamitem jjhxb ON jjhxb.patientcode = p.patientcode
                AND jjhxb.id_examitem = '918'
                LEFT JOIN md_peispatientexamitem kfxt ON kfxt.patientcode = p.patientcode
                AND kfxt.id_examitem = '831'
                LEFT JOIN md_pacs_result xp ON xp.patientcode = p.patientcode
                AND xp.item_id = 'z025'
                LEFT JOIN md_pacs_result gpcc ON gpcc.patientcode = p.patientcode
                AND gpcc.item_id = 'z034'
                LEFT JOIN md_section_result_main xdt ON xdt.patientcode = p.patientcode
                AND xdt.dep_id = '9'
                LEFT JOIN md_zy_summary zs ON zs.id = st.summary_id
                LEFT JOIN md_report mr on mr.patientcode = p.patientcode
                AND mr.disease_health = 1
        <where>
            p.zytjzt > 0
            <if test="param.medicaltype!=null and param.medicaltype!=''">
                AND p.medicaltype = #{param.medicaltype}
            </if>
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode = #{param.patientcode}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        ORDER BY p.patientcode DESC
    </select>


    <!-- 导出自费收费汇总 -->
    <select id="getExportData" resultType="com.center.medical.query.bean.dto.CdcExportDto">
        SELECT
        p.dateregister,
        p.org_name,
        p.patientname,
        p.idcardno,
        p.phone,
        p.medicaltype,
        p.id_sex,
        FLOOR ( p.zgl / 12 ) as zglyear,
        MOD ( p.zgl, 12 ) as zglmonth,
        p.jhys,
        FLOOR ( p.jhgl / 12 ) as jhglyear,
        MOD ( p.jhgl, 12 ) as jhglmonth,
        p.org_depart,
        IFNULL ( bw.type_name, p.trades ) as trades,
        tr.ssy,
        tr.szy,
        bxbjs.examitemvaluesreport as bxbjs,
        hxb.examitemvaluesreport as hxb,
        xhdb.examitemvaluesreport as xhdb,
        xxb.examitemvaluesreport as xxb,
        nt.examitemvaluesreport as nt,
        ndb.examitemvaluesreport as ndb,
        bxb.examitemvaluesreport as bxb,
        nqx.examitemvaluesreport as nqx,
        alt.examitemvaluesreport as alt,
        xdt.zy_conclusions as xdt,
        xp.examresultsummary as xp,
        l.percentage_fvc as fvc,
        l.percentage_fev as fev1,
        l.fev_fvc,
        xq.examitemvaluesreport as xq,
        nq.examitemvaluesreport as nq,
        zxlxb.examitemvaluesreport as zxlxb,
        e.test_result as dct,
        rpbt.examitemvaluesreport as rpbt,
        st.summary_id,
        st.offer,
        st.report_conclusions,
        p.patientcode,
        zs.occupation_summary,
        ( CASE WHEN p.counterreportprinted > 0 THEN '是' ELSE '否' END ) as isfc,
        pc.symptom,
        nbz.examitemvaluesreport as nbz,
        jjhxb.examitemvaluesreport as jjhxb,
        e.air_left500,
        e.air_left1000,
        e.air_left2000,
        e.air_left3000,
        e.air_left4000,
        e.air_left6000,
        e.air_right500,
        e.air_right1000,
        e.air_right2000,
        e.air_right3000,
        e.air_right4000,
        e.air_right6000,
        p.age,
        kfxt.examitemvaluesreport as kfxt,
        gpcc.examresultsummary as gpcc,
        ( CASE WHEN st.summary_id is null THEN st.offer ELSE zs.occupation_summary END ) as occupationSummary,
        '' as zpp,
        '' as Wright
        FROM
        md_peispatient p
        LEFT JOIN md_base_worktype bw ON bw.id = p.worktype_id
        LEFT JOIN md_peispatient_consultation pc ON pc.patientcode = p.patientcode
        INNER JOIN md_section_total st ON st.patientcode = p.patientcode
        AND st.disease_health = 1
        LEFT JOIN md_tjreg tr ON tr.patientcode = p.patientcode
        LEFT JOIN md_lung l ON l.patientcode = p.patientcode
        LEFT JOIN md_electro_audiometer e ON e.patientcode = p.patientcode
        LEFT JOIN md_peispatientexamitem bxbjs ON bxbjs.patientcode = p.patientcode
        AND bxbjs.id_examitem = '16'
        LEFT JOIN md_peispatientexamitem hxb ON hxb.patientcode = p.patientcode
        AND hxb.id_examitem = '22'
        LEFT JOIN md_peispatientexamitem xhdb ON xhdb.patientcode = p.patientcode
        AND xhdb.id_examitem = '23'
        LEFT JOIN md_peispatientexamitem xxb ON xxb.patientcode = p.patientcode
        AND xxb.id_examitem = '29'
        LEFT JOIN md_peispatientexamitem nt ON nt.patientcode = p.patientcode
        AND nt.id_examitem = '429'
        LEFT JOIN md_peispatientexamitem ndb ON ndb.patientcode = p.patientcode
        AND NDB.id_examitem = '647'
        LEFT JOIN md_peispatientexamitem bxb ON bxb.patientcode = p.patientcode
        AND bxb.id_examitem = '67'
        LEFT JOIN md_peispatientexamitem nqx ON nqx.patientcode = p.patientcode
        AND nqx.id_examitem = '98'
        LEFT JOIN md_peispatientexamitem alt ON alt.patientcode = p.patientcode
        AND alt.id_examitem = '40'
        LEFT JOIN md_peispatientexamitem xq ON xq.patientcode = p.patientcode
        AND xq.id_examitem = '1326'
        LEFT JOIN md_peispatientexamitem nq ON nq.patientcode = p.patientcode
        AND nq.id_examitem = 'z045'
        LEFT JOIN md_peispatientexamitem zxlxb ON zxlxb.patientcode = p.patientcode
        AND zxlxb.id_examitem = '770'
        LEFT JOIN md_peispatientexamitem rpbt ON rpbt.patientcode = p.patientcode
        AND rpbt.id_examitem = 'z0137'
        LEFT JOIN md_peispatientexamitem nbz ON nbz.patientcode = p.patientcode
        AND nbz.id_examitem = '69'
        LEFT JOIN md_peispatientexamitem jjhxb ON jjhxb.patientcode = p.patientcode
        AND jjhxb.id_examitem = '918'
        LEFT JOIN md_peispatientexamitem kfxt ON kfxt.patientcode = p.patientcode
        AND kfxt.id_examitem = '831'
        LEFT JOIN md_pacs_result xp ON xp.patientcode = p.patientcode
        AND xp.item_id = 'z025'
        LEFT JOIN md_pacs_result gpcc ON gpcc.patientcode = p.patientcode
        AND gpcc.item_id = 'z034'
        LEFT JOIN md_section_result_main xdt ON xdt.patientcode = p.patientcode
        AND xdt.dep_id = '9'
        LEFT JOIN md_zy_summary zs ON zs.id = st.summary_id
        <where>
            p.zytjzt > 0
            <if test="param.medicaltype!=null and param.medicaltype!=''">
                AND p.medicaltype = #{param.medicaltype}
            </if>
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode = #{param.patientcode}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        ORDER BY p.patientcode DESC
    </select>


</mapper>

