<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.FinishStatusMapper">



    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.query.bean.vo.FinishStatusVo">
        SELECT
        id,
        dateregister,
        patientcode,
        patientname,
        id_sex AS sex,
        age,
        org_name,
        f_finalexamed,
        jktjzt AS jkwc,
        zytjzt AS zywc,
        jktjzt AS jkyd,
        zytjzt AS zyyd,
        id_examtype AS tjlx,
        f_readytofinal
        FROM md_peispatient
        <where>
            patientcode IS NOT NULL
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND patientcode = #{param.patientcode}
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
    </select>

    <!-- 点击获取收费项目信息 -->
    <select id="getChargeData" resultType="com.center.medical.query.bean.vo.FCChargeDataVo">
        SELECT
        id,
        examfeeitem_name AS idExamfeeitem
        FROM md_peispatientfeeitem
        <where>
            id_patient = #{patientcode}
            AND f_examinated = 0
            AND change_item = 0
        </where>
    </select>

</mapper>

