<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.InspectingMapper">

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.query.bean.vo.InspectingVo">
        SELECT
        p.*,
        mbw.type_name AS tradesName,
        mpa.patientarchiveno AS idPatientarchive,
        IFNULL(mcm.tjtcmc,mco.tjtcmc) AS tjtcmc,
        u.user_name AS doctorregName
        FROM
        md_peispatient p
        LEFT JOIN md_base_worktype mbw ON mbw.id = p.worktype_id
        LEFT JOIN md_peispatientarchive mpa ON mpa.id = p.patientarchiveno
        LEFT JOIN md_createmeal mcm ON mcm.id = p.id_tjtc
        LEFT JOIN md_createcombo mco ON mco.id = p.id_tjtc
        LEFT JOIN sys_user u ON u.user_no = p.id_doctorreg
        <where>
            <if test="param.idPatientclass!=null">
                <if test="param.idPatientclass != 4">
                    AND p.id_patientclass = #{param.idPatientclass}
                </if>
            </if>
            <if test="param.idExamtype!=null">
                <if test="param.idExamtype != 3">
                    AND p.id_examtype = #{param.idExamtype}
                </if>
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND p.org_name LIKE concat('%',#{param.orgName},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY p.dateregister DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.query.bean.vo.LoadFormVo">
        SELECT
        (CASE WHEN p.id_org is null THEN '个检' ELSE '団检' END) AS key0,
        p.id_patientclass AS key1,
        p.org_name AS key2,
        p.patientcode AS key3,
        p.patientname AS key4,
        p.id_sex AS key5,
        p.age AS key6,
        p.birthdate AS key7,
        p.idcardno AS key8,
        p.Phone AS key9,
        p.Phone AS key10,
        p.trades AS key11,
        p.id_marriage AS key12,
        p.address AS key13,
        p.id_examtype AS key14,
        p.medicaltype AS key15
        FROM
        md_peispatient p
        <where>
            p.id = #{id}
        </where>
    </select>


    <!-- 导出在检人员名单 数据 -->
    <select id="getExportData" resultType="com.center.medical.query.bean.vo.InspectingVo">
        SELECT
        p.*,
        mbw.type_name AS tradesName,
        mpa.patientarchiveno AS idPatientarchive,
        IFNULL(mcm.tjtcmc,mco.tjtcmc) AS tjtcmc,
        u.user_name AS doctorregName
        FROM
        md_peispatient p
        LEFT JOIN md_base_worktype mbw ON mbw.id = p.worktype_id
        LEFT JOIN md_peispatientarchive mpa ON mpa.id = p.patientarchiveno
        LEFT JOIN md_createmeal mcm ON mcm.id = p.id_tjtc
        LEFT JOIN md_createcombo mco ON mco.id = p.id_tjtc
        LEFT JOIN sys_user u ON u.user_no = p.id_doctorreg
        <where>
            <if test="param.idPatientclass!=null">
                <if test="param.idPatientclass != 4">
                    AND p.id_patientclass = #{param.idPatientclass}
                </if>
            </if>
            <if test="param.idExamtype!=null">
                <if test="param.idExamtype != 3">
                    AND p.id_examtype = #{param.idExamtype}
                </if>
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND p.org_name LIKE concat('%',#{param.orgName},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY p.dateregister DESC
    </select>
</mapper>

