<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.query.dao.TotalAddMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.query.bean.vo.TotalAddVo">
        SELECT
        p.patientcode,
        p.patientname,
        p.id_sex,
        ( CASE WHEN p.id_sex = '0' THEN '男' ELSE '女' END ) AS sex,
        p.age,
        p.org_name,
        u.user_name AS idFeecharger,
        (STR_TO_DATE ( feeitem.feechargetime, '%Y-%m-%d %T' )) AS createDate,
        mi.examfeeitem_name,
        depart.dept_name AS ksName,
        feeitem.price,
        feeitem.factprice,
        qu.user_name AS jxys,
        feeitem.feeitemdesc,
        (CASE WHEN p.numorgresv =- 1 THEN NULL ELSE p.numorgresv END) AS ddh,
        p.doctorapply
        FROM
        md_peispatientfeeitem feeitem
        LEFT JOIN md_peispatient p ON feeitem.id_patient = p.patientcode
        LEFT JOIN md_items mi ON feeitem.id_examfeeitem = mi.id
        LEFT JOIN sys_dept depart ON feeitem.id_ks = depart.dept_no
        LEFT JOIN sys_user u ON feeitem.id_feecharger = u.user_no
        LEFT JOIN sys_user qu ON feeitem.jxys = qu.user_no
        <where>
            feeitem.sfjx = 1
            AND ( feeitem.change_item IS NULL OR feeitem.change_item = 0 )
            AND feeitem.f_feecharged = 1
            <if test="param.startTime!=null">
                AND feeitem.feechargetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND feeitem.feechargetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientName!=null and param.patientName!=''">
                AND p.patientname LIKE concat('%',#{param.patientName},'%')
            </if>
            <if test="param.registerR!=null and param.registerR!=''">
                AND u.user_name LIKE concat('%',#{param.registerR},'%')
            </if>
            <if test="param.idFeecharger!=null and param.idFeecharger!=''">
                AND u.user_no = #{param.idFeecharger}
            </if>
            <if test="param.examname!=null and param.examname!=''">
                AND mi.examfeeitem_name LIKE concat('%',#{param.examname},'%')
            </if>
            <if test="param.jxys!=null and param.jxys!=''">
                AND feeitem.jxys = #{param.jxys}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.idOpendoctor!=null and param.idOpendoctor!=''">
                AND p.id_opendoctor = #{param.idOpendoctor}
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        ORDER BY feeitem.feechargetime DESC
    </select>

    <!-- 查询列表数据 -->
    <select id="getTotalAddPrice" resultType="java.lang.Double">
        SELECT sum(pc.moneyamountpaid)
        FROM md_peispatientcharge pc
        WHERE pc.is_add = 1
          AND pc.id_payway != '5'
	        AND pc.patientcode = #{patientcode}
    </select>


    <!-- 导出加项查询数据 -->
    <select id="getExportData" resultType="com.center.medical.query.bean.vo.TotalAddVo">
        SELECT
        p.patientcode,
        p.patientname,
        p.id_sex,
        ( CASE WHEN p.id_sex = '0' THEN '男' ELSE '女' END ) AS sex,
        p.age,
        p.org_name,
        u.user_name AS idFeecharger,
        (STR_TO_DATE ( feeitem.feechargetime, '%Y-%m-%d %T' )) AS createDate,
        mi.examfeeitem_name,
        depart.dept_name AS ksName,
        feeitem.price,
        feeitem.factprice,
        qu.user_name AS jxys,
        feeitem.feeitemdesc,
        (CASE WHEN p.numorgresv =- 1 THEN NULL ELSE p.numorgresv END) AS ddh,
        p.doctorapply
        FROM
        md_peispatientfeeitem feeitem
        LEFT JOIN md_peispatient p ON feeitem.id_patient = p.patientcode
        LEFT JOIN md_items mi ON feeitem.id_examfeeitem = mi.id
        LEFT JOIN sys_dept depart ON feeitem.id_ks = depart.dept_no
        LEFT JOIN sys_user u ON feeitem.id_feecharger = u.user_no
        LEFT JOIN sys_user qu ON feeitem.jxys = qu.user_no
        <where>
            feeitem.sfjx = 1
            AND ( feeitem.change_item IS NULL OR feeitem.change_item = 0 )
            AND feeitem.f_feecharged = 1
            <if test="param.startTime!=null">
                AND feeitem.feechargetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND feeitem.feechargetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientName!=null and param.patientName!=''">
                AND p.patientname LIKE concat('%',#{param.patientName},'%')
            </if>
            <if test="param.registerR!=null and param.registerR!=''">
                AND u.user_name LIKE concat('%',#{param.registerR},'%')
            </if>
            <if test="param.idFeecharger!=null and param.idFeecharger!=''">
                AND u.user_no = #{param.idFeecharger}
            </if>
            <if test="param.examname!=null and param.examname!=''">
                AND mi.examfeeitem_name LIKE concat('%',#{param.examname},'%')
            </if>
            <if test="param.jxys!=null and param.jxys!=''">
                AND feeitem.jxys = #{param.jxys}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.idOpendoctor!=null and param.idOpendoctor!=''">
                AND p.id_opendoctor = #{param.idOpendoctor}
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        ORDER BY feeitem.feechargetime DESC
    </select>



    <select id="getPageTotal" resultType="java.lang.Double">
        SELECT
        sum(feeitem.factprice) as factprice
        FROM
        md_peispatientfeeitem feeitem
        LEFT JOIN md_peispatient p ON feeitem.id_patient = p.patientcode
        LEFT JOIN md_items mi ON feeitem.id_examfeeitem = mi.id
        LEFT JOIN sys_dept depart ON feeitem.id_ks = depart.dept_no
        LEFT JOIN sys_user u ON feeitem.id_feecharger = u.user_no
        LEFT JOIN sys_user qu ON feeitem.jxys = qu.user_no
        <where>
            feeitem.sfjx = 1
            AND ( feeitem.change_item IS NULL OR feeitem.change_item = 0 )
            AND feeitem.f_feecharged = 1
            <if test="param.startTime!=null">
                AND feeitem.feechargetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND feeitem.feechargetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientName!=null and param.patientName!=''">
                AND p.patientname LIKE concat('%',#{param.patientName},'%')
            </if>
            <if test="param.registerR!=null and param.registerR!=''">
                AND u.user_name LIKE concat('%',#{param.registerR},'%')
            </if>
            <if test="param.idFeecharger!=null and param.idFeecharger!=''">
                AND u.user_no = #{param.idFeecharger}
            </if>
            <if test="param.examname!=null and param.examname!=''">
                AND mi.examfeeitem_name LIKE concat('%',#{param.examname},'%')
            </if>
            <if test="param.jxys!=null and param.jxys!=''">
                AND feeitem.jxys = #{param.jxys}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.idOpendoctor!=null and param.idOpendoctor!=''">
                AND p.id_opendoctor = #{param.idOpendoctor}
            </if>
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        ORDER BY feeitem.feechargetime DESC
    </select>
</mapper>

