<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysDeptMapper">

    <resultMap type="com.center.medical.common.core.domain.entity.SysDept" id="SysDeptResult">
        <id property="deptId" column="dept_id"/>
        <result property="deptNo" column="dept_no"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="deptName" column="dept_name"/>
        <result property="ksType" column="ks_type"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="imgpath" column="imgpath"/>
        <result property="inputCode" column="input_code"/>
        <result property="description" column="description"/>
        <result property="isFunction" column="is_function"/>
        <result property="sjbggs" column="sjbggs"/>
        <result property="jcdd" column="jcdd"/>
        <result property="jklx" column="jklx"/>
        <result property="ksh" column="ksh"/>
        <result property="dydXh" column="dyd_xh"/>
        <result property="reportSort" column="report_sort"/>
        <result property="dydMemo" column="dyd_memo"/>
        <result property="kingdeeAccountNo" column="kingdee_account_no"/>
        <result property="addPicBefore" column="add_pic_before"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentName" column="parent_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectDeptVo">
        select d.dept_id,
               d.dept_no,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.ks_type,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.input_code,
               d.description,
               d.is_function,
               d.sjbggs,
               d.jcdd,
               d.jklx,
               d.ksh,
               d.dyd_xh,
               d.report_sort,
               d.dyd_memo,
               d.kingdee_account_no,
               d.add_pic_before,
               d.status,
               d.del_flag,
               d.create_by,
               d.create_time
        from sys_dept d
    </sql>

    <select id="selectDeptList" parameterType="com.center.medical.common.core.domain.entity.SysDept"
            resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
        <if test="deptId != null and deptId != 0">
            AND dept_id = #{deptId}
        </if>
        <if test="parentId != null and parentId != 0">
            AND parent_id = #{parentId}
        </if>
        <if test="deptName != null and deptName != ''">
            AND dept_name like concat('%', #{deptName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptListByRoleId" resultType="Long">
        select d.dept_id
        from sys_dept d
        left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
        <if test="deptCheckStrictly">
            and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id =
            rd.dept_id and rd.role_id = #{roleId})
        </if>
        order by d.parent_id, d.order_num
    </select>

    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">
        select d.dept_id,
               d.dept_no,
               d.parent_id,
               d.ks_type,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.imgpath,
               d.input_code,
               d.description,
               d.is_function,
               d.sjbggs,
               d.jcdd,
               d.jklx,
               d.ksh,
               d.dyd_xh,
               d.report_sort,
               d.dyd_memo,
               d.kingdee_account_no,
               d.add_pic_before,
               d.status,
               (select dept_name from sys_dept where dept_id = d.parent_id) parent_name
        from sys_dept d
        where d.dept_id = #{deptId}
    </select>
    <select id="getByDeptNo" resultMap="SysDeptResult">
        select d.dept_id,
               d.dept_no,
               d.ks_type,
               d.input_code,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.phone,
               d.email,
               d.input_code,
               d.description,
               d.is_function,
               d.sjbggs,
               d.jcdd,
               d.jklx,
               d.ksh,
               d.dyd_xh,
               d.report_sort,
               d.dyd_memo,
               d.kingdee_account_no,
               d.add_pic_before,
               d.status
        from sys_dept d
        where d.dept_no = #{deptNo}
    </select>

    <select id="checkDeptExistUser" parameterType="Long" resultType="int">
        select count(1)
        from sys_user
        where dept_id = #{deptId}
          and del_flag = '0'
    </select>

    <select id="hasChildByDeptId" parameterType="Long" resultType="int">
        select count(1)
        from sys_dept
        where del_flag = '0'
          and parent_id = #{deptId} limit 1
    </select>

    <select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">
        select *
        from sys_dept
        where find_in_set(#{deptId}, ancestors)
    </select>

    <select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">
        select count(*)
        from sys_dept
        where status = 0
          and del_flag = '0'
          and find_in_set(#{deptId}, ancestors)
    </select>

    <select id="checkDeptNameUnique" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where dept_name=#{deptName} and parent_id = #{parentId} and del_flag = '0' limit 1
    </select>
    <!-- 获取所有的科室-->
    <select id="getAllDepartment" resultType="com.center.medical.system.bean.vo.DeptSimpleVo">
        SELECT
        dept_no,
        dept_name,
        input_code
        FROM
        sys_dept
        <where>
            `status` = 0
            AND del_flag = '0'
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND input_code like concat('%',#{param.inputCode},'%')
            </if>
            <if test="param.ksh!=null and param.ksh!=''">
                AND ksh IS NOT NULL
            </if>
        </where>
        <if test="param.cjsjpx!=null and param.cjsjpx!=''">
            ORDER BY create_time DESC
        </if>
    </select>

    <insert id="insertDept" parameterType="com.center.medical.common.core.domain.entity.SysDept">
        insert into sys_dept (
        <if test="deptId != null and deptId != 0">dept_id,</if>
        <if test="deptNo != null and deptNo != 0">dept_no,</if>
        <if test="parentId != null and parentId != 0">parent_id,</if>
        <if test="deptName != null and deptName != ''">dept_name,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="orderNum != null">order_num,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="inputCode != null and inputCode != ''">input_code,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="isFunction != null">is_function,</if>
        <if test="sjbggs != null">sjbggs,</if>
        <if test="jcdd != null and jcdd != ''">jcdd,</if>
        <if test="jklx != null and jklx != ''">jklx,</if>
        <if test="ksh != null and ksh != ''">ksh,</if>
        <if test="dydXh != null">dyd_xh,</if>
        <if test="reportSort != null">report_sort,</if>
        <if test="dydMemo != null and dydMemo != ''">dyd_memo,</if>
        <if test="kingdeeAccountNo != null and kingdeeAccountNo != ''">kingdee_account_no,</if>
        <if test="status != null">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="deptId != null and deptId != 0">#{deptId},</if>
        <if test="deptNo != null and deptNo != 0">#{deptNo},</if>
        <if test="parentId != null and parentId != 0">#{parentId},</if>
        <if test="deptName != null and deptName != ''">#{deptName},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="orderNum != null">#{orderNum},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="inputCode != null and inputCode != ''">#{inputCode},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="isFunction != null">#{isFunction},</if>
        <if test="sjbggs != null">#{sjbggs},</if>
        <if test="jcdd != null and jcdd != ''">#{jcdd},</if>
        <if test="jklx != null and jklx != ''">#{jklx},</if>
        <if test="ksh != null and ksh != ''">#{ksh},</if>
        <if test="dydXh != null">#{dydXh},</if>
        <if test="reportSort != null">#{reportSort},</if>
        <if test="dydMemo != null and dydMemo != ''">#{dydMemo},</if>
        <if test="kingdeeAccountNo != null and kingdeeAccountNo != ''">#{kingdeeAccountNo},</if>
        <if test="status != null">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateDept" parameterType="com.center.medical.common.core.domain.entity.SysDept">
        update sys_dept
        <set>
            <if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="inputCode != null and inputCode != ''">input_code = #{inputCode},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="isFunction != null">is_function = #{isFunction},</if>
            <if test="sjbggs != null">sjbggs = #{sjbggs},</if>
            <if test="jcdd != null and jcdd != ''">jcdd = #{jcdd},</if>
            <if test="jklx != null and jklx != ''">jklx = #{jklx},</if>
            <if test="ksh != null and ksh != ''">ksh = #{ksh},</if>
            <if test="dydXh != null">dyd_xh = #{dydXh},</if>
            <if test="reportSort != null">report_sort = #{reportSort},</if>
            <if test="dydMemo != null and dydMemo != ''">dyd_memo = #{dydMemo},</if>
            <if test="kingdeeAccountNo != null and kingdeeAccountNo != ''">kingdee_account_no = #{kingdeeAccountNo},
            </if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="imgpath != null and imgpath != ''">imgpath = #{imgpath},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where dept_id = #{deptId}
    </update>

    <update id="updateDeptChildren" parameterType="java.util.List">
        update sys_dept set ancestors =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case dept_id" close="end">
            when #{item.deptId} then #{item.ancestors}
        </foreach>
        where dept_id in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.deptId}
        </foreach>
    </update>

    <update id="updateDeptStatusNormal" parameterType="Long">
        update sys_dept set status = '0' where dept_id in
        <foreach collection="array" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </update>
    <update id="updateByName" parameterType="com.center.medical.common.core.domain.entity.SysDept">
        update sys_dept
        set dept_no = #{deptNo}
        where dept_name = #{deptName}
    </update>

    <delete id="deleteDeptById" parameterType="Long">
        update sys_dept
        set del_flag = '2'
        where dept_id = #{deptId}
    </delete>

    <!--分頁获取所有的科室-->
    <select id="findAllDepartment" resultType="com.center.medical.system.bean.vo.DeptSimpleVo">
        SELECT
        dept_no,
        dept_name,
        input_code
        FROM
        sys_dept
        <where>
            `is_function` = 1
            AND del_flag = 0
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND input_code like concat('%',#{param.inputCode},'%')
            </if>
        </where>
    </select>


    <!--通过name获取部门-->
    <select id="selectDeptByName" resultType="com.center.medical.common.core.domain.entity.SysDept">
        SELECT *
        FROM sys_dept
        <where>
            del_flag = 0
            and dept_name = #{name}
        </where>
    </select>


    <!--查询功能科室或者非功能科室的id-->
    <select id="getFunctionKsIds" resultType="string">
        SELECT dept_no
        FROM
        sys_dept
        <where>
            del_flag = 0
            <if test="isFunction!=null">
                and is_function = #{isFunction}
            </if>
        </where>
    </select>

    <!--获取所有科室的名称图片英文名-->
    <select id="seletAllDept" resultType="com.center.medical.common.core.domain.entity.SysDept">
        select
        dept_no,
        dept_name,
        input_code,
        english_name,
        imgpath
        from sys_dept
        <where>
            del_flag = 0
        </where>
    </select>


    <!--根据输入码获取所有的科室-->
    <select id="getKs" resultType="com.center.medical.system.bean.vo.DeptSimpleVo">
        SELECT
        dept_no,
        dept_name,
        input_code
        FROM
        sys_dept
        <where>
            `is_function` = 1
            <if test="inputCode!=null and inputCode!=''">
                AND input_code like concat('%',#{inputCode},'%')
            </if>
        </where>
    </select>


    <!-- 根据输入码和用户性名获取科室 -->
    <select id="getKsBySrm" resultType="com.center.medical.system.bean.vo.DeptSimpleVo">
        SELECT
        d.dept_no,
        d.dept_name,
        d.input_code
        FROM
        sys_dept d
        WHERE
        d.sjbggs IN ( 6, 7, 9 )
        AND EXISTS (
        SELECT
        *
        FROM
        sys_user_dep qud
        INNER JOIN sys_user u ON u.user_no = qud.user_id
        WHERE
        qud.dep_id = d.dept_id
        AND u.user_name = #{username} )
        <if test="srm != null and srm != ''">
            AND d.input_code LIKE concat('%',#{srm},'%')
        </if>
    </select>

    <!-- 通过多个部门id查询部门 -->
    <select id="selectDeptInId" resultType="com.center.medical.system.bean.vo.DeptSimpleVo">
        SELECT
        d.dept_no,
        d.dept_name,
        d.input_code
        FROM
        sys_dept d
        WHERE
        del_flag = 0
        AND d.dept_id in
        <foreach collection="deptId" item="dept" open="(" close=")" separator=",">
            #{dept}
        </foreach>
        ORDER BY create_time DESC
    </select>


    <!-- 通过多个部门id查询部门 -->
    <select id="getAllks" resultType="com.center.medical.system.bean.vo.AllKsVo">
        SELECT
        d.dept_no,
        d.dept_name,
        d.input_code
        FROM
        sys_dept d
        WHERE
        del_flag = 0
        <if test="key!=null and key!=''">
            AND ( dept_name LIKE concat('%',#{key},'%')
            OR input_code LIKE concat('%',#{key},'%') )
        </if>
        ORDER BY create_time DESC
    </select>


    <!-- 获取所有部门 -->
    <select id="getAllDepartData" resultType="com.center.medical.system.bean.vo.AllDepartDataVo">
        SELECT
        dept_no AS id,
        dept_name AS departName,
        input_code AS inputCode
        FROM
        ( SELECT dept_no, dept_name, input_code
        FROM sys_dept
        WHERE del_flag = 0
        <if test="key!=null and key!=''">
            AND ( dept_name LIKE concat('%',#{key},'%')
            OR input_code LIKE concat('%',#{key},'%') )
        </if>
        ORDER BY dept_name
        ) AS aaaa
    </select>


    <select id="selectAllDeptList" resultMap="SysDeptResult">
        <include refid="selectDeptVo"/>
        where d.del_flag = '0'
    </select>


    <!-- 通过deptNoList批量查询 -->
    <select id="getByDeptNos" resultMap="SysDeptResult">
        select d.*
        from sys_dept d
        <where>
            d.del_flag = 0
            <if test="deptNoList!=null">
                AND d.dept_no IN
                <foreach collection="deptNoList" item="deptNo" open="(" close=")" separator=",">
                    #{deptNo}
                </foreach>
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>



    <!-- 通过deptNoList批量查询 -->
    <select id="getDepSrm" resultType="java.lang.String">
        select ifnull(input_code,'')
        from sys_dept
        <where>
            dept_name = #{depName}
        </where>
    </select>
</mapper> 