<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysNotificationMapper">

    <resultMap type="com.center.medical.common.core.domain.entity.SysNotification" id="SysNotificationMap">
        <id property="id" column="id"/>
        <result property="tarUserId" column="tar_user_id"/>
        <result property="noticeConfigId" column="notice_config_id"/>
        <result property="content" column="content"/>
        <result property="isRead" column="is_read"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysNotificationVo">
        select id, tar_user_id, notice_config_id, content, is_read, createdate, modifydate
        from sys_notification
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.system.bean.vo.SysNotificationPageVo">
        SELECT
        sn.id,
        sn.notice_config_id,
        snc.notice_name,
        sn.content,
        sn.is_read,
        sn.createdate
        FROM
        sys_notification sn
        LEFT JOIN sys_notice_config snc on snc.id = sn.notice_config_id
        <where>
            <if test="param.tarUserId!=null and param.tarUserId!=''">
                AND sn.tar_user_id = #{param.tarUserId}
            </if>
            <if test="param.noticeConfigId!=null and param.noticeConfigId!=''">
                AND sn.notice_config_id = #{param.noticeConfigId}
            </if>
            <if test="param.isRead!=null">
                AND sn.is_read = #{param.isRead}
            </if>
        </where>
        order by sn.createdate desc
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysNotificationMap">
        <include refid="selectSysNotificationVo"/>
        <where>
            id = #{id}
        </where>
    </select>



    <!-- 获取未读的消息 -->
    <select id="getUnreadMsg" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            sys_notification sn
        <where>
            sn.is_read = 0
            AND sn.tar_user_id = #{userNo}
        </where>
    </select>
</mapper>

