<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.system.dao.SysVersionNotityMapper">

    <resultMap type="com.center.medical.system.bean.model.SysVersionNotity" id="SysVersionNotityMap">
        <id property="id" column="id"/>
        <result property="versionId" column="version_id"/>
        <result property="userNo" column="user_no"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysVersionNotityVo">
        select id, version_id, user_no, status, create_time
        from sys_version_notity
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysVersionNotityMap">
        <include refid="selectSysVersionNotityVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysVersionNotityMap">
        <include refid="selectSysVersionNotityVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

