<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.admin.dao.MdCreatemealMapper">

    <resultMap type="com.center.medical.datamove.admin.bean.model.MdCreatemeal" id="MdCreatemealMap">
        <id property="id" column="id"/>
        <result property="tjtcmc" column="tjtcmc"/>
        <result property="tjtcsrm" column="tjtcsrm"/>
        <result property="tjtcjc" column="tjtcjc"/>
        <result property="tjlx" column="tjlx"/>
        <result property="jhys" column="jhys"/>
        <result property="syxb" column="syxb"/>
        <result property="tcysjg" column="tcysjg"/>
        <result property="tczk" column="tczk"/>
        <result property="zhjg" column="zhjg"/>
        <result property="khdwmcid" column="khdwmcid"/>
        <result property="sfybd" column="sfybd"/>
        <result property="sfyhtc" column="sfyhtc"/>
        <result property="nlz" column="nlz"/>
        <result property="nld" column="nld"/>
        <result property="fkfs" column="fkfs"/>
        <result property="zytjlb" column="zytjlb"/>
        <result property="combostate" column="combostate"/>
        <result property="kxsl" column="kxsl"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="bjzt" column="bjzt"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isOrgPlus" column="is_org_plus"/>
        <result property="zkztw" column="zkztw"/>
        <result property="tjm" column="tjm"/>
        <result property="sfzx" column="sfzx"/>
        <result property="sfwc" column="sfwc"/>
        <result property="zxzk" column="zxzk"/>
        <result property="forbidden" column="forbidden"/>
        <result property="pinganId" column="pingan_id"/>
        <result property="isBig" column="is_big"/>
        <result property="tongLimit" column="tong_limit"/>
        <result property="zhjgapp" column="zhjgapp"/>
        <result property="groupPrice" column="group_price"/>
        <result property="totalCostprice" column="total_costprice"/>
        <result property="bz" column="bz"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdCreatemealVo">
        select id,
               tjtcmc,
               tjtcsrm,
               tjtcjc,
               tjlx,
               jhys,
               syxb,
               tcysjg,
               tczk,
               zhjg,
               khdwmcid,
               sfybd,
               sfyhtc,
               nlz,
               nld,
               fkfs,
               zytjlb,
               combostate,
               kxsl,
               xsjlid,
               fzxid,
               is_delete,
               bjzt,
               createdate,
               modifydate,
               is_org_plus,
               zkztw,
               tjm,
               sfzx,
               sfwc,
               zxzk,
               forbidden,
               pingan_id,
               is_big,
               tong_limit,
               zhjgapp,
               group_price,
               total_costprice,
               bz
        from md_createmeal
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdCreatemealMap">
        <include refid="selectMdCreatemealVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdCreatemealMap">
        <include refid="selectMdCreatemealVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

