<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.admin.dao.OrComboanditemMapper">

    <resultMap type="com.center.medical.datamove.admin.bean.model.Comboanditem" id="ComboanditemMap">
        <id property="id" column="ID"/>
        <result property="tcid" column="TCID"/>
        <result property="sfxmid" column="SFXMID"/>
        <result property="sfbx" column="SFBX"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="sfbj" column="SFBJ"/>
        <result property="itemSort" column="ITEM_SORT"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectComboanditemVo">
        select ID,
               TCID,
               SFXMID,
               SFBX,
               IS_DELETE,
               XSJLID,
               CREATEDATE,
               MODIFYDATE,
               SFBJ,
               ITEM_SORT
        from COMBOANDITEM
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ComboanditemMap">
        <include refid="selectComboanditemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ComboanditemMap">
        <include refid="selectComboanditemVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

