<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.admin.dao.OrCreatemealMapper">

    <resultMap type="com.center.medical.datamove.admin.bean.model.Createmeal" id="CreatemealMap">
        <id property="id" column="ID"/>
        <result property="tjtcmc" column="TJTCMC"/>
        <result property="tjtcsrm" column="TJTCSRM"/>
        <result property="tjtcjc" column="TJTCJC"/>
        <result property="tjlx" column="TJLX"/>
        <result property="jhys" column="JHYS"/>
        <result property="syxb" column="SYXB"/>
        <result property="tcysjg" column="TCYSJG"/>
        <result property="tczk" column="TCZK"/>
        <result property="zhjg" column="ZHJG"/>
        <result property="khdwmcid" column="KHDWMCID"/>
        <result property="sfybd" column="SFYBD"/>
        <result property="sfyhtc" column="SFYHTC"/>
        <result property="nlz" column="NLZ"/>
        <result property="nld" column="NLD"/>
        <result property="fkfs" column="FKFS"/>
        <result property="zytjlb" column="ZYTJLB"/>
        <result property="combostate" column="COMBOSTATE"/>
        <result property="kxsl" column="KXSL"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="fzxid" column="FZXID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="bjzt" column="BJZT"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isOrgPlus" column="IS_ORG_PLUS"/>
        <result property="zkztw" column="ZKZTW"/>
        <result property="tjm" column="TJM"/>
        <result property="sfzx" column="SFZX"/>
        <result property="sfwc" column="SFWC"/>
        <result property="forbidden" column="FORBIDDEN"/>
        <result property="zxzk" column="ZXZK"/>
        <result property="pinganId" column="PINGAN_ID"/>
        <result property="isBig" column="IS_BIG"/>
        <result property="tongLimit" column="TONG_LIMIT"/>
        <result property="zhjgapp" column="ZHJGAPP"/>
        <result property="groupPrice" column="GROUP_PRICE"/>
        <result property="totalCostprice" column="TOTAL_COSTPRICE"/>
        <result property="bz" column="BZ"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCreatemealVo">
        select ID,
               TJTCMC,
               TJTCSRM,
               TJTCJC,
               TJLX,
               JHYS,
               SYXB,
               TCYSJG,
               TCZK,
               ZHJG,
               KHDWMCID,
               SFYBD,
               SFYHTC,
               NLZ,
               NLD,
               FKFS,
               ZYTJLB,
               COMBOSTATE,
               KXSL,
               XSJLID,
               FZXID,
               IS_DELETE,
               BJZT,
               CREATEDATE,
               MODIFYDATE,
               IS_ORG_PLUS,
               ZKZTW,
               TJM,
               SFZX,
               SFWC,
               FORBIDDEN,
               ZXZK,
               PINGAN_ID,
               IS_BIG,
               TONG_LIMIT,
               ZHJGAPP,
               GROUP_PRICE,
               TOTAL_COSTPRICE,
               BZ
        from CREATEMEAL
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CreatemealMap">
        <include refid="selectCreatemealVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CreatemealMap">
        <include refid="selectCreatemealVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

