<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.admin.dao.OrPeispatientMapper">


    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.datamove.admin.bean.model.Peispatient">

    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.datamove.admin.bean.model.Peispatient">

    </select>

    <!-- 通过分组id获取体检者 -->
    <select id="getByGroupId" resultType="com.center.medical.datamove.admin.bean.model.Peispatient">
        SELECT *
        FROM PEISPATIENT
        <where>
            ID_ORGRESERVATIONGROUP = #{groupId}
            AND F_REGISTERED <![CDATA[ <> ]]> 1
            AND F_PAUSED <![CDATA[ <> ]]> 1
        </where>
    </select>
</mapper>

