<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sync.dao.SyncDataTypeMapper">

    <resultMap type="com.center.medical.sync.bean.model.SyncDataType" id="SyncDataTypeMap">
        <id property="typeId" column="type_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="typeName" column="type_name"/>
        <result property="remark" column="remark"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSyncDataTypeVo">
        select type_id, order_no, type_name, remark, createdate, modifydate
        from md_sync_data_type
    </sql>
    <update id="updateDiy">
        UPDATE md_sync_data_type
        SET type_name=#{item.typeName}
        WHERE type_id = #{item.typeId}
    </update>
    <update id="updateALL">
        UPDATE md_sync_data_type
        SET type_name='1234'
        WHERE type_name = 'UPDATE'
    </update>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SyncDataTypeMap">
        <include refid="selectSyncDataTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SyncDataTypeMap">
        <include refid="selectSyncDataTypeVo"/>
        <where>
            typeId = #{id}
        </where>
    </select>

</mapper>

