<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.DivisionDoctorMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.AnalyseTestVo">
        SELECT
            STR_TO_DATE ( a.exam_date_time, '%Y-%m-%d' ) AS rummagerTime,
            u.user_name,
            e.examitem_name AS examName,
            IFNULL(count( a.id_examitem ),0) AS gzlTotal,
            IFNULL(count( CASE WHEN p.numorgresv =- 1 THEN a.id_examitem ELSE NULL END ),0) AS gzlGr
        FROM
            md_peispatientexamitem a
                INNER JOIN sys_user u ON u.user_code = a.inspect_code
                AND u.del_flag = 0
                INNER JOIN md_basexamltem e ON e.id = a.id_examitem
                INNER JOIN md_peispatient p ON p.patientcode = a.patientcode
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.exam_date_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.exam_date_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.examId!=null and param.examId!=''">
                AND a.id_examitem = #{param.examId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        str_to_date ( a.exam_date_time, '%y-%m-%d' ),
        e.examitem_name,
        u.user_name,
        u.user_no
        ORDER BY
        str_to_date ( a.exam_date_time, '%y-%m-%d' ),
        e.examitem_name,
        u.user_name
    </select>

    <!-- 查询列表数据 -->
    <select id="analyseTestTotal" resultType="com.center.medical.statistics.bean.vo.AnalyseTestVo">
        SELECT
            u.user_name,
            e.examitem_name AS examName,
            IFNULL(count( a.id_examitem ),0) AS gzlTotal,
            IFNULL(count( CASE WHEN p.numorgresv =- 1 THEN a.id_examitem ELSE NULL END ),0) AS gzlGr,
            (IFNULL(count( a.id_examitem ),0) - IFNULL(count( CASE WHEN p.numorgresv =- 1 THEN a.id_examitem ELSE NULL END ),0))
            AS gzlTt
        FROM
            md_peispatientexamitem a
            INNER JOIN sys_user u ON u.user_code = a.inspect_code
            AND u.del_flag = 0
            INNER JOIN md_basexamltem e ON e.id = a.id_examitem
            INNER JOIN md_peispatient p ON p.patientcode = a.patientcode
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.exam_date_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.exam_date_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.examId!=null and param.examId!=''">
                AND a.id_examitem = #{param.examId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            e.examitem_name,
            u.user_name,
            u.user_no
        ORDER BY
            e.examitem_name,
            u.user_name
    </select>



    <!-- pacs科室医生工作量统计 -->
    <select id="analysePacs" resultType="com.center.medical.statistics.bean.vo.AnalysePacsVo">
        SELECT
            STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ) AS rummagerTime,
            d.dept_name AS depName,
            u.user_name AS userName,
            i.examfeeitem_name AS examName,
            IFNULL(count( a.examfeeitem_code ),0) AS gzlTotal
        FROM
            md_pacs_result a
                INNER JOIN sys_user u ON u.user_name = a.audit_doctor
                AND u.del_flag = 0
                INNER JOIN md_items i ON i.id = a.item_id
                AND i.is_delete = 0
                LEFT JOIN sys_dept d ON d.dept_no = i.id_depart
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.examdatetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.examdatetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ),
            u.user_name,
            i.examfeeitem_name,
            d.dept_name
        ORDER BY
            STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ),
            d.dept_name,
            i.examfeeitem_name,
            u.user_name
    </select>

    <!-- pacs科室医生工作量统计总计 -->
    <select id="analysePacsTotal" resultType="com.center.medical.statistics.bean.vo.AnalysePacsVo">
        SELECT
            u.user_name AS userName,
            i.examfeeitem_name AS examName,
            IFNULL(count( a.examfeeitem_code ),0) AS gzlTotal,
            IFNULL(count( CASE WHEN p.numorgresv =- 1 THEN a.examfeeitem_code ELSE NULL END ),0) AS gzlGr,
            sum( i.unitprice ) AS oriTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ) AS oriGr,
            d.dept_name AS depName
        FROM
            md_pacs_result a
                INNER JOIN sys_user u ON u.user_name = a.audit_doctor
                AND u.del_flag = 0
                INNER JOIN md_items i ON i.id = a.item_id
                AND i.is_delete = 0
                LEFT JOIN sys_dept d ON d.dept_no = i.id_depart
                INNER JOIN md_peispatient p ON p.patientcode = a.patientcode
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.examdatetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.examdatetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            u.user_name,
            i.examfeeitem_name,
            d.dept_name
        ORDER BY
            d.dept_name,
            i.examfeeitem_name,
            u.user_name
    </select>


    <!-- 其他科室医生工作量统计 -->
    <select id="analyse" resultType="com.center.medical.statistics.bean.vo.AnalysePacsVo">
        SELECT
            STR_TO_DATE ( m.rummager_time, '%Y-%m-%d' ) AS rummagerTime,
            d.dept_name AS depName,
            u.user_name AS userName,
            IFNULL(count( DISTINCT m.patientcode ) ,0)AS gzlTotal,
            IFNULL(count(DISTINCT ( CASE WHEN p.numorgresv =- 1 THEN m.patientcode ELSE NULL END )) ,0)AS gzlGr,
            IFNULL ( sum( i.unitprice ), 0 ) AS oriTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ), 0 ) AS oriGr,
            IFNULL ( sum( f.actualprice ), 0 ) AS yhTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ), 0 ) AS yhGr,
            u.user_no AS userId,
            count(DISTINCT ( CASE WHEN p.id_patientclass = '2' THEN m.patientcode ELSE NULL END )) AS vip,
            count(DISTINCT ( CASE WHEN p.id_patientclass = '3' THEN m.patientcode ELSE NULL END )) AS vvip,
            count(DISTINCT ( CASE WHEN p.id_patientclass = '1' OR p.id_patientclass IS NULL THEN m.patientcode ELSE NULL END )) AS common
        FROM
            md_section_result_main m
                INNER JOIN sys_dept d ON d.dept_no = m.dep_id
                INNER JOIN sys_user u ON u.user_no = m.audit_id
                AND u.del_flag = 0
                INNER JOIN md_peispatient p ON p.patientcode = m.patientcode
                INNER JOIN md_peispatientfeeitem f ON f.id_patient = m.patientcode
                AND f.id_ks = m.dep_id
                AND f.f_giveup = 0
                AND ( f.sfjj IS NULL OR f.sfjj = 0 )
                AND f.change_item = 0
                INNER JOIN md_items i ON i.id = f.id_examfeeitem
        <where>
            m.is_audit = 1
            <if test="param.startTime!=null">
                AND m.rummager_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND m.rummager_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND d.dept_no = #{param.ks}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            STR_TO_DATE( m.rummager_time, '%Y-%m-%d' ),
            d.dept_name,
            u.user_name,
            u.user_no
        ORDER BY
            STR_TO_DATE ( m.rummager_time, '%Y-%m-%d' ),
            d.dept_name,
            u.user_name
    </select>

    <!-- 其他科室医生工作量统计总计 -->
    <select id="analyseTotal" resultType="com.center.medical.statistics.bean.vo.AnalysePacsVo">
        SELECT
            d.dept_name AS depName,
            u.user_name AS userName,
            IFNULL(count( DISTINCT m.patientcode ),0) AS gzlTotal,
            IFNULL(count( DISTINCT ( CASE WHEN p.numorgresv =- 1 THEN m.patientcode ELSE NULL END )),0) AS gzlGr,
            sum( i.unitprice ) AS oriTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ) AS oriGr,
            IFNULL(sum( f.actualprice ),0)AS yhTotal,
            IFNULL(sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ),0) AS yhGr,
            u.user_no AS userId ,
            count( DISTINCT ( CASE WHEN p.id_patientclass = '2' THEN m.patientcode ELSE NULL END )) AS vip,
            count( DISTINCT ( CASE WHEN p.id_patientclass = '3' THEN m.patientcode ELSE NULL END )) AS vvip,
            count( DISTINCT ( CASE WHEN p.id_patientclass = '1' OR p.id_patientclass IS NULL THEN m.patientcode ELSE NULL END )) AS common
        FROM
            md_section_result_main m
                INNER JOIN sys_dept d ON d.dept_no = m.dep_id
                INNER JOIN sys_user u ON u.user_no = m.audit_id
                AND u.del_flag = 0
                INNER JOIN md_peispatient p ON p.patientcode = m.patientcode
                INNER JOIN md_peispatientfeeitem f ON f.id_patient = m.patientcode
                AND f.id_ks = m.dep_id
                AND f.f_giveup = 0
                AND ( f.sfjj IS NULL OR f.sfjj = 0 )
                AND f.change_item = 0
                INNER JOIN md_items i ON i.id = f.id_examfeeitem
        <where>
            m.is_audit = 1
            <if test="param.startTime!=null">
                AND m.rummager_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND m.rummager_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND d.dept_no = #{param.ks}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            d.dept_name,
            u.user_name,
            u.user_no
        ORDER BY
            d.dept_name,
            u.user_name
    </select>



    <!-- 导出pacs科室工作量 -->
    <select id="exportPacs" resultType="com.center.medical.statistics.bean.vo.ExportPacsVo">
        SELECT
            STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ) AS examdatetime,
            u.user_name AS uname,
            i.examfeeitem_name,
            IFNULL (count( a.examfeeitem_code ), 0 ) as gzlTotal,
            IFNULL (count( CASE WHEN p.numorgresv = -1 THEN a.examfeeitem_code ELSE NULL END ), 0 ) gzlGr,
            IFNULL ( sum( i.unitprice ), 0 ) oriTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv = -1 THEN i.unitprice ELSE 0 END ), 0 ) oriGr,
            IFNULL ( sum( f.actualprice ), 0 ) yhTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ), 0 ) yhGr,
            d.dept_name
        FROM
            md_pacs_result a
                INNER JOIN sys_user u ON u.user_name = a.audit_doctor
                AND u.del_flag = 0
                INNER JOIN md_items i ON i.id = a.item_id
                AND i.is_delete = 0
                LEFT JOIN sys_dept d ON d.dept_no = i.id_depart
                INNER JOIN md_peispatient p ON p.patientcode = a.patientcode
                LEFT JOIN md_peispatientfeeitem f ON f.id_patient = p.patientcode
                AND f.id_examfeeitem = i.id
                AND f.f_giveup = 0
                AND f.sfjj = 0
                AND f.change_item = 0
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.examdatetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.examdatetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ),
        u.user_name,
        i.examfeeitem_name,
        d.dept_name
        ORDER BY
        STR_TO_DATE ( a.examdatetime, '%Y-%m-%d' ),
        d.dept_name,
        i.examfeeitem_name,
        u.user_name
    </select>



    <!-- 导出pacs科室工作量明细 -->
    <select id="exportPacsInfoVo" resultType="com.center.medical.statistics.bean.vo.ExportPacsInfoVo">
        SELECT
            u.user_name AS uname,
            i.examfeeitem_name,
            count( a.examfeeitem_code ) gzlTotal,
            count( CASE WHEN p.numorgresv =- 1 THEN a.examfeeitem_code ELSE NULL END ) gzlGr,
            IFNULL (sum( i.unitprice ) , 0 ) oriTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ) oriGr,
            IFNULL ( sum( f.actualprice ), 0 ) yhTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ) yhGr,
            d.dept_name
        FROM
            md_pacs_result a
                INNER JOIN sys_user u ON u.user_name = a.audit_doctor
                AND u.del_flag = 0
                INNER JOIN md_items i ON i.id = a.item_id
                AND i.is_delete = 0
                LEFT JOIN sys_dept d ON d.dept_no = i.id_depart
                INNER JOIN md_peispatient p ON p.patientcode = a.patientcode
                LEFT JOIN md_peispatientfeeitem f ON f.id_patient = p.patientcode
                AND f.id_examfeeitem = i.id
                AND f.sfjj = 0
                AND f.f_giveup = 0
                AND f.change_item = 0
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND a.examdatetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.examdatetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        u.user_name,
        i.examfeeitem_name,
        d.dept_name
        ORDER BY
        d.dept_name,
        i.examfeeitem_name,
        u.user_name
    </select>



    <!-- 导出其他科室工作量 -->
    <select id="exportOther" resultType="com.center.medical.statistics.bean.vo.ExportOtherVo">
        SELECT
            m.rummager_time,
            d.dept_name,
            u.user_name AS uname,
            count( DISTINCT m.patientcode ) AS gzlTotal,
            count( DISTINCT ( CASE WHEN p.numorgresv =- 1 THEN m.patientcode ELSE NULL END )) AS gzlGr,
            IFNULL ( sum( i.unitprice ), 0 ) AS oriTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ), 0 ) AS oriGr,
            IFNULL ( sum( f.actualprice ), 0 ) AS yhTotal,
            IFNULL ( sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ), 0 ) AS yhGr,
            u.user_no,
            count(DISTINCT ( CASE WHEN p.id_patientclass = '2' THEN m.patientcode ELSE NULL END )) AS vip,
            count(DISTINCT ( CASE WHEN p.id_patientclass = '3' THEN m.patientcode ELSE NULL END )) AS vvip,
            count(DISTINCT ( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN m.patientcode ELSE NULL END )) AS pthy
        FROM
            md_section_result_main m
                INNER JOIN sys_dept d ON d.dept_no = m.dep_id
                INNER JOIN sys_user u ON u.user_no = m.audit_id
                AND u.del_flag = 0
                INNER JOIN md_peispatient p ON p.patientcode = m.patientcode
                INNER JOIN md_peispatientfeeitem f ON f.id_patient = m.patientcode
                AND f.id_ks = m.dep_id
                AND f.f_giveup = 0
                AND ( f.sfjj IS NULL OR f.sfjj = 0 )
                AND f.change_item = 0
                INNER JOIN md_items i ON i.id = f.id_examfeeitem
        <where>
            m.is_audit = 1
            <if test="param.startTime!=null">
                AND m.rummager_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND m.rummager_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND d.dept_no = #{param.ks}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        STR_TO_DATE ( m.rummager_time, '%Y-%m-%d' ),
        d.dept_name,
        u.user_name,
        u.user_no
        ORDER BY
        STR_TO_DATE ( m.rummager_time, '%Y-%m-%d' ),
        d.dept_name,
        u.user_name
    </select>



    <!-- 导出其他科室工作量 -->
    <select id="exportOtherInfo" resultType="com.center.medical.statistics.bean.vo.ExportOtherInfoVo">
        SELECT
            d.dept_name,
            u.user_name AS uname,
            count( DISTINCT m.patientcode ) gzlTotal,
            count(DISTINCT ( CASE WHEN p.numorgresv =- 1 THEN m.patientcode ELSE NULL END )) gzlGr,
            sum( i.unitprice ) oriTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN i.unitprice ELSE 0 END ) oriGr,
            sum( f.actualprice ) yhTotal,
            sum( CASE WHEN p.numorgresv =- 1 THEN f.actualprice ELSE 0 END ) yhGr,
            u.user_no,
            count( DISTINCT ( CASE WHEN p.id_patientclass = '2' THEN m.patientcode ELSE NULL END )) vip,
            count( DISTINCT ( CASE WHEN p.id_patientclass = '3' THEN m.patientcode ELSE NULL END )) vvip,
            count( DISTINCT ( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN m.patientcode ELSE NULL END )) pthy
        FROM
            md_section_result_main m
                INNER JOIN sys_dept d ON d.dept_no = m.dep_id
                INNER JOIN sys_user u ON u.user_no = m.audit_id
                AND u.del_flag = 0
                INNER JOIN md_peispatient p ON p.patientcode = m.patientcode
                INNER JOIN md_peispatientfeeitem f ON f.id_patient = m.patientcode
                AND f.id_ks = m.dep_id
                AND f.f_giveup = 0
                AND ( f.sfjj IS NULL OR f.sfjj = 0 )
                AND f.change_item = 0
                INNER JOIN md_items i ON i.id = f.id_examfeeitem
        <where>
            m.is_audit = 1
            <if test="param.startTime!=null">
                AND m.rummager_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND m.rummager_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND u.user_no = #{param.name}
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND d.dept_no = #{param.ks}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        d.dept_name,
        u.user_name,
        u.user_no
        ORDER BY
        d.dept_name,
        u.user_no
    </select>
</mapper>

