<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.GeneralCheckingMapper">



    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.GeneralCheckingVo">
        SELECT
        p.id_doctorfinal AS doctorId,
        p.doctorfinal_name_r AS doctorName,
        str_to_date ( p.datefinalexamed, '%Y-%m-%d' ) AS examTime,
        count(*) AS total,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE 0 END ) AS org,
        count( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN p.patientcode ELSE NULL END ) AS common,
        count( CASE WHEN p.id_patientclass = '2' THEN p.patientcode ELSE NULL END ) AS vip,
        count( CASE WHEN p.id_patientclass = '3' THEN p.patientcode ELSE NULL END) AS vvip
        FROM
            md_peispatient p
        <where>
            p.jktjzt >= 1
            <if test="param.startTime!=null">
                AND p.datefinalexamed <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.datefinalexamed <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND p.id_doctorfinal = #{param.name}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            p.id_doctorfinal,
            p.doctorfinal_name_r,
            STR_TO_DATE ( p.datefinalexamed, '%Y-%m-%d' )
        ORDER BY
            p.id_doctorfinal
    </select>


    <!-- 查询列表数据 -->
    <select id="getList2" resultType="com.center.medical.statistics.bean.vo.GeneralCheckingVo">
        SELECT
            p.patientcodehiden AS doctorId,
            p.patientnameencoded AS doctorName,
            STR_TO_DATE ( p.dateregisternotime, '%Y-%m-%d' ) AS examTime,
            count(*) AS total,
            count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE 0 END ) AS org,
            count( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN p.patientcode ELSE NULL END ) AS common,
            count( CASE WHEN p.id_patientclass = '2' THEN p.patientcode ELSE NULL END ) AS vip,
            count( CASE WHEN p.id_patientclass = '3' THEN p.patientcode ELSE NULL END) AS vvip
        FROM
            md_peispatient p
        <where>
            p.jktjzt >= 1
            <if test="param.startTime!=null">
                AND p.dateregisternotime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregisternotime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND p.patientcodehiden = #{param.name}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
            p.patientcodehiden,
            p.patientnameencoded,
            STR_TO_DATE ( p.dateregisternotime, '%Y-%m-%d' )
        ORDER BY
            p.patientcodehiden
    </select>


    <!-- 汇总数据 健康 -->
    <select id="getTotalList" resultType="com.center.medical.statistics.bean.vo.AnalyseTotalVo">
        SELECT
            p.id_doctorfinal as doctorId,
            p.doctorfinal_name_r as doctorName,
            count(*) as total,
            count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as org,
            count( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN p.patientcode ELSE NULL END ) as common,
            count( CASE WHEN p.id_patientclass = '2' THEN p.patientcode ELSE NULL END ) as vip,
            count( CASE WHEN p.id_patientclass = '3' THEN p.patientcode ELSE NULL END ) as vvip
        FROM
            md_peispatient p
        <where>
            p.jktjzt >= 1
            <if test="param.startTime!=null">
                AND p.datefinalexamed <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.datefinalexamed <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND p.id_doctorfinal = #{param.name}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY p.id_doctorfinal,p.doctorfinal_name_r
        ORDER BY p.id_doctorfinal
    </select>


    <!-- 汇总数据 职业 -->
    <select id="getTotalList2" resultType="com.center.medical.statistics.bean.vo.AnalyseTotalVo">
        SELECT
            p.patientcodehiden as doctorId,
            p.patientnameencoded as doctorName,
            count(*) as total,
            count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as org,
            count( CASE WHEN p.id_patientclass NOT IN ( '3', '2' ) OR p.id_patientclass IS NULL THEN p.patientcode ELSE NULL END ) as common,
            count( CASE WHEN p.id_patientclass = '2' THEN p.patientcode ELSE NULL END ) as vip,
            count( CASE WHEN p.id_patientclass = '3' THEN p.patientcode ELSE NULL END ) as vvip
        FROM
            md_peispatient p
        <where>
            p.zytjzt >= 1
            <if test="param.startTime!=null">
                AND p.dateregisternotime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregisternotime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND p.patientcodehiden = #{param.name}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY p.patientcodehiden,p.patientnameencoded
        ORDER BY p.patientcodehiden
    </select>
</mapper>

