<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.ReportReviewMapper">



    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
            u.user_name AS lastName,
            STR_TO_DATE ( r.last_time, '%Y-%m-%d' ) AS lastTime,
            count(*) AS total,
            count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) AS totalPersonal,
            count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) AS totalGroup
        FROM
            md_peispatient p
                INNER JOIN md_report r ON r.patientcode = p.patientcode
                INNER JOIN sys_user u ON u.user_no = r.last_id
        <where>
            (
                        r.STATUS = 7
                    OR r.STATUS > 8
                )
            <if test="param.startTime!=null">
                AND r.last_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.last_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.last_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name,
        str_to_date ( r.last_time, '%y-%m-%d' )
        ORDER BY
        str_to_date ( r.last_time, '%y-%m-%d' ) DESC,
        u.user_name
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.ReportContent">

    </select>



    <!-- 获取合计数据 -->
    <select id="getTotalData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
            u.user_name as lastName,
            count(*) as total,
            count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
            count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
            md_peispatient p
                INNER JOIN md_report r ON r.patientcode = p.patientcode
                INNER JOIN sys_user u ON u.user_no = r.last_id
        <where>
            (
                        r.STATUS = 7
                    OR r.STATUS > 8
                )
            <if test="param.startTime!=null">
                AND r.last_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.last_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.last_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>


    <!-- 导出报告审核工作量 -->
    <select id="exportData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name as lastName,
        count(*) as total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.last_id
        <where>
            (
            r.STATUS = 7
            OR r.STATUS > 8
            )
            <if test="param.startTime!=null">
                AND r.last_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.last_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.last_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>


    <!-- 分页查询-一审 -->
    <select id="getFistListData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name AS lastName,
        STR_TO_DATE ( r.first_time, '%Y-%m-%d' ) AS lastTime,
        count(*) AS total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) AS totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) AS totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.first_id
        <where>
            r.STATUS >= 3
            <if test="param.startTime!=null">
                AND r.first_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.first_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.first_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name,
        str_to_date ( r.first_time, '%y-%m-%d' )
        ORDER BY
        str_to_date ( r.first_time, '%y-%m-%d' ) DESC,
        u.user_name
    </select>



    <!-- 获取合计数据-一审 -->
    <select id="getFistTotalData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name as lastName,
        count(*) as total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.first_id
        <where>
            r.STATUS >= 3
            <if test="param.startTime!=null">
                AND r.first_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.first_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.first_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>


    <!-- 导出-一审 -->
    <select id="exportFistData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name as lastName,
        count(*) as total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.first_id
        <where>
            r.STATUS >= 3
            <if test="param.startTime!=null">
                AND r.first_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.first_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.first_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>


    <!-- 分页查询-二审 -->
    <select id="getSecondListData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name AS lastName,
        STR_TO_DATE ( r.second_time, '%Y-%m-%d' ) AS lastTime,
        count(*) AS total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) AS totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) AS totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.second_id
        <where>
            r.STATUS >= 5
            <if test="param.startTime!=null">
                AND r.second_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.second_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.second_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name,
        str_to_date ( r.second_time, '%y-%m-%d' )
        ORDER BY
        str_to_date ( r.second_time, '%y-%m-%d' ) DESC,
        u.user_name
    </select>



    <!-- 获取合计数据-二审 -->
    <select id="getSecondTotalData" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name as lastName,
        count(*) as total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.second_id
        <where>
            r.STATUS >= 5
            <if test="param.startTime!=null">
                AND r.second_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.second_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.second_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>


    <!-- 导出-二审 -->
    <select id="exportSecond" resultType="com.center.medical.statistics.bean.vo.ReportReviewVo">
        SELECT
        u.user_name as lastName,
        count(*) as total,
        count( CASE WHEN p.f_usecodehiden = 0 THEN 1 ELSE NULL END ) as totalPersonal,
        count( CASE WHEN p.f_usecodehiden = 1 THEN 1 ELSE NULL END ) as totalGroup
        FROM
        md_peispatient p
        INNER JOIN md_report r ON r.patientcode = p.patientcode
        INNER JOIN sys_user u ON u.user_no = r.second_id
        <where>
            r.STATUS >= 5
            <if test="param.startTime!=null">
                AND r.second_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND r.second_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lastId!=null and param.lastId!=''">
                AND r.second_id = #{param.lastId}
            </if>
            <if test="param.diseaseHealth!=null and param.diseaseHealth!=''">
                AND r.disease_health = #{param.diseaseHealth}
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
        </where>
        GROUP BY
        u.user_name
        ORDER BY
        u.user_name
    </select>
</mapper>

