spring:
  profiles:
    active: wf # 此处根据后面的application-xxx.yml,中 xxx 部分写到这里代表启用那个文件，如现在是启用平度中心的配置，模板参考application-backup.yml

#spring boot actuator配置
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: shutdown,info