<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.pacslis.dao.LisInterfaceMapper">
    <select id="selectItemList" resultType="com.center.medical.pacslis.bean.dto.LisItemDto">
        select
            i.id_examfeeitem,
            i.examfeeitem_name,
            t.examfeeitem_code,
            t.examfeeitem_nameprn,
            t.bgdybs,
            i.adicon_code
        from md_peispatientfeeitem i
        inner join md_items t on t.id=i.id_examfeeitem
        where i.id_patient =#{patientcode}
            and i.id_ks = #{depId}
            and (i.f_giveup is null or i.f_giveup=0)
            and (i.sfjj is null or i.sfjj=0)
            and (i.change_item is null or i.change_item=0)
            and i.f_transferedhl7 is null
            and i.f_feecharged=1
        order by t.createdate
    </select>
    <select id="selectExamList" resultType="com.center.medical.pacslis.bean.dto.LisExamDto">
        select
            e.id,
            e.interface_code,
            e.valuemalemax,
            e.valuemalemin,
            e.valuefemalemax,
            e.valuefemalemin,
            ic.order_index,
            e.examitem_name,
            e.is_desc,
            e.f_lab_byhand by_hand,
            e.f_lab_nowait nowait,
            e.examitem_nameprn,
            e.examitem_codehm,
            e.item_flag,
            e.id_conclusionhi,
            e.id_conclusionlo,
            e.id_conclusionpo,
            e.id_conclusionne,
            e.valuedangerousmax,
            e.valuedangerousmin,
            e.examitem_code3
        from md_basexamltem e
        inner join md_inspect_charge ic on ic.inspect_id=e.id
        inner join md_items i on i.id=ic.charge_id
        where
            ic.is_delete =0
            and i.id=#{itemId}
            and e.is_delete=0
        order by ic.order_index
    </select>
</mapper>