<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.pacslis.dao.MiddleDbInterfaceMapper">
    <select id="selectYblxList" resultType="com.center.medical.pacslis.bean.dto.MiddleDbYblxListDto">
                select
                    group_concat(i.examfeeitem_name) name,
                    q.jklx,
	                ifnull(i.id_labtype, 0) id_labtype,
	                y.name labtype_name
	            from md_peispatientfeeitem p
                inner join md_items i
                    on p.id_examfeeitem = i.id
                inner join sys_dept q
                    on q.dept_no = i.id_depart and q.is_function=1
                left join md_yblx y
                    on y.id = i.id_labtype
	            where p.id_patient = #{patientcode}
				    and p.change_item=0
                group by q.jklx,i.id_labtype ,y.name
	            order by q.jklx asc
    </select>
</mapper>