<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reception.dao.GuideSheetMapper">



    <!-- 获取体检者对应的收费项目信息 -->
    <select id="getModelItems" resultType="java.util.Map">
        SELECT
            i.id,
            pitem.examfeeitem_name AS itemname,
            IFNULL ( i.yblxid, ' ' ) yblxid,
            IFNULL ( i.cx, '1' ) cx,
            IFNULL ( i.id_depart, ' ' ) idks,
            IFNULL ( qd.dept_name, ' ' ) ks,
            IFNULL ( i.bz, ' ' ) bz,
            i.id_labtype AS idLabtype
        FROM
            md_peispatientfeeitem pitem
                LEFT JOIN md_items i ON pitem.id_examfeeitem = i.id
                LEFT JOIN sys_dept qd ON i.id_depart = qd.dept_no
        WHERE
            pitem.id_patient = #{patientcode}
          AND ( pitem.change_item IS NULL OR pitem.change_item = 0 )
          AND ( pitem.f_giveup IS NULL OR pitem.f_giveup = 0 )
          AND ( pitem.sfjj IS NULL OR pitem.sfjj = 0 )
          AND ( i.dyddybs IS NULL OR i.dyddybs = '1' )
        ORDER BY
            qd.dyd_xh,
            ( CASE WHEN i.id_labtype IS NOT NULL THEN cast(i.id_labtype as unsigned int) ELSE '' END )  ASC
    </select>



</mapper>

