<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reception.dao.ReviewNotificationFormatMapper">

    <resultMap type="com.center.medical.reception.bean.model.ReviewNotificationFormat"
               id="ReviewNotificationFormatMap">
        <id property="id" column="id"/>
        <result property="formatName" column="format_name"/>
        <result property="formatCode" column="format_code"/>
        <result property="formatFile" column="format_file"/>
        <result property="memo" column="memo"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReviewNotificationFormatVo">
        select id,
               format_name,
               format_code,
               format_file,
               memo,
               createdate,
               modifydate,
               is_delete
        from md_review_notification_format
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReviewNotificationFormatMap">
        <include refid="selectReviewNotificationFormatVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReviewNotificationFormatMap">
        <include refid="selectReviewNotificationFormatVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

