<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.center.medical.app.dao.NotifyTemplateTagMapper">

    <resultMap id="notifyTemplateTagMap" type="com.center.medical.app.bean.model.NotifyTemplateTag">
        <id column="notify_shop_id" property="notifyShopId"/>
        <result column="user_tag_id" property="userTagId"/>
        <result column="template_id" property="templateId"/>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO `md_notify_template_tag` (`user_tag_id`,`template_id`)
        VALUES
        <foreach collection="notifyTemplate.selTagIds" item="tagId" separator=",">
            (#{tagId},#{notifyTemplate.templateId})
        </foreach>
    </insert>

    <select id="getUserListByTemplateId" resultType="com.center.medical.app.bean.model.User">
        SELECT DISTINCT u.`user_id`, u.*
        FROM md_user u
                 LEFT JOIN `md_user_tag_user` tu ON u.`user_id` = tu.`user_id`
                 LEFT JOIN `md_notify_template_tag` nt ON tu.`user_tag_id` = nt.`user_tag_id`
        WHERE nt.`template_id` = #{templateId}
    </select>
</mapper>
