<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.app.dao.UserIdcardMapper">

    <resultMap type="com.center.medical.app.bean.model.UserIdcard" id="UserIdcardMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="idcard" column="idcard"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectUserIdcardVo">
        select id, user_id, idcard, create_time, update_time
        from md_user_idcard
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="UserIdcardMap">
        SELECT ui.*
        FROM md_user_idcard ui
        LEFT JOIN md_user u ON u.user_id = ui.user_id
        <where>
            u.user_mobile = #{param}
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="UserIdcardMap">
        <include refid="selectUserIdcardVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

