<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.GroupReportMapper">


    <!-- 根据主键id获取记录详情 -->
    <select id="findFxDetection2" resultType="com.center.medical.bean.model.FxDetection">
        SELECT DISTINCT
            d.dep_name,
            d.conclusion,
            d.detection_male,
            d.detection_female,
            d.detection_total,
            d.report_sort
        FROM
            md_fx_detection d
        WHERE
            d.sample_id = #{analyzeId}
            AND d.dep_name IS NOT NULL
        GROUP BY d.dep_name,
                 d.conclusion
        ORDER BY
            d.report_sort
    </select>


    <!-- 根据样本ID查询出所有的人员体检号 -->
    <select id="getAllPatientcode" resultType="java.lang.String">
        SELECT
            f.patientcode
        FROM
            md_fx_detection f
        WHERE
            f.sample_id = #{analyzeId}
        GROUP BY f.patientcode
    </select>


    <!-- 通过样本id获取危害因素 -->
    <select id="findHarm" resultType="com.center.medical.data.bean.model.Harm">
        SELECT
            h.harm_name,
            h.id
        FROM
            md_fx_harm fh
                INNER JOIN md_harm h ON h.id = fh.harm_id
        WHERE
            fh.sample_id = #{analyzeId}
        ORDER BY
            h.harm_class
    </select>

    <!-- 通过样本id获取危害因素 -->
    <select id="findHarmSql" resultType="com.center.medical.bean.model.FxSummary">
        SELECT DISTINCT
            f.harm_name,
            f.class_name,
            f.harm_id
        FROM
            md_fx_summary f
        WHERE
            f.sample_id = #{analyzeId}
        ORDER BY
            f.class_name
    </select>


    <!-- 主要职业病危害因素 按种类列举 -->
    <select id="getFourHarmClass" resultType="com.center.medical.report.bean.dto.FourHarmClassDto">
        SELECT
            c.harm_class,
            group_concat( h.harm_name) AS harmName
        FROM
            md_fx_harm fh
                INNER JOIN md_harm h ON h.id = fh.harm_id
                LEFT JOIN md_zy_harm_class c ON c.id = h.harm_class
        WHERE
            fh.sample_id = #{analyzeId}
        GROUP BY
            c.harm_class,
            c.har_id
        ORDER BY
            c.har_id;
    </select>


    <!-- 主要职业病危害因素 按种类列举 -->
    <select id="findHarmDepartment" resultType="java.lang.String">
        SELECT
            i.examfeeitem_nameprn
        FROM
            md_items i
        WHERE
                i.id IN (
                SELECT
                    c.sfxmid
                FROM
                    md_comboanditem c
                WHERE
                    c.is_delete = 0
                  AND c.tcid IN ( SELECT m.id FROM md_createcombo m WHERE m.is_delete = 0
                                                                   AND m.jhys = #{idName} AND m.zytjlb = #{type} )
                  AND c.sfbj = 1
            )
        ORDER BY
            i.group_order
    </select>


    <!-- 查询危害因素和疾病 -->
    <select id="findHarmAndIllness" resultType="com.center.medical.report.bean.dto.HarmAndIllnessDto">
        SELECT
            o.industrial_disease,
            o.contraindication
        FROM
            md_occupation_drug o
        WHERE
            o.harm_id = #{idName}
            AND o.poststage = #{type}
    </select>

    <!-- 根据危害因素的ID组成的字符串查询所有的诊断标准 -->
    <select id="findDiagnosis" resultType="java.lang.String">
        SELECT
            diagnosis
        FROM
            md_occupation_drug
        WHERE
            harm_id IN
            <foreach collection="danagerIds" item="danagerId" open="(" close=")" separator=",">
                #{danagerId}
            </foreach>
            AND poststage IN
            <foreach collection="sglxs" item="sglx" open="(" close=")" separator=",">
                #{sglx}
            </foreach>
    </select>

    <!-- 查询样本客户的一些信息 -->
    <select id="findCustomerMessage" resultType="com.center.medical.report.bean.dto.CustomerMessageDto">
        SELECT
            s.work_force as sjcyrs,
            s.zycp,
            s.gylc,
            s.zyyfl,
            s.zybwhys
        FROM
            crm_sellcustomer s
                LEFT JOIN md_ball_check_report b ON b.group_id = s.id
        WHERE
            b.id = #{analyzeId}
    </select>

    <!-- 查询结论数量 -->
    <select id="serialnoCount" resultType="com.center.medical.report.bean.dto.SerialnoCountDto">
        SELECT
            ( SELECT count(*) FROM md_fx_personnelview f WHERE f.summary_serialno = 1 AND f.sample_id = #{analyzeId} ) AS count1,
            ( SELECT count(*) FROM md_fx_personnelview f WHERE f.summary_serialno = 2 AND f.sample_id = #{analyzeId} ) AS count2,
            ( SELECT count(*) FROM md_fx_personnelview f WHERE f.summary_serialno = 3 AND f.sample_id = #{analyzeId} ) AS count3,
            ( SELECT count(*) FROM md_fx_personnelview f WHERE f.summary_serialno = 4 AND f.sample_id = #{analyzeId} ) AS count4,
            ( SELECT count(*) FROM md_fx_personnelview f WHERE f.summary_serialno = 5 AND f.sample_id = #{analyzeId} ) AS count5
        FROM
            md_fx_personnelview x
        WHERE
            x.sample_id = #{analyzeId}
    </select>


    <!-- 查询结论1 -->
    <select id="findSerialno1" resultType="com.center.medical.report.bean.dto.FindSerialno1Dto">
        SELECT
            h.harm_name,
            o.occupation_diseast,
            h.id,
            count( DISTINCT fp.patientcode ) AS count
        FROM
            md_fx_personnelview fp
                INNER JOIN md_comments_progessional c ON c.patientcode = fp.patientcode
                INNER JOIN md_zy_vs_summary zv ON zv.id = c.progessional_id
                INNER JOIN md_zy_summary z ON z.id = zv.occupation_summary
                AND z.serial_no = fp.summary_serialno
                INNER JOIN md_harm h ON h.id = zv.occupation_diagnosis
                INNER JOIN md_occupation_diseast o ON o.id = zv.occupation_diseast
        WHERE
            fp.summary_serialno = 1
          AND fp.sample_id = #{analyzeId}
        GROUP BY
            h.id,
            h.harm_name,
            o.occupation_diseast,
            o.id
        ORDER BY
            h.id,
            o.id
    </select>

    <!-- 查询结论2 -->
    <select id="findSerialno2" resultType="com.center.medical.report.bean.dto.FindSerialno1Dto">
        SELECT
            h.harm_name,
            zv.diagnosis,
            h.id,
            count( DISTINCT fp.patientcode ) AS count
        FROM
            md_fx_personnelview fp
                INNER JOIN md_comments_progessional c ON c.patientcode = fp.patientcode
                INNER JOIN md_zy_vs_summary zv ON zv.id = c.progessional_id
                INNER JOIN md_zy_summary z ON z.id = zv.occupation_summary
                AND z.serial_no = fp.summary_serialno
                INNER JOIN md_harm h ON h.id = zv.occupation_diagnosis
        WHERE
            fp.summary_serialno = 2
          AND fp.sample_id = #{analyzeId}
        GROUP BY
            h.id,
            h.harm_name,
            zv.diagnosis
        ORDER BY
            h.id,
            zv.diagnosis
    </select>

    <!-- 查询结论3 -->
    <select id="findSerialno3" resultType="com.center.medical.report.bean.dto.FindSerialno1Dto">
        SELECT
            h.harm_name,
            zv.diagnosis,
            h.id,
            count( DISTINCT fp.patientcode ) AS count,
	        zv.summary_text
        FROM
            md_fx_personnelview fp
            INNER JOIN md_comments_progessional c ON c.patientcode = fp.patientcode
            INNER JOIN md_zy_vs_summary zv ON zv.id = c.progessional_id
            INNER JOIN md_zy_summary z ON z.id = zv.occupation_summary
            AND z.serial_no = fp.summary_serialno
            INNER JOIN md_harm h ON h.id = zv.occupation_diagnosis
        WHERE
            fp.summary_serialno = 3
          AND fp.sample_id = #{analyzeId}
        GROUP BY
            h.id,
            h.harm_name,
            zv.diagnosis,
            zv.summary_text
        ORDER BY
            h.id,
            zv.diagnosis
    </select>


    <!-- 查询数量 -->
    <select id="getCount" resultType="com.center.medical.report.bean.dto.SerialnoCountDto">
        SELECT
            count(*) AS count
        FROM
            md_fx_completion f
        WHERE
            f.sample_id = #{analyzeId}
          AND f.unchecked_items IS NOT NULL
    </select>

    <!-- 本次职业健康检查危害因素人员分布情况一览表统计 -->
    <select id="findAllPeopleNum" resultType="com.center.medical.report.bean.dto.AllPeopleNumDto">
        SELECT
            d.harm_name,
            sum( d.people_num ) AS peopleNum,
            sum( d.inspect_num ) AS inspectNum,
            sum( d.unexplored_num ) AS unexploredNum,
            sum( d.man_num ) AS manNum,
            sum( d.women_num ) AS womenNum
        FROM
            md_danager_object d
        WHERE
            d.sample_id = #{analyzeId}
        GROUP BY
            d.harm_name
    </select>


    <!-- 本次职业健康检查危害因素人员分布情况一览表统计 -->
    <select id="countAllCollectTable" resultType="com.center.medical.report.bean.dto.AllCollectTableDto">
        SELECT
            f.regimentation_note,
            f.harm_name,
            f.org_depart,
            sum( f.yszyb ) AS yszyb,
            sum( f.zyjjz ) AS zyjjz,
            sum( f.fc ) AS fc,
            sum( f.qtjb ) AS qtjb,
            sum( f.wjyc ) AS wjyc
        FROM
            md_fx_summary f
        WHERE
            f.sample_id = #{analyzeId}
        GROUP BY
            f.harm_name,
            f.regimentation_note,
            f.org_depart
        ORDER BY
            f.harm_name,
            f.regimentation_note,
            f.org_depart
    </select>

    <!-- 根据样本ID获取所有危害因素 -->
    <select id="findHarmIdsBySampleId" resultType="java.lang.String">
        SELECT DISTINCT
            f.harm_id
        FROM
            md_fx_summary f
        WHERE
            f.sample_id = #{analyzeId}
        ORDER BY
            f.harm_id
    </select>


    <!-- 查询复查注意事项 -->
    <select id="findAnnouncements" resultType="java.lang.String">
        SELECT DISTINCT
            i.review_matters
        FROM
            md_fx_personnelview f
                LEFT JOIN md_review r ON r.patientcode = f.patientcode
                LEFT JOIN md_review_project p ON p.review_id = r.id
                LEFT JOIN md_items i ON i.id = p.items_id
        WHERE
            f.summary_serialno = #{summarySerialNo}
          AND f.sample_id = #{analyzeId}
    </select>


    <!-- 查询所有危害因素对身体危害 -->
    <select id="findBodyHarm" resultType="com.center.medical.report.bean.dto.BodyHarmDto">
        SELECT
            h.harm_name,
            h.affect
        FROM
            md_harm h
        WHERE
            h.id IN
        <foreach collection="danagerIds" item="danagerId" open="(" close=")" separator=",">
            #{danagerId}
        </foreach>
    </select>


    <!-- 获取漏检人员个数通过样本id -->
    <select id="getCountByAnalyzeId" resultType="java.lang.Integer">
        SELECT
            count(*) a
        FROM
            md_fx_completion f
        WHERE
            f.sample_id = #{analyzeId}
          AND f.unchecked_items IS NOT NULL
    </select>
</mapper>

