<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.MobileReportMapper">


    <!-- 数据表字段属性 -->
    <sql id="selectReportContentVo">
        select id,
               content,
               create_by,
               create_time,
               update_by,
               update_time,
               check_by,
               check_time,
               remark,
               report_type,
               branch_id,
               patientcode,
               id_examtype,
               check_status,
               analyze_id,
               compare_report_id,
               ks_id
        from md_report_content
    </sql>


    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.ReportContent">
        <include refid="selectReportContentVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 根据手机号查询体检者档案 -->
    <select id="getPatientCodes" resultType="java.lang.String">
        SELECT p.patientcode
        FROM md_peispatientarchive pa
        INNER JOIN md_peispatient p ON pa.patientarchiveno = p.patientarchiveno
        <where>
            pa.phone = #{phone}
            AND p.f_registered = 1
            <if test="year!=null and year!=''">
                AND YEAR(p.dateregister) = #{year}
            </if>
        </where>
    </select>


    <!-- 查询报告列表 -->
    <select id="getReportList" resultType="com.center.medical.bean.dto.ReportListDto">
        SELECT
        r.id,
        r.report_type,
        p.dateregister as createTime,
        r.id_examtype,
        '健康报告' AS reportTypeName,
        r.patientcode,
        p.patientname,
        p.id_sex,
        r.branch_id,
        (case when p.jktjzt >= 7 then 1 else 0 end) as status,
        (case when r.report_type = 5 then re.url_pdf else mor.pdf_url end) as urlPdf
        FROM
        md_report_content r
        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
        LEFT JOIN md_report re ON re.patientcode = r.patientcode
        and re.disease_health = 0
        LEFT JOIN md_other_report mor ON mor.patientcode = r.patientcode
        and mor.report_type = 3
        <where>
            p.f_registered = 1
            AND r.id_examtype = 0
            AND r.patientcode IN
            <foreach collection="patientCodes" item="patientCode" open="(" close=")" separator=",">
                #{patientCode}
            </foreach>
            AND r.report_type in (3,5)
        </where>
        ORDER BY p.dateregister DESC
    </select>


    <!-- 查询报告列表 -->
    <select id="getShareReportList" resultType="com.center.medical.bean.dto.ShareReportDto">
        SELECT
        r.id,
        r.report_type,
        p.dateregister as createTime,
        r.id_examtype,
        (case when r.id_examtype = 0 then '健康报告' else '职业报告' end) AS reportTypeName,
        r.patientcode,
        p.patientname,
        p.id_sex,
        r.branch_id,
        (CASE WHEN r.id_examtype = 0 AND p.jktjzt >= 7 THEN 1
        WHEN r.id_examtype = 1 AND p.zytjzt >= 7 THEN 1
        ELSE 0 END) as status,
        (case when r.report_type = 5 then re.url_pdf else mor.pdf_url end) as urlPdf,
        p.org_name,
        p.org_depart
        FROM
        md_report_content r
        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
        LEFT JOIN md_report re ON re.patientcode = r.patientcode
        and re.disease_health = 0
        LEFT JOIN md_other_report mor ON mor.patientcode = r.patientcode
        and mor.report_type = 3
        <where>
            p.f_registered = 1
            AND r.patientcode IN
            <foreach collection="param.patientCodes" item="patientCode" open="(" close=")" separator=",">
                #{patientCode}
            </foreach>
            AND r.report_type in (3,5)
            <if test="param.orgName!=null and param.orgName!=''">
                AND p.org_name like concat('%',#{param.orgName},'%')
            </if>
            <if test="param.orgDepart!=null and param.orgDepart!=''">
                AND p.org_depart like concat('%',#{param.orgDepart},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
        </where>
        ORDER BY p.dateregister DESC
    </select>




    <!-- 查询报告列表 -->
    <select id="getNewReportList" resultType="com.center.medical.bean.dto.ReportListDto">
        SELECT
        r.id,
        r.report_type,
        p.dateregister as createTime,
        r.id_examtype,
        '健康报告' AS reportTypeName,
        r.patientcode,
        p.patientname,
        p.id_sex,
        r.branch_id,
        (case when p.jktjzt >= 7 then 1 else 0 end) as status,
        (case when r.report_type = 5 then re.url_pdf else mor.pdf_url end) as urlPdf,
        sb.fzx as branchName
        FROM
        md_report_content r
        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
        LEFT JOIN md_report re ON re.patientcode = r.patientcode
        AND re.disease_health = 0
        LEFT JOIN md_other_report mor ON mor.patientcode = r.patientcode
        and mor.report_type = 3
        INNER JOIN md_peispatientarchive pa ON pa.patientarchiveno = p.patientarchiveno
        LEFT JOIN sys_branch sb ON sb.branch_id = r.branch_id
        <where>
            pa.phone = #{param.phone}
            AND p.f_registered = 1
            AND r.report_type in (3,5)
            <if test="param.startTime!=null and param.startTime!=''">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null and param.endTime!=''">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.idExamtype!=null and param.idExamtype!=''">
                AND r.id_examtype = #{param.idExamtype}
            </if>
        </where>
        ORDER BY p.dateregister DESC
    </select>

    <!-- 查询报告列表 -->
    <select id="getReportListByOrderId" resultType="com.center.medical.bean.dto.ReportListDto">
        SELECT
        r.id,
        r.report_type,
        p.dateregister AS createTime,
        r.id_examtype,
        '健康报告' AS reportTypeName,
        r.patientcode,
        p.patientname,
        p.id_sex,
        r.branch_id,
        ( CASE WHEN p.jktjzt >= 7 THEN 1 ELSE 0 END ) AS STATUS,
        ( CASE WHEN r.report_type = 5 THEN re.url_pdf ELSE mor.pdf_url END ) AS urlPdf,
        sb.fzx AS branchName
        FROM
        md_report_content r
        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
        LEFT JOIN md_report re ON re.patientcode = r.patientcode
        AND re.disease_health = 0
        LEFT JOIN md_other_report mor ON mor.patientcode = r.patientcode
        AND mor.report_type = 3
        LEFT JOIN sys_branch sb ON sb.branch_id = r.branch_id
        LEFT JOIN md_createorder co ON p.numorgresv = co.ddh
        <where>
            AND co.id = #{orderNum}
            <if test="phone!=null and phone!=''">
                AND p.phone = #{phone}
            </if>
            AND p.f_registered = 1
            AND r.report_type IN ( 3, 5 )
        </where>
        ORDER BY p.dateregister DESC
    </select>



    <!-- 查询体检号对应的手机号 -->
    <select id="getCheckDetailsPhone" resultType="java.lang.String">
        SELECT
        pa.phone
        FROM
        md_peispatient p
        INNER JOIN md_peispatientarchive pa ON pa.patientarchiveno = p.patientarchiveno
        <where>
            p.patientcode = #{patientcode}
            AND p.f_registered = 1
        </where>
    </select>
</mapper>

