<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.PrivateReportMapper">



    <!-- 生成隐私小结，正常小结中不包含隐私项目 -->
    <select id="getPrXjdata" resultType="com.center.medical.report.bean.dto.GetPrXjdataDto">
        SELECT
            pe.examfeeitem,
            pe.examitem_name_r,
            pe.examitemvaluesreport,
            e.type,
            pe.status,
            pe.zy_status,
            e.is_desc,
            pe.type type2,
            pe.units,
            pe.id_examitem
        FROM
            md_peispatientexamitem pe
                INNER JOIN md_items i ON i.id = pe.id_examfeeitem
                AND i.bgdybs = '1'
                INNER JOIN md_basexamltem e ON e.id = pe.id_examitem
                INNER JOIN md_inspect_charge ic ON ic.charge_id = i.id
                AND ic.inspect_id = e.id
        WHERE
            ((
                 pe.status != 'n'
			AND trim( pe.status ) IS NOT NULL
                 )
                OR e.is_desc = 1
                OR pe.zy_status != 'n'
		OR (
			pe.examitemvaluesshort IS NOT NULL
			AND ( instr( pe.examitemvaluesshort, '阳性' )!= 0 OR instr( pe.examitemvaluesshort, '' )!= 0 )
		)
	)
	AND pe.patientcode = #{patientcode}
          AND pe.examitemvaluesnumber2 IS NULL
        ORDER BY
            i.createdate,
            ic.order_index
    </select>


    <!-- 获取隐私项目 -->
    <select id="getPrYsxm" resultType="com.center.medical.report.bean.dto.PrYsxmDto">
        SELECT DISTINCT
            p.examfeeitem_nameprn,
            p.examitem_nameprn,
            p.examitemvaluesreport,
            p.units,
            p.status,
            p.refrange,
            p.inspect_name,
            STR_TO_DATE(p.audit_date, '%Y-%m-%d') AS auditDate,
            i.xh,
            c.order_index,
            i.id AS iid,
            u.sign_pic
        FROM
            md_peispatientexamitem p
                INNER JOIN md_items i ON i.id = p.id_examfeeitem
                INNER JOIN md_inspect_charge c ON c.charge_id = i.id
                INNER JOIN md_basexamltem e ON e.id = c.inspect_id
                AND e.id = p.id_examitem
                INNER JOIN md_peispatientfeeitem pf ON pf.id_patient = p.patientcode
                AND pf.id_examfeeitem = p.id_examfeeitem
                AND pf.f_examinated = 1
                LEFT JOIN sys_user u ON u.user_name = p.inspect_name
        WHERE
            i.bgdybs = 1
          AND p.patientcode = #{patientcode}

          AND i.examfeeitem_code IS NOT NULL
        ORDER BY
            i.xh,
            i.id,
            c.order_index
    </select>
</mapper>

