<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.ReportShareTwoMapper">

    <resultMap type="com.center.medical.bean.model.ReportShareTwo" id="ReportShareTwoMap">
        <id property="id" column="id"/>
        <result property="mainId" column="main_id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="idOrg" column="id_org"/>
        <result property="orgName" column="org_name"/>
        <result property="patientname" column="patientname"/>
        <result property="idSex" column="id_sex"/>
        <result property="age" column="age"/>
        <result property="createdate" column="createdate"/>
        <result property="createName" column="create_name"/>
        <result property="createId" column="create_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReportShareTwoVo">
        select id,
               main_id,
               patientcode,
               id_org,
               org_name,
               patientname,
               id_sex,
               age,
               createdate,
               create_name,
               create_id,
               dateregister
        from md_report_share_two
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReportShareTwoMap">
        <include refid="selectReportShareTwoVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReportShareTwoMap">
        <include refid="selectReportShareTwoVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="details" resultMap="ReportShareTwoMap">
        <include refid="selectReportShareTwoVo"/>
        <where>
            main_id = #{id}
        </where>
    </select>
</mapper>

