<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.ReportShareMainMapper">

    <resultMap type="com.center.medical.bean.model.ReportShareMain" id="ReportShareMainMap">
        <id property="id" column="id"/>
        <result property="path" column="path"/>
        <result property="pathName" column="path_name"/>
        <result property="extractedCode" column="extracted_code"/>
        <result property="num" column="num"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="autofill" column="autofill"/>
        <result property="status" column="status"/>
        <result property="createdate" column="createdate"/>
        <result property="createName" column="create_name"/>
        <result property="createId" column="create_id"/>
        <result property="modifydate" column="modifydate"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyId" column="modify_id"/>
        <result property="visits" column="visits"/>
        <result property="lastIp" column="last_ip"/>
        <result property="lastTime" column="last_time"/>
        <result property="expirationTime" column="expiration_time"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReportShareMainVo">
        select id,
               path,
               path_name,
               extracted_code,
               num,
               expiration_date,
               autofill,
               status,
               createdate,
               create_name,
               create_id,
               modifydate,
               modify_name,
               modify_id,
               visits,
               last_ip,
               last_time,
               expiration_time
        from md_report_share_main
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.bean.vo.ReportShareMainVo">
        <include refid="selectReportShareMainVo"/>
        <where>
            <if test="param.startTime!=null">
                AND createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.status!=null">
                AND status = #{param.status}
            </if>
        </where>
        order by createdate Desc
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReportShareMainMap">
        <include refid="selectReportShareMainVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

