<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.report.dao.TotalHealthInspectionMapper">


    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.report.bean.vo.HtPeispatientVo">
        SELECT
        p.patientcode,
        p.patientname,
        p.f_examstarted,
        p.f_readytofinal,
        p.f_finallocked,
        p.jktjzt,
        p.datefinalexamed,
        p.doctorfinal_name_r,
        p.dateregister,
        p.doctorreg,
        p.examsuite_name,
        p.org_name,
        p.id_examtype,
        p.id_patientclass,
        p.idcardno,
        p.id_sex,
        p.age,
        p.id_marriage,
        p.patientcode AS id
        FROM
        md_peispatient p
        <where>
            p.f_registered = 1
            AND p.f_readytofinal = 1
            <choose>
                <when test="param.isJk == 1">
                    and p.id_examtype in (0,2)
                </when>
                <otherwise>
                    and p.id_examtype in (1,2)
                </otherwise>
            </choose>
            <if test="param.examstate!=null">
                <choose>
                    <when test="param.isJk == 1">
                        <if test="param.examstate==0">
                            and p.jktjzt is null
                        </if>
                        <if test="param.examstate==1">
                            and p.jktjzt=0
                        </if>
                        <if test="param.examstate==2">
                            and p.jktjzt>=1
                        </if>
                    </when>
                    <otherwise>
                        <if test="param.examstate==0">
                            and p.zytjzt is null
                        </if>
                        <if test="param.examstate==1">
                            and p.zytjzt=0
                        </if>
                        <if test="param.examstate==2">
                            and p.zytjzt>=1
                        </if>
                    </otherwise>
                </choose>

            </if>
            <if test="param.jktjzt!=null">
                <choose>
                    <when test="param.jktjzt == -1">
                        and p.jktjzt is null
                    </when>
                    <otherwise>
                        and p.jktjzt = #{param.jktjzt}
                    </otherwise>
                </choose>
            </if>
            <if test="param.idPatientclass!=null and param.idPatientclass!=''">
                AND p.id_patientclass = #{param.idPatientclass}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                and instr(p.patientcode,#{param.patientcode})>0
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                and instr(p.org_Name,#{param.orgName})>0
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                and instr(p.patientname,#{param.patientname})>0
            </if>
            <if test="param.startTime!=null">
                AND p.datefinalexamed <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.datefinalexamed <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.startRegTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startRegTime}
            </if>
            <if test="param.endRegTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endRegTime}
            </if>
            <if test="param.startFjTime!=null">
                AND p.readytofinal_date <![CDATA[ >= ]]> #{param.startFjTime}
            </if>
            <if test="param.endFjTime!=null">
                AND p.readytofinal_date <![CDATA[ <= ]]> #{param.endFjTime}
            </if>
        </where>
        Order by p.dateregister DESC
    </select>


    <!-- 查询子表 -->
    <select id="selectSubtable" resultType="com.center.medical.report.bean.dto.SubtableDto">
        SELECT
        t.id,
        t.division_id,
        t.basconclusion_id
        FROM
        md_section_result_two t
        INNER JOIN md_section_result_main m ON t.main_id = m.id
        WHERE
        t.patientcode = #{patientcode}
        AND t.basconclusion_id IS NOT NULL
        <if test="dh!=null">
            <choose>
                <when test="dh == 0">
                    AND t.tjlx != 2
                </when>
                <otherwise>
                    AND t.tjlx != 0
                </otherwise>
            </choose>
        </if>
        AND m.is_audit = 1
        AND NOT EXISTS ( SELECT 1 FROM md_items i WHERE i.id = t.charges_id AND i.bgdybs = '1' )
        ORDER BY
        t.createdate DESC
    </select>


    <!-- 查询 -->
    <select id="selectSummary" resultType="string">
        SELECT DISTINCT zv.id
        FROM md_zy_vs_summary zv
        INNER JOIN md_zy_summary z ON z.id = zv.occupation_summary
        AND z.serial_no = 7
        INNER JOIN md_comboexamitem c ON c.harm_id = zv.occupation_diagnosis
        AND c.medical_type = zv.regimentation_note
        AND c.item_id = zv.item_id
        WHERE zv.is_delete = 0
        AND zv.regimentation_note = #{medicalType}
        AND zv.occupation_diagnosis IN
        <foreach collection="jhys" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND c.item_id IN
        <foreach collection="itemids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <!-- 有弃检职业项目的科室 -->
    <select id="findDiscard" resultType="com.center.medical.report.bean.dto.DiscardDto">
        SELECT d.dept_no as deptId,
               group_concat(DISTINCT p.examfeeitem_name ) as examfeeitem_name
        FROM md_peispatientfeeitem p
                 INNER JOIN sys_dept d ON d.dept_no = p.id_ks
                 LEFT JOIN md_inspect_charge ic ON ic.charge_id = p.id_examfeeitem
            AND ic.is_delete = 0
                 LEFT JOIN md_basexamltem e ON e.id = ic.inspect_id
            AND e.is_delete = 0
        WHERE p.id_patient = #{patientcode}
          AND ((
                   SELECT count(*)
                   FROM md_comboexamitem c
                   WHERE c.harm_id IN
                    <choose>
                        <when test="harmstr != null">
                            <foreach collection="harmstr" item="harm" open="(" close=")" separator=",">
                                #{harm}
                            </foreach>
                        </when>
                        <otherwise>
                            (null)
                        </otherwise>
                    </choose>
                     AND c.medical_type = #{medicaltype}
                     AND c.item_id = p.id_examfeeitem
               ) > 0
            OR ((
                    SELECT count(*)
                    FROM md_comboexamitem c2
                    WHERE c2.harm_id IN
                    <choose>
                        <when test="harmstr != null">
                            <foreach collection="harmstr" item="harm" open="(" close=")" separator=",">
                                #{harm}
                            </foreach>
                        </when>
                        <otherwise>
                            (null)
                        </otherwise>
                    </choose>
                      AND c2.medical_type = #{medicaltype}
                      AND c2.exam_id = e.id
                ) > 0
                   )
            )
          AND p.f_giveup = 1
        GROUP BY d.dept_no,
                 d.report_sort
    </select>


    <!-- 有弃检职业项目的科室 -->
    <select id="findRefusal" resultType="java.lang.String">
        select group_concat(DISTINCT pi.examfeeitem_name ) as examfeeitem_name
        from md_peispatientfeeitem pi
                 left join md_inspect_charge ic on ic.charge_id = pi.id_examfeeitem
            and ic.is_delete = 0
                 left join md_basexamltem e on e.id = ic.inspect_id
            and e.is_delete = 0
        where pi.id_patient = #{patientcode}
          and ((
                   select count(*)
                   from md_comboexamitem c
                   where c.harm_id in
                    <choose>
                        <when test="harmstr != null">
                            <foreach collection="harmstr" item="harm" open="(" close=")" separator=",">
                                #{harm}
                            </foreach>
                        </when>
                        <otherwise>
                            (null)
                        </otherwise>
                    </choose>
                     and c.medical_type = #{medicaltype}
                     and c.item_id = pi.id_examfeeitem
               ) > 0
            or ((
                    select count(*)
                    from md_comboexamitem c2
                    where c2.harm_id in
                        <choose>
                            <when test="harmstr != null">
                                <foreach collection="harmstr" item="harm" open="(" close=")" separator=",">
                                    #{harm}
                                </foreach>
                            </when>
                            <otherwise>
                                (null)
                            </otherwise>
                        </choose>
                      and c2.medical_type = #{medicaltype}
                      and c2.exam_id = e.id
                ) > 0
                   )
            )
          and pi.sfjj = 1
    </select>


    <!-- 有弃检职业项目的科室 -->
    <select id="getUniqueResult" resultType="string">
        SELECT serial_no
        FROM (
                 SELECT c.patientcode,
                        z.serial_no,
                        row_number() over ( PARTITION BY c.patientcode ORDER BY z.serial_no ASC ) AS row_num
                 FROM md_comments_progessional c
                          LEFT JOIN md_zy_vs_summary zv ON zv.id = c.progessional_id
                     AND zv.is_delete = 0
                          LEFT JOIN md_zy_summary z ON z.id = zv.occupation_summary
                     AND z.is_delete = 0
             ) a
        WHERE row_num = 1
          AND patientcode = #{patientcode}
          AND serial_no IN (1, 2)
    </select>


    <!-- 获取分科检验数据 -->
    <select id="getGriddata" resultType="com.center.medical.report.bean.vo.GetGriddataVo">
        SELECT p.id,
               i.examfeeitem_name                                    as examFeeItem,
               e.examitem_name                                       as examItemNameR,
               p.lis_code                                            as lisCode,
               p.examitemvaluesnumber,
               p.status,
               p.units,
               p.refrange,
               p.inspect_name                                        as inspectName,
               p.exam_date_time                                      as examDateTime,
               p.examitemvaluesshort,
               p.report_range                                        as reportRange,
               p.examitemvaluesreport,
               p.audit_name                                          as auditName,
               p.reflow,
               p.refhigh,
               p.lisybbh,
               p.id_examitem                                         as idExamItem,
               IFNULL(p.examitemvaluesnumber, p.examitemvaluesshort) as result
        FROM md_peispatientfeeitem pi
                 INNER JOIN md_items i ON i.id = pi.id_examfeeitem
                 INNER JOIN md_inspect_charge c ON c.charge_id = i.id
                 INNER JOIN md_basexamltem e ON e.id = c.inspect_id
                 LEFT JOIN md_yblx yb ON yb.id = i.id_labtype
                 LEFT JOIN md_peispatientexamitem p ON p.id_examitem = e.id
            AND p.id_examfeeitem = i.id
            AND p.patientcode = pi.id_patient
            AND p.dep_id = pi.id_ks
        WHERE pi.id_ks = #{ksid}
          AND pi.id_patient = #{patientcode}
          AND pi.f_giveup = 0
          AND (pi.sfjj IS NULL OR pi.sfjj = 0)
          AND pi.change_item = 0
          AND pi.f_feecharged = 1
          AND pi.f_transferedhl7 IS NULL
          AND c.is_delete = 0
          AND e.is_delete = 0
          AND i.examfeeitem_code IS NOT NULL
        ORDER BY yb.xh,
                 i.id,
                 c.order_index
    </select>


    <!-- 获取提醒接口 -->
    <select id="getRemindPatient" resultType="com.center.medical.report.bean.vo.RemindPatientVo">
        SELECT
        p.patientcode,
        p.patientname,
        group_concat( DISTINCT r.dep_name ) as depName
        FROM
        md_section_remind r
        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
        INNER JOIN md_section_and_remind sar ON sar.remind_id = r.id
        <where>
            1 =1
            <choose>
                <when test="param.ksID!=null and param.ksID!=''">
                    AND sar.dep_id = #{param.ksID}
                </when>
                <otherwise>
                    AND p.f_readytofinal = 1
                </otherwise>
            </choose>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode like concat('%',#{param.patientcode},'%')
            </if>
        </where>
        GROUP BY p.patientcode,p.patientname
        ORDER BY p.patientcode DESC
    </select>
</mapper>

