@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

@font-face {
  font-family: "Song";
  src: url('./Song.otf');
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 12px 20px;
  background: #fff;
  // background: #FFF8F4;
  min-height: calc(100vh - 110px);
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.small-padding {
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.05);
}

.el-table__fixed,
.el-table__fixed-right {
  height: calc(100% - 12px) !important; //设置高优先，以覆盖内联样式
}

.el-upload {
  width: 100%;
}

.el-upload-dragger {
  width: 100%;
}

.el-table th.el-table__cell {
  background: #f8f8f9 !important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 12px;
  /*滚动条宽度*/
  height: 12px;
  /*滚动条高度*/
  background-color: white;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0px white;
  background-color: rgba(193, 193, 193, 0.8);
  /*滚动条的背景颜色*/
  border-radius: 30px;
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

.select-box {
  background: #fff;
  padding: 42px 8px 2px;

  .el-select-dropdown__item {
    padding: 0;
    height: 40px;
    border-bottom: 1px solid #dfe6ec;
  }

  .option-title {
    width: 320px;
    word-break: break-word;
    color: #515a6e;
    height: 48px;
    padding-top: 8px;
    background: #fff;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dfe6ec;
    position: absolute;
    z-index: 9;
    top: 0;

    span {
      background-color: #f8f8f9;
      display: inline-block;
      width: 185px;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      height: 39px;
      line-height: 39px;

      &:first-child {
        width: 135px;
      }
    }
  }

  .option-items {
    width: 320px;
    word-break: break-word;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #606266;
    text-align: center;

    span {
      display: inline-block;
      width: 58%;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      height: 40px;
      line-height: 40px;

      &:first-child {
        width: 42%;
      }
    }
  }
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-box {
    flex: 1;
    overflow: hidden;
  }
}

.el-dialog {
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
}

.tag-checkbox {
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  line-height: 20px !important;
  font-size: 16px !important;
  display: block !important;
  margin: 0 auto !important;

  &.el-tag--info {
    background: #F6F7FB !important;
  }
}

.el-input-number .el-input .el-input__inner {
  text-align: left;
}

// table中的标签默认颜色
.el-table .el-tag {
  color: #1890FF;
  background: #E8F4FF;
  border-color: rgba(33, 120, 241, 0.5);
}

.el-table .el-tag--dark {
  background-color: #1890FF;
  border-color: #1890FF;
  color: #fff;
}

.el-button--primary {
  color: #fff;
  background: linear-gradient(180deg, #FE6939 0%, #FF9E68 100%) !important;
  border-color: #fff;

  &.is-plain {
    background: #fff !important;

    &:hover {
      color: rgba(254, 105, 57, 0.9) !important;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &.is-disabled {
    color: rgba(153, 153, 153, 1) !important;
    border: 1px solid rgba(153, 153, 153, 1) !important;
    background: #fff !important;

    &:hover {
      color: rgba(153, 153, 153, 0.9) !important;
      border: 1px solid rgba(153, 153, 153, 0.9) !important;
    }
  }
}

// 按钮无颜色
// row布局中的primary按钮颜色
// .el-row .el-button--success.is-plain,
// .el-row .el-button--warning.is-plain,
// .el-row .el-button--danger.is-plain,
// .el-row .el-button--primary.is-plain,
// .el-row .el-button--default.is-plain,
// .el-row .el-button--default {
//   color: #000;
//   background: rgba(250, 250, 250, 0.8);
//   // background: linear-gradient(#ddd, #fff);
//   border-color: rgba(0, 0, 0, 0.8);

//   &:hover,
//   &:focus,
//   &:active {
//     color: #333;
//     background: #ccc;
//     border-color: rgba(0, 0, 0, 0.8);
//   }

//   &.is-disabled {
//     color: #999;
//     background: rgba(250, 250, 250, 0.8);
//     border-color: #999;

//     &:hover,
//     &:focus,
//     &:active {
//       color: #999;
//       background: rgba(250, 250, 250, 0.8);
//       border-color: #999;
//     }
//   }
// }

// 按钮有颜色
// row布局中的danger按钮颜色
// .el-row .el-button--danger.is-plain {
//   color: rgb(192, 0, 0);
//   border-color: rgba(192, 0, 0, 0.5);
// }

// // row布局中的warning按钮颜色
// .el-row .el-button--warning.is-plain {
//   color: rgb(197, 90, 17);
//   border-color: rgba(197, 90, 17, 0.5);
// }

// // row布局中的success按钮颜色
// .el-row .el-button--success.is-plain {
//   color: rgb(84, 130, 53);
//   border-color: rgba(84, 130, 53, 0.5);
// }


.el-message--danger {
  border-color: rgba(192, 0, 0, 0.5) !important;
}

.el-message--danger i,
.el-message--danger p {
  color: rgb(192, 0, 0) !important;
}

.el-message--warning {
  border-color: rgba(197, 90, 17, 0.5) !important;
}

.el-message--warning i,
.el-message--warning p {
  color: rgb(197, 90, 17) !important;
}

.el-message--success {
  border-color: rgba(84, 130, 53, 0.5) !important;
}

.el-message--success i,
.el-message--success p {
  color: rgb(84, 130, 53) !important;
}

.el-row.mb8 {
  margin-bottom: 0;

  .el-button {
    margin-bottom: 8px;
  }
}

.el-table__empty-block {
  width: 100% !important;
}

.el-form-item__label {
  color: #000 !important;
}

::placeholder {
  color: #777 !important;
  /* 这里替换为你想要的颜色值 */
}

.el-input.is-disabled .el-input__inner {
  color: #666 !important;
}

// .el-form-item__label,
// table .cell {
//   white-space: nowrap;
// }

.el-table th.el-table__cell>.cell {
  font-size: 14px !important;
  // font-weight: normal !important;
}

.el-table .el-table__cell {
  padding: 4px 0 !important;
}

// 顶部筛选
.app-container>.no-margin-bottom .el-form-item__label {
  color: #FE6939 !important;
}

.no-margin-bottom .el-form-item {
  margin-bottom: 4px !important;
}

// 文字颜色
.zk-word-color {
  color: #FE6939;
}

// 背景色
.zk-bg-color {
  background-color: #FE6939;
}

// 按钮颜色样式
.zk-btn-style1.el-button,
.zk-btn-style2.el-button,
.section-btn-style1.el-button,
.section-btn-style2.el-button,
.section-btn-style3.el-button {
  padding: 7px 15px;
  margin-bottom: 4px;
}

.zk-btn-style1.el-button {
  color: #fff;
  background: linear-gradient(180deg, #FE6939 0%, #FF9E68 100%) !important;
  border-color: #FF9E68;
  font-size: 13px;

  &:active,
  &:focus {
    color: #fff;
  }

  &.is-disabled {
    color: rgba(153, 153, 153, 1);
    border: 1px solid rgba(153, 153, 153, 1);
    opacity: 1;

    &:hover {
      color: rgba(153, 153, 153, 0.9);
      border: 1px solid rgba(153, 153, 153, 0.9);
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.9;
    color: #fff;
  }
}

.zk-btn-style2.el-button {
  color: rgba(254, 105, 57, 1);
  border: 1px solid rgba(254, 105, 57, 1);
  background: #fff;
  font-size: 13px;

  &.is-disabled {
    color: rgba(153, 153, 153, 1);
    border: 1px solid rgba(153, 153, 153, 1);
    opacity: 1;
  }

  &.is-disabled:hover {
    color: rgba(153, 153, 153, 0.9);
    border: 1px solid rgba(153, 153, 153, 0.9);
    opacity: 1;
  }

  &:hover {
    color: rgba(254, 105, 57, 0.7);
    border: 1px solid rgba(254, 105, 57, 0.7);
  }
}

.section-btn-style1.el-button {
  color: #fff;
  background-color: #d41318;
  border-color: #d41318;

  &:hover {
    color: #fff;
    background: #bf1116;
    border-color: #bf1116;
  }

  &.is-disabled {
    color: #fff;
    background-color: #ea898c;
    border-color: #ea898c;

    &:hover {
      color: #fff;
      background-color: #ea898c;
      border-color: #ea898c;
      opacity: 0.8;
    }
  }
}

.section-btn-style2.el-button {
  color: #000;
  border: 1px solid #999;

  &:hover {
    color: #d41318;
    border-color: #f2b8ba;
    background-color: #fbe7e8;
  }

  &.is-disabled {
    color: #999;
    background: rgba(250, 250, 250, 0.8);
    border-color: #999;

    &:hover {
      color: #999;
      background: rgba(250, 250, 250, 0.8);
      border-color: #999;
      opacity: 0.8;
    }
  }
}

.section-btn-style3.el-button {
  color: #d41318;
  border: 1px solid #f2b8ba;

  &:hover {
    color: #d33c41;
    border-color: #f2b8ba;
    background-color: #fbe7e8;
  }

  &.is-disabled {
    color: #999;
    background: rgba(250, 250, 250, 0.8);
    border-color: #999;

    &:hover {
      color: #999;
      background: rgba(250, 250, 250, 0.8);
      border-color: #999;
      opacity: 0.8;
    }
  }
}

// @media print {
//   @page {
//     margin: 13px 13mm; // 可以控制打印布局（四周边距）
//   }
// }

// 修改火狐浏览器字体
@-moz-document url-prefix() {

  body,
  .el-input__inner,
  .el-textarea__inner,
  .el-button,
  .el-form .el-form-item__label {
    font-family: "宋体", Arial, sans-serif !important;
  }

  .el-form .el-form-item__label {
    font-weight: 400;
  }
}