<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.ForinspectionViewMapper">

    <resultMap type="com.center.medical.member.bean.model.VisitMain" id="VisitMainMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="isInspect" column="is_inspect"/>
        <result property="inspectTime" column="inspect_time"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isInspected" column="is_inspected"/>
        <result property="type" column="type"/>
        <result property="note" column="note"/>
        <result property="belowquestion" column="belowquestion"/>
        <result property="isDelete" column="is_delete"/>
        <result property="idExamfeeitem" column="id_examfeeitem"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectVisitMainVo">
        select id,
               patientcode,
               is_inspect,
               inspect_time,
               createdate,
               modifydate,
               is_inspected,
               type,
               note,
               belowquestion,
               is_delete,
               id_examfeeitem
        from md_visit_main
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.member.bean.vo.ForinspectionViewVo">
        SELECT
        v.id,
        v.patientcode,
        p.patientname,
        p.id_sex,
        v.is_inspect,
        p.phone,
        p.age,
        p.doctorapply,
        p.org_name,
        p.org_depart,
        f.visit_id,
        STR_TO_DATE ( f.visit_time, '%Y-%m-%d %T' ) visit_time,
        f.memo,
        f.sflj,
        f.ljsj,
        v.id_examfeeitem,
        v.createdate,
        v.type,
        STR_TO_DATE( p.dateregister, '%Y-%m-%d %T' ) AS dateregister,
        p.id_examtype AS tjlx,
        p.jhys,
        pf.examfeeitem_name,
        pf.id_examfeeitem itemid,
        p.medicaltype ,
        STR_TO_DATE ( f.pre_time, '%Y-%m-%d %T' ) AS preTime
        FROM
        md_visit_main v
        LEFT JOIN md_peispatient p ON p.patientcode = v.patientcode
        LEFT JOIN md_peispatientfeeitem pf ON pf.id = v.id_examfeeitem
        LEFT JOIN md_fail_total_visit f ON f.visit_main_id = v.id
        <where>
            (v.type=0 OR v.type=4)
            AND (v.is_delete=0 OR v.is_delete is null)
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.itemName!=null and param.itemName!=''">
                AND pf.examfeeitem_name LIKE concat('%',#{param.itemName},'%')
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND v.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND p.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND p.org_name LIKE concat('%',#{param.orgName},'%')
            </if>
            <if test="param.startDate!=null">
                AND STR_TO_DATE (f.ljsj, '%Y-%m-%d' ) <![CDATA[ >= ]]>STR_TO_DATE ( #{param.startDate}, '%Y-%m-%d' )
            </if>
            <if test="param.endDate!=null">
                AND STR_TO_DATE (f.ljsj, '%Y-%m-%d' ) <![CDATA[ <= ]]>STR_TO_DATE ( #{param.endDate}, '%Y-%m-%d' )
            </if>
            <if test="param.type!=null and param.type!=''">
                AND v.type = #{param.type}
            </if>
            <if test="param.sflj!=null and param.sflj!=''">
                <choose>
                    <when test="param.flag == 1">
                        AND ( f.sflj IS NULL OR f.sflj IN ( #{param.join} )
                    </when>
                    <when test="param.flag == 2">
                        AND f.sflj IS NULL
                    </when>
                    <when test="param.flag == 3">
                        AND f.sflj IN ( #{param.join} )
                    </when>
                </choose>
            </if>
            <if test="param.regStartTime!=null">
                AND p.dateregister <![CDATA[ >= ]]>STR_TO_DATE ( #{param.regStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.regEndTime!=null">
                AND p.dateregister <![CDATA[ <= ]]>STR_TO_DATE ( #{param.regEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.visitStartTime!=null">
                AND f.visit_time <![CDATA[ >= ]]>STR_TO_DATE ( #{param.visitStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.visitEndTime!=null">
                AND f.visit_time <![CDATA[ <= ]]>STR_TO_DATE ( #{param.visitEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.preStartTime!=null">
                AND f.pre_time <![CDATA[ >= ]]>STR_TO_DATE ( #{param.preStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.preEndTime!=null">
                AND f.pre_time <![CDATA[ <= ]]>STR_TO_DATE ( #{param.preEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.useCodeHiden!=null and param.useCodeHiden!=''">
                AND p.f_usecodehiden = #{param.useCodeHiden}
            </if>
            <if test="param.fzx!=null and param.fzx!=''">
                AND p.hospitalcode = #{param.fzx}
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND p.id_opendoctor = #{param.xsjlid}
            </if>
        </where>
        ORDER BY v.createdate DESC, f.sflj DESC

    </select>

    <!--迟补检回访页面导出-->
    <select id="export" resultType="com.center.medical.member.bean.vo.ForinspectionViewVo">
        SELECT
        v.id,
        v.patientcode,
        p.patientname,
        p.id_sex,
        v.is_inspect,
        p.phone,
        p.age,
        p.doctorapply,
        p.org_name,
        p.org_depart,
        f.visit_id,
        STR_TO_DATE ( f.visit_time, '%Y-%m-%d %T' ) visit_time,
        f.memo,
        f.sflj,
        f.ljsj,
        v.id_examfeeitem,
        v.createdate,
        v.type,
        STR_TO_DATE( p.dateregister, '%Y-%m-%d %T' ) AS dateregister,
        p.id_examtype AS tjlx,
        p.jhys,
        pf.examfeeitem_name,
        pf.id_examfeeitem itemid,
        p.medicaltype ,
        STR_TO_DATE ( f.pre_time, '%Y-%m-%d %H:%i' ) AS preTime
        FROM
        md_visit_main v
        LEFT JOIN md_peispatient p ON p.patientcode = v.patientcode
        LEFT JOIN md_peispatientfeeitem pf ON pf.id = v.id_examfeeitem
        LEFT JOIN md_fail_total_visit f ON f.visit_main_id = v.id
        <where>
            (v.type=0 OR v.type=4)
            AND (v.is_delete=0 OR v.is_delete is null)
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.itemName!=null and param.itemName!=''">
                AND pf.examfeeitem_name LIKE concat('%',#{param.itemName},'%')
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND v.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND p.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.orgName!=null and param.orgName!=''">
                AND p.org_name LIKE concat('%',#{param.orgName},'%')
            </if>
            <if test="param.startDate!=null">
                AND STR_TO_DATE (f.ljsj, '%Y-%m-%d' ) <![CDATA[ >= ]]>STR_TO_DATE ( #{param.startDate}, '%Y-%m-%d' )
            </if>
            <if test="param.endDate!=null">
                AND STR_TO_DATE (f.ljsj, '%Y-%m-%d' ) <![CDATA[ <= ]]>STR_TO_DATE ( #{param.endDate}, '%Y-%m-%d' )
            </if>
            <if test="param.type!=null and param.type!=''">
                AND v.type = #{param.type}
            </if>
            <if test="param.sflj!=null and param.sflj!=''">
                <choose>
                    <when test="param.flag == 1">
                        AND ( f.sflj IS NULL OR f.sflj IN ( #{param.join} )
                    </when>
                    <when test="param.flag == 2">
                        AND f.sflj IS NULL
                    </when>
                    <when test="param.flag == 3">
                        f.sflj IN ( #{param.join} )
                    </when>
                </choose>
            </if>
            <if test="param.regStartTime!=null">
                AND p.dateregister <![CDATA[ >= ]]>STR_TO_DATE ( #{param.regStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.regEndTime!=null">
                AND p.dateregister <![CDATA[ <= ]]>STR_TO_DATE ( #{param.regEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.visitStartTime!=null">
                AND f.visit_time <![CDATA[ >= ]]>STR_TO_DATE ( #{param.visitStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.visitEndTime!=null">
                AND f.visit_time <![CDATA[ <= ]]>STR_TO_DATE ( #{param.visitEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.preStartTime!=null">
                AND f.pre_time <![CDATA[ >= ]]>STR_TO_DATE ( #{param.preStartTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.preEndTime!=null">
                AND f.pre_time <![CDATA[ <= ]]>STR_TO_DATE ( #{param.preEndTime}, '%Y-%m-%d %T' )
            </if>
            <if test="param.useCodeHiden!=null and param.useCodeHiden!=''">
                AND p.f_usecodehiden = #{param.useCodeHiden}
            </if>
            <if test="param.fzx!=null and param.fzx!=''">
                AND p.hospitalcode = #{param.fzx}
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND p.id_opendoctor = #{param.xsjlid}
            </if>
        </where>
        ORDER BY v.createdate DESC, f.sflj DESC
    </select>

    <select id="isZy" resultType="string">
        SELECT count(*)
        FROM md_items i
                 LEFT JOIN md_inspect_charge ic ON ic.charge_id = i.id
            AND ic.is_delete = 0
                 LEFT JOIN md_basexamltem e ON e.id = ic.inspect_id
            AND e.is_delete = 0
        WHERE EXISTS(
                (
                    SELECT 1
                    FROM md_comboexamitem c
                    WHERE c.harm_id IN (#{param.jhys})
                      AND c.medical_type = #{param.medicaltype}
                      AND c.item_id = i.id
                )
                UNION ALL
                (
                    (
                        SELECT 1
                        FROM md_comboexamitem c2
                        WHERE c2.harm_id IN (#{param.jhys})
                          AND c2.medical_type = #{param.medicaltype}
                          AND c2.exam_id = e.id
                    )
                )
            )
          AND i.id = #{param.itemId}
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.member.bean.vo.ForinspectionViewEditVo">
        SELECT
        v.id,
        v.patientcode,
        p.patientname,
        p.id_sex,
        v.is_inspect,
        p.phone,
        p.age,
        p.doctorapply,
        p.org_name,
        p.org_depart,
        f.visit_id,
        STR_TO_DATE ( f.visit_time, '%Y-%m-%d %T' ) visit_time,
        f.memo,
        f.sflj,
        f.ljsj,
        v.id_examfeeitem,
        v.createdate,
        v.type,
        STR_TO_DATE( p.dateregister, '%Y-%m-%d %T' ),
        p.id_examtype,
        p.jhys,
        pf.examfeeitem_name,
        pf.id_examfeeitem itemid,
        p.medicaltype ,
        STR_TO_DATE ( f.pre_time, '%Y-%m-%d %H:%i' )
        FROM
        md_visit_main v
        LEFT JOIN md_peispatient p ON p.patientcode = v.patientcode
        LEFT JOIN md_peispatientfeeitem pf ON pf.id = v.id_examfeeitem
        LEFT JOIN md_fail_total_visit f ON f.visit_main_id = v.id
        <where>
            (v.type=0 OR v.type=4)
            AND (v.is_delete=0 OR v.is_delete is null)
            AND (v.id = #{id})
        </where>
        ORDER BY v.createdate DESC, f.sflj DESC
    </select>

</mapper>

