<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.MemberintegralMapper">

    <resultMap type="com.center.medical.member.bean.model.Memberintegral" id="MemberintegralMap">
        <id property="id" column="id"/>
        <result property="cardId" column="card_id"/>
        <result property="cardType" column="card_type"/>
        <result property="limit" column="limit"/>
        <result property="memotext" column="memotext"/>
        <result property="createdate" column="createdate"/>
        <result property="operationId" column="operation_id"/>
        <result property="isAdd" column="is_add"/>
        <result property="operationTime" column="operation_time"/>
        <result property="modifydate" column="modifydate"/>
        <result property="payMode" column="pay_mode"/>
        <result property="handleIntegral" column="handle_integral"/>
        <result property="branchCenter" column="branch_center"/>
        <result property="isDelete" column="is_delete"/>
        <result property="memberName" column="member_name"/>
        <result property="patientcode" column="patientcode"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMemberintegralVo">
        select id,
               card_id,
               card_type,
               `limit`,
               memotext,
               createdate,
               operation_id,
               is_add,
               operation_time,
               modifydate,
               pay_mode,
               handle_integral,
               branch_center,
               is_delete,
               member_name,
               patientcode
        from md_memberintegral
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MemberintegralMap">
        <include refid="selectMemberintegralVo"/>
        <where>
            is_delete = 0
            <if test="param.cardId!=null and param.cardId!=''">
                AND card_id LIKE concat('%',#{param.cardId},'%')
            </if>
            <if test="param.memberName!=null and param.memberName!=''">
                AND member_name LIKE concat('%',#{param.memberName},'%')
            </if>
            <if test="param.cardType!=null and param.cardType!=''">
                AND card_type LIKE concat('%',#{param.cardType},'%')
            </if>
            <if test="param.isAdd!=null">
                AND is_add = #{param.isAdd}
            </if>
            <if test="param.startTime!=null">
                AND operation_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND operation_time <![CDATA[ < ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY operation_time DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MemberintegralMap">
        <include refid="selectMemberintegralVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据条件筛选用户积分数据-->
    <select id="getList" resultType="com.center.medical.member.bean.model.Memberintegral">
        SELECT
            mm.card_id,
            mct.type_name,
            mm.member_name,
            mm.patientcode,
            mm.handle_integral,
            mm.is_add,
            mm.`limit`,
            mm.operation_id,
            mm.operation_time,
            mm.memotext
        FROM md_memberintegral mm
        LEFT JOIN md_card_type mct ON mm.card_type = mct.id
        <where>
            mm.is_delete = 0
            <if test="param.cardId!=null and param.cardId!=''">
                AND mm.card_id LIKE concat('%',#{param.cardId},'%')
            </if>
            <if test="param.memberName!=null and param.memberName!=''">
                AND mm.member_name LIKE concat('%',#{param.memberName},'%')
            </if>
            <if test="param.cardType!=null and param.cardType!=''">
                AND mm.card_type LIKE concat('%',#{param.cardType},'%')
            </if>
            <if test="param.isAdd!=null">
                AND mm.is_add = #{param.isAdd}
            </if>
            <if test="param.startTime!=null">
                AND mm.operation_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND mm.operation_time <![CDATA[ < ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY mm.modifydate DESC
    </select>

</mapper>

