<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.MemberbirthdatMapper">

    <resultMap type="com.center.medical.member.bean.model.Memberbirthdat" id="MemberbirthdatMap">
        <id property="id" column="id"/>
        <result property="hyId" column="hy_id"/>
        <result property="visitMan" column="visit_man"/>
        <result property="visitTime" column="visit_time"/>
        <result property="visitType" column="visit_type"/>
        <result property="visitNote" column="visit_note"/>
        <result property="note" column="note"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="visitText" column="visit_text"/>
        <result property="visitStatus" column="visit_status"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMemberbirthdatVo">
        select id,
               hy_id,
               visit_man,
               visit_time,
               visit_type,
               visit_note,
               note,
               createdate,
               modifydate,
               visit_text,
               visit_status
        from md_memberbirthdat
    </sql>

    <!-- 分页查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.member.bean.vo.MemberbirthdatVo">
        SELECT
        ppa.id,
        patientcardno,
        idcardno,
        patientname,
        id_sex,
        birthdate,
        phone,
        dw,
        memberlevel,
        fzx,
        visit_man,
        visit_time,
        visit_type,
        visit_note,
        visit_status,
        s.notify_result
        FROM md_peispatientarchive ppa
        LEFT JOIN (SELECT * FROM md_memberbirthdat m1
        WHERE NOT EXISTS( SELECT 1 FROM md_memberbirthdat m2
        WHERE m2.hy_id = m1.hy_id AND m2.createdate <![CDATA[ > ]]> m1.createdate)
        ) memberbirthdat ON memberbirthdat.hy_id = ppa.id AND DATE_FORMAT(memberbirthdat.createdate, '%Y-%m-%d')
        <![CDATA[ >= ]]> DATE_SUB(CURDATE(), INTERVAL dayofyear(NOW())-1 DAY)
        LEFT JOIN (SELECT * FROM md_sms_record sin2 WHERE NOT EXISTS( SELECT 1 FROM md_sms_record sin1
        WHERE sin1.archive_id = sin2.archive_id AND sin1.notify_type = sin2.notify_type
        AND sin1.createdate <![CDATA[ > ]]> sin2.createdate)) s ON s.archive_id = ppa.id AND s.notify_type = '3'
        <where>
            DATE_FORMAT( birthdate, '%m-%d' ) BETWEEN DATE_FORMAT ( NOW(), '%m-%d' )
            AND DATE_FORMAT ( DATE_ADD(NOW(),INTERVAL 3 DAY), '%m-%d' )
            AND ppa.phone IS NOT NULL
            <if test="param.branchIds!=null">
                AND ppa.fzx IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND ppa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.idSex!=null">
                AND ppa.id_sex = #{param.idSex}
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND ppa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND ppa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.birthday!=null">
                AND DATE_FORMAT ( ppa.birthdate, '%m-%d' ) = DATE_FORMAT (#{param.birthday}, '%m-%d')
            </if>
            <if test="param.minYear!=null and param.maxYear">
                AND DATE_FORMAT ( birthdate, '%Y' ) BETWEEN #{param.minYear} AND #{param.maxYear}
            </if>
        </where>
        ORDER BY
        memberbirthdat.visit_status DESC,
        s.notify_result,
        memberbirthdat.visit_time DESC,
        ppa.patientname

    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MemberbirthdatMap">
        <include refid="selectMemberbirthdatVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!--根据条件查询列表-->
    <select id="getList" resultType="com.center.medical.member.bean.vo.MemberbirthdatVo">
        SELECT
        ppa.id,
        patientcardno,
        idcardno,
        patientname,
        id_sex,
        birthdate,
        phone,
        dw,
        memberlevel,
        fzx,
        visit_man,
        visit_time,
        visit_type,
        visit_note,
        visit_status,
        s.notify_result,
        round(DATEDIFF(now(),birthdate)/365,0) as age
        FROM md_peispatientarchive ppa
        LEFT JOIN (SELECT * FROM md_memberbirthdat m1
        WHERE NOT EXISTS( SELECT 1 FROM md_memberbirthdat m2
        WHERE m2.hy_id = m1.hy_id AND m2.createdate <![CDATA[ > ]]> m1.createdate)
        ) memberbirthdat ON memberbirthdat.hy_id = ppa.id AND DATE_FORMAT(memberbirthdat.createdate, '%Y-%m-%d')
        <![CDATA[ >= ]]> DATE_SUB(CURDATE(), INTERVAL dayofyear(NOW())-1 DAY)
        LEFT JOIN (SELECT * FROM md_sms_record sin2 WHERE NOT EXISTS( SELECT 1 FROM md_sms_record sin1
        WHERE sin1.archive_id = sin2.archive_id AND sin1.notify_type = sin2.notify_type
        AND sin1.createdate <![CDATA[ > ]]> sin2.createdate)) s ON s.archive_id = ppa.id AND s.notify_type = '3'
        <where>
            DATE_FORMAT( birthdate, '%m-%d' ) BETWEEN DATE_FORMAT ( NOW(), '%m-%d' )
            AND DATE_FORMAT ( DATE_ADD(NOW(),INTERVAL 3 DAY), '%m-%d' )
            AND ppa.phone IS NOT NULL
            <if test="param.branchIds!=null">
                AND ppa.fzx IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND ppa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.idSex!=null">
                AND ppa.id_sex = #{param.idSex}
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND ppa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND ppa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.birthday!=null">
                AND DATE_FORMAT ( ppa.birthdate, '%m-%d' ) = DATE_FORMAT (#{param.birthday}, '%m-%d')
            </if>
            <if test="param.minYear!=null and param.maxYear">
                AND DATE_FORMAT ( birthdate, '%Y' ) BETWEEN #{param.minYear} AND #{param.maxYear}
            </if>
        </where>
        ORDER BY
        memberbirthdat.visit_status DESC,
        s.notify_result,
        memberbirthdat.visit_time DESC,
        ppa.patientname
    </select>

</mapper>

