<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.MemberMapper">

    <resultMap type="com.center.medical.bean.model.Peispatientarchive" id="PeispatientarchiveMap">
        <id property="id" column="id"/>
        <result property="idPatientarchive" column="id_patientarchive"/>
        <result property="patientarchiveno" column="patientarchiveno"/>
        <result property="patientcardno" column="patientcardno"/>
        <result property="idcardno" column="idcardno"/>
        <result property="patientname" column="patientname"/>
        <result property="inputCode" column="input_code"/>
        <result property="idSex" column="id_sex"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="agebasedate" column="agebasedate"/>
        <result property="birthdate" column="birthdate"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="marriage" column="marriage"/>
        <result property="idNation" column="id_nation"/>
        <result property="nation" column="nation"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="idEducation" column="id_education"/>
        <result property="education" column="education"/>
        <result property="idOccupation" column="id_occupation"/>
        <result property="occupation" column="occupation"/>
        <result property="idResarea" column="id_resarea"/>
        <result property="resarea" column="resarea"/>
        <result property="dateregister" column="dateregister"/>
        <result property="note" column="note"/>
        <result property="ishmd" column="ishmd"/>
        <result property="hmdbz" column="hmdbz"/>
        <result property="restatus" column="restatus"/>
        <result property="yjgzbj" column="yjgzbj"/>
        <result property="memberlevel" column="memberlevel"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="cultural" column="cultural"/>
        <result property="isOrg" column="is_org"/>
        <result property="membercreate" column="membercreate"/>
        <result property="khjl" column="khjl"/>
        <result property="jf" column="jf"/>
        <result property="fzx" column="fzx"/>
        <result property="dw" column="dw"/>
        <result property="isDelete" column="is_delete"/>
        <result property="countreportoccupationxml" column="countreportoccupationxml"/>
        <result property="isMain" column="is_main"/>
        <result property="source" column="source"/>
        <result property="oldCard" column="old_card"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientarchiveVo">
        select id,
               patientarchiveno,
               patientarchiveno,
               patientcardno,
               idcardno,
               patientname,
               input_code,
               id_sex,
               sex,
               age,
               agebasedate,
               birthdate,
               id_marriage,
               marriage,
               id_nation,
               nation,
               address,
               phone,
               id_education,
               education,
               id_occupation,
               occupation,
               id_resarea,
               resarea,
               dateregister,
               note,
               ishmd,
               hmdbz,
               restatus,
               yjgzbj,
               memberlevel,
               createdate,
               modifydate,
               cultural,
               is_org,
               membercreate,
               khjl,
               jf,
               fzx,
               dw,
               is_delete,
               countreportoccupationxml,
               is_main,
               source,
               old_card
        from md_peispatientarchive
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.bean.vo.MemberVo">
        SELECT
        pa.id,
        pa.patientcardno,
        pa.patientname,
        pa.idcardno,
        pa.id_sex,
        pa.phone,
        pa.memberlevel,
        pa.fzx,
        pa.jf,
        pa.khjl,
        pa.dw,
        pa.note,
        pa.createdate,
        sb.fzx AS fzxmc,
        u.user_name AS membercreate,
        u2.user_name AS khjlmc,
        mc.balance_jf,
        pa.birthdate
        FROM
        md_peispatientarchive pa
        LEFT JOIN sys_branch sb ON pa.fzx = sb.branch_id
        LEFT JOIN sys_user u ON pa.membercreate = u.user_no
        LEFT JOIN sys_user u2 ON pa.khjl = u2.user_no
        LEFT JOIN md_card mc ON mc.card_no = pa.patientcardno
        <where>
            <if test="param.branchIds!=null">
                AND pa.fzx IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.patientcardno!=null and param.patientcardno!=''">
                AND pa.patientcardno LIKE concat('%',#{param.patientcardno},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND pa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND pa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND pa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
        </where>
        ORDER BY pa.createdate, patientcardno DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientarchiveMap">
        <include refid="selectPeispatientarchiveVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!--根据条件筛选会员列表数据-->
    <select id="getList" resultType="com.center.medical.member.bean.vo.MerExportVo">
        SELECT
        pa.id,
        pa.patientcardno,
        pa.patientname,
        mc.balance_jf,
        pa.id_sex,
        pa.phone,
        pa.memberlevel,
        pa.fzx,
        u.user_name AS membercreate,
        u2.user_name AS khjl,
        pa.birthdate,
        pa.idcardno,
        pa.dw,
        pa.note,
        pa.createdate
        FROM
        md_peispatientarchive pa
        LEFT JOIN sys_branch sb ON pa.fzx = sb.branch_id
        LEFT JOIN sys_user u ON pa.membercreate = u.user_no
        LEFT JOIN sys_user u2 ON pa.khjl = u2.user_no
        LEFT JOIN md_card mc ON mc.card_no = pa.patientcardno
        <where>
            <if test="param.fzx!=null and param.fzx!=''">
                AND pa.fzx LIKE concat('%',#{param.fzx},'%')
            </if>
            <if test="param.patientcardno!=null and param.patientcardno!=''">
                AND pa.patientcardno LIKE concat('%',#{param.patientcardno},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND pa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND pa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND pa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
        </where>
        ORDER BY pa.createdate, patientcardno DESC
    </select>

    <!--分页查询档案列表-->
    <select id="getArchivePage" resultType="com.center.medical.bean.vo.ArchiveVo">
        SELECT a.id,
        a.patientarchiveno,
        a.patientname,
        a.id_sex,
        a.age,
        a.phone,
        m.marriage_name AS marriage,
        a.address,
        a.resarea,
        a.birthdate,
        pt.patient_name AS patientclass,
        a.idcardno
        FROM peispatientarchive a
        LEFT JOIN dictmarriage m ON m.id = a.id_marriage
        LEFT JOIN patienttype pt ON pt.id = a.memberlevel
        <where>
            a.is_delete = 0
            <if test="param.patientname!=null and param.patientname!=''">
                AND a.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND a.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND EXISTS(SELECT 1 FROM peispatient p WHERE p.patientcode LIKE concat('%',#{param.patientcode},'%') AND
                p.patientarchiveno = a.patientarchiveno)
            </if>
        </where>
        ORDER BY a.createdate DESC,
        a.patientname
    </select>

    <!--会员管理沟通记录分页查询-->
    <select id="getIFPage" resultType="com.center.medical.member.bean.vo.InterflowVo">
        SELECT
        a.id,
        a.patientname,
        a.id_sex,
        a.phone,
        a.idcardno AS idCard,
        a.memberlevel,
        a.fzx,
        a.khjl,
        a.org_name AS dw,
        a.result AS visitResult,
        a.visittime AS visitTime,
        a.person AS visitPerson,
        a.text,
        a.memo
        FROM
        (
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        mb.visit_status AS result,
        STR_TO_DATE( mb.visit_time, '%Y-%m-%d %T' ) AS visittime,
        mb.visit_man AS person,
        mb.visit_text AS text,
        mb.visit_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_memberbirthdat mb ON mb.hy_id = pe.id
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        WHERE
        pe.restatus = '1'
        AND mb.visit_status IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        sa.visit_result AS result,
        STR_TO_DATE( sa.visit_time, '%Y-%m-%d %T' ) AS visittime,
        sa.visit_person AS person,
        sa.visit_text AS text,
        sa.visit_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        WHERE
        pe.restatus = '1'
        AND sa.visit_result IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        sa.second_result AS result,
        STR_TO_DATE( sa.second_time, '%Y-%m-%d %T' ) AS visittime,
        sa.second_person AS person,
        sa.visit_text AS text,
        sa.second_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        WHERE
        pe.restatus = '1'
        AND sa.second_result IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        ftv.visit_result AS result,
        STR_TO_DATE( ftv.visit_time, 'Y-%m-%d %T' ) AS visittime,
        ftv.visit_id AS person,
        ftv.visit_text AS text,
        ftv.memo AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        LEFT JOIN md_fail_total_visit ftv ON ftv.personcode = pa.patientcode
        WHERE
        ftv.visit_type = 1
        AND pe.restatus = '1'
        AND ftv.visit_result IS NOT NULL
        ) a
        <where>
            a.result IS NOT NULL
            <if test="param.patientname!=null and param.patientname!=''">
                AND a.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND a.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.startTime!=null">
                AND a.visittime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.visittime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.text!=null and param.text!=''">
                AND a.text LIKE concat('%',#{param.text},'%')
            </if>
        </where>
        ORDER BY a.visittime DESC
    </select>


    <!--会员管理沟通记录分页查询-->
    <select id="getIFExportData" resultType="com.center.medical.member.bean.vo.InterflowVo">
        SELECT
        a.id,
        a.patientname,
        a.id_sex,
        a.phone,
        a.idcardno AS idCard,
        a.memberlevel,
        a.fzx,
        a.khjl,
        a.org_name AS dw,
        a.result AS visitResult,
        a.visittime AS visitTime,
        a.person AS visitPerson,
        a.text,
        a.memo
        FROM
        (
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        mb.visit_status AS result,
        STR_TO_DATE( mb.visit_time, '%Y-%m-%d %T' ) AS visittime,
        mb.visit_man AS person,
        mb.visit_text AS text,
        mb.visit_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_memberbirthdat mb ON mb.hy_id = pe.id
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        WHERE
        pe.restatus = '1'
        AND mb.visit_status IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        sa.visit_result AS result,
        STR_TO_DATE( sa.visit_time, '%Y-%m-%d %T' ) AS visittime,
        sa.visit_person AS person,
        sa.visit_text AS text,
        sa.visit_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        WHERE
        pe.restatus = '1'
        AND sa.visit_result IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        sa.second_result AS result,
        STR_TO_DATE( sa.second_time, '%Y-%m-%d %T' ) AS visittime,
        sa.second_person AS person,
        sa.visit_text AS text,
        sa.second_note AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        WHERE
        pe.restatus = '1'
        AND sa.second_result IS NOT NULL UNION
        SELECT
        pe.id,
        pe.patientname,
        pe.id_sex,
        pe.phone,
        pe.idcardno,
        pe.memberlevel,
        pe.fzx,
        pe.khjl,
        pa.org_name,
        ftv.visit_result AS result,
        STR_TO_DATE( ftv.visit_time, 'Y-%m-%d %T' ) AS visittime,
        ftv.visit_id AS person,
        ftv.visit_text AS text,
        ftv.memo AS memo
        FROM
        md_peispatientarchive pe
        LEFT JOIN md_peispatient pa ON pa.patientarchiveno = pe.id
        LEFT JOIN md_satisfaction sa ON sa.personcode = pa.patientcode
        LEFT JOIN md_fail_total_visit ftv ON ftv.personcode = pa.patientcode
        WHERE
        ftv.visit_type = 1
        AND pe.restatus = '1'
        AND ftv.visit_result IS NOT NULL
        ) a
        <where>
            a.result IS NOT NULL
            <if test="param.patientname!=null and param.patientname!=''">
                AND a.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND a.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.startTime!=null">
                AND a.visittime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND a.visittime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.text!=null and param.text!=''">
                AND a.text LIKE concat('%',#{param.text},'%')
            </if>
        </where>
        ORDER BY a.visittime DESC
    </select>


    <!--会员管理沟通记录分页查询-->
    <select id="getMemberListData" resultType="com.center.medical.member.bean.vo.MemberListVo">
        SELECT temp.*,
        mc.tc_dateregister,
        mc.tc_patientcode,
        mc.tc_checked,
        mc.recheck_money,
        mc.tc_id,
        u.user_name AS membercreate,
        mc.balance_jf,
        mc.type_id
        FROM (
        SELECT pa.id,
        pa.patientcardno,
        pa.patientname,
        pa.id_sex,
        pa.phone,
        pa.memberlevel,
        pa.fzx,
        pa.khjl,
        pa.birthdate,
        pa.idcardno,
        pa.dw,
        pa.note,
        pa.createdate,
        pa.membercreate as membercreateId,
        pa.patientarchiveno
        FROM md_peispatientarchive pa
        <where>
            1 = 1
            <if test="param.fzx!=null and param.fzx!=''">
                AND pa.fzx LIKE concat('%',#{param.fzx},'%')
            </if>
            <if test="param.patientcardno!=null and param.patientcardno!=''">
                AND pa.patientcardno LIKE concat('%',#{param.patientcardno},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND pa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND pa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND pa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
        </where>
        LIMIT #{param.offset}, #{param.limit}
        ) temp
        LEFT JOIN md_card mc ON mc.card_no = temp.patientcardno
        LEFT JOIN sys_user u ON temp.membercreateId = u.user_no
        ORDER BY temp.createdate DESC,
        temp.patientarchiveno DESC
    </select>


    <!--导出会员列表数据-->
    <select id="getExportData" resultType="com.center.medical.member.bean.vo.MemberListVo">
        SELECT temp.*,
        mc.tc_dateregister,
        mc.tc_patientcode,
        mc.tc_checked,
        mc.recheck_money,
        mc.tc_id,
        u.user_name AS membercreate,
        mc.balance_jf,
        mc.type_id
        FROM (
        SELECT pa.id,
        pa.patientcardno,
        pa.patientname,
        pa.id_sex,
        pa.phone,
        pa.memberlevel,
        pa.fzx,
        pa.khjl,
        pa.birthdate,
        pa.idcardno,
        pa.dw,
        pa.note,
        pa.createdate,
        pa.membercreate as membercreateId,
        pa.patientarchiveno
        FROM md_peispatientarchive pa
        <where>
            1 = 1
            <if test="param.fzx!=null and param.fzx!=''">
                AND pa.fzx LIKE concat('%',#{param.fzx},'%')
            </if>
            <if test="param.patientcardno!=null and param.patientcardno!=''">
                AND pa.patientcardno LIKE concat('%',#{param.patientcardno},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND pa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND pa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND pa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
        </where>
        ) temp
        LEFT JOIN md_card mc ON mc.card_no = temp.patientcardno
        LEFT JOIN sys_user u ON temp.membercreateId = u.user_no
        ORDER BY temp.createdate DESC,
        temp.patientarchiveno DESC
    </select>


    <!--会员管理沟通记录分页查询-->
    <select id="getMemberTotal" resultType="java.lang.Long">
        SELECT
        count(*)
        FROM md_peispatientarchive pa
        <where>
            1 = 1
            <if test="param.fzx!=null and param.fzx!=''">
                AND pa.fzx LIKE concat('%',#{param.fzx},'%')
            </if>
            <if test="param.patientcardno!=null and param.patientcardno!=''">
                AND pa.patientcardno LIKE concat('%',#{param.patientcardno},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND pa.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND pa.phone LIKE concat('%',#{param.phone},'%')
            </if>
            <if test="param.idcardno!=null and param.idcardno!=''">
                AND pa.idcardno LIKE concat('%',#{param.idcardno},'%')
            </if>
        </where>
    </select>
</mapper>

