<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.member.dao.PositiveTrackMapper">


    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientVo">
        select id,
               id_orgpatient,
               id_cis,
               patientarchiveno,
               patientcode,
               patientbizno,
               idcardno,
               numorgresv,
               patientname,
               input_code,
               id_orgreservationgroup,
               id_orgreservation,
               id_org,
               org_name,
               org_depart,
               have_private,
               id_payway,
               payway,
               personpricelimit,
               id_sex,
               birthdate,
               age,
               id_marriage,
               marriage,
               id_nation,
               nation,
               address,
               id_informway,
               id_opendoctor,
               email,
               phone,
               id_patientclass,
               id_resarea,
               resarea,
               f_isforprepare,
               f_isforreserve,
               f_registered,
               dateregister,
               guidancenote,
               id_doctorreg,
               doctorreg,
               id_examtype,
               id_examsuite,
               examsuite_name,
               examsuite_alias,
               id_doctorapply,
               doctorapply,
               f_guidanceprinted,
               f_examstarted,
               f_readytofinal,
               f_paused,
               f_finallocked,
               f_finalexamed,
               id_doctorfinal,
               doctorfinal_name_r,
               datefinalexamed,
               f_closed,
               dateclosed,
               note,
               knowledge,
               timingstartedat,
               hospitalcode,
               id_examplace,
               parsedassignedsuiteandfi,
               parsedassignedgroupandfi,
               parsedsuiteandfi,
               parsedsuiteandfilab,
               id_guidenurse,
               patientnameencoded,
               patientcodehiden,
               f_wordprinted,
               guidancenote2,
               f_usecodehiden,
               id_patientclass3,
               dateregisternotime,
               counterreportprinted,
               f_isrecheck,
               f_settlenone,
               dateguidancereturned,
               f_outpatient,
               patientnamereceipt,
               patientnamepinyin,
               statusofhm,
               instancetag,
               inpatientno,
               insuranceno,
               countreportxml,
               countreportcompare,
               countreportoccupation,
               countreportoccupationpdf,
               countreportoccupationxml,
               scbs,
               id_tjtc,
               jzdw,
               jzdwr,
               spr,
               tjr,
               lqfs,
               yzbm,
               yjaddress,
               qtxz,
               is_hmdb,
               is_hmd,
               isjj,
               zgl,
               jhgl,
               jhys,
               jktjzt,
               zytjzt,
               tmyd,
               medicaldate,
               trades,
               cjjgsfyhf,
               bhgybsfyhf,
               yxjgsfyhf,
               medicaltype,
               prepayment,
               tcprice,
               createdate,
               modifydate,
               cultural,
               workno,
               work_date,
               harm_date,
               disease_print_num,
               health_print_num,
               readytofinal_date,
               guide_signle_count,
               short_code,
               is_noticed,
               review_pdf,
               contraindicated_pdf,
               disease_pdf,
               ts_limit,
               checkout_date,
               checkout_status,
               worktype_id,
               id_examclass,
               original_trade,
               `status`
        from md_peispatient
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.member.bean.vo.PeispatientVo">
        SELECT
        p.patientname,
        p.id_sex,
        p.patientcode AS id,
        p.age,
        p.phone,
        p.id_examtype,
        p.doctorapply,
        p.dateregister AS tjrq,
        group_concat( c.gwxm, '、' ) AS gwxm,
        group_concat( c.wjzxj ) AS wjzxj,
        min( c.wjzjb ) AS wjzjb,
        u.user_name AS visitId,
        str_to_date( f.visit_time, '%Y-%m-%d %T' ) AS visitTime,
        f.memo,
        min( r.reportstatus ) AS statuss
        FROM
        md_peispatient p
        INNER JOIN md_riskclient r ON r.tjid = p.patientcode
        LEFT JOIN md_riskclientcon c ON c.riskid = r.id
        LEFT JOIN md_fail_total_visit f ON f.personcode = p.patientcode
        LEFT JOIN sys_user u ON u.user_no = f.visit_id
        <where>
            1 = 1
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode like concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND p.phone like concat('%',#{param.phone},'%')
            </if>
            <if test="param.idExamtype!=null and param.idExamtype!=''">
                AND p.id_examtype = #{param.idExamtype}
            </if>
            <if test="param.khlx!=null and param.khlx!=''">
                AND p.f_usecodehiden = #{param.khlx}
            </if>
            <if test="param.startDate!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startDate}
            </if>
            <if test="param.endDate!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endDate}
            </if>
        </where>
        GROUP BY
        p.patientname,p.id_sex,p.patientcode,p.age,p.phone,p.id_examtype,p.doctorapply,
        p.dateregister,u.user_name,f.visit_time,f.memo
        <trim prefix="having" suffixOverrides="and">
            <if test="param.yxjg!=null and param.yxjg!=''">
                GROUP_CONCAT(c.wjzxj) like concat('%',#{param.yxjg},'%') and
            </if>
            <if test="param.wjzjb!=null and param.wjzjb!=''">
                min( c.wjzjb ) = #{param.wjzjb} and
            </if>
        </trim>
        ORDER BY p.dateregister DESC
    </select>

    <!--导出Excel-->
    <select id="export" resultType="com.center.medical.member.bean.vo.PeispatientVo">
        SELECT
        f.id,
        p.patientname,
        p.id_sex,
        p.patientcode,
        p.age,
        p.phone,
        p.id_examtype,
        p.doctorapply,
        p.dateregister,
        group_concat( c.gwxm, '、' ),
        group_concat( c.wjzxj ),
        min( c.wjzjb ),
        u.user_name AS hfr,
        str_to_date( f.visit_time, '%Y-%m-%d %T' ),
        f.memo,
        min( r.reportstatus )
        FROM
        md_peispatient p
        INNER JOIN md_riskclient r ON r.tjid = p.patientcode
        LEFT JOIN md_riskclientcon c ON c.riskid = r.id
        LEFT JOIN md_fail_total_visit f ON f.personcode = p.patientcode
        LEFT JOIN sys_user u ON u.user_no = f.visit_id
        <where>
            1 = 1
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode like concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.phone!=null and param.phone!=''">
                AND p.phone like concat('%',#{param.phone},'%')
            </if>
            <if test="param.idExamtype!=null and param.idExamtype!=''">
                AND p.id_examtype = #{param.idExamtype}
            </if>
            <if test="param.khlx!=null and param.khlx!=''">
                AND p.f_usecodehiden = #{param.khlx}
            </if>
            <if test="param.startDate!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startDate}
            </if>
            <if test="param.endDate!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endDate}
            </if>
        </where>
        GROUP BY
        p.patientname,p.id_sex,p.patientcode,p.age,p.phone,p.id_examtype,p.doctorapply,
        p.dateregister,u.user_name,f.visit_time,f.memo
        <trim prefix="having" suffixOverrides="and">
            <if test="param.yxjg!=null and param.yxjg!=''">
                GROUP_CONCAT(c.wjzxj) like concat('%',#{param.yxjg},'%') and
            </if>
            <if test="param.wjzjb!=null and param.wjzjb!=''">
                min( c.wjzjb ) = #{param.wjzjb} and
            </if>
        </trim>
        ORDER BY p.dateregister DESC
    </select>
    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.member.bean.vo.PeispatientEditVo">
        SELECT
        f.id,
        p.patientname,
        p.sex,
        p.age,
        p.phone,
        p.patientcode,
        p.id_examtype,
        p.doctorapply,
        p.dateregister,
        GROUP_CONCAT(c.gwxm, '、') AS gwxm,
        GROUP_CONCAT(c.wjzxj) AS wjzxj,
        str_to_date( f.visit_time, '%Y-%m-%d %T' ) AS visitTime,
        f.memo
        FROM
        md_peispatient p
        INNER JOIN md_riskclient r ON r.tjid = p.patientcode
        LEFT JOIN md_riskclientcon c ON c.riskid = r.id
        LEFT JOIN md_fail_total_visit f ON f.personcode = p.patientcode
        LEFT JOIN sys_user u ON u.user_no = f.visit_id
        <where>
            f.id = #{id}
        </where>
        GROUP BY
        p.patientname,p.id_sex,p.patientcode,p.age,p.phone,p.id_examtype,p.doctorapply,
        p.dateregister,u.user_name,f.visit_time,f.memo
    </select>

</mapper>

