<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.CreateorderMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Createorder" id="CreateorderMap">
        <id property="id" column="id"/>
        <result property="ddh" column="ddh"/>
        <result property="ddmc" column="ddmc"/>
        <result property="dddm" column="dddm"/>
        <result property="khdwmcid" column="khdwmcid"/>
        <result property="txfs" column="txfs"/>
        <result property="fsdxsjh" column="fsdxsjh"/>
        <result property="cjddrq" column="cjddrq"/>
        <result property="khdwdh" column="khdwdh"/>
        <result property="tjzx" column="tjzx"/>
        <result property="jhjqc" column="jhjqc"/>
        <result property="jhjqd" column="jhjqd"/>
        <result property="sfyqdht" column="sfyqdht"/>
        <result property="htbh" column="htbh"/>
        <result property="nxtjrs" column="nxtjrs"/>
        <result property="vxtjrs" column="vxtjrs"/>
        <result property="ddjg" column="ddjg"/>
        <result property="ddzk" column="ddzk"/>
        <result property="ddyhj" column="ddyhj"/>
        <result property="qtxz" column="qtxz"/>
        <result property="spzt" column="spzt"/>
        <result property="spyj" column="spyj"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="xsjl" column="xsjl"/>
        <result property="fzxid" column="fzxid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="urls" column="urls"/>
        <result property="bgzt" column="bgzt"/>
        <result property="xsdh" column="xsdh"/>
        <result property="tjxs" column="tjxs"/>
        <result property="clurls" column="clurls"/>
        <result property="clspzt" column="clspzt"/>
        <result property="clspyj" column="clspyj"/>
        <result property="idInforway" column="id_inforway"/>
        <result property="tjlx" column="tjlx"/>
        <result property="spr" column="spr"/>
        <result property="clspr" column="clspr"/>
        <result property="isOnline" column="is_online"/>
        <result property="submitTime" column="submit_time"/>
        <result property="cantReplace" column="cant_replace"/>
        <result property="chestNum" column="chest_num"/>
        <result property="bgmemo" column="bgmemo"/>
        <result property="reviewPayway" column="review_payway"/>
        <result property="reviewZk" column="review_zk"/>
        <result property="templateJm" column="template_jm"/>
        <result property="templateText" column="template_text"/>
        <result property="kdzlName" column="kdzl_name"/>
        <result property="isMarket" column="is_market"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCreateorderVo">
        select id,
               ddh,
               ddmc,
               dddm,
               khdwmcid,
               txfs,
               fsdxsjh,
               cjddrq,
               khdwdh,
               tjzx,
               jhjqc,
               jhjqd,
               sfyqdht,
               htbh,
               nxtjrs,
               vxtjrs,
               ddjg,
               ddzk,
               ddyhj,
               qtxz,
               spzt,
               spyj,
               xsjlid,
               xsjl,
               fzxid,
               is_delete,
               createdate,
               modifydate,
               urls,
               bgzt,
               xsdh,
               tjxs,
               clurls,
               clspzt,
               clspyj,
               id_inforway,
               tjlx,
               spr,
               clspr,
               is_online,
               submit_time,
               cant_replace,
               chest_num,
               bgmemo,
               review_payway,
               review_zk,
               template_jm,
               template_text,
               kdzl_name,
               is_market
        from md_createorder
    </sql>

    <!-- 分页查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT
        O.*
        FROM md_createorder O
        INNER JOIN md_orderandfzx F ON O.ID = F.DDID
        INNER JOIN crm_sellcustomer S ON S.ID = O.KHDWMCID
        WHERE
        NOT EXISTS ( SELECT * FROM md_createorder O2 WHERE O2.KHDWMCID = O.KHDWMCID AND O2.CREATEDATE > O.CREATEDATE )
        <if test="param.startTime!=null">
            AND ppe.sort_date <![CDATA[ >= ]]> #{param.startTime}
        </if>
        <if test="param.endTime!=null">
            AND ppe.sort_date <![CDATA[ <= ]]> #{param.endTime}
        </if>
        <if test="param.khdwmc!=null and param.khdwmc!=''">
            AND S.KHDWMC LIKE concat('%',#{param.khdwmc},'%')
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.orgId!=null and param.orgId!=''">
            AND S.INT_ID = #{param.orgId}
        </if>
        <if test="param.fzxIds!=null and param.fzxIds!=''">
            AND F.FZXID = #{param.fzxIds}
        </if>
        ORDER BY S.INT_ID
    </select>

    <!-- 分页查询[订单表]列表 -->
    <select id="getList" resultType="com.center.medical.sellcrm.bean.vo.CreateorderVo">
        SELECT
        S.KHDWMC,
        S.KHDWSRM,
        O.XSJL,
        F.BDRQ,
        S.INT_ID
        FROM md_createorder O
        INNER JOIN md_orderandfzx F ON O.ID = F.DDID
        INNER JOIN crm_sellcustomer S ON S.ID = O.KHDWMCID
        WHERE
        NOT EXISTS ( SELECT * FROM md_createorder O2 WHERE O2.KHDWMCID = O.KHDWMCID AND O2.CREATEDATE > O.CREATEDATE )
        <if test="param.startTime!=null">
            AND F.BDRQ <![CDATA[ >= ]]> #{param.startTime}
        </if>
        <if test="param.endTime!=null">
            AND F.BDRQ <![CDATA[ < ]]> #{param.endTime}
        </if>
        <if test="param.khdwmc!=null and param.khdwmc!=''">
            AND S.KHDWMC LIKE concat('%',#{param.khdwmc},'%')
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.orgId!=null and param.orgId!=''">
            AND S.INT_ID = #{param.orgId}
        </if>
        <if test="param.fzxIds!=null and param.fzxIds!=''">
            AND F.FZXID = #{param.fzxIds}
        </if>
        ORDER BY S.INT_ID
    </select>

    <!-- 根据订单代码查询简单列表数据 -->
    <select id="getListByKey" resultType="com.center.medical.sellcrm.bean.vo.CreateorderVo">
        SELECT
        co.id,
        co.ddmc,
        cs.khdwmc
        FROM
        md_createorder co
        LEFT JOIN crm_sellcustomer cs ON cs.id = co.khdwmcid
        <where>
            co.is_delete = 0
            AND co.spzt = 4
            AND co.id IN ( SELECT ofz.ddid FROM md_orderandfzx ofz WHERE ofz.fzxid IN
            <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                #{brandId}
            </foreach>
            ORDER BY ofz.createdate DESC
            )
            <if test="param.ddmc!=null and param.ddmc!=''">
                AND co.dddm LIKE concat('%',#{param.ddmc},'%')
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND co.xsjlid = #{param.xsjlid}
            </if>
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT
        s.khdwmc,
        o.*
        FROM md_createorder o
        INNER JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        <where>
            o.id = #{id}
            and o.is_delete = 0
        </where>
    </select>

    <!-- 有决策管理权限的分页查询 -->
    <select id="greatLeaderPage" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT DISTINCT
        o.id,
        o.ddh,
        o.ddmc,
        s.khdwmc,
        o.txfs,
        o.khdwdh,
        o.jhjqc,
        o.jhjqd,
        o.nxtjrs,
        o.vxtjrs,
        o.ddjg,
        o.ddzk,
        o.ddyhj,
        u.user_name AS xsjl,
        o.fzxid,
        o.cjddrq,
        o.spzt,
        o.spyj,
        o.createdate,
        o.urls,
        bd.bdqk,
        o.bgzt,
        bdx.xzqk,
        o.tjxs,
        o.clspzt,
        o.clurls,
        o.clspyj,
        o.tjlx,
        o.spr,
        o.clspr,
        s.int_id AS tjm,
        (CASE WHEN o.urls IS NULL THEN 0 ELSE 1 END ) AS mdzt,
        o.kdzl_name AS kdzl
        FROM
        md_createorder o
        LEFT JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        INNER JOIN sys_user u ON u.user_no = o.xsjlid
        LEFT JOIN md_orderandfzx ox ON ox.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx, '、' ) AS bdqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.tbzt = 1
        GROUP BY
        ofi.ddid
        ) bd ON bd.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx, '、' ) AS xzqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.xzzt = 1
        GROUP BY
        ofi.ddid
        ) bdx ON bdx.ddid = o.id
        WHERE
        o.is_delete = 0
        AND o.spzt IN (3,4)
        <if test="param.ddh!=null and param.ddh!=''">
            AND O.DDH LIKE concat('%',#{param.ddh},'%')
        </if>
        <if test="param.tjhm!=null and param.tjhm!=''">
            AND S.INT_ID LIKE concat('%',#{param.tjhm},'%')
        </if>
        <if test="param.ddmc!=null and param.ddmc!=''">
            AND O.DDMC LIKE concat('%',#{param.ddmc},'%')
        </if>
        <if test="param.spzt!=null and param.spzt!=''">
            AND O.SPZT = #{param.spzt}
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.fzx!=null and param.fzx!=''">
            AND OX.FZXID = #{param.fzx}
        </if>
        <if test="param.tjlx!=null and param.tjlx!=''">
            AND O.TJLX = #{param.tjlx}
        </if>
        <choose>
            <when test="param.sortByOrder != null and param.sortByOrder == 1">
                ORDER BY cast(o.ddh as unsigned int) DESC
            </when>
            <otherwise>
                ORDER BY o.spzt ASC,o.bgzt ASC,o.createdate DESC
            </otherwise>
        </choose>
    </select>

    <!-- 有决策管理权限的分页查询 -->
    <select id="leaderPage" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT DISTINCT
        o.id,
        o.ddh,
        o.ddmc,
        s.khdwmc,
        o.txfs,
        o.khdwdh,
        o.jhjqc,
        o.jhjqd,
        o.nxtjrs,
        o.vxtjrs,
        o.ddjg,
        o.ddzk,
        o.ddyhj,
        u.user_name AS xsjl,
        o.fzxid,
        o.cjddrq,
        o.spzt,
        o.spyj,
        o.createdate,
        o.urls,
        bd.bdqk,
        o.bgzt,
        bdx.xzqk,
        o.tjxs,
        o.clspzt,
        o.clurls,
        o.clspyj,
        o.tjlx,
        o.spr,
        o.clspr,
        s.int_id AS tjm,
        (CASE WHEN o.urls IS NULL THEN 0 ELSE 1 END) AS mdzt,
        o.kdzl_name AS kdzl
        FROM
        md_createorder o
        LEFT JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        INNER JOIN sys_user u ON u.user_no = o.xsjlid
        INNER JOIN md_orderandfzx ox ON ox.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx SEPARATOR '、' ) AS bdqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.tbzt = 1
        GROUP BY
        ofi.ddid
        ) bd ON bd.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx, '、' ) AS xzqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.xzzt = 1
        GROUP BY
        ofi.ddid
        ) bdx ON bdx.ddid = o.id
        WHERE

        <choose>
            <when test="param.clsh != null and param.clsh != ''">
                (( ox.fzxid = #{param.fzxid}
                and o.spzt in ( 3, 4 ))
                or (
                o.xsjlid in ( select user_no from sys_user uin where uin.cid = #{param.fzxid} )
                and o.spzt in ( 3, 4 ))
                or o.xsjlid = #{param.userId}
                or o.kdzl_name like concat('%', #{param.kdzlName},'%')
                )
                and o.is_delete = 0
            </when>
            <otherwise>
                ((( (
                ox.fzxid = #{param.fzxid}
                AND o.spzt IN ( 3, 4 ))
                OR (
                o.xsjlid IN ( SELECT user_no FROM sys_user uin WHERE uin.cid = #{param.fzxid} )
                AND o.spzt IN ( 3, 4 ))
                )
                AND ( o.tjlx = 0 OR o.clspzt = 1 )
                )
                OR o.xsjlid = #{param.userId}
                or o.kdzl_name like concat('%', #{param.kdzlName},'%')
                )
                AND o.is_delete = 0
            </otherwise>
        </choose>

        <if test="param.ddh!=null and param.ddh!=''">
            AND O.DDH LIKE concat('%',#{param.ddh},'%')
        </if>
        <if test="param.tjhm!=null and param.tjhm!=''">
            AND S.INT_ID LIKE concat('%',#{param.tjhm},'%')
        </if>
        <if test="param.ddmc!=null and param.ddmc!=''">
            AND O.DDMC LIKE concat('%',#{param.ddmc},'%')
        </if>
        <if test="param.spzt!=null and param.spzt!=''">
            AND O.SPZT = #{param.spzt}
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.fzx!=null and param.fzx!=''">
            AND OX.FZXID = #{param.fzx}
        </if>
        <if test="param.tjlx!=null and param.tjlx!=''">
            AND O.TJLX = #{param.tjlx}
        </if>
        <choose>
            <when test="param.sortByOrder != null and param.sortByOrder == 1">
                ORDER BY cast(o.ddh as unsigned int) DESC
            </when>
            <otherwise>
                ORDER BY o.spzt ASC,o.bgzt ASC,o.createdate DESC
            </otherwise>
        </choose>
    </select>

    <!-- 有材料审核权限的分页查询 -->
    <select id="clshPage" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT DISTINCT
        o.id,
        o.ddh,
        o.ddmc,
        s.khdwmc,
        o.txfs,
        o.khdwdh,
        o.jhjqc,
        o.jhjqd,
        o.nxtjrs,
        o.vxtjrs,
        o.ddjg,
        o.ddzk,
        o.ddyhj,
        u.user_name AS xsjl,
        o.fzxid,
        o.cjddrq,
        o.spzt,
        o.spyj,
        o.createdate,
        o.urls,
        bd.bdqk,
        o.bgzt,
        bdx.xzqk,
        o.tjxs,
        o.clspzt,
        o.clurls,
        o.clspyj,
        o.tjlx,
        o.spr,
        o.clspr,
        s.int_id AS tjm,
        (CASE WHEN o.urls IS NULL THEN 0 ELSE 1 END ) AS mdzt,
        o.kdzl_name AS kdzl
        FROM
        md_createorder o
        LEFT JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        INNER JOIN sys_user u ON u.user_no = o.xsjlid
        INNER JOIN md_orderandfzx ox ON ox.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx, '、' ) AS bdqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.tbzt = 1
        GROUP BY
        ofi.ddid
        ) bd ON bd.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        GROUP_CONCAT( bi.fzx, '、' ) AS xzqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.id = ofi.fzxid
        WHERE
        ofi.xzzt = 1
        GROUP BY
        ofi.ddid
        ) bdx ON bdx.ddid = o.id
        WHERE
        ((
        ox.fzxid = #{param.fzxid}
        AND ( o.spzt = 3 OR o.bgzt = 3 )
        )
        OR (
        o.xsjlid IN ( SELECT user_no FROM sys_user uin WHERE uin.cid = #{param.fzxid} )
        AND ( o.spzt = 3 OR o.bgzt = 3 ))
        OR o.xsjlid = #{param.userId}
        OR u.superior_id = #{param.userId}
        or o.kdzl_name like concat('%', #{param.kdzlName},'%')
        )
        AND o.is_delete = 0
        <if test="param.ddh!=null and param.ddh!=''">
            AND O.DDH LIKE concat('%',#{param.ddh},'%')
        </if>
        <if test="param.tjhm!=null and param.tjhm!=''">
            AND S.INT_ID LIKE concat('%',#{param.tjhm},'%')
        </if>
        <if test="param.ddmc!=null and param.ddmc!=''">
            AND O.DDMC LIKE concat('%',#{param.ddmc},'%')
        </if>
        <if test="param.spzt!=null and param.spzt!=''">
            AND O.SPZT = #{param.spzt}
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.fzx!=null and param.fzx!=''">
            AND OX.FZXID = #{param.fzx}
        </if>
        <if test="param.tjlx!=null and param.tjlx!=''">
            AND O.TJLX = #{param.tjlx}
        </if>
        <choose>
            <when test="param.sortByOrder != null and param.sortByOrder == 1">
                ORDER BY cast(o.ddh as unsigned int) DESC
            </when>
            <otherwise>
                ORDER BY o.spzt ASC,o.bgzt ASC,o.createdate DESC
            </otherwise>
        </choose>
    </select>

    <!-- 销售自己创建的  和下级的订单 -->
    <select id="getMyPage" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT DISTINCT
        o.id,
        o.ddh,
        o.ddmc,
        s.khdwmc,
        o.txfs,
        o.khdwdh,
        o.jhjqc,
        o.jhjqd,
        o.nxtjrs,
        o.vxtjrs,
        o.ddjg,
        o.ddzk,
        o.ddyhj,
        u.user_name as xsjl,
        o.fzxid,
        o.cjddrq,
        o.spzt,
        o.spyj,
        o.createdate,
        o.urls,
        bd.bdqk,
        o.bgzt,
        bdx.xzqk,
        o.tjxs,
        o.clspzt,
        o.clurls,
        o.clspyj,
        o.tjlx,
        o.spr,
        o.clspr,
        s.int_id as tjm,
        (CASE WHEN o.urls IS NULL THEN 0 ELSE 1 END)  as mdzt,
        o.kdzl_name  as kdzl
        FROM
        md_createorder o
        LEFT JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        INNER JOIN sys_user u ON u.user_no = o.xsjlid
        LEFT JOIN md_orderandfzx ox ON ox.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        group_concat( bi.fzx ORDER BY bi.fzx SEPARATOR '、' ) AS bdqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.branch_id = ofi.fzxid
        WHERE
        ofi.tbzt = 1
        GROUP BY
        ofi.ddid
        ) bd ON bd.ddid = o.id
        LEFT JOIN (
        SELECT
        ofi.ddid,
        group_concat( bi.fzx ORDER BY bi.fzx SEPARATOR '、' ) AS xzqk
        FROM
        md_orderandfzx ofi
        INNER JOIN sys_branch bi ON bi.branch_id = ofi.fzxid
        WHERE
        ofi.xzzt = 1
        GROUP BY
        ofi.ddid
        ) bdx ON bdx.ddid = o.id
        WHERE
            o.is_delete = 0
        <if test="param.userId!=null and param.userId!=''">
            AND ( o.xsjlid = #{param.userId}
            OR u.superior_id = #{param.userId}
            OR o.kdzl_name like concat('%', #{param.kdzlName},'%'))
        </if>
        <if test="param.userCids!=null">
            AND ox.fzxid IN
            <foreach collection="param.userCids" item="cid" open="(" close=")" separator=",">
                #{cid}
            </foreach>
        </if>
        <if test="param.ddh!=null and param.ddh!=''">
            AND O.DDH LIKE concat('%',#{param.ddh},'%')
        </if>
        <if test="param.tjhm!=null and param.tjhm!=''">
            AND S.INT_ID LIKE concat('%',#{param.tjhm},'%')
        </if>
        <if test="param.ddmc!=null and param.ddmc!=''">
            AND O.DDMC LIKE concat('%',#{param.ddmc},'%')
        </if>
        <if test="param.spzt!=null and param.spzt!=''">
            AND O.SPZT = #{param.spzt}
        </if>
        <if test="param.khdwsrm!=null and param.khdwsrm!=''">
            AND S.KHDWSRM LIKE concat('%',#{param.khdwsrm},'%')
        </if>
        <if test="param.xsjl!=null and param.xsjl!=''">
            AND O.XSJL LIKE concat('%',#{param.xsjl},'%')
        </if>
        <if test="param.fzx!=null and param.fzx!=''">
            AND OX.FZXID = #{param.fzx}
        </if>
        <if test="param.tjlx!=null and param.tjlx!=''">
            AND O.TJLX = #{param.tjlx}
        </if>
        <if test="param.lowerLevelIds!=null">
            AND o.xsjlid IN
            <foreach collection="param.lowerLevelIds" item="lowerLevelId" open="(" close=")" separator=",">
                #{lowerLevelId}
            </foreach>
        </if>
        <if test="param.sortByOrder!=null and param.sortByOrder!=''">
            <choose>
                <when test="param.sortByOrder == 1">
                    ORDER BY o.createdate DESC
                </when>
                <otherwise>
                    ORDER BY o.createdate DESC, o.spzt ASC,o.bgzt ASC
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 根据订单号订单名称获取订单下拉 -->
    <select id="getDdhData" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT
        o.id,
        o.ddh,
        s.khdwmc,
        o.ddjg
        FROM
        md_createorder o
        LEFT JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        <where>
            o.is_delete =0
            <if test="ddmc!=null and ddmc!=''">
                AND o.ddmc LIKE concat('%',#{ddmc},'%')
            </if>
            <if test="ddh!=null and ddh!=''">
                AND o.ddh LIKE concat('%',#{ddh},'%')
            </if>
        </where>
    </select>

    <!-- 根据订单号订单名称获取订单下拉 -->
    <select id="getDateByKhdwmcid" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        <include refid="selectCreateorderVo"/>
        <where>
            khdwmcid = #{groupId}
            AND spzt = 4
            AND ( bgzt <![CDATA[ <> ]]> ''
            OR ( bgzt = 4 OR bgzt = 5)
            )
        </where>
    </select>

    <!-- 根据key模糊查询获取所有订单数据 -->
    <select id="getAllOrderData" resultType="com.center.medical.sellcrm.bean.vo.AllOrderDataVo">
        SELECT
        o.id,
        o.ddmc
        FROM
        md_createorder o
        <where>
            o.is_delete = 0
            AND o.bgzt > 3
            AND o.spzt =4
            <if test="key!=null and key!=''">
                AND (o.ddmc LIKE concat('%',#{key},'%')
                OR o.dddm LIKE concat('%',#{key},'%'))
            </if>
        </where>
        ORDER BY o.createdate DESC
    </select>


    <!-- 根据key模糊查询获取所有订单数据 -->
    <select id="checkDate" resultType="com.center.medical.sellcrm.bean.vo.CheckDateVo">
        SELECT
        group_concat( b.fzx, ',' ) AS fzxs,
        STR_TO_DATE( o.jhjqc, '%Y-%m-%d' ) AS jhjqc,
        STR_TO_DATE( o.jhjqd, '%Y-%m-%d' ) AS jhjqd,
        s.khdwmc,
        o.nxtjrs,
        o.vxtjrs
        FROM
        md_createorder o
        INNER JOIN md_orderandfzx cf ON o.id = cf.ddid
        INNER JOIN sys_branch b ON b.id = cf.fzxid
        INNER JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        <where>
            b.id IN(#{param.fzxs})
            AND NOT (STR_TO_DATE(o.jhjqc, '%Y-%m-%d' ) <![CDATA[ > ]]> STR_TO_DATE( #{param.jhjqd}, '%Y-%m-%d' )
            OR STR_TO_DATE(o.jhjqd ,'%Y-%m-%d' )<![CDATA[ < ]]> STR_TO_DATE( #{param.jhjqc}, '%Y-%m-%d' ))
            AND O.SPZT = 4
            <if test="param.id!=null and param.id!=''">
                AND o.id != #{param.id}
            </if>
        </where>
        GROUP BY o.jhjqc,o.jhjqd,s.khdwmc,o.nxtjrs,o.vxtjrs
        ORDER BY o.jhjqc
    </select>


    <!-- 通过sql获取相关的收费项目 -->
    <select id="getItemData" resultType="com.center.medical.sellcrm.bean.dto.ItemDataDto">
        SELECT fz,
               GROUP_CONCAT(itemid separator '@') AS itemids,
               GROUP_CONCAT(sfxm separator '@')   AS sfxms,
               GROUP_CONCAT(jcmd separator '@')   AS jcmds,
               GROUP_CONCAT(jg separator '@')     AS jgs,
               GROUP_CONCAT(tcid separator '@')   AS tcids,
               GROUP_CONCAT(tcjc separator '@')   AS tcjcs
        FROM (SELECT *
              FROM (SELECT i.id                  itemid,
                           o.ddh,
                           m.id                  tcid,
                           m.tjtcjc              tcjc,
                           i.xsdyfl,
                           i.xh,
                           p.print_name          fz,
                           i.examfeeitem_nameprn sfxm,
                           i.jcyy                jcmd,
                           i.unitprice           jg,
                           p.shunxu
                    FROM md_createorder o,
                         md_orderandcombo c,
                         md_createmeal m,
                         md_items i,
                         md_mealanditem mi,
                         md_printtype p
                    WHERE o.id = #{id}
                      AND c.ddid = o.id
                      AND c.tcid = m.id
                      AND mi.tcid = m.id
                      AND mi.sfxmid = i.id
                      AND p.id = i.xsdyfl
                    UNION ALL
                    SELECT i.id                  itemid,
                           o.ddh,
                           m.id                  tcid,
                           m.tjtcjc              tcjc,
                           i.xsdyfl,
                           i.xh,
                           p.print_name          fz,
                           i.examfeeitem_nameprn sfxm,
                           i.jcyy                jcmd,
                           i.unitprice           jg,
                           p.shunxu
                    FROM md_createorder o,
                         md_orderandcombo c,
                         md_createcombo m,
                         md_items i,
                         md_comboanditem ci,
                         md_printtype p
                    WHERE o.id = #{id}
                      AND c.ddid = o.id
                      AND c.tcid = m.id
                      AND ci.tcid = m.id
                      AND ci.sfxmid = i.id
                      AND p.id = i.xsdyfl
                      AND ci.is_delete = 0
                      ) a) b
        GROUP BY fz,
                 shunxu
        ORDER BY shunxu
    </select>


    <!-- 通过sql获取相关的收费项目 -->
    <select id="getGroupLevel" resultType="java.lang.Integer">
        SELECT cs.tjttlx
        FROM md_createorder mc
                 LEFT JOIN crm_sellcustomer cs ON mc.khdwmcid = cs.id
        WHERE mc.is_delete = 0
          AND cs.is_delete = 0
          AND mc.id = #{id}
    </select>


    <!-- 根据订单号获取记录详情 -->
    <select id="getInfoByDdh" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT
        s.khdwmc,
        o.*
        FROM md_createorder o
        INNER JOIN crm_sellcustomer s ON s.id = o.khdwmcid
        <where>
            o.ddh = #{ddh}
            and o.is_delete = 0
        </where>
    </select>


    <!-- 根据订单号获取记录详情 -->
    <select id="getDdhDatas" resultType="com.center.medical.sellcrm.bean.vo.DdhDataVo">
        SELECT o.ddh,
        o.ddmc,
        sc.khdwmc AS customerName,
        sc.id AS customerId
        FROM md_createorder o
        INNER JOIN crm_sellcustomer sc ON sc.id = o.khdwmcid
        WHERE o.is_delete = 0
        AND o.bgzt > 3
        AND o.spzt = 4
        <if test="key!=null and key!=''">
            AND o.ddh = #{key}
        </if>
        <if test="customerId!=null and customerId!=''">
            AND sc.id = #{customerId}
        </if>
        ORDER BY o.createdate DESC
        LIMIT 20
    </select>

    <!--根据订单id获取撞单订单信息-->
    <select id="getOrderConflictInfo" resultType="com.center.medical.sellcrm.bean.vo.ConflictOrderVo">
        SELECT
        co.id,
        co.ddh,
        co.ddmc,
        co.xsjl,
        bc.fzx,
        sc.fzxid,
        sc.khdwlxr,
        sc.khdh,
        sc.frdwmc,
        sc.khdwzcdz,
        sc.license_name,
        sc.social_credit_code,
        sc.province,
        sc.city,
        sc.district,
        sc.street,
        sc.int_id,
        sc.khdwmc,
        sc.bz
        FROM
        md_createorder co
        LEFT JOIN crm_sellcustomer sc ON co.khdwmcid = sc.id
        LEFT JOIN sys_branch bc ON co.fzxid = bc.branch_id
        <where>
            co.ddh IN
            <foreach collection="ddIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>


    <!--列表数据  显示订单下所有人员不含复查,判断重复时不判断复查-->
    <select id="getListData" resultType="com.center.medical.sellcrm.bean.vo.COListDataVo">
        SELECT
        p.id,
        p.patientname,
        p.id_sex,
        p.age,
        p.phone,
        p.idcardno,
        p.id_marriage,
        p.note,
        p.ts_limit,
        p.org_depart
        FROM
        md_peispatient p
        <where>
            <if test="ddh!=null and ddh!=''">
                AND p.numorgresv = #{ddh}
            </if>
            AND P.id_examtype <![CDATA[ <> ]]> 3
        </where>
        ORDER BY p.createdate ASC
    </select>

    <!--通过参数获取订单信息-->
    <select id="getOrderInfo" resultType="com.center.medical.sellcrm.bean.dto.CreateorderDto">
        SELECT
        c.id,
        c.ddh,
        c.ddmc,
        c.fzxid,
        c.khdwmcid,
        c.xsjlid,
        u.user_name as xsjl,
        IFNULL(rg.reservationCount,0) reservationCount
        FROM md_createorder c
        left join sys_user u on u.user_no = c.xsjlid
        left join (
        SELECT
        SUM( count_am + count_pm ) AS reservationCount,id_org
        FROM
        md_reservation_group
        where level_id > 1
        and is_delete = 0
        and DATE(createdate) = CURDATE()
        group by id_org) rg on rg.id_org = c.khdwmcid
        <where>
            c.is_delete = 0
            <if test="param.ddh!=null and param.ddh!=''">
                AND c.ddh like concat('%',#{param.ddh},'%')
            </if>
            <if test="param.xsjlId!=null and param.xsjlId!=''">
                AND c.xsjlid = #{param.xsjlId}
            </if>
            <if test="param.inputCode!=null and param.inputCode!=''">
                AND c.dddm like concat('%',#{param.inputCode},'%')
            </if>
        </where>
    </select>



    <!--查询平安订单-->
    <select id="getPingAnById" resultType="com.center.medical.sellcrm.bean.model.Createorder">
        SELECT
            o.*
        FROM
            md_createorder o
                INNER JOIN md_orderandcombo oac ON oac.ddid = o.id
        WHERE
            oac.tcid = #{id}
          AND o.is_delete = 0
          AND o.spzt = 4
          AND o.bgzt IN (4,5)
    </select>



    <!--获取变动成本率-->
    <select id="getVarCostRate" resultType="java.lang.Double">
        SELECT
            CASE

                WHEN
                    sum( tc.zhjg )= 0 THEN
                    NULL ELSE sum( tc.costprice )/ sum( tc.zhjg )
                END 变动成本率
        FROM
            md_createorder o
                INNER JOIN md_orderandcombo oac ON oac.ddid = o.id
                INNER JOIN (
                SELECT
                    m.id,
                    m.tcysjg,
                    m.zhjg,
                    IFNULL ( m.total_costprice, 0 ) costprice
                FROM
                    md_createmeal m
                        INNER JOIN md_mealanditem mai ON mai.tcid = m.id
                        INNER JOIN md_items i ON i.id = mai.sfxmid
                WHERE
                    EXISTS ( SELECT 1 FROM md_orderandcombo oacc WHERE oacc.ddid = #{id} AND oacc.tcid = m.id )
                GROUP BY
                    m.id,
                    m.tcysjg,
                    m.zhjg UNION ALL
                SELECT
                    m.id,
                    m.tcysjg,
                    m.zhjg,
                    IFNULL ( m.total_costprice, 0 ) costprice
                FROM
                    md_createcombo m
                        INNER JOIN md_comboanditem mai ON mai.tcid = m.id
                        INNER JOIN md_items i ON i.id = mai.sfxmid
                WHERE
                    EXISTS ( SELECT 1 FROM md_orderandcombo oacc WHERE oacc.ddid = #{id} AND oacc.tcid = m.id )
                GROUP BY
                    m.id,
                    m.tcysjg,
                    m.zhjg
            ) tc ON tc.id = oac.tcid
        WHERE
            o.id = #{id}
    </select>



    <!--获取订单的分中心-->
    <select id="getFzxList" resultType="java.lang.String">
        SELECT
            oaf.fzxid
        FROM
            md_createorder o
                LEFT JOIN md_orderandfzx oaf ON oaf.ddid = o.id
        WHERE
            o.ddh = #{numorgresv}
        group by oaf.fzxid
    </select>

    <!--获取订单的分中心-->
    <select id="getVationAndGroupErrorData" resultType="com.center.medical.sellcrm.bean.dto.VationAndGroupErrorDataDto">
        SELECT
            p.numorgresv,
            p.id_orgreservation,
            hospitalcode
        FROM
            md_peispatient p
                LEFT JOIN md_peisorgreservation pv ON pv.id = p.id_orgreservation
        <where>
            p.id_orgreservation IS NOT NULL
            AND pv.id IS NULL
            AND p.numorgresv = #{ddh}
        </where>
        GROUP BY
            p.id_orgreservation
    </select>

    <!--根据客户ID查询订单列表-->
    <select id="getOrderByKHIds" resultType="com.center.medical.bean.vo.CustomerOrderVo">
        SELECT
        co.id,
        co.ddmc AS order_name,
        co.xsjl AS sale,
        bc.fzx AS branch_name,
        sc.khdwmc AS customer_name,
        sc.khdwlxr AS customer_contact,
        sc.khdh AS customer_phone
        FROM
        md_createorder co
        INNER JOIN crm_sellcustomer sc ON co.khdwmcid = sc.id
        LEFT JOIN sys_branch bc ON co.fzxid = bc.branch_id
        <where>
        co.spzt = 4
        AND co.is_delete = 0
        AND sc.khzt=1
        AND sc.is_delete = 0
        AND co.khdwmcid IN
        <foreach collection="customerIds" item="khdwmcid" open="(" close=")" separator=",">
            #{khdwmcid}
        </foreach>
        </where>
    </select>


    <!--根据客户ID查询订单列表-->
    <select id="needChoose" resultType="com.center.medical.workflow.bean.model.WorkflowItem">
        SELECT
            wi.*
        FROM
            md_workflow w
                LEFT JOIN md_workflow_item wi ON wi.flow_id = w.id
        <where>
            fzxid = #{fzxid}
            and type_flag = #{typeFlag}
        </where>
        ORDER BY wi.level
    </select>
</mapper>

