<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.MealandfzxMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Mealandfzx" id="MealandfzxMap">
        <id property="id" column="id"/>
        <result property="tcid" column="tcid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="tbzt" column="tbzt"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMealandfzxVo">
        select id, tcid, fzxid, tbzt, createdate, modifydate
        from md_mealandfzx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MealandfzxMap">
        <include refid="selectMealandfzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MealandfzxMap">
        <include refid="selectMealandfzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!--获取拼接的分中心id-->
    <select id="getJointfzxid" resultType="string">
        select
            GROUP_CONCAT( f.fzxid, ',' )
        from
            md_mealandfzx f
        group by
            f.tcid
        having
            f.tcid = #{id}
    </select>


    <!--普通套餐与分中心关联表-->
    <select id="findMealAndFzx" resultType="com.center.medical.sellcrm.bean.model.Mealandfzx">
        SELECT
            caf.*
        FROM
            md_mealandfzx caf
                INNER JOIN md_orderandcombo oac ON oac.tcid = caf.tcid
        WHERE
            oac.ddid = #{orderId}
          AND caf.fzxid = #{cid}
          AND caf.tbzt = 1
    </select>

    <!--根据主键id和分中心id查询记录条数-->
    <select id="countByIdAndFzx" resultType="java.lang.Integer">
        SELECT
        SUM( counts )
        FROM
        (
            SELECT
            count(*) AS counts
            FROM
            md_mealandfzx maf
            <where>
                maf.tcid = #{id}
                <if test="fzxIds!=null">
                    and maf.fzxid in
                    <foreach collection="fzxIds" item="fzxId" open="(" close=")" separator=",">
                        #{fzxId}
                    </foreach>
                </if>
            </where>
            UNION ALL
            SELECT
            count(*) AS counts
            FROM
            md_comboandfzx maf
            <where>
                maf.tcid = #{id}
                <if test="fzxIds!=null">
                    and maf.fzxid in
                    <foreach collection="fzxIds" item="fzxId" open="(" close=")" separator=",">
                        #{fzxId}
                    </foreach>
                </if>
            </where>
        ) AS combined_counts
    </select>
</mapper>

