<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.OrderandcomboMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Orderandcombo" id="OrderandcomboMap">
        <id property="id" column="id"/>
        <result property="ddid" column="ddid"/>
        <result property="tcid" column="tcid"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="combostate" column="combostate"/>
        <result property="isjj" column="isjj"/>
        <result property="sfybd" column="sfybd"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="spzt" column="spzt"/>
        <result property="isbg" column="isbg"/>
        <result property="show" column="show"/>
        <result property="idExamclass" column="id_examclass"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOrderandcomboVo">
        select id,
               ddid,
               tcid,
               xsjlid,
               combostate,
               isjj,
               sfybd,
               createdate,
               modifydate,
               spzt,
               isbg,
               show,
               id_examclass
        from md_orderandcombo
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OrderandcomboMap">
        <include refid="selectOrderandcomboVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OrderandcomboMap">
        select *
        from md_orderandcombo o
        <where>
            id = #{id}
        </where>
    </select>


    <!--编辑默认加载订单关联的套餐-->
    <select id="getTjtcData" resultType="com.center.medical.sellcrm.bean.model.Orderandcombo">
        SELECT
            oo.tcid,
            oo.combostate,
            oo.ddid,
            oo.id,
            oo.spzt,
            oo.show,
            GROUP_CONCAT( f.fzxid, ',' ) as fzxid,
            oo.id_examclass,
            m.tjtcmc,
            m.tjlx,
            m.tjlx as ftjlx,
            m.tjtcjc,
            m.tjtcsrm,
            m.jhys,
            m.zhjg,
            m.forbidden as forbid,
            (SELECT GROUP_CONCAT(DISTINCT harm_name)
            FROM md_harm
            WHERE FIND_IN_SET(id, m.jhys)
            ) as jhysName,
            m.syxb,
            m.tcysjg,
            m.tczk,
            cs.khdwmc,
            m.sfybd,
            m.sfyhtc,
            m.nlz,
            m.nld,
            m.fkfs,
            m.zytjlb,
            (SELECT
            group_concat( DISTINCT b.fzx ) AS fzx
            FROM
            md_mealandfzx maf
            LEFT JOIN sys_branch b ON b.branch_id = maf.fzxid
            WHERE
            maf.tcid = m.id
            ) as fzxName
        FROM
            md_orderandcombo oo
                INNER JOIN md_createmeal m ON m.id = oo.tcid
                AND m.combostate = '0'
                INNER JOIN md_mealandfzx f ON f.tcid = m.id
                LEFT JOIN crm_sellcustomer cs on cs.id = m.khdwmcid
        <where>
            <if test="ddId!=null and ddId!=''">
                oo.ddid = #{ddId}
            </if>
        </where>
        GROUP BY
            oo.tcid,
            oo.combostate,
            oo.id,
            oo.spzt,
            oo.`show`,
            oo.id_examclass

        UNION ALL
        SELECT
            oo.tcid,
            oo.combostate,
            oo.ddid,
            oo.id,
            oo.spzt,
            oo.SHOW,
            GROUP_CONCAT( f.fzxid, ',' ) as fzxid,
            oo.id_examclass,
            m.tjtcmc,
            m.tjlx,
            m.tjlx as ftjlx,
            m.tjtcjc,
            m.tjtcsrm,
            m.jhys,
            m.zhjg,
            m.is_ban as forbid,
            (SELECT GROUP_CONCAT(DISTINCT harm_name)
            FROM md_harm
            WHERE FIND_IN_SET(id, m.jhys)
            ) as jhysName,
            m.syxb,
            m.tcysjg,
            m.tczk,
            cs.khdwmc,
            m.sfybd,
            m.sfyhtc,
            m.nlz,
            m.nld,
            m.fkfs,
            m.zytjlb,
            (SELECT
            group_concat( DISTINCT b.fzx ) AS fzx
            FROM
            md_comboandfzx maf
            LEFT JOIN sys_branch b ON b.branch_id = maf.fzxid
            WHERE
            maf.tcid = m.id
            ) as fzxName
        FROM
            md_orderandcombo oo
                INNER JOIN md_createcombo m ON m.id = oo.tcid
                AND m.combostate != '0'
	        INNER JOIN md_comboandfzx f ON f.tcid = m.id
            LEFT JOIN crm_sellcustomer cs on cs.id = m.khdwmcid
        <where>
            <if test="ddId!=null and ddId!=''">
                oo.ddid = #{ddId}
            </if>
        </where>
        GROUP BY
            oo.tcid,
            oo.combostate,
            oo.id,
            oo.spzt,
            oo.SHOW,
            oo.id_examclass
    </select>



    <!--团检专属卡-套餐搜索-->
    <select id="getOrderMealData" resultType="com.center.medical.sellcrm.bean.vo.OrderMealVo">
        SELECT
            c.id,
            c.tjtcmc
        FROM
            md_orderandcombo oac
                INNER JOIN ( SELECT id, tjtcmc, tjtcsrm FROM md_createmeal
                UNION ALL SELECT id, tjtcmc, tjtcsrm FROM md_createcombo ) c ON c.id = oac.tcid
        <where>
             oac.ddid = #{id}
            <if test="key!=null and key!=''">
                AND (c.tjtcsrm LIKE concat('%',#{key},'%')
                OR c.tjtcmc LIKE concat('%',#{key},'%') )
            </if>
        </where>
    </select>
</mapper>

