<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.OrderandfzxMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Orderandfzx" id="OrderandfzxMap">
        <id property="id" column="id"/>
        <result property="ddid" column="ddid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="tbzt" column="tbzt"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="bdrq" column="bdrq"/>
        <result property="xzzt" column="xzzt"/>
        <result property="xzsj" column="xzsj"/>
        <result property="ddxzzt" column="ddxzzt"/>
        <result property="xzxzzt" column="xzxzzt"/>
        <result property="ycxzzt" column="ycxzzt"/>
        <result property="kdzlzt" column="kdzlzt"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOrderandfzxVo">
        select id,
               ddid,
               fzxid,
               tbzt,
               createdate,
               modifydate,
               bdrq,
               xzzt,
               xzsj,
               ddxzzt,
               xzxzzt,
               ycxzzt,
               kdzlzt
        from md_orderandfzx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="OrderandfzxMap">
        <include refid="selectOrderandfzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OrderandfzxMap">
        <include refid="selectOrderandfzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getBranchNameByDdid" resultType="java.lang.String">
        SELECT
            b.fzx
        FROM
            md_orderandfzx oaf
            LEFT JOIN sys_branch b on b.branch_id = oaf.fzxid
        WHERE
            ddid = #{ddid}
        group by oaf.fzxid
    </select>
</mapper>

