<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.center.medical.sellcrm.dao.ReportRemindMapper">



        <!-- 数据表字段属性 -->
        <sql id="selectReportVo">
            select id, patientcode, createdate, modifydate, disease_health, is_print_message, url_word, url_pdf, status, is_total, print_man, print_id, print_time, create_num, print_num, first_id, first_man, first_time, first_reason, second_id, second_man, second_time, second_reason, last_id, last_man, last_time, last_reason, join_person_id, join_person_man, join_time, rev_person_id, rev_person_man, rev_time, grant_id, chest_num, notification_result, getter_id, getter_phone, getter_name, issue_id, return_id, get_time, return_time, express_id, express_num, patientname, sex, age, id_org, org_name, dateregister, phone, id_opendoctor, doctorapply, id_doctorfinal, doctorfinal_name_r, datefinalexamed, numorgresv, tbbz, notify_date, notify_memo, generate_name, generate_hint, generate_date, short_code, config_id, is_nuclein, noticer            from md_report
        </sql>

        <!-- 查询列表数据 -->
        <select id="getList" resultType="com.center.medical.sellcrm.bean.vo.ReportRemindVo">
            SELECT
                r.id,
                r.patientcode,
                r.patientname,
                r.sex AS idSex,
                r.phone,
                r.org_name AS orgName,
                r.chest_num AS chestNum,
                r.join_person_man AS joinPersonMan,
                r.join_time AS joinTime,
                r.status,
                r.dateregister
            FROM
                md_report r
                <if test="param.isLeader!=null">
                    <if test="param.isLeader == 1">
                        INNER JOIN md_peispatient p ON p.patientcode = r.patientcode
                        AND p.hospitalcode = #{param.cid}
                    </if>
                    <if test="param.isLeader == 0">
                        INNER JOIN crm_sellcustomer s ON s.id = r.id_org
                        AND s.xsjlid = #{param.userNo}
                    </if>
                </if>
            <where>
                r.status = '9'
                <if test="param.patientname!=null and param.patientname!=''">
                    AND r.patientname like concat('%',#{param.patientname},'%')
                </if>
                <if test="param.patientcode!=null and param.patientcode!=''">
                    AND r.patientcode like concat('%',#{param.patientcode},'%')
                </if>
                <if test="param.phone!=null and param.phone!=''">
                    AND r.phone like concat('%',#{param.phone},'%')
                </if>
                <if test="param.orgName!=null and param.orgName!=''">
                    AND r.org_name like concat('%',#{param.orgName},'%')
                </if>
                <if test="param.startTime!=null">
                    AND r.join_time <![CDATA[ >= ]]> #{param.startTime}
                </if>
                <if test="param.endTime!=null">
                    AND r.join_time <![CDATA[ <= ]]> #{param.endTime}
                </if>
            </where>
            ORDER BY r.join_time DESC
        </select>

        <!-- 根据主键id获取记录详情 -->
        <select id="getInfoById" resultType="com.center.medical.bean.model.Report">
            <include refid="selectReportVo"/>
            <where>
                id = #{id}
            </where>
        </select>
        
    </mapper>

