<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.TeamremindMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Teamremind" id="TeamremindMap">
        <id property="id" column="id"/>
        <result property="xshtwhid" column="xshtwhid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="khlxdh" column="khlxdh"/>
        <result property="clr" column="clr"/>
        <result property="clsj" column="clsj"/>
        <result property="sctjksrq" column="sctjksrq"/>
        <result property="xcgtrq" column="xcgtrq"/>
        <result property="clzt" column="clzt"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="khdwid" column="khdwid"/>
        <result property="khdwlxr" column="khdwlxr"/>
        <result property="isExamed" column="is_examed"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectTeamremindVo">
        select id,
               xshtwhid,
               khdwmc,
               khlxdh,
               clr,
               clsj,
               sctjksrq,
               xcgtrq,
               clzt,
               xsjlid,
               fzxid,
               createdate,
               modifydate,
               khdwid,
               khdwlxr,
               is_examed
        from crm_teamremind
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="TeamremindMap">
        SELECT
        this_.id,
        this_.createdate,
        this_.modifydate,
        this_.CLR,
        this_.CLSJ,
        this_.CLZT,
        this_.FZXID,
        this_.IS_EXAMED,
        this_.khdwid,
        this_.khdwlxr,
        this_.KHDWMC,
        this_.KHLXDH,
        this_.SCTJKSRQ,
        this_.XCGTRQ,
        this_.XSHTWHID,
        this_.XSJLID
        FROM crm_teamremind this_
        <where>

            <if test="param.khdwmc!=null and param.khdwmc!=''">
                AND this_.khdwmc like concat('%',#{param.khdwmc},'%')
            </if>
            <if test="param.khlxdh!=null and param.khlxdh!=''">
                AND this_.khlxdh like concat('%',#{param.khlxdh},'%')
            </if>
            <if test="param.clr!=null and param.clr!=''">
                AND this_.clr like concat('%',#{param.clr},'%')
            </if>
            <if test="param.sctjksrq!=null and param.sctjksrq!=''">
                AND STR_TO_DATE(this_.sctjksrq,'%Y-%m-%d') = STR_TO_DATE(#{param.sctjksrq},'%Y-%m-%d')
            </if>
            <if test="param.xcgtrq!=null and param.xcgtrq!=''">
                AND STR_TO_DATE(this_.xcgtrq,'%Y-%m-%d') = STR_TO_DATE(#{param.xcgtrq},'%Y-%m-%d')
            </if>
            <if test="param.isExamed!=null and param.isExamed == 0">
                AND ( this_.is_examed IS NULL OR is_examed = #{param.isExamed} )
            </if>
            <if test="param.isExamed!=null and param.isExamed == 1">
                AND this_.is_examed = #{param.isExamed}
            </if>

            <if test="param.setSctjksrq!=null and param.setSctjksrq !=''">
                AND STR_TO_DATE(this_.sctjksrq,'%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{param.setSctjksrq},'%Y-%m-%d')
            </if>

            <if test="param.xsjlid != null and param.xsjlid != ''">
                and (this_.xsjlid = #{param.xsjlid}
                OR STR_TO_DATE(this_.xcgtrq,'%Y-%m-%d') = STR_TO_DATE(#{param.today},'%Y-%m-%d'))
            </if>
            <if test="param.fzxid != null and param.fzxid != ''">
                AND this_.FZXID = #{param.fzxid}
            </if>
        </where>
        ORDER BY this_.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="TeamremindMap">
        <include refid="selectTeamremindVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 获取主页数据 -->
    <select id="findBySql" resultMap="TeamremindMap">
        SELECT
        t.khdwmc AS a,
        t.sctjksrq AS b,
        IF(t.sctjksrq <![CDATA[ >= ]]>  DATE_SUB(CURDATE(), INTERVAL 12 MONTH) AND t.sctjksrq <![CDATA[ <= ]]>
        DATE_SUB(CURDATE(), INTERVAL 11 MONTH), 1, 0) AS c
        FROM
        crm_teamremind t
        INNER JOIN crm_sellcustomer c ON c.id = t.khdwid
        AND c.is_delete = 0
        <where>
            (t.xcgtrq IS NULL OR t.xcgtrq <![CDATA[ <= ]]> CURDATE())
            AND t.sctjksrq <![CDATA[ <= ]]> DATE_SUB(CURDATE(), INTERVAL #{param.monthText} MONTH)
            <if test="param.fzxid!=null and param.fzxid!=''">
                AND t.fzxid = #{param.fzxid}
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND t.xsjlid LIKE concat('%',#{param.xsjlid},'%')
            </if>
        </where>
        ORDER BY t.sctjksrq DESC
        LIMIT #{param.size}
    </select>


    <!-- 获取主页数据 -->
    <select id="getDataExceptionPeiPage" resultType="com.center.medical.sellcrm.bean.vo.DataExceptionPeiVo">
        SELECT
            pi.id,
            pi.patientcode,
            pi.id_tjtc,
            pi.num1 AS pfCount,
            COALESCE(mi.num2, ci.num3) AS itemsCount
        FROM
            (
                SELECT
                    p.id,
                    p.patientcode,
                    COUNT(*) AS num1,
                    p.id_tjtc
                FROM
                    md_peispatientfeeitem pf
                        INNER JOIN
                    md_peispatient p ON pf.id_patient = p.patientcode
                WHERE
                    p.f_registered = 0
                    <if test="param.idOpendoctor!=null and param.idOpendoctor!=''">
                      AND p.id_opendoctor = #{param.idOpendoctor}
                    </if>
                GROUP BY
                    p.patientcode
            ) pi
                LEFT JOIN
            (
                SELECT
                    tcid,
                    COUNT(*) AS num2
                FROM
                    md_mealanditem
                GROUP BY
                    tcid
            ) mi ON mi.tcid = pi.id_tjtc
                LEFT JOIN
            (
                SELECT
                    tcid,
                    COUNT(*) AS num3
                FROM
                    md_comboanditem
                GROUP BY
                    tcid
            ) ci ON ci.tcid = pi.id_tjtc
        left join md_peispatient_abnormal_ignore pai on pai.patient_id = pi.id
        WHERE
            pi.num1 != COALESCE(mi.num2, ci.num3)
            and pai.id is null
    </select>
</mapper>

