<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AdvanceVisitWriteMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AdvanceVisitWrite" id="AdvanceVisitWriteMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isInspect" column="IS_INSPECT"/>
        <result property="inspectTime" column="INSPECT_TIME"/>
        <result property="visitId" column="VISIT_ID"/>
        <result property="visitTime" column="VISIT_TIME"/>
        <result property="memo" column="MEMO"/>
        <result property="patientarchivenoId" column="PATIENTARCHIVENO_ID"/>
        <result property="isInspected" column="IS_INSPECTED"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAdvanceVisitWriteVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               IS_INSPECT,
               INSPECT_TIME,
               VISIT_ID,
               VISIT_TIME,
               MEMO,
               PATIENTARCHIVENO_ID,
               IS_INSPECTED
        from ADVANCE_VISIT_WRITE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AdvanceVisitWriteMap">
        <include refid="selectAdvanceVisitWriteVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AdvanceVisitWriteMap">
        <include refid="selectAdvanceVisitWriteVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

