<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppConsultMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppConsult" id="AppConsultMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="doctorId" column="DOCTOR_ID"/>
        <result property="remarks" column="REMARKS"/>
        <result property="consultTime" column="CONSULT_TIME"/>
        <result property="operateTime" column="OPERATE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="isPaid" column="IS_PAID"/>
        <result property="price" column="PRICE"/>
        <result property="operator" column="OPERATOR"/>
        <result property="branchId" column="BRANCH_ID"/>
        <result property="payTime" column="PAY_TIME"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppConsultVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               USER_ID,
               DOCTOR_ID,
               REMARKS,
               CONSULT_TIME,
               OPERATE_TIME,
               STATUS,
               IS_DELETE,
               IS_PAID,
               PRICE,
               OPERATOR,
               BRANCH_ID,
               PAY_TIME
        from APP_CONSULT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppConsultMap">
        <include refid="selectAppConsultVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppConsultMap">
        <include refid="selectAppConsultVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

