<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppOrderMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppOrder" id="AppOrderMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="isGroup" column="IS_GROUP"/>
        <result property="outTradeNo" column="OUT_TRADE_NO"/>
        <result property="tcid" column="TCID"/>
        <result property="localTime" column="LOCAL_TIME"/>
        <result property="tradeState" column="TRADE_STATE"/>
        <result property="successTime" column="SUCCESS_TIME"/>
        <result property="total" column="TOTAL"/>
        <result property="payerTotal" column="PAYER_TOTAL"/>
        <result property="currency" column="CURRENCY"/>
        <result property="payerCurrency" column="PAYER_CURRENCY"/>
        <result property="deviceId" column="DEVICE_ID"/>
        <result property="bankType" column="BANK_TYPE"/>
        <result property="tradeStateDesc" column="TRADE_STATE_DESC"/>
        <result property="tradeType" column="TRADE_TYPE"/>
        <result property="transactionId" column="TRANSACTION_ID"/>
        <result property="price" column="PRICE"/>
        <result property="isFamily" column="IS_FAMILY"/>
        <result property="familyId" column="FAMILY_ID"/>
        <result property="branchId" column="BRANCH_ID"/>
        <result property="prepayId" column="PREPAY_ID"/>
        <result property="patientId" column="PATIENT_ID"/>
        <result property="orderType" column="ORDER_TYPE"/>
        <result property="appUserQuestionnaireId" column="APP_USER_QUESTIONNAIRE_ID"/>
        <result property="consultId" column="CONSULT_ID"/>
        <result property="laborCost" column="LABOR_COST"/>
        <result property="editId" column="EDIT_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppOrderVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               USER_ID,
               IS_GROUP,
               OUT_TRADE_NO,
               TCID,
               LOCAL_TIME,
               TRADE_STATE,
               SUCCESS_TIME,
               TOTAL,
               PAYER_TOTAL,
               CURRENCY,
               PAYER_CURRENCY,
               DEVICE_ID,
               BANK_TYPE,
               TRADE_STATE_DESC,
               TRADE_TYPE,
               TRANSACTION_ID,
               PRICE,
               IS_FAMILY,
               FAMILY_ID,
               BRANCH_ID,
               PREPAY_ID,
               PATIENT_ID,
               ORDER_TYPE,
               APP_USER_QUESTIONNAIRE_ID,
               CONSULT_ID,
               LABOR_COST,
               EDIT_ID
        from APP_ORDER
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppOrderMap">
        <include refid="selectAppOrderVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppOrderMap">
        <include refid="selectAppOrderVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

