<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppReservationRecordMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppReservationRecord" id="AppReservationRecordMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="timeRange" column="TIME_RANGE"/>
        <result property="startTime" column="START_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="userId" column="USER_ID"/>
        <result property="isGroup" column="IS_GROUP"/>
        <result property="reservationDate" column="RESERVATION_DATE"/>
        <result property="timeInterval" column="TIME_INTERVAL"/>
        <result property="cid" column="CID"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppReservationRecordVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               TIME_RANGE,
               START_TIME,
               END_TIME,
               USER_ID,
               IS_GROUP,
               RESERVATION_DATE,
               TIME_INTERVAL,
               CID,
               ORDER_ID,
               IS_DELETE,
               TYPE
        from APP_RESERVATION_RECORD
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppReservationRecordMap">
        <include refid="selectAppReservationRecordVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppReservationRecordMap">
        <include refid="selectAppReservationRecordVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

