<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppReservationGroupTimeMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppReservationGroupTime"
               id="AppReservationGroupTimeMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="amount" column="AMOUNT"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="startTime" column="START_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="used" column="USED"/>
        <result property="timeRange" column="TIME_RANGE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppReservationGroupTimeVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               AMOUNT,
               GROUP_ID,
               START_TIME,
               END_TIME,
               USED,
               TIME_RANGE
        from APP_RESERVATION_GROUP_TIME
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppReservationGroupTimeMap">
        <include refid="selectAppReservationGroupTimeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppReservationGroupTimeMap">
        <include refid="selectAppReservationGroupTimeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

