<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppUserCouponMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppUserCoupon" id="AppUserCouponMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="couponId" column="COUPON_ID"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppUserCouponVo">
        select ID, CREATEDATE, MODIFYDATE, USER_ID, COUPON_ID, STATUS
        from APP_USER_COUPON
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppUserCouponMap">
        <include refid="selectAppUserCouponVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppUserCouponMap">
        <include refid="selectAppUserCouponVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

