<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.AppUserPatientMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.AppUserPatient" id="AppUserPatientMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="userId" column="USER_ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="isFamily" column="IS_FAMILY"/>
        <result property="familyId" column="FAMILY_ID"/>
        <result property="buyTime" column="BUY_TIME"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectAppUserPatientVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               USER_ID,
               PATIENTCODE,
               IS_FAMILY,
               FAMILY_ID,
               BUY_TIME
        from APP_USER_PATIENT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="AppUserPatientMap">
        <include refid="selectAppUserPatientVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="AppUserPatientMap">
        <include refid="selectAppUserPatientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

