<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.BaseDictionaryClassMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.BaseDictionaryClass" id="BaseDictionaryClassMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="isMatchable" column="IS_MATCHABLE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBaseDictionaryClassVo">
        select ID, CREATEDATE, MODIFYDATE, CLASS_NAME, CLASS_CODE, IS_MATCHABLE
        from BASE_DICTIONARY_CLASS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="BaseDictionaryClassMap">
        <include refid="selectBaseDictionaryClassVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BaseDictionaryClassMap">
        <include refid="selectBaseDictionaryClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

