<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.BasMergeConclusionMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.BasMergeConclusion" id="BasMergeConclusionMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="conclusionId" column="CONCLUSION_ID"/>
        <result property="mergeId" column="MERGE_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBasMergeConclusionVo">
        select ID, CREATEDATE, MODIFYDATE, CONCLUSION_ID, MERGE_ID
        from BAS_MERGE_CONCLUSION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="BasMergeConclusionMap">
        <include refid="selectBasMergeConclusionVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BasMergeConclusionMap">
        <include refid="selectBasMergeConclusionVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

