<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.BasMergeMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.BasMerge" id="BasMergeMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="mergeName" column="MERGE_NAME"/>
        <result property="suggestion" column="SUGGESTION"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="tjjy" column="TJJY"/>
        <result property="creater" column="CREATER"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectBasMergeVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               MERGE_NAME,
               SUGGESTION,
               IS_DELETE,
               INPUT_CODE,
               TJJY,
               CREATER
        from BAS_MERGE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="BasMergeMap">
        <include refid="selectBasMergeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="BasMergeMap">
        <include refid="selectBasMergeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

