<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CustomercommunicateMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Customercommunicate" id="CustomercommunicateMap">
        <id property="id" column="ID"/>
        <result property="khdwmc" column="KHDWMC"/>
        <result property="khlxdh" column="KHLXDH"/>
        <result property="sctjksrq" column="SCTJKSRQ"/>
        <result property="gtjg" column="GTJG"/>
        <result property="gtrq" column="GTRQ"/>
        <result property="xcgtrq" column="XCGTRQ"/>
        <result property="bcgtfs" column="BCGTFS"/>
        <result property="xsjl" column="XSJL"/>
        <result property="bz" column="BZ"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="fzxid" column="FZXID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCustomercommunicateVo">
        select ID,
               KHDWMC,
               KHLXDH,
               SCTJKSRQ,
               GTJG,
               GTRQ,
               XCGTRQ,
               BCGTFS,
               XSJL,
               BZ,
               XSJLID,
               FZXID,
               CREATEDATE,
               MODIFYDATE
        from CUSTOMERCOMMUNICATE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CustomercommunicateMap">
        <include refid="selectCustomercommunicateVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CustomercommunicateMap">
        <include refid="selectCustomercommunicateVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

