<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CustomerTransferMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.CustomerTransfer" id="CustomerTransferMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="fromXsjlid" column="FROM_XSJLID"/>
        <result property="toXsjlid" column="TO_XSJLID"/>
        <result property="toXsjl" column="TO_XSJL"/>
        <result property="fzxId" column="FZX_ID"/>
        <result property="xzzt" column="XZZT"/>
        <result property="xzdate" column="XZDATE"/>
        <result property="customerId" column="CUSTOMER_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCustomerTransferVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               FROM_XSJLID,
               TO_XSJLID,
               TO_XSJL,
               FZX_ID,
               XZZT,
               XZDATE,
               CUSTOMER_ID
        from CUSTOMER_TRANSFER
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CustomerTransferMap">
        <include refid="selectCustomerTransferVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CustomerTransferMap">
        <include refid="selectCustomerTransferVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

