<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.CustomerfollowMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Customerfollow" id="CustomerfollowMap">
        <id property="id" column="ID"/>
        <result property="khdwmcid" column="KHDWMCID"/>
        <result property="khdwmc" column="KHDWMC"/>
        <result property="zt" column="ZT"/>
        <result property="khfzr" column="KHFZR"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="xsjl" column="XSJL"/>
        <result property="gjjd" column="GJJD"/>
        <result property="gjrq" column="GJRQ"/>
        <result property="gjnr" column="GJNR"/>
        <result property="fzxid" column="FZXID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="jsrq" column="JSRQ"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCustomerfollowVo">
        select ID,
               KHDWMCID,
               KHDWMC,
               ZT,
               KHFZR,
               XSJLID,
               XSJL,
               GJJD,
               GJRQ,
               GJNR,
               FZXID,
               CREATEDATE,
               MODIFYDATE,
               JSRQ
        from CUSTOMERFOLLOW
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CustomerfollowMap">
        <include refid="selectCustomerfollowVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CustomerfollowMap">
        <include refid="selectCustomerfollowVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

