<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.DictoccupationMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Dictoccupation" id="DictoccupationMap">
        <id property="id" column="ID"/>
        <result property="keyOccupation" column="KEY_OCCUPATION"/>
        <result property="occupationName" column="OCCUPATION_NAME"/>
        <result property="occupationCode" column="OCCUPATION_CODE"/>
        <result property="occupationCode2" column="OCCUPATION_CODE2"/>
        <result property="occupationCode3" column="OCCUPATION_CODE3"/>
        <result property="occupationCodehm" column="OCCUPATION_CODEHM"/>
        <result property="occupationcodex" column="OCCUPATIONCODEX"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="note" column="NOTE"/>
        <result property="status" column="STATUS"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDictoccupationVo">
        select KEY_OCCUPATION,
               OCCUPATION_NAME,
               OCCUPATION_CODE,
               OCCUPATION_CODE2,
               OCCUPATION_CODE3,
               OCCUPATION_CODEHM,
               OCCUPATIONCODEX,
               INPUT_CODE,
               NOTE,
               STATUS,
               CREATEDATE,
               MODIFYDATE,
               ID,
               IS_DELETE
        from DICTOCCUPATION
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="DictoccupationMap">
        <include refid="selectDictoccupationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DictoccupationMap">
        <include refid="selectDictoccupationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

