<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.DmyhResultMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.DmyhResult" id="DmyhResultMap">
        <id property="id" column="ID"/>
        <result property="ruxy" column="RUXY"/>
        <result property="luxy" column="LUXY"/>
        <result property="rdxy" column="RDXY"/>
        <result property="ldxy" column="LDXY"/>
        <result property="xl" column="XL"/>
        <result property="rpwv" column="RPWV"/>
        <result property="lpwv" column="LPWV"/>
        <result property="rabi" column="RABI"/>
        <result property="labi" column="LABI"/>
        <result property="rtbi" column="RTBI"/>
        <result property="ltbi" column="LTBI"/>
        <result property="height" column="HEIGHT"/>
        <result property="weight" column="WEIGHT"/>
        <result property="sex" column="SEX"/>
        <result property="tai" column="TAI"/>
        <result property="tinfo" column="TINFO"/>
        <result property="tjrepno" column="TJREPNO"/>
        <result property="age" column="AGE"/>
        <result property="cDate" column="C_DATE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDmyhResultVo">
        select RUXY,
               LUXY,
               RDXY,
               LDXY,
               XL,
               RPWV,
               LPWV,
               RABI,
               LABI,
               RTBI,
               LTBI,
               HEIGHT,
               WEIGHT,
               SEX,
               TAI,
               TINFO,
               TJREPNO,
               AGE,
               C_DATE,
               CREATEDATE,
               MODIFYDATE,
               CREATE_ID,
               MODIFY_ID,
               ID,
               PATIENTCODE
        from DMYH_RESULT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="DmyhResultMap">
        <include refid="selectDmyhResultVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DmyhResultMap">
        <include refid="selectDmyhResultVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

