<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.EmphasisAskSymptomMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.EmphasisAskSymptom" id="EmphasisAskSymptomMap">
        <id property="id" column="ID"/>
        <result property="danagerId" column="DANAGER_ID"/>
        <result property="disiaseType" column="DISIASE_TYPE"/>
        <result property="symptomId" column="SYMPTOM_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="harmname" column="HARMNAME"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="symptomcode" column="SYMPTOMCODE"/>
        <result property="symptom" column="SYMPTOM"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectEmphasisAskSymptomVo">
        select ID,
               DANAGER_ID,
               DISIASE_TYPE,
               SYMPTOM_ID,
               CREATEDATE,
               MODIFYDATE,
               HARMNAME,
               IS_DELETE,
               SYMPTOMCODE,
               SYMPTOM
        from EMPHASIS_ASK_SYMPTOM
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="EmphasisAskSymptomMap">
        <include refid="selectEmphasisAskSymptomVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="EmphasisAskSymptomMap">
        <include refid="selectEmphasisAskSymptomVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

