<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.FinanceinputMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Financeinput" id="FinanceinputMap">
        <id property="id" column="ID"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="year" column="YEAR"/>
        <result property="yy" column="YY"/>
        <result property="ey" column="EY"/>
        <result property="sy" column="SY"/>
        <result property="iy" column="IY"/>
        <result property="wy" column="WY"/>
        <result property="ly" column="LY"/>
        <result property="qy" column="QY"/>
        <result property="ay" column="AY"/>
        <result property="jy" column="JY"/>
        <result property="oy" column="OY"/>
        <result property="ny" column="NY"/>
        <result property="dy" column="DY"/>
        <result property="bz" column="BZ"/>
        <result property="fzxid" column="FZXID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFinanceinputVo">
        select ID, XSJLID, YEAR, YY, EY, SY, IY, WY, LY, QY, AY, JY, OY, NY, DY, BZ, FZXID, CREATEDATE, MODIFYDATE
        from FINANCEINPUT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="FinanceinputMap">
        <include refid="selectFinanceinputVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FinanceinputMap">
        <include refid="selectFinanceinputVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

