<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.FollowUpMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.FollowUp" id="FollowUpMap">
        <id property="id" column="ID"/>
        <result property="followUpCode" column="FOLLOW_UP_CODE"/>
        <result property="followUpName" column="FOLLOW_UP_NAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFollowUpVo">
        select ID, FOLLOW_UP_CODE, FOLLOW_UP_NAME, INPUT_CODE, CREATEDATE, MODIFYDATE
        from FOLLOW_UP
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="FollowUpMap">
        <include refid="selectFollowUpVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FollowUpMap">
        <include refid="selectFollowUpVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

