<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.FxItemscheckMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.FxItemscheck" id="FxItemscheckMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="sampleId" column="SAMPLE_ID"/>
        <result property="depName" column="DEP_NAME"/>
        <result property="depId" column="DEP_ID"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="itemId" column="ITEM_ID"/>
        <result property="checkMale" column="CHECK_MALE"/>
        <result property="checkFemale" column="CHECK_FEMALE"/>
        <result property="checkTotal" column="CHECK_TOTAL"/>
        <result property="allMale" column="ALL_MALE"/>
        <result property="allFemale" column="ALL_FEMALE"/>
        <result property="allTotal" column="ALL_TOTAL"/>
        <result property="perMale" column="PER_MALE"/>
        <result property="perFemale" column="PER_FEMALE"/>
        <result property="perTotal" column="PER_TOTAL"/>
        <result property="reportSort" column="REPORT_SORT"/>
        <result property="rowno" column="ROWNO"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFxItemscheckVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               SAMPLE_ID,
               DEP_NAME,
               DEP_ID,
               ITEM_NAME,
               ITEM_ID,
               CHECK_MALE,
               CHECK_FEMALE,
               CHECK_TOTAL,
               ALL_MALE,
               ALL_FEMALE,
               ALL_TOTAL,
               PER_MALE,
               PER_FEMALE,
               PER_TOTAL,
               REPORT_SORT,
               ROWNO
        from FX_ITEMSCHECK
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="FxItemscheckMap">
        <include refid="selectFxItemscheckVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FxItemscheckMap">
        <include refid="selectFxItemscheckVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

