<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.GroupAndFzxMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.GroupAndFzx" id="GroupAndFzxMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="fzxId" column="FZX_ID"/>
        <result property="xzzt" column="XZZT"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectGroupAndFzxVo">
        select ID, CREATEDATE, MODIFYDATE, GROUP_ID, FZX_ID, XZZT
        from GROUP_AND_FZX
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="GroupAndFzxMap">
        <include refid="selectGroupAndFzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="GroupAndFzxMap">
        <include refid="selectGroupAndFzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

