<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.HandleNewProjectsMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.HandleNewProjects" id="HandleNewProjectsMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="projectsId" column="PROJECTS_ID"/>
        <result property="addDoctorId" column="ADD_DOCTOR_ID"/>
        <result property="isHandle" column="IS_HANDLE"/>
        <result property="handleTime" column="HANDLE_TIME"/>
        <result property="handleNameId" column="HANDLE_NAME_ID"/>
        <result property="status" column="STATUS"/>
        <result property="idea" column="IDEA"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="handleType" column="HANDLE_TYPE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectHandleNewProjectsVo">
        select ID,
               PATIENTCODE,
               CREATEDATE,
               MODIFYDATE,
               CREATE_ID,
               MODIFY_ID,
               PROJECTS_ID,
               ADD_DOCTOR_ID,
               IS_HANDLE,
               HANDLE_TIME,
               HANDLE_NAME_ID,
               STATUS,
               IDEA,
               IS_DELETE,
               HANDLE_TYPE
        from HANDLE_NEW_PROJECTS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="HandleNewProjectsMap">
        <include refid="selectHandleNewProjectsVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="HandleNewProjectsMap">
        <include refid="selectHandleNewProjectsVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

