<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.NucleinMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Nuclein" id="NucleinMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="creater" column="CREATER"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectNucleinVo">
        select ID, CREATEDATE, MODIFYDATE, PATIENTCODE, CREATER
        from NUCLEIN
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="NucleinMap">
        <include refid="selectNucleinVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="NucleinMap">
        <include refid="selectNucleinVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

