<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PatienttypeMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Patienttype" id="PatienttypeMap">
        <id property="id" column="ID"/>
        <result property="patientName" column="PATIENT_NAME"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="flag" column="FLAG"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPatienttypeVo">
        select ID, PATIENT_NAME, INPUT_CODE, CREATEDATE, MODIFYDATE, FLAG
        from PATIENTTYPE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PatienttypeMap">
        <include refid="selectPatienttypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PatienttypeMap">
        <include refid="selectPatienttypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

