<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeisQuestionnaireMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.PeisQuestionnaire" id="PeisQuestionnaireMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="patientname" column="PATIENTNAME"/>
        <result property="idSex" column="ID_SEX"/>
        <result property="idNation" column="ID_NATION"/>
        <result property="idMarriage" column="ID_MARRIAGE"/>
        <result property="address" column="ADDRESS"/>
        <result property="phone" column="PHONE"/>
        <result property="hasAllergyHistory" column="HAS_ALLERGY_HISTORY"/>
        <result property="reportType" column="REPORT_TYPE"/>
        <result property="breakfast" column="BREAKFAST"/>
        <result property="diseaseHistory" column="DISEASE_HISTORY"/>
        <result property="phAndDiseases" column="PH_AND_DISEASES"/>
        <result property="familyHistory" column="FAMILY_HISTORY"/>
        <result property="isSmoking" column="IS_SMOKING"/>
        <result property="smokeNum" column="SMOKE_NUM"/>
        <result property="isDrinking" column="IS_DRINKING"/>
        <result property="drinkType" column="DRINK_TYPE"/>
        <result property="drinkNum" column="DRINK_NUM"/>
        <result property="eatingHabits" column="EATING_HABITS"/>
        <result property="sports" column="SPORTS"/>
        <result property="sleep" column="SLEEP"/>
        <result property="psychological" column="PSYCHOLOGICAL"/>
        <result property="historyAbnormal" column="HISTORY_ABNORMAL"/>
        <result property="abnormal" column="ABNORMAL"/>
        <result property="isPreparingPregnant" column="IS_PREPARING_PREGNANT"/>
        <result property="isHavingPeriod" column="IS_HAVING_PERIOD"/>
        <result property="isPregnant" column="IS_PREGNANT"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="doctorname" column="DOCTORNAME"/>
        <result property="writeTime" column="WRITE_TIME"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeisQuestionnaireVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               PATIENTCODE,
               PATIENTNAME,
               ID_SEX,
               ID_NATION,
               ID_MARRIAGE,
               ADDRESS,
               PHONE,
               HAS_ALLERGY_HISTORY,
               REPORT_TYPE,
               BREAKFAST,
               DISEASE_HISTORY,
               PH_AND_DISEASES,
               FAMILY_HISTORY,
               IS_SMOKING,
               SMOKE_NUM,
               IS_DRINKING,
               DRINK_TYPE,
               DRINK_NUM,
               EATING_HABITS,
               SPORTS,
               SLEEP,
               PSYCHOLOGICAL,
               HISTORY_ABNORMAL,
               ABNORMAL,
               IS_PREPARING_PREGNANT,
               IS_HAVING_PERIOD,
               IS_PREGNANT,
               INPUT_CODE,
               DOCTORNAME,
               WRITE_TIME
        from PEIS_QUESTIONNAIRE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeisQuestionnaireMap">
        <include refid="selectPeisQuestionnaireVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeisQuestionnaireMap">
        <include refid="selectPeisQuestionnaireVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

