<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.PeispatientChargeOtherMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.PeispatientChargeOther"
               id="PeispatientChargeOtherMap">
        <id property="id" column="ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="orderNo" column="ORDER_NO"/>
        <result property="transactionNo" column="TRANSACTION_NO"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="feeName" column="FEE_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="paidPrice" column="PAID_PRICE"/>
        <result property="payStatus" column="PAY_STATUS"/>
        <result property="orderType" column="ORDER_TYPE"/>
        <result property="chageTime" column="CHAGE_TIME"/>
        <result property="chargeId" column="CHARGE_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientChargeOtherVo">
        select ID,
               CREATEDATE,
               MODIFYDATE,
               ORDER_NO,
               TRANSACTION_NO,
               PATIENTCODE,
               FEE_NAME,
               PRICE,
               PAID_PRICE,
               PAY_STATUS,
               ORDER_TYPE,
               CHAGE_TIME,
               CHARGE_ID
        from PEISPATIENT_CHARGE_OTHER
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientChargeOtherMap">
        <include refid="selectPeispatientChargeOtherVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientChargeOtherMap">
        <include refid="selectPeispatientChargeOtherVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

