<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.QxUsersMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.QxUsers" id="QxUsersMap">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="logindate" column="LOGINDATE"/>
        <result property="loginip" column="LOGINIP"/>
        <result property="useraccountnonexpired" column="USERACCOUNTNONEXPIRED"/>
        <result property="useraccountnonlocked" column="USERACCOUNTNONLOCKED"/>
        <result property="userenabled" column="USERENABLED"/>
        <result property="usercredentialsnonexpired" column="USERCREDENTIALSNONEXPIRED"/>
        <result property="depid" column="DEPID"/>
        <result property="issystem" column="ISSYSTEM"/>
        <result property="sdiscount" column="SDISCOUNT"/>
        <result property="ldiscount" column="LDISCOUNT"/>
        <result property="isleader" column="ISLEADER"/>
        <result property="cid" column="CID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="reciveCode" column="RECIVE_CODE"/>
        <result property="phone" column="PHONE"/>
        <result property="isDoc" column="IS_DOC"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="picture" column="PICTURE"/>
        <result property="signPic" column="SIGN_PIC"/>
        <result property="superiorId" column="SUPERIOR_ID"/>
        <result property="isbj" column="ISBJ"/>
        <result property="secretPassword" column="SECRET_PASSWORD"/>
        <result property="expDate" column="EXP_DATE"/>
        <result property="lockdate" column="LOCKDATE"/>
        <result property="unlockdate" column="UNLOCKDATE"/>
        <result property="isLocked" column="IS_LOCKED"/>
        <result property="kingdeeAccountNo" column="KINGDEE_ACCOUNT_NO"/>
        <result property="kingdeeUseStatus" column="KINGDEE_USE_STATUS"/>
        <result property="entryDate" column="ENTRY_DATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectQxUsersVo">
        select ID,
               USERNAME,
               PASSWORD,
               NAME,
               EMAIL,
               CREATEDATE,
               MODIFYDATE,
               LOGINDATE,
               LOGINIP,
               USERACCOUNTNONEXPIRED,
               USERACCOUNTNONLOCKED,
               USERENABLED,
               USERCREDENTIALSNONEXPIRED,
               DEPID,
               ISSYSTEM,
               SDISCOUNT,
               LDISCOUNT,
               ISLEADER,
               CID,
               IS_DELETE,
               INPUT_CODE,
               RECIVE_CODE,
               PHONE,
               IS_DOC,
               USER_CODE,
               PICTURE,
               SIGN_PIC,
               SUPERIOR_ID,
               ISBJ,
               SECRET_PASSWORD,
               EXP_DATE,
               LOCKDATE,
               UNLOCKDATE,
               IS_LOCKED,
               KINGDEE_ACCOUNT_NO,
               KINGDEE_USE_STATUS,
               ENTRY_DATE
        from QX_USERS
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="QxUsersMap">
        <include refid="selectQxUsersVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="QxUsersMap">
        <include refid="selectQxUsersVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

