<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.RiskclientMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Riskclient" id="RiskclientMap">
        <id property="id" column="ID"/>
        <result property="tjid" column="TJID"/>
        <result property="gwrymc" column="GWRYMC"/>
        <result property="nl" column="NL"/>
        <result property="xb" column="XB"/>
        <result property="lxdh" column="LXDH"/>
        <result property="gwxm" column="GWXM"/>
        <result property="tjlx" column="TJLX"/>
        <result property="tirq" column="TIRQ"/>
        <result property="tjzt" column="TJZT"/>
        <result property="bz" column="BZ"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="cid" column="CID"/>
        <result property="idOrg" column="ID_ORG"/>
        <result property="idOpendoctor" column="ID_OPENDOCTOR"/>
        <result property="reportMan" column="REPORT_MAN"/>
        <result property="reportDivision" column="REPORT_DIVISION"/>
        <result property="dealMan" column="DEAL_MAN"/>
        <result property="reportstatus" column="REPORTSTATUS"/>
        <result property="reportTime" column="REPORT_TIME"/>
        <result property="dealTime" column="DEAL_TIME"/>
        <result property="tbbz" column="TBBZ"/>
        <result property="clbz" column="CLBZ"/>
        <result property="ywclr" column="YWCLR"/>
        <result property="ywclsj" column="YWCLSJ"/>
        <result property="ywfffs" column="YWFFFS"/>
        <result property="hfclr" column="HFCLR"/>
        <result property="hfclsj" column="HFCLSJ"/>
        <result property="hfclzt" column="HFCLZT"/>
        <result property="hffffs" column="HFFFFS"/>
        <result property="hfbz" column="HFBZ"/>
        <result property="hfclfs" column="HFCLFS"/>
        <result property="zjclr" column="ZJCLR"/>
        <result property="zjclsj" column="ZJCLSJ"/>
        <result property="zjclzt" column="ZJCLZT"/>
        <result property="zjbz" column="ZJBZ"/>
        <result property="zjclfs" column="ZJCLFS"/>
        <result property="ywbz" column="YWBZ"/>
        <result property="ywclzt" column="YWCLZT"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectRiskclientVo">
        select ID,
               TJID,
               GWRYMC,
               NL,
               XB,
               LXDH,
               GWXM,
               TJLX,
               TIRQ,
               TJZT,
               BZ,
               CREATEDATE,
               MODIFYDATE,
               CID,
               ID_ORG,
               ID_OPENDOCTOR,
               REPORT_MAN,
               REPORT_DIVISION,
               DEAL_MAN,
               REPORTSTATUS,
               REPORT_TIME,
               DEAL_TIME,
               TBBZ,
               CLBZ,
               YWCLR,
               YWCLSJ,
               YWFFFS,
               HFCLR,
               HFCLSJ,
               HFCLZT,
               HFFFFS,
               HFBZ,
               HFCLFS,
               ZJCLR,
               ZJCLSJ,
               ZJCLZT,
               ZJBZ,
               ZJCLFS,
               YWBZ,
               YWCLZT
        from RISKCLIENT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="RiskclientMap">
        <include refid="selectRiskclientVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="RiskclientMap">
        <include refid="selectRiskclientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

