<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.SalesTargetStatisticMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.SalesTargetStatistic" id="SalesTargetStatisticMap">
        <id property="id" column="ID"/>
        <result property="userid" column="USERID"/>
        <result property="username" column="USERNAME"/>
        <result property="complete" column="COMPLETE"/>
        <result property="complete1" column="COMPLETE1"/>
        <result property="complete2" column="COMPLETE2"/>
        <result property="complete3" column="COMPLETE3"/>
        <result property="complete4" column="COMPLETE4"/>
        <result property="complete5" column="COMPLETE5"/>
        <result property="complete6" column="COMPLETE6"/>
        <result property="complete7" column="COMPLETE7"/>
        <result property="complete8" column="COMPLETE8"/>
        <result property="complete9" column="COMPLETE9"/>
        <result property="complete10" column="COMPLETE10"/>
        <result property="complete11" column="COMPLETE11"/>
        <result property="complete12" column="COMPLETE12"/>
        <result property="bz" column="BZ"/>
        <result property="cid" column="CID"/>
        <result property="year" column="YEAR"/>
        <result property="type" column="TYPE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSalesTargetStatisticVo">
        select ID,
               USERID,
               USERNAME,
               COMPLETE,
               COMPLETE1,
               COMPLETE2,
               COMPLETE3,
               COMPLETE4,
               COMPLETE5,
               COMPLETE6,
               COMPLETE7,
               COMPLETE8,
               COMPLETE9,
               COMPLETE10,
               COMPLETE11,
               COMPLETE12,
               BZ,
               CID, YEAR, TYPE, CREATEDATE, MODIFYDATE
        from SALES_TARGET_STATISTIC
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SalesTargetStatisticMap">
        <include refid="selectSalesTargetStatisticVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SalesTargetStatisticMap">
        <include refid="selectSalesTargetStatisticVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

