<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.SectionTotalMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.SectionTotal" id="SectionTotalMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="doctorId" column="DOCTOR_ID"/>
        <result property="totalTime" column="TOTAL_TIME"/>
        <result property="writeId" column="WRITE_ID"/>
        <result property="writeTime" column="WRITE_TIME"/>
        <result property="summarize" column="SUMMARIZE"/>
        <result property="diseaseHealth" column="DISEASE_HEALTH"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="offer" column="OFFER"/>
        <result property="verdict" column="VERDICT"/>
        <result property="posistive" column="POSISTIVE"/>
        <result property="jkoffer" column="JKOFFER"/>
        <result property="scbs" column="SCBS"/>
        <result property="reportConclusions" column="REPORT_CONCLUSIONS"/>
        <result property="summaryId" column="SUMMARY_ID"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSectionTotalVo">
        select ID,
               PATIENTCODE,
               CREATEDATE,
               MODIFYDATE,
               DOCTOR_ID,
               TOTAL_TIME,
               WRITE_ID,
               WRITE_TIME,
               SUMMARIZE,
               DISEASE_HEALTH,
               IS_DELETE,
               OFFER,
               VERDICT,
               POSISTIVE,
               JKOFFER,
               SCBS,
               REPORT_CONCLUSIONS,
               SUMMARY_ID
        from SECTION_TOTAL
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SectionTotalMap">
        <include refid="selectSectionTotalVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SectionTotalMap">
        <include refid="selectSectionTotalVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

