<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.SellpactMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Sellpact" id="SellpactMap">
        <id property="id" column="ID"/>
        <result property="htmc" column="HTMC"/>
        <result property="htbh" column="HTBH"/>
        <result property="xsjl" column="XSJL"/>
        <result property="htqdrq" column="HTQDRQ"/>
        <result property="tjksrq" column="TJKSRQ"/>
        <result property="tjjsrq" column="TJJSRQ"/>
        <result property="khdwmcid" column="KHDWMCID"/>
        <result property="khdwmc" column="KHDWMC"/>
        <result property="lxdh" column="LXDH"/>
        <result property="tjrs" column="TJRS"/>
        <result property="ys" column="YS"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="xsjlid" column="XSJLID"/>
        <result property="fzxid" column="FZXID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSellpactVo">
        select ID,
               HTMC,
               HTBH,
               XSJL,
               HTQDRQ,
               TJKSRQ,
               TJJSRQ,
               KHDWMCID,
               KHDWMC,
               LXDH,
               TJRS,
               YS,
               IS_DELETE,
               XSJLID,
               FZXID,
               CREATEDATE,
               MODIFYDATE
        from SELLPACT
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SellpactMap">
        <include refid="selectSellpactVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SellpactMap">
        <include refid="selectSellpactVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

