<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.VisitMainMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.VisitMain" id="VisitMainMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="isInspect" column="IS_INSPECT"/>
        <result property="inspectTime" column="INSPECT_TIME"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isInspected" column="IS_INSPECTED"/>
        <result property="type" column="TYPE"/>
        <result property="note" column="NOTE"/>
        <result property="belowquestion" column="BELOWQUESTION"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="idExamfeeitem" column="ID_EXAMFEEITEM"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectVisitMainVo">
        select ID,
               PATIENTCODE,
               IS_INSPECT,
               INSPECT_TIME,
               CREATEDATE,
               MODIFYDATE,
               IS_INSPECTED,
               TYPE,
               NOTE,
               BELOWQUESTION,
               IS_DELETE,
               ID_EXAMFEEITEM
        from VISIT_MAIN
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="VisitMainMap">
        <include refid="selectVisitMainVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="VisitMainMap">
        <include refid="selectVisitMainVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

