<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.WzGrxxMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.WzGrxx" id="WzGrxxMap">
        <id property="id" column="ID"/>
        <result property="djls" column="DJLS"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="amount" column="AMOUNT"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="name" column="NAME"/>
        <result property="namePhonetic" column="NAME_PHONETIC"/>
        <result property="age" column="AGE"/>
        <result property="sexCode" column="SEX_CODE"/>
        <result property="idCard" column="ID_CARD"/>
        <result property="nation" column="NATION"/>
        <result property="birthPlace" column="BIRTH_PLACE"/>
        <result property="kultur" column="KULTUR"/>
        <result property="maritalStatus" column="MARITAL_STATUS"/>
        <result property="totalLengthOfServer" column="TOTAL_LENGTH_OF_SERVER"/>
        <result property="nowLengthOfServer" column="NOW_LENGTH_OF_SERVER"/>
        <result property="occupationHarm" column="OCCUPATION_HARM"/>
        <result property="workingPoct" column="WORKING_POCT"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="remark" column="REMARK"/>
        <result property="qrbz" column="QRBZ"/>
        <result property="createId" column="CREATE_ID"/>
        <result property="modifyId" column="MODIFY_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWzGrxxVo">
        select DJLS,
               PATIENTCODE,
               AMOUNT,
               ID,
               CREATE_DATE,
               NAME,
               NAME_PHONETIC,
               AGE,
               SEX_CODE,
               ID_CARD,
               NATION,
               BIRTH_PLACE,
               KULTUR,
               MARITAL_STATUS,
               TOTAL_LENGTH_OF_SERVER,
               NOW_LENGTH_OF_SERVER,
               OCCUPATION_HARM,
               WORKING_POCT,
               DB_USER,
               REMARK,
               QRBZ,
               CREATE_ID,
               MODIFY_ID,
               CREATEDATE,
               MODIFYDATE
        from WZ_GRXX
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WzGrxxMap">
        <include refid="selectWzGrxxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WzGrxxMap">
        <include refid="selectWzGrxxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

