<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.YblxMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.Yblx" id="YblxMap">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="srm" column="SRM"/>
        <result property="xh" column="XH"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectYblxVo">
        select ID, NAME, CREATEDATE, MODIFYDATE, IS_DELETE, SRM, XH
        from YBLX
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="YblxMap">
        <include refid="selectYblxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="YblxMap">
        <include refid="selectYblxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

