<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ZyFhcsGcMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.ZyFhcsGc" id="ZyFhcsGcMap">
        <id property="id" column="ID"/>
        <result property="defendEngieeringCode" column="DEFEND_ENGIEERING_CODE"/>
        <result property="defendEngineering" column="DEFEND_ENGINEERING"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="defendEngineeringClass" column="DEFEND_ENGINEERING_CLASS"/>
        <result property="gcId" column="GC_ID"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyFhcsGcVo">
        select ID,
               DEFEND_ENGIEERING_CODE,
               DEFEND_ENGINEERING,
               INPUT_CODE,
               DB_USER,
               DEFEND_ENGINEERING_CLASS,
               GC_ID,
               CREATEDATE,
               MODIFYDATE,
               IS_DELETE
        from ZY_FHCS_GC
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ZyFhcsGcMap">
        <include refid="selectZyFhcsGcVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyFhcsGcMap">
        <include refid="selectZyFhcsGcVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

