<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.oracle.dao.ZyVsSummaryMapper">

    <resultMap type="com.center.medical.datamove.oracle.bean.model.ZyVsSummary" id="ZyVsSummaryMap">
        <id property="id" column="ID"/>
        <result property="regimentationNote" column="REGIMENTATION_NOTE"/>
        <result property="occupationSummaryClass" column="OCCUPATION_SUMMARY_CLASS"/>
        <result property="occupationSummaryCode" column="OCCUPATION_SUMMARY_CODE"/>
        <result property="diagnosisFrom" column="DIAGNOSIS_FROM"/>
        <result property="occupationDiagnosisCode" column="OCCUPATION_DIAGNOSIS_CODE"/>
        <result property="occupationDiagnosis" column="OCCUPATION_DIAGNOSIS"/>
        <result property="diagnosis" column="DIAGNOSIS"/>
        <result property="summaryText" column="SUMMARY_TEXT"/>
        <result property="forPersonInfluence" column="FOR_PERSON_INFLUENCE"/>
        <result property="inputCode" column="INPUT_CODE"/>
        <result property="dbUser" column="DB_USER"/>
        <result property="occupationDiseast" column="OCCUPATION_DISEAST"/>
        <result property="occupationSummary" column="OCCUPATION_SUMMARY"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="healthEvaluationClass" column="HEALTH_EVALUATION_CLASS"/>
        <result property="zzjjzdm" column="ZZJJZDM"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="serialNo" column="SERIAL_NO"/>
        <result property="itemId" column="ITEM_ID"/>
        <result property="alwaysInReport" column="ALWAYS_IN_REPORT"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyVsSummaryVo">
        select ID,
               REGIMENTATION_NOTE,
               OCCUPATION_SUMMARY_CLASS,
               OCCUPATION_SUMMARY_CODE,
               DIAGNOSIS_FROM,
               OCCUPATION_DIAGNOSIS_CODE,
               OCCUPATION_DIAGNOSIS,
               DIAGNOSIS,
               SUMMARY_TEXT,
               FOR_PERSON_INFLUENCE,
               INPUT_CODE,
               DB_USER,
               OCCUPATION_DISEAST,
               OCCUPATION_SUMMARY,
               CREATEDATE,
               MODIFYDATE,
               HEALTH_EVALUATION_CLASS,
               ZZJJZDM,
               IS_DELETE,
               SERIAL_NO,
               ITEM_ID,
               ALWAYS_IN_REPORT
        from ZY_VS_SUMMARY
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ZyVsSummaryMap">
        <include refid="selectZyVsSummaryVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyVsSummaryMap">
        <include refid="selectZyVsSummaryVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

