<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmCustomerOperateHistoryMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmCustomerOperateHistory"
               id="CrmCustomerOperateHistoryMap">
        <result property="operateId" column="operate_id"/>
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="khdwid" column="khdwid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="operateType" column="operate_type"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="xsjlmc" column="xsjlmc"/>
        <result property="operateName" column="operate_name"/>
        <result property="fprid" column="fprid"/>
        <result property="fprmc" column="fprmc"/>
        <result property="fromXsjlid" column="from_xsjlid"/>
        <result property="fromXsjlname" column="from_xsjlname"/>
        <result property="transType" column="trans_type"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmCustomerOperateHistoryVo">
        select operate_id,
               id,
               createdate,
               modifydate,
               khdwid,
               khdwmc,
               operate_type,
               xsjlid,
               xsjlmc,
               operate_name,
               fprid,
               fprmc,
               from_xsjlid,
               from_xsjlname,
               trans_type
        from crm_customer_operate_history
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmCustomerOperateHistoryMap">
        <include refid="selectCrmCustomerOperateHistoryVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmCustomerOperateHistoryMap">
        <include refid="selectCrmCustomerOperateHistoryVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

