<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmCustomercommunicateMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmCustomercommunicate"
               id="CrmCustomercommunicateMap">
        <id property="id" column="id"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="khlxdh" column="khlxdh"/>
        <result property="sctjksrq" column="sctjksrq"/>
        <result property="gtjg" column="gtjg"/>
        <result property="gtrq" column="gtrq"/>
        <result property="xcgtrq" column="xcgtrq"/>
        <result property="bcgtfs" column="bcgtfs"/>
        <result property="xsjl" column="xsjl"/>
        <result property="bz" column="bz"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmCustomercommunicateVo">
        select id,
               khdwmc,
               khlxdh,
               sctjksrq,
               gtjg,
               gtrq,
               xcgtrq,
               bcgtfs,
               xsjl,
               bz,
               xsjlid,
               fzxid,
               createdate,
               modifydate
        from crm_customercommunicate
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmCustomercommunicateMap">
        <include refid="selectCrmCustomercommunicateVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmCustomercommunicateMap">
        <include refid="selectCrmCustomercommunicateVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

