<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmCustomerfollowMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmCustomerfollow" id="CrmCustomerfollowMap">
        <id property="id" column="id"/>
        <result property="khdwmcid" column="khdwmcid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="zt" column="zt"/>
        <result property="khfzr" column="khfzr"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="xsjl" column="xsjl"/>
        <result property="gjjd" column="gjjd"/>
        <result property="gjrq" column="gjrq"/>
        <result property="gjnr" column="gjnr"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="jsrq" column="jsrq"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmCustomerfollowVo">
        select id,
               khdwmcid,
               khdwmc,
               zt,
               khfzr,
               xsjlid,
               xsjl,
               gjjd,
               gjrq,
               gjnr,
               fzxid,
               createdate,
               modifydate,
               jsrq
        from crm_customerfollow
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmCustomerfollowMap">
        <include refid="selectCrmCustomerfollowVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmCustomerfollowMap">
        <include refid="selectCrmCustomerfollowVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

