<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmOrderPlanLinkerMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmOrderPlanLinker" id="CrmOrderPlanLinkerMap">
        <id property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="linker" column="linker"/>
        <result property="post" column="post"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="hobby" column="hobby"/>
        <result property="remark" column="remark"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmOrderPlanLinkerVo">
        select id,
               plan_id,
               linker,
               post,
               phone,
               email,
               hobby,
               remark,
               createdate,
               modifydate
        from crm_order_plan_linker
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmOrderPlanLinkerMap">
        <include refid="selectCrmOrderPlanLinkerVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmOrderPlanLinkerMap">
        <include refid="selectCrmOrderPlanLinkerVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

