<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.CrmSellRemindMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.CrmSellRemind" id="CrmSellRemindMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="khdwid" column="khdwid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="remindTime" column="remind_time"/>
        <result property="content" column="content"/>
        <result property="createName" column="create_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCrmSellRemindVo">
        select id,
               createdate,
               modifydate,
               khdwid,
               khdwmc,
               remind_time,
               content,
               create_name,
               status
        from crm_sell_remind
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CrmSellRemindMap">
        <include refid="selectCrmSellRemindVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CrmSellRemindMap">
        <include refid="selectCrmSellRemindVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

