<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.KdReserwayMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.KdReserway" id="KdReserwayMap">
        <id property="id" column="id"/>
        <result property="accountNo" column="account_no"/>
        <result property="accountName" column="account_name"/>
        <result property="useStatusId" column="use_status_id"/>
        <result property="branchId" column="branch_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectKdReserwayVo">
        select id, account_no, account_name, use_status_id, branch_id, createdate, modifydate
        from kd_reserway
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="KdReserwayMap">
        <include refid="selectKdReserwayVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="KdReserwayMap">
        <include refid="selectKdReserwayVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

