<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBaseZoneMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBaseZone" id="MdBaseZoneMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="zoneCode" column="zone_code"/>
        <result property="zoneName" column="zone_name"/>
        <result property="zoneLevel" column="zone_level"/>
        <result property="pcode" column="pcode"/>
        <result property="isDelete" column="is_delete"/>
        <result property="qingdaoCode" column="qingdao_code"/>
        <result property="qingdaoPcode" column="qingdao_pcode"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBaseZoneVo">
        select id,
               createdate,
               modifydate,
               zone_code,
               zone_name,
               zone_level,
               pcode,
               is_delete,
               qingdao_code,
               qingdao_pcode
        from md_base_zone
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBaseZoneMap">
        <include refid="selectMdBaseZoneVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBaseZoneMap">
        <include refid="selectMdBaseZoneVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

