<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBasconclusionNewMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBasconclusionNew" id="MdBasconclusionNewMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="depiction" column="depiction"/>
        <result property="suggestion" column="suggestion"/>
        <result property="advice" column="advice"/>
        <result property="dietguide" column="dietguide"/>
        <result property="sportguide" column="sportguide"/>
        <result property="knowledge" column="knowledge"/>
        <result property="suggestiongroup" column="suggestiongroup"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="status" column="status"/>
        <result property="divisionId" column="division_id"/>
        <result property="isLong" column="is_long"/>
        <result property="depName" column="dep_name"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isPublic" column="is_public"/>
        <result property="fzxIds" column="fzx_ids"/>
        <result property="creater" column="creater"/>
        <result property="auditer" column="auditer"/>
        <result property="auditTime" column="audit_time"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="scbz" column="scbz"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBasconclusionNewVo">
        select id,
               name,
               depiction,
               suggestion,
               advice,
               dietguide,
               sportguide,
               knowledge,
               suggestiongroup,
               input_code,
               createdate,
               modifydate,
               note,
               status,
               division_id,
               is_long,
               dep_name,
               is_delete,
               is_public,
               fzx_ids,
               creater,
               auditer,
               audit_time,
               audit_status,
               scbz
        from md_basconclusion_new
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBasconclusionNewMap">
        <include refid="selectMdBasconclusionNewVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBasconclusionNewMap">
        <include refid="selectMdBasconclusionNewVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

