<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdBkPatientMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdBkPatient" id="MdBkPatientMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientname" column="patientname"/>
        <result property="inputCode" column="input_code"/>
        <result property="patientcode" column="patientcode"/>
        <result property="idcardno" column="idcardno"/>
        <result property="orgName" column="org_name"/>
        <result property="idSex" column="id_sex"/>
        <result property="birthdate" column="birthdate"/>
        <result property="age" column="age"/>
        <result property="marriage" column="marriage"/>
        <result property="phone" column="phone"/>
        <result property="dateregister" column="dateregister"/>
        <result property="idExamtype" column="id_examtype"/>
        <result property="examsuiteName" column="examsuite_name"/>
        <result property="orgDepart" column="org_depart"/>
        <result property="note" column="note"/>
        <result property="countreportoccupationxml" column="countreportoccupationxml"/>
        <result property="doctorapply" column="doctorapply"/>
        <result property="fRegistered" column="f_registered"/>
        <result property="fReadytofinal" column="f_readytofinal"/>
        <result property="suggestion" column="suggestion"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdBkPatientVo">
        select id,
               createdate,
               modifydate,
               patientname,
               input_code,
               patientcode,
               idcardno,
               org_name,
               id_sex,
               birthdate,
               age,
               marriage,
               phone,
               dateregister,
               id_examtype,
               examsuite_name,
               org_depart,
               note,
               countreportoccupationxml,
               doctorapply,
               f_registered,
               f_readytofinal,
               suggestion
        from md_bk_patient
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdBkPatientMap">
        <include refid="selectMdBkPatientVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdBkPatientMap">
        <include refid="selectMdBkPatientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

