<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdCardTypeMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdCardType" id="MdCardTypeMap">
        <id property="id" column="id"/>
        <result property="typeName" column="type_name"/>
        <result property="cardMoney" column="card_money"/>
        <result property="isRecharge" column="is_recharge"/>
        <result property="memo" column="memo"/>
        <result property="createdate" column="createdate"/>
        <result property="cardLogo" column="card_logo"/>
        <result property="modifydate" column="modifydate"/>
        <result property="cardPrefix" column="card_prefix"/>
        <result property="jf" column="jf"/>
        <result property="type" column="type"/>
        <result property="flag" column="flag"/>
        <result property="cid" column="cid"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdCardTypeVo">
        select id,
               type_name,
               card_money,
               is_recharge,
               memo,
               createdate,
               card_logo,
               modifydate,
               card_prefix,
               jf,
               type,
               flag,
               cid
        from md_card_type
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdCardTypeMap">
        <include refid="selectMdCardTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdCardTypeMap">
        <include refid="selectMdCardTypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

