<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdCarmanagefrMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdCarmanagefr" id="MdCarmanagefrMap">
        <id property="id" column="id"/>
        <result property="idUser" column="id_user"/>
        <result property="idCarmanage" column="id_carmanage"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdCarmanagefrVo">
        select id, id_user, id_carmanage, createdate, modifydate
        from md_carmanagefr
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdCarmanagefrMap">
        <include refid="selectMdCarmanagefrVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdCarmanagefrMap">
        <include refid="selectMdCarmanagefrVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

