<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdDrugstoreDrugMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdDrugstoreDrug" id="MdDrugstoreDrugMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="drugClass" column="drug_class"/>
        <result property="drugName" column="drug_name"/>
        <result property="drugStandard" column="drug_standard"/>
        <result property="drugPrice" column="drug_price"/>
        <result property="drugPlace" column="drug_place"/>
        <result property="drugType" column="drug_type"/>
        <result property="drugUnit" column="drug_unit"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="costPrice" column="cost_price"/>
        <result property="stock" column="stock"/>
        <result property="isForbidden" column="is_forbidden"/>
        <result property="inputCode" column="input_code"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdDrugstoreDrugVo">
        select id,
               createdate,
               modifydate,
               drug_class,
               drug_name,
               drug_standard,
               drug_price,
               drug_place,
               drug_type,
               drug_unit,
               retail_price,
               cost_price,
               stock,
               is_forbidden,
               input_code
        from md_drugstore_drug
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdDrugstoreDrugMap">
        <include refid="selectMdDrugstoreDrugVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdDrugstoreDrugMap">
        <include refid="selectMdDrugstoreDrugVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

