<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdEmphasisAskSymptomMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdEmphasisAskSymptom" id="MdEmphasisAskSymptomMap">
        <id property="id" column="id"/>
        <result property="danagerId" column="danager_id"/>
        <result property="disiaseType" column="disiase_type"/>
        <result property="symptomId" column="symptom_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="harmname" column="harmname"/>
        <result property="isDelete" column="is_delete"/>
        <result property="symptomcode" column="symptomcode"/>
        <result property="symptom" column="symptom"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdEmphasisAskSymptomVo">
        select id,
               danager_id,
               disiase_type,
               symptom_id,
               createdate,
               modifydate,
               harmname,
               is_delete,
               symptomcode,
               symptom
        from md_emphasis_ask_symptom
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdEmphasisAskSymptomMap">
        <include refid="selectMdEmphasisAskSymptomVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdEmphasisAskSymptomMap">
        <include refid="selectMdEmphasisAskSymptomVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

