<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdHarmPackageMatchMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdHarmPackageMatch" id="MdHarmPackageMatchMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="tcid" column="tcid"/>
        <result property="harmId" column="harm_id"/>
        <result property="pharmId" column="pharm_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdHarmPackageMatchVo">
        select id, createdate, modifydate, tcid, harm_id, pharm_id
        from md_harm_package_match
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdHarmPackageMatchMap">
        <include refid="selectMdHarmPackageMatchVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdHarmPackageMatchMap">
        <include refid="selectMdHarmPackageMatchVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

