<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdHarmMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdHarm" id="MdHarmMap">
        <id property="id" column="id"/>
        <result property="harmCode" column="harm_code"/>
        <result property="harmName" column="harm_name"/>
        <result property="harmClass" column="harm_class"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="keyword" column="keyword"/>
        <result property="diagnosisFrom" column="diagnosis_from"/>
        <result property="mbjbZyb" column="mbjb_zyb"/>
        <result property="mbjbJjz" column="mbjb_jjz"/>
        <result property="influence" column="influence"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="diagnosis" column="diagnosis"/>
        <result property="industrialDisease" column="industrial_disease"/>
        <result property="contraindication" column="contraindication"/>
        <result property="affect" column="affect"/>
        <result property="classId" column="class_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="note" column="note"/>
        <result property="isPublic" column="is_public"/>
        <result property="fzxIds" column="fzx_ids"/>
        <result property="creater" column="creater"/>
        <result property="createFzx" column="create_fzx"/>
        <result property="pid" column="pid"/>
        <result property="lv" column="lv"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdHarmVo">
        select id,
               harm_code,
               harm_name,
               harm_class,
               input_code,
               db_user,
               keyword,
               diagnosis_from,
               mbjb_zyb,
               mbjb_jjz,
               influence,
               createdate,
               modifydate,
               diagnosis,
               industrial_disease,
               contraindication,
               affect,
               class_id,
               is_delete,
               note,
               is_public,
               fzx_ids,
               creater,
               create_fzx,
               pid,
               lv
        from md_harm
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdHarmMap">
        <include refid="selectMdHarmVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdHarmMap">
        <include refid="selectMdHarmVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

