<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdItemRelatedInformationMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdItemRelatedInformation"
               id="MdItemRelatedInformationMap">
        <id property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="baseItemId" column="base_item_id"/>
        <result property="baseItemCode" column="base_item_code"/>
        <result property="baseItemName" column="base_item_name"/>
        <result property="ksId" column="ks_id"/>
        <result property="interfaceKsCode" column="interface_ks_code"/>
        <result property="interfaceItemCode" column="interface_item_code"/>
        <result property="interfaceName" column="interface_name"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdItemRelatedInformationVo">
        select id,
               item_id,
               item_code,
               item_name,
               base_item_id,
               base_item_code,
               base_item_name,
               ks_id,
               interface_ks_code,
               interface_item_code,
               interface_name,
               create_date,
               modify_date
        from md_item_related_information
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdItemRelatedInformationMap">
        <include refid="selectMdItemRelatedInformationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdItemRelatedInformationMap">
        <include refid="selectMdItemRelatedInformationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

