<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdItemsAndFzxNewMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdItemsAndFzxNew" id="MdItemsAndFzxNewMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="itemsId" column="items_id"/>
        <result property="fzxId" column="fzx_id"/>
        <result property="tbzt" column="tbzt"/>
        <result property="fDiscountdisabled" column="f_discountdisabled"/>
        <result property="costprice" column="costprice"/>
        <result property="suiteprice" column="suiteprice"/>
        <result property="unitprice" column="unitprice"/>
        <result property="innerprice" column="innerprice"/>
        <result property="coopprice" column="coopprice"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdItemsAndFzxNewVo">
        select id,
               createdate,
               modifydate,
               items_id,
               fzx_id,
               tbzt,
               f_discountdisabled,
               costprice,
               suiteprice,
               unitprice,
               innerprice,
               coopprice
        from md_items_and_fzx_new
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdItemsAndFzxNewMap">
        <include refid="selectMdItemsAndFzxNewVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdItemsAndFzxNewMap">
        <include refid="selectMdItemsAndFzxNewVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

