<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdOccupationSymptomMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdOccupationSymptom" id="MdOccupationSymptomMap">
        <id property="id" column="id"/>
        <result property="symptomCode" column="symptom_code"/>
        <result property="symptom" column="symptom"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdOccupationSymptomVo">
        select id,
               symptom_code,
               symptom,
               input_code,
               db_user,
               createdate,
               modifydate,
               is_delete
        from md_occupation_symptom
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdOccupationSymptomMap">
        <include refid="selectMdOccupationSymptomVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdOccupationSymptomMap">
        <include refid="selectMdOccupationSymptomVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

