<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPacsInspectChargeMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPacsInspectCharge" id="MdPacsInspectChargeMap">
        <id property="id" column="id"/>
        <result property="chargeId" column="charge_id"/>
        <result property="inspectId" column="inspect_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="orderIndex" column="order_index"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPacsInspectChargeVo">
        select id, charge_id, inspect_id, createdate, modifydate, is_delete, order_index
        from md_pacs_inspect_charge
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPacsInspectChargeMap">
        <include refid="selectMdPacsInspectChargeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPacsInspectChargeMap">
        <include refid="selectMdPacsInspectChargeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

