<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPeispatientarchiveMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPeispatientarchive" id="MdPeispatientarchiveMap">
        <id property="id" column="id"/>
        <result property="idPatientarchive" column="id_patientarchive"/>
        <result property="patientarchiveno" column="patientarchiveno"/>
        <result property="patientcardno" column="patientcardno"/>
        <result property="idcardno" column="idcardno"/>
        <result property="patientname" column="patientname"/>
        <result property="inputCode" column="input_code"/>
        <result property="idSex" column="id_sex"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="agebasedate" column="agebasedate"/>
        <result property="birthdate" column="birthdate"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="marriage" column="marriage"/>
        <result property="idNation" column="id_nation"/>
        <result property="nation" column="nation"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="idEducation" column="id_education"/>
        <result property="education" column="education"/>
        <result property="idOccupation" column="id_occupation"/>
        <result property="occupation" column="occupation"/>
        <result property="idResarea" column="id_resarea"/>
        <result property="resarea" column="resarea"/>
        <result property="dateregister" column="dateregister"/>
        <result property="note" column="note"/>
        <result property="ishmd" column="ishmd"/>
        <result property="hmdbz" column="hmdbz"/>
        <result property="restatus" column="restatus"/>
        <result property="yjgzbj" column="yjgzbj"/>
        <result property="memberlevel" column="memberlevel"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="cultural" column="cultural"/>
        <result property="isOrg" column="is_org"/>
        <result property="membercreate" column="membercreate"/>
        <result property="khjl" column="khjl"/>
        <result property="jf" column="jf"/>
        <result property="fzx" column="fzx"/>
        <result property="dw" column="dw"/>
        <result property="isDelete" column="is_delete"/>
        <result property="countreportoccupationxml" column="countreportoccupationxml"/>
        <result property="isMain" column="is_main"/>
        <result property="source" column="source"/>
        <result property="oldCard" column="old_card"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPeispatientarchiveVo">
        select id,
               id_patientarchive,
               patientarchiveno,
               patientcardno,
               idcardno,
               patientname,
               input_code,
               id_sex,
               sex,
               age,
               agebasedate,
               birthdate,
               id_marriage,
               marriage,
               id_nation,
               nation,
               address,
               phone,
               id_education,
               education,
               id_occupation,
               occupation,
               id_resarea,
               resarea,
               dateregister,
               note,
               ishmd,
               hmdbz,
               restatus,
               yjgzbj,
               memberlevel,
               createdate,
               modifydate,
               cultural,
               is_org,
               membercreate,
               khjl,
               jf,
               fzx,
               dw,
               is_delete,
               countreportoccupationxml,
               is_main,
               source,
               old_card
        from md_peispatientarchive
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPeispatientarchiveMap">
        <include refid="selectMdPeispatientarchiveVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPeispatientarchiveMap">
        <include refid="selectMdPeispatientarchiveVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

