<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPeispatientConsultationMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPeispatientConsultation"
               id="MdPeispatientConsultationMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="everOfDisease" column="ever_of_disease"/>
        <result property="ccnl" column="ccnl"/>
        <result property="jq" column="jq"/>
        <result property="zq" column="zq"/>
        <result property="tjnl" column="tjnl"/>
        <result property="familyNumber" column="family_number"/>
        <result property="zc" column="zc"/>
        <result property="sc" column="sc"/>
        <result property="lc" column="lc"/>
        <result property="jt" column="jt"/>
        <result property="ywrc" column="ywrc"/>
        <result property="abstainSmokeNote" column="abstain_smoke_note"/>
        <result property="everydaySmokeN" column="everyday_smoke_n"/>
        <result property="smokeYear" column="smoke_year"/>
        <result property="noKissTheCup" column="no_kiss_the_cup"/>
        <result property="betweenKissTheCup" column="between_kiss_the_cup"/>
        <result property="evermoreKiss" column="evermore_kiss"/>
        <result property="abstainLostKiss" column="abstain_lost_kiss"/>
        <result property="kissYearN" column="kiss_year_n"/>
        <result property="kissAmount" column="kiss_amount"/>
        <result property="kissType" column="kiss_type"/>
        <result property="familyOfDisease" column="family_of_disease"/>
        <result property="symptom" column="symptom"/>
        <result property="isAudit" column="is_audit"/>
        <result property="everOfDiseaseRemark" column="ever_of_disease_remark"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPeispatientConsultationVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               ever_of_disease,
               ccnl,
               jq,
               zq,
               tjnl,
               family_number,
               zc,
               sc,
               lc,
               jt,
               ywrc,
               abstain_smoke_note,
               everyday_smoke_n,
               smoke_year,
               no_kiss_the_cup,
               between_kiss_the_cup,
               evermore_kiss,
               abstain_lost_kiss,
               kiss_year_n,
               kiss_amount,
               kiss_type,
               family_of_disease,
               symptom,
               is_audit,
               ever_of_disease_remark
        from md_peispatient_consultation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPeispatientConsultationMap">
        <include refid="selectMdPeispatientConsultationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPeispatientConsultationMap">
        <include refid="selectMdPeispatientConsultationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

