<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdPrinttypeMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdPrinttype" id="MdPrinttypeMap">
        <id property="id" column="id"/>
        <result property="printName" column="print_name"/>
        <result property="inputCode" column="input_code"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="seq" column="seq"/>
        <result property="shunxu" column="shunxu"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdPrinttypeVo">
        select id,
               print_name,
               input_code,
               is_delete,
               createdate,
               modifydate,
               note,
               seq,
               shunxu
        from md_printtype
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdPrinttypeMap">
        <include refid="selectMdPrinttypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdPrinttypeMap">
        <include refid="selectMdPrinttypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

