<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdQyjjlxMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdQyjjlx" id="MdQyjjlxMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="qyjjlx" column="qyjjlx"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdQyjjlxVo">
        select id, createdate, modifydate, qyjjlx
        from md_qyjjlx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdQyjjlxMap">
        <include refid="selectMdQyjjlxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdQyjjlxMap">
        <include refid="selectMdQyjjlxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

