<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdReviewMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdReview" id="MdReviewMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="dateFrom" column="date_from"/>
        <result property="dateTo" column="date_to"/>
        <result property="callbackStation" column="callback_station"/>
        <result property="userId" column="user_id"/>
        <result property="noticeOfProceedingText" column="notice_of_proceeding_text"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="idOrg" column="id_org"/>
        <result property="reviewPdf" column="review_pdf"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdReviewVo">
        select id,
               patientcode,
               date_from,
               date_to,
               callback_station,
               user_id,
               notice_of_proceeding_text,
               createdate,
               modifydate,
               is_delete,
               id_org,
               review_pdf
        from md_review
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdReviewMap">
        <include refid="selectMdReviewVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdReviewMap">
        <include refid="selectMdReviewVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

