<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdReportContentMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdReportContent" id="MdReportContentMap">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="checkBy" column="check_by"/>
        <result property="checkTime" column="check_time"/>
        <result property="remark" column="remark"/>
        <result property="reportType" column="report_type"/>
        <result property="branchId" column="branch_id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="idExamtype" column="id_examtype"/>
        <result property="checkStatus" column="check_status"/>
        <result property="analyzeId" column="analyze_id"/>
        <result property="compareReportId" column="compare_report_id"/>
        <result property="ksId" column="ks_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdReportContentVo">
        select id,
               content,
               create_by,
               create_time,
               update_by,
               update_time,
               check_by,
               check_time,
               remark,
               report_type,
               branch_id,
               patientcode,
               id_examtype,
               check_status,
               analyze_id,
               compare_report_id,
               ks_id
        from md_report_content
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdReportContentMap">
        <include refid="selectMdReportContentVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdReportContentMap">
        <include refid="selectMdReportContentVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

