<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdRiskclientMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdRiskclient" id="MdRiskclientMap">
        <id property="id" column="id"/>
        <result property="tjid" column="tjid"/>
        <result property="gwrymc" column="gwrymc"/>
        <result property="nl" column="nl"/>
        <result property="xb" column="xb"/>
        <result property="lxdh" column="lxdh"/>
        <result property="gwxm" column="gwxm"/>
        <result property="tjlx" column="tjlx"/>
        <result property="tirq" column="tirq"/>
        <result property="tjzt" column="tjzt"/>
        <result property="bz" column="bz"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="cid" column="cid"/>
        <result property="idOrg" column="id_org"/>
        <result property="idOpendoctor" column="id_opendoctor"/>
        <result property="reportMan" column="report_man"/>
        <result property="reportDivision" column="report_division"/>
        <result property="dealMan" column="deal_man"/>
        <result property="reportstatus" column="reportstatus"/>
        <result property="reportTime" column="report_time"/>
        <result property="dealTime" column="deal_time"/>
        <result property="tbbz" column="tbbz"/>
        <result property="clbz" column="clbz"/>
        <result property="ywclr" column="ywclr"/>
        <result property="ywclsj" column="ywclsj"/>
        <result property="ywfffs" column="ywfffs"/>
        <result property="ywclzt" column="ywclzt"/>
        <result property="ywbz" column="ywbz"/>
        <result property="hfclr" column="hfclr"/>
        <result property="hfclsj" column="hfclsj"/>
        <result property="hfclzt" column="hfclzt"/>
        <result property="hffffs" column="hffffs"/>
        <result property="hfbz" column="hfbz"/>
        <result property="hfclfs" column="hfclfs"/>
        <result property="zjclr" column="zjclr"/>
        <result property="zjclsj" column="zjclsj"/>
        <result property="zjclzt" column="zjclzt"/>
        <result property="zjbz" column="zjbz"/>
        <result property="zjclfs" column="zjclfs"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdRiskclientVo">
        select id,
               tjid,
               gwrymc,
               nl,
               xb,
               lxdh,
               gwxm,
               tjlx,
               tirq,
               tjzt,
               bz,
               createdate,
               modifydate,
               cid,
               id_org,
               id_opendoctor,
               report_man,
               report_division,
               deal_man,
               reportstatus,
               report_time,
               deal_time,
               tbbz,
               clbz,
               ywclr,
               ywclsj,
               ywfffs,
               ywclzt,
               ywbz,
               hfclr,
               hfclsj,
               hfclzt,
               hffffs,
               hfbz,
               hfclfs,
               zjclr,
               zjclsj,
               zjclzt,
               zjbz,
               zjclfs
        from md_riskclient
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdRiskclientMap">
        <include refid="selectMdRiskclientVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdRiskclientMap">
        <include refid="selectMdRiskclientVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

