<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdRiskclientconMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdRiskclientcon" id="MdRiskclientconMap">
        <id property="id" column="id"/>
        <result property="riskid" column="riskid"/>
        <result property="gwxm" column="gwxm"/>
        <result property="wjzxj" column="wjzxj"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="divisionId" column="division_id"/>
        <result property="wjzjb" column="wjzjb"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="checkTime" column="check_time"/>
        <result property="patientcode" column="patientcode"/>
        <result property="sfxm" column="sfxm"/>
        <result property="tbbz" column="tbbz"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdRiskclientconVo">
        select id,
               riskid,
               gwxm,
               wjzxj,
               createdate,
               modifydate,
               division_id,
               wjzjb,
               doctor_id,
               check_time,
               patientcode,
               sfxm,
               tbbz
        from md_riskclientcon
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdRiskclientconMap">
        <include refid="selectMdRiskclientconVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdRiskclientconMap">
        <include refid="selectMdRiskclientconVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

