<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdSectionResultPlanMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdSectionResultPlan" id="MdSectionResultPlanMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="depId" column="dep_id"/>
        <result property="creater" column="creater"/>
        <result property="patientcode" column="patientcode"/>
        <result property="status" column="status"/>
        <result property="errorMsg" column="error_msg"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdSectionResultPlanVo">
        select id,
               createdate,
               modifydate,
               dep_id,
               creater,
               patientcode,
               status,
               error_msg
        from md_section_result_plan
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdSectionResultPlanMap">
        <include refid="selectMdSectionResultPlanVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdSectionResultPlanMap">
        <include refid="selectMdSectionResultPlanVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

