<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdUserHarmClassMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdUserHarmClass" id="MdUserHarmClassMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="userId" column="user_id"/>
        <result property="classId" column="class_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdUserHarmClassVo">
        select id, createdate, modifydate, user_id, class_id
        from md_user_harm_class
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdUserHarmClassMap">
        <include refid="selectMdUserHarmClassVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdUserHarmClassMap">
        <include refid="selectMdUserHarmClassVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

