<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.MdUtsideHandMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.MdUtsideHand" id="MdUtsideHandMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="result" column="result"/>
        <result property="idCharge" column="id_charge"/>
        <result property="idCheck" column="id_check"/>
        <result property="resultHand" column="result_hand"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdUtsideHandVo">
        select id,
               patientcode,
               createdate,
               modifydate,
               result,
               id_charge,
               id_check,
               result_hand
        from md_utside_hand
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdUtsideHandMap">
        <include refid="selectMdUtsideHandVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdUtsideHandMap">
        <include refid="selectMdUtsideHandVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

