<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.SysUploadTypeMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.SysUploadType" id="SysUploadTypeMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="uploadType" column="upload_type"/>
        <result property="uploadName" column="upload_name"/>
        <result property="tableName" column="table_name"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysUploadTypeVo">
        select id, createdate, modifydate, upload_type, upload_name, table_name
        from sys_upload_type
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysUploadTypeMap">
        <include refid="selectSysUploadTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysUploadTypeMap">
        <include refid="selectSysUploadTypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

