<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.datamove.common.dao.SysUserRoleMapper">

    <resultMap type="com.center.medical.datamove.common.bean.model.SysUserRole" id="SysUserRoleMap">
        <id property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSysUserRoleVo">
        select user_id, role_id
        from sys_user_role
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="SysUserRoleMap">
        <include refid="selectSysUserRoleVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SysUserRoleMap">
        <include refid="selectSysUserRoleVo"/>
        <where>
            userId = #{id}
        </where>
    </select>

</mapper>

