<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dicom.dao.DicomMapper">
    <select id="selectDicomFeeitemList" resultType="com.center.medical.dicom.bean.dto.DicomFeeitemDto">
        select
        pi.id,
        pi.id_ks dept_no,
        pi.short_code,
        pi.id_patient
        from
        md_peispatientfeeitem pi
        inner join sys_department cd on cd.id = pi.id_ks
        inner join md_items i on i.id = pi.id_examfeeitem
        inner join md_pacs_items pacsi on pacsi.examfeeitem_code = i.examfeeitem_code
        where
        pi.id_patient = #{patientcode}
        and pi.f_giveup = 0
        and (pi.sfjj is null or pi.sfjj = 0)
        and pi.change_item = 0
        and pi.f_transferedhl7 is null
        and pi.f_feecharged = 1
        <if test="ennames!=null and ennames.size > 0">
            and exists (
            select
            1
            from
            md_pacs_base_part bp
            inner join md_pacs_item_part ip on ip.part_id = bp.id
            where
            bp.en_name IN
            <foreach collection="ennames" item="enname" open="(" close=")" separator=",">
                #{enname}
            </foreach>
            and ip.item_id = pacsi.id
            )
        </if>
        and cd.jklx = #{jklx}
    </select>
    <select id="getInfoById" resultType="com.center.medical.dicom.bean.dto.DicomFeeitemDto">
        select pi.id,
               pi.id_ks dept_no,
               pi.short_code,
               pi.id_patient
        from md_peispatientfeeitem pi
        where pi.id = #{feeItemId}
    </select>
</mapper>