<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.CustomerTransferMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.CustomerTransfer" id="CustomerTransferMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="fromXsjlid" column="from_xsjlid"/>
        <result property="toXsjlid" column="to_xsjlid"/>
        <result property="toXsjl" column="to_xsjl"/>
        <result property="fzxId" column="fzx_id"/>
        <result property="xzzt" column="xzzt"/>
        <result property="xzdate" column="xzdate"/>
        <result property="customerId" column="customer_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCustomerTransferVo">
        select id,
               createdate,
               modifydate,
               from_xsjlid,
               to_xsjlid,
               to_xsjl,
               fzx_id,
               xzzt,
               xzdate,
               customer_id
        from crm_customer_transfer
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="CustomerTransferMap">
        <include refid="selectCustomerTransferVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CustomerTransferMap">
        <include refid="selectCustomerTransferVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

