<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.LeadertargetMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Leadertarget" id="LeadertargetMap">
        <id property="id" column="id"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="year" column="year"/>
        <result property="dyjdmb" column="dyjdmb"/>
        <result property="dejdmb" column="dejdmb"/>
        <result property="dsjdmb" column="dsjdmb"/>
        <result property="dijdmb" column="dijdmb"/>
        <result property="ndmb" column="ndmb"/>
        <result property="bz" column="bz"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectLeadertargetVo">
        select id, xsjlid, year, dyjdmb, dejdmb, dsjdmb, dijdmb, ndmb, bz, fzxid, createdate, modifydate
        from md_leadertarget
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.sellcrm.bean.model.Leadertarget">
        SELECT *
        from (
        SELECT
        l.id,
        u.user_no as userid,
        u.user_name as username,
        l.ndmb,
        l.bz,
        IFNULL ( p.complete, 0 ) as complete,
        b.fzx,
        TimeStampDiff( year, u.entry_date ,now() ) AS workingAge
        FROM
        sys_user u
        INNER JOIN sys_branch b ON b.branch_id = u.cid
        LEFT JOIN md_leadertarget l ON l.xsjlid = u.user_no
        AND l.fzxid = u.cid
        <if test="param.listYear!=null and param.listYear!=''">
            AND l.YEAR = #{param.listYear}
        </if>
        LEFT JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.cid = u.cid
        AND p.type = 0
        <if test="param.listYear!=null and param.listYear!=''">
            AND p.YEAR = #{param.listYear}
        </if>
        <where>
            1 = 1
            <if test="param.branchIds!=null">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
                SELECT
                1
                FROM
                sys_dept qd
                LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
                WHERE
                qud.user_id = u.user_no
                AND qd.dept_name = '销售部'
            )
        </where>
        group by u.user_no
        UNION ALL
        SELECT NULL
        id,
        u.user_no as userid,
        u.user_name as username,
        NULL ndmb,
        '服务单' bz,
        IFNULL ( p.complete, 0 ) as complete,
        b.fzx,
        TimeStampDiff( year, u.entry_date ,now() ) AS workingAge
        FROM
        sys_user u
        INNER JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.type = 0
        <if test="param.listYear!=null and param.listYear!=''">
            AND p.YEAR = #{param.listYear}
        </if>
        <if test="param.branchIds!=null">
            AND p.cid IN
            <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                #{brandId}
            </foreach>
        </if>
        INNER JOIN sys_branch b ON b.id = p.cid
        <where>
            u.cid != p.cid
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
            SELECT
            1
            FROM
            sys_dept qd
            LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
            WHERE
            qud.user_id = u.user_no
            AND qd.dept_name = '销售部'
            )
        </where>
        group by u.user_no
        ) as z
        ORDER BY
        workingage DESC,
        username
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="LeadertargetMap">
        <include refid="selectLeadertargetVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!--  查询导出的销售年度目标数据 -->
    <select id="getExportData" resultType="com.center.medical.sellcrm.bean.model.Leadertarget">
        SELECT *
        from (
        SELECT
        l.id,
        u.user_no as userid,
        u.user_name as username,
        l.ndmb,
        l.bz,
        IFNULL ( p.complete, 0 ) as complete,
        b.fzx,
        TimeStampDiff( year, u.entry_date ,now() ) AS workingAge
        FROM
        sys_user u
        INNER JOIN sys_branch b ON b.branch_id = u.cid
        LEFT JOIN md_leadertarget l ON l.xsjlid = u.user_no
        AND l.fzxid = u.cid
        <if test="param.listYear!=null and param.listYear!=''">
            AND l.YEAR = #{param.listYear}
        </if>
        LEFT JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.cid = u.cid
        AND p.type = 0
        <if test="param.listYear!=null and param.listYear!=''">
            AND p.YEAR = #{param.listYear}
        </if>
        <where>
            1 = 1
            <if test="param.branchIds!=null">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
            SELECT
            1
            FROM
            sys_dept qd
            LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
            WHERE
            qud.user_id = u.user_no
            AND qd.dept_name = '销售部'
            )
        </where>
        group by u.user_no
        UNION ALL
        SELECT NULL
        id,
        u.user_no as userid,
        u.user_name as username,
        NULL ndmb,
        '服务单' bz,
        IFNULL ( p.complete, 0 ) as complete,
        b.fzx,
        TimeStampDiff( year, u.entry_date ,now() ) AS workingAge
        FROM
        sys_user u
        INNER JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.type = 0
        <if test="param.listYear!=null and param.listYear!=''">
            AND p.YEAR = #{param.listYear}
        </if>
        <if test="param.branchIds!=null">
            AND p.cid IN
            <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                #{brandId}
            </foreach>
        </if>
        INNER JOIN sys_branch b ON b.id = p.cid
        LEFT JOIN sys_user_dep qud ON qud.user_id = u.user_no
        LEFT JOIN sys_dept qd ON qud.dep_id = qd.dept_no
        <where>
            u.cid != p.cid
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
            SELECT
            1
            FROM
            sys_dept qd
            LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
            WHERE
            qud.user_id = u.user_no
            AND qd.dept_name = '销售部'
            )
        </where>
        group by u.user_no
        ) as z
        ORDER BY
        workingage DESC,
        username
    </select>


    <!--  获取总结数据 -->
    <select id="getSummaryData" resultType="com.center.medical.sellcrm.bean.vo.LTSummaryVo">
        SELECT
        IFNULL ( sum( ndmb ), 0 ) as target,
        sum( completemoney ) as complete
        FROM
        (
        SELECT
        l.id,
        u.user_no userid,
        u.user_name,
        l.ndmb,
        l.bz,
        IFNULL ( p.complete, 0 ) completemoney,
        b.fzx
        FROM
        sys_user u
        INNER JOIN sys_branch b ON b.id = u.cid
        LEFT JOIN md_leadertarget l ON l.xsjlid = u.user_no
        AND l.fzxid = u.cid
        AND l.YEAR = #{param.listYear}
        LEFT JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.cid = u.cid
        AND p.type = 0
        AND p.YEAR = #{param.listYear}
        <where>
            1 =1
            <if test="param.branchIds!=null">
                AND u.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
            SELECT
            1
            FROM
            sys_dept qd
            LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
            WHERE
            qud.user_id = u.user_no
            AND qd.dept_name = '销售部'
            )
        </where>
        UNION ALL
        SELECT
        NULL id,
        u.user_no userid,
        u.user_name,
        NULL ndmb,
        '服务单' bz,
        IFNULL ( p.complete, 0 ) completemoney,
        b.fzx
        FROM
        sys_user u
        INNER JOIN md_sales_target_statistic p ON p.userid = u.user_no
        AND p.type = 0
        AND p.YEAR = #{param.listYear}
        <if test="param.branchIds!=null">
            AND p.cid IN
            <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                #{brandId}
            </foreach>
        </if>
        INNER JOIN sys_branch b ON b.id = p.cid
        <where>
            u.cid != p.cid
            AND u.del_flag = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND u.user_no = #{param.userNo}
            </if>
            AND EXISTS (
            SELECT
            1
            FROM
            sys_dept qd
            LEFT JOIN sys_user_dep qud ON qud.dep_id = qd.dept_no
            WHERE
            qud.user_id = u.user_no
            AND qd.dept_name = '销售部'
            )
        </where>
        ) AS a
        ORDER BY
        user_name
    </select>
</mapper>

