<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.MealanditemMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.Mealanditem" id="MealanditemMap">
        <id property="id" column="id"/>
        <result property="tcid" column="tcid"/>
        <result property="sfxmid" column="sfxmid"/>
        <result property="sfbx" column="sfbx"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isSystem" column="is_system"/>
        <result property="price" column="price"/>
        <result property="itemSort" column="item_sort"/>
        <result property="itemGroup" column="item_group"/>
        <result property="groupType" column="group_type"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMealanditemVo">
        select id,
               tcid,
               sfxmid,
               sfbx,
               createdate,
               modifydate,
               is_system,
               price,
               item_sort,
               item_group,
               group_type
        from md_mealanditem
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MealanditemMap">
        <include refid="selectMealanditemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MealanditemMap">
        <include refid="selectMealanditemVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!--获取收费项目-->
    <select id="getItemData" resultType="com.center.medical.sellcrm.bean.vo.ItemDataVo">
        SELECT
            mm.price AS yhj,
            mi.id,
            mm.id AS mealId,
            mi.examfeeitem_name AS sfxmmc,
            mi.sfxmsrm,
            mi.xb,
            mi.jcyy,
            mi.unitprice AS jg,
            mi.bz,
            mi.tjlx,
            mi.depart_name AS ssks,
            mm.sfbx,
            (0) as xmzt,
            mm.tcid,
            pt.print_name AS printType,
            pt.shunxu AS printShunxu,
            mi.costprice
        FROM md_mealanditem mm
        LEFT JOIN md_items mi ON mi.id = mm.sfxmid
        LEFT JOIN md_printtype pt ON pt.id = mi.xsdyfl
        <where>
            1 = 1
            <if test="tcId!=null and tcId!=''">
                AND tcid = #{tcId}
            </if>
        </where>
    </select>


    <!--通过套餐id获取关联表-->
    <select id="getMAIByTcid" resultType="com.center.medical.sellcrm.bean.model.Mealanditem">
        SELECT
            m.*
        FROM
            md_mealanditem m
                INNER JOIN md_items i ON i.id = m.sfxmid
                LEFT JOIN md_printtype p ON p.id = i.xsdyfl
                LEFT JOIN sys_dept d ON d.dept_id = i.id_depart
        WHERE
            m.tcid = #{tcId}
        ORDER BY
            m.item_sort
    </select>

</mapper>

