<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.SellRemindMapper">

    <resultMap type="com.center.medical.sellcrm.bean.model.SellRemind" id="SellRemindMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="khdwid" column="khdwid"/>
        <result property="khdwmc" column="khdwmc"/>
        <result property="remindTime" column="remind_time"/>
        <result property="content" column="content"/>
        <result property="createName" column="create_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSellRemindVo">
        select id,
               createdate,
               modifydate,
               khdwid,
               khdwmc,
               remind_time,
               content,
               create_name,
               status
        from crm_sell_remind
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.sellcrm.bean.vo.SellRemindVo">
        SELECT r.id,
               r.khdwmc,
               STR_TO_DATE(r.remind_time, '%Y-%m-%d %T')            AS remindTime,
               r.content,
               r.status,
               (CASE WHEN r.remind_time <![CDATA[ <= ]]> now() THEN 1 ELSE 0 END) AS due
        FROM crm_sell_remind r
        WHERE r.create_name = #{username}
        ORDER BY r.status, r.remind_time
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SellRemindMap">
        <include refid="selectSellRemindVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

