<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.sellcrm.dao.WsUserMapper">

    <resultMap type="com.center.medical.bean.model.WsUser" id="WsUserMap">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="userType" column="user_type"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="customerId" column="customer_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWsUserVo">
        select user_id,
               dept_id,
               user_name,
               nick_name,
               user_type,
               email,
               phonenumber,
               sex,
               avatar,
               password,
               status,
               del_flag,
               login_ip,
               login_date,
               create_by,
               create_time,
               update_by,
               update_time,
               remark,
               customer_id
        from ws_user
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WsUserMap">
        <include refid="selectWsUserVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WsUserMap">
        <include refid="selectWsUserVo"/>
        <where>
            userId = #{id}
        </where>
    </select>

</mapper>

