<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.DivisionFaircheckMapper">

    <resultMap type="com.center.medical.bean.model.Peispatient" id="PeispatientMap">
        <id property="id" column="id"/>
        <result property="idOrgpatient" column="id_orgpatient"/>
        <result property="idCis" column="id_cis"/>
        <result property="patientarchiveno" column="patientarchiveno"/>
        <result property="patientcode" column="patientcode"/>
        <result property="patientbizno" column="patientbizno"/>
        <result property="idcardno" column="idcardno"/>
        <result property="numorgresv" column="numorgresv"/>
        <result property="patientname" column="patientname"/>
        <result property="inputCode" column="input_code"/>
        <result property="idOrgreservationgroup" column="id_orgreservationgroup"/>
        <result property="idOrgreservation" column="id_orgreservation"/>
        <result property="idOrg" column="id_org"/>
        <result property="orgName" column="org_name"/>
        <result property="orgDepart" column="org_depart"/>
        <result property="havePrivate" column="have_private"/>
        <result property="idPayway" column="id_payway"/>
        <result property="payway" column="payway"/>
        <result property="personpricelimit" column="personpricelimit"/>
        <result property="idSex" column="id_sex"/>
        <result property="birthdate" column="birthdate"/>
        <result property="age" column="age"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="marriage" column="marriage"/>
        <result property="idNation" column="id_nation"/>
        <result property="nation" column="nation"/>
        <result property="address" column="address"/>
        <result property="idInformway" column="id_informway"/>
        <result property="idOpendoctor" column="id_opendoctor"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="idPatientclass" column="id_patientclass"/>
        <result property="idResarea" column="id_resarea"/>
        <result property="resarea" column="resarea"/>
        <result property="fIsforprepare" column="f_isforprepare"/>
        <result property="fIsforreserve" column="f_isforreserve"/>
        <result property="fRegistered" column="f_registered"/>
        <result property="dateregister" column="dateregister"/>
        <result property="guidancenote" column="guidancenote"/>
        <result property="idDoctorreg" column="id_doctorreg"/>
        <result property="doctorreg" column="doctorreg"/>
        <result property="idExamtype" column="id_examtype"/>
        <result property="idExamsuite" column="id_examsuite"/>
        <result property="examsuiteName" column="examsuite_name"/>
        <result property="examsuiteAlias" column="examsuite_alias"/>
        <result property="idDoctorapply" column="id_doctorapply"/>
        <result property="doctorapply" column="doctorapply"/>
        <result property="fGuidanceprinted" column="f_guidanceprinted"/>
        <result property="fExamstarted" column="f_examstarted"/>
        <result property="fReadytofinal" column="f_readytofinal"/>
        <result property="fPaused" column="f_paused"/>
        <result property="fFinallocked" column="f_finallocked"/>
        <result property="fFinalexamed" column="f_finalexamed"/>
        <result property="idDoctorfinal" column="id_doctorfinal"/>
        <result property="doctorfinalNameR" column="doctorfinal_name_r"/>
        <result property="datefinalexamed" column="datefinalexamed"/>
        <result property="fClosed" column="f_closed"/>
        <result property="dateclosed" column="dateclosed"/>
        <result property="note" column="note"/>
        <result property="knowledge" column="knowledge"/>
        <result property="timingstartedat" column="timingstartedat"/>
        <result property="hospitalcode" column="hospitalcode"/>
        <result property="idExamplace" column="id_examplace"/>
        <result property="parsedassignedsuiteandfi" column="parsedassignedsuiteandfi"/>
        <result property="parsedassignedgroupandfi" column="parsedassignedgroupandfi"/>
        <result property="parsedsuiteandfi" column="parsedsuiteandfi"/>
        <result property="parsedsuiteandfilab" column="parsedsuiteandfilab"/>
        <result property="idGuidenurse" column="id_guidenurse"/>
        <result property="patientnameencoded" column="patientnameencoded"/>
        <result property="patientcodehiden" column="patientcodehiden"/>
        <result property="fWordprinted" column="f_wordprinted"/>
        <result property="guidancenote2" column="guidancenote2"/>
        <result property="fUsecodehiden" column="f_usecodehiden"/>
        <result property="idPatientclass3" column="id_patientclass3"/>
        <result property="dateregisternotime" column="dateregisternotime"/>
        <result property="counterreportprinted" column="counterreportprinted"/>
        <result property="fIsrecheck" column="f_isrecheck"/>
        <result property="fSettlenone" column="f_settlenone"/>
        <result property="dateguidancereturned" column="dateguidancereturned"/>
        <result property="fOutpatient" column="f_outpatient"/>
        <result property="patientnamereceipt" column="patientnamereceipt"/>
        <result property="patientnamepinyin" column="patientnamepinyin"/>
        <result property="statusofhm" column="statusofhm"/>
        <result property="instancetag" column="instancetag"/>
        <result property="inpatientno" column="inpatientno"/>
        <result property="insuranceno" column="insuranceno"/>
        <result property="countreportxml" column="countreportxml"/>
        <result property="countreportcompare" column="countreportcompare"/>
        <result property="countreportoccupation" column="countreportoccupation"/>
        <result property="countreportoccupationpdf" column="countreportoccupationpdf"/>
        <result property="countreportoccupationxml" column="countreportoccupationxml"/>
        <result property="scbs" column="scbs"/>
        <result property="idTjtc" column="id_tjtc"/>
        <result property="jzdw" column="jzdw"/>
        <result property="jzdwr" column="jzdwr"/>
        <result property="spr" column="spr"/>
        <result property="tjr" column="tjr"/>
        <result property="lqfs" column="lqfs"/>
        <result property="yzbm" column="yzbm"/>
        <result property="yjaddress" column="yjaddress"/>
        <result property="qtxz" column="qtxz"/>
        <result property="isHmdb" column="is_hmdb"/>
        <result property="isHmd" column="is_hmd"/>
        <result property="isjj" column="isjj"/>
        <result property="zgl" column="zgl"/>
        <result property="jhgl" column="jhgl"/>
        <result property="jhys" column="jhys"/>
        <result property="jktjzt" column="jktjzt"/>
        <result property="zytjzt" column="zytjzt"/>
        <result property="tmyd" column="tmyd"/>
        <result property="medicaldate" column="medicaldate"/>
        <result property="trades" column="trades"/>
        <result property="cjjgsfyhf" column="cjjgsfyhf"/>
        <result property="bhgybsfyhf" column="bhgybsfyhf"/>
        <result property="yxjgsfyhf" column="yxjgsfyhf"/>
        <result property="medicaltype" column="medicaltype"/>
        <result property="prepayment" column="prepayment"/>
        <result property="tcprice" column="tcprice"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="cultural" column="cultural"/>
        <result property="workno" column="workno"/>
        <result property="workDate" column="work_date"/>
        <result property="harmDate" column="harm_date"/>
        <result property="diseasePrintNum" column="disease_print_num"/>
        <result property="healthPrintNum" column="health_print_num"/>
        <result property="readytofinalDate" column="readytofinal_date"/>
        <result property="guideSignleCount" column="guide_signle_count"/>
        <result property="shortCode" column="short_code"/>
        <result property="isNoticed" column="is_noticed"/>
        <result property="reviewPdf" column="review_pdf"/>
        <result property="contraindicatedPdf" column="contraindicated_pdf"/>
        <result property="diseasePdf" column="disease_pdf"/>
        <result property="tsLimit" column="ts_limit"/>
        <result property="checkoutDate" column="checkout_date"/>
        <result property="checkoutStatus" column="checkout_status"/>
        <result property="worktypeId" column="worktype_id"/>
        <result property="idExamclass" column="id_examclass"/>
        <result property="originalTrade" column="original_trade"/>
        <result property="status" column="status"/>
    </resultMap>


    <!-- 查询列表数据 -->
    <select id="listData" resultType="com.center.medical.bean.model.Peispatient">
        SELECT
        p.id,
        p.patientname,
        p.patientcode,
        p.id_sex,
        p.age,
        pt.patient_name as idPatientclass,
        p.id_examtype,
        p.phone,
        m.is_audit as status
        FROM
        md_peispatient p
        LEFT JOIN md_patienttype pt ON pt.id = p.id_patientclass
        LEFT JOIN md_section_result_main m ON m.dep_id = #{ksId}
        AND m.patientcode = p.patientcode
        INNER JOIN md_peispatientfeeitem i ON i.id_ks = #{ksId}
        AND i.id_patient = p.patientcode
        AND ( i.change_item IS NULL OR i.change_item = 0 )
        WHERE
        p.f_registered = 1
        <if test="start!=null">
            AND p.dateregister <![CDATA[ >= ]]> STR_TO_DATE ( #{start} , '%Y-%m-%d %T')
        </if>
        <if test="end!=null">
            AND p.dateregister <![CDATA[ <= ]]> STR_TO_DATE ( #{end}, '%Y-%m-%d %T' )
        </if>
        ORDER BY
        ifnull( m.is_audit, 0 ) ASC,
        p.patientcode ASC
    </select>


    <!-- 查询列表数据 -->
    <select id="selectItemAndBase" resultType="com.center.medical.data.bean.model.Items">
        SELECT e.id as basexamltemId,
               i.id,
               i.examfeeitem_name,
               i.examfeeitem_nameprn,
               e.examitem_nameprn,
               e.examitem_name
        FROM md_peispatientfeeitem f
                 INNER JOIN md_items i ON i.id = f.id_examfeeitem
                 INNER JOIN md_inspect_charge c ON c.charge_id = i.id
            AND c.is_delete = 0
                 INNER JOIN md_basexamltem e ON e.id = c.inspect_id
        WHERE f.id_patient = #{patientCode}
          AND f.id_ks = #{ksId}
          AND f.f_feecharged = 1
          AND f.f_giveup = 0
          AND (f.sfjj IS NULL OR f.sfjj = 0)
          AND f.change_item = 0
          AND f.f_transferedhl7 IS NULL
        ORDER BY c.order_index
    </select>
</mapper>

