<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.DrugstoreDrugMapper">

    <resultMap type="com.center.medical.abteilung.bean.model.DrugstoreDrug" id="DrugstoreDrugMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="drugClass" column="drug_class"/>
        <result property="drugName" column="drug_name"/>
        <result property="drugStandard" column="drug_standard"/>
        <result property="drugPrice" column="drug_price"/>
        <result property="drugPlace" column="drug_place"/>
        <result property="drugType" column="drug_type"/>
        <result property="drugUnit" column="drug_unit"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="costPrice" column="cost_price"/>
        <result property="stock" column="stock"/>
        <result property="isForbidden" column="is_forbidden"/>
        <result property="inputCode" column="input_code"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDrugstoreDrugVo">
        select id,
               createdate,
               modifydate,
               drug_class,
               drug_name,
               drug_standard,
               drug_price,
               drug_place,
               drug_type,
               drug_unit,
               retail_price,
               cost_price,
               stock,
               is_forbidden,
               input_code
        from md_drugstore_drug
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.abteilung.bean.vo.DrugstoreDrugVo">
        SELECT
            d.id AS drugId,
            c.class_name as drugClass,
            d.drug_name,
            d.drug_standard,
            d.drug_price AS drugPrice
        FROM
            md_drugstore_drug d
                INNER JOIN md_drugstore_class c ON c.class_code = d.drug_class
        <where>
            1 = 1
            <if test="param.drugClass!=null and param.drugClass!=''">
                AND d.drug_class = #{param.drugClass}
            </if>
            <if test="param.drugName!=null and param.drugName!=''">
                AND (d.drug_name LIKE concat('%',#{param.drugName},'%')
                OR d.input_code LIKE concat('%',#{param.drugName},'%'))
            </if>
            <if test="param.drugStandard!=null and param.drugStandard!=''">
                AND d.drug_standard LIKE concat('%',#{param.drugStandard},'%')
            </if>
        </where>
        ORDER BY c.class_name,d.drug_name
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DrugstoreDrugMap">
        <include refid="selectDrugstoreDrugVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 不分页查询 -->
    <select id="getSelectData" resultType="com.center.medical.abteilung.bean.vo.DrugstoreDrugVo">
        SELECT
        d.id,
        c.class_name as drugClass,
        d.drug_name,
        d.drug_standard,
        d.drug_price
        FROM
        md_drugstore_drug d
        INNER JOIN md_drugstore_class c ON c.class_code = d.drug_class
        <where>
            1 = 1
            <if test="param.drugClass!=null and param.drugClass!=''">
                AND d.drug_class = #{param.drugClass}
            </if>
            <if test="param.drugName!=null and param.drugName!=''">
                AND (d.drug_name LIKE concat('%',#{param.drugName},'%')
                OR d.input_code LIKE concat('%',#{param.drugName},'%'))
            </if>
            <if test="param.drugStandard!=null and param.drugStandard!=''">
                AND d.drug_standard LIKE concat('%',#{param.drugStandard},'%')
            </if>
        </where>
        ORDER BY c.class_name,d.drug_name
    </select>
</mapper>

