<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.InspectionExportMapper">



    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.abteilung.bean.vo.InspectionExportVo">
        select
            p.patientcode,
            p.patientname,
            p.org_name,
            (case when p.numorgresv =- 1 then null else p.numorgresv end) as ddh,
            e.examitem_name,
            pei.examitemvaluesnumber,
            pei.examitemvaluesshort,
            pei.status,
            pei.units,
            pei.refrange,
            pei.inspect_name,
            pei.audit_name,
            pei.exam_date_time,
            p.dateregister
        from
            md_peispatientfeeitem pi
                inner join md_peispatient p on p.patientcode = pi.id_patient
                inner join md_items i on i.id = pi.id_examfeeitem
                inner join md_inspect_charge c on c.charge_id = i.id
                inner join md_basexamltem e on e.id = c.inspect_id
                left join md_yblx yb on yb.id = i.id_labtype
                left join md_peispatientexamitem pei on pei.id_examitem = e.id
                and pei.id_examfeeitem = i.id
                and pei.patientcode = pi.id_patient
                and pei.dep_id = pi.id_ks
        <where>
            pi.f_giveup = 0
            and pi.id_ks = '19'
            and ( pi.sfjj is null or pi.sfjj = 0 )
            and pi.change_item = 0
            and pi.f_feecharged = 1
            and pi.f_transferedhl7 is null
            and c.is_delete = 0
            and e.is_delete = 0
            and i.examfeeitem_code is not null
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.examId!=null and param.examId!=''">
                AND e.id = #{param.examId}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.startExamTime!=null">
                AND pei.exam_date_time <![CDATA[ >= ]]> #{param.startExamTime}
            </if>
            <if test="param.endExamTime!=null">
                AND pei.exam_date_time <![CDATA[ <= ]]> #{param.endExamTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode = #{param.patientcode}
            </if>
        </where>
        ORDER BY p.patientcode DESC,yb.xh,i.id,c.order_index
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.reception.bean.model.MdPeispatient">

    </select>



    <!-- 查询列表数据 -->
    <select id="getExportData" resultType="com.center.medical.abteilung.bean.vo.InspectionExportVo">
        select
        p.patientcode,
        p.patientname,
        p.org_name,
        (case when p.numorgresv =- 1 then null else p.numorgresv end) as ddh,
        e.examitem_name,
        pei.examitemvaluesnumber,
        pei.examitemvaluesshort,
        pei.status,
        pei.units,
        pei.refrange,
        pei.inspect_name,
        pei.audit_name,
        pei.exam_date_time,
        p.dateregister
        from
        md_peispatientfeeitem pi
        inner join md_peispatient p on p.patientcode = pi.id_patient
        inner join md_items i on i.id = pi.id_examfeeitem
        inner join md_inspect_charge c on c.charge_id = i.id
        inner join md_basexamltem e on e.id = c.inspect_id
        left join md_yblx yb on yb.id = i.id_labtype
        left join md_peispatientexamitem pei on pei.id_examitem = e.id
        and pei.id_examfeeitem = i.id
        and pei.patientcode = pi.id_patient
        and pei.dep_id = pi.id_ks
        <where>
            pi.f_giveup = 0
            and pi.id_ks = '19'
            and ( pi.sfjj is null or pi.sfjj = 0 )
            and pi.change_item = 0
            and pi.f_feecharged = 1
            and pi.f_transferedhl7 is null
            and c.is_delete = 0
            and e.is_delete = 0
            and i.examfeeitem_code is not null
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.examId!=null and param.examId!=''">
                AND e.id = #{param.examId}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.startExamTime!=null">
                AND pei.exam_date_time <![CDATA[ >= ]]> #{param.startExamTime}
            </if>
            <if test="param.endExamTime!=null">
                AND pei.exam_date_time <![CDATA[ <= ]]> #{param.endExamTime}
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode = #{param.patientcode}
            </if>
        </where>
        ORDER BY p.patientcode DESC,yb.xh,i.id,c.order_index
    </select>
</mapper>

