<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.OutsideChargeItemMapper">

    <resultMap type="com.center.medical.abteilung.bean.model.OutsideChargeItem" id="OutsideChargeItemMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="idCharge" column="id_charge"/>
        <result property="idDepart" column="id_depart"/>
        <result property="isDelete" column="is_delete"/>
        <result property="wsjgId" column="wsjg_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOutsideChargeItemVo">
        select id,
               patientcode,
               createdate,
               modifydate,
               id_charge,
               id_depart,
               is_delete,
               wsjg_id
        from md_outside_charge_item
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.abteilung.bean.vo.OutsideVo">
        SELECT
            i.examfeeitem_name as xmmc,
            o.patientcode,
            p.patientname as xm,
            p.id_sex as xb,
            u.user_name as sendPeople,
            w.name as wsjg,
            t.send_date as sendDate,
            o.id,
            t.back_date as backDate,
            us.user_name as backPeople
        FROM md_outside_charge_item o
            INNER JOIN md_outside_main t ON o.patientcode = t.patientcode
            INNER JOIN md_items i ON o.id_charge = i.id
            INNER JOIN md_peispatient p ON o.patientcode = p.patientcode
            LEFT JOIN sys_user u ON t.send_people = u.user_no
            LEFT JOIN sys_user us ON t.back_people = us.user_no
            LEFT JOIN md_wsjg w ON o.wsjg_id = w.id
        <where>
            1 = 1
            AND o.is_delete = 0
            <if test="param.startTime!=null">
                AND t.send_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND t.send_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.wsjg!=null and param.wsjg!=''">
                AND o.wsjg_id = #{param.wsjg}
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode like concat('%',#{param.patientcode})
            </if>
        </where>
        ORDER BY t.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OutsideChargeItemMap">
        <include refid="selectOutsideChargeItemVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 查询列表数据 -->
    <select id="findList" resultType="com.center.medical.abteilung.bean.vo.OutsideVo">
        SELECT
        i.examfeeitem_name as xmmc,
        o.patientcode,
        p.patientname as xm,
        p.id_sex as xb,
        u.user_name as sendPeople,
        w.name as wsjg,
        t.send_date as sendDate,
        o.id,
        t.back_date as backDate,
        us.user_name as backPeople
        FROM md_outside_charge_item o
        INNER JOIN md_outside_main t ON o.patientcode = t.patientcode
        INNER JOIN md_items i ON o.id_charge = i.id
        INNER JOIN md_peispatient p ON o.patientcode = p.patientcode
        LEFT JOIN sys_user u ON t.send_people = u.user_no
        LEFT JOIN sys_user us ON t.back_people = us.user_no
        LEFT JOIN md_wsjg w ON o.wsjg_id = w.id
        <where>
            1 = 1
            AND o.is_delete = 0
            <if test="param.startTime!=null">
                AND t.send_date <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND t.send_date <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.wsjg!=null and param.wsjg!=''">
                AND o.wsjg_id = #{param.wsjg}
            </if>
        </where>
        ORDER BY t.createdate DESC
    </select>



    <!-- 登记外送项目数据获取 -->
    <select id="getPictureWsxmData" resultType="com.center.medical.bean.vo.WsxmDataVo">
        SELECT
            t.id_charge as id,
            i.examfeeitem_name as xmmc,
            i.sfxmsrm as inputCode,
            i.id as idItemName,
            i.examfeeitem_name as itemName,
            i.id_depart as ksId,
            i.depart_name as ksName
        FROM
            md_outside_charge_item t
                LEFT JOIN md_items i ON t.id_charge = i.id
        <where>
            t.is_delete = 0
            AND t.patientcode = #{patientcode}
            <if test="key!=null and key!=''">
                AND i.sfxmsrm LIKE concat('%',#{key},'%')
            </if>
        </where>
        ORDER BY t.createdate DESC
    </select>
</mapper>

