<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.PeisQuestionnaireSecondMapper">

    <resultMap type="com.center.medical.abteilung.bean.model.PeisQuestionnaireSecond" id="PeisQuestionnaireSecondMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="patientname" column="patientname"/>
        <result property="idSex" column="id_sex"/>
        <result property="birthdate" column="birthdate"/>
        <result property="idcardno" column="idcardno"/>
        <result property="isHan" column="is_han"/>
        <result property="idProvince" column="id_province"/>
        <result property="idCity" column="id_city"/>
        <result property="idArea" column="id_area"/>
        <result property="idMarriage" column="id_marriage"/>
        <result property="phone" column="phone"/>
        <result property="family1" column="family1"/>
        <result property="family2" column="family2"/>
        <result property="family3" column="family3"/>
        <result property="family4" column="family4"/>
        <result property="present1" column="present1"/>
        <result property="present2" column="present2"/>
        <result property="present3" column="present3"/>
        <result property="allergy1" column="allergy1"/>
        <result property="medication1" column="medication1"/>
        <result property="medication2" column="medication2"/>
        <result property="operation1" column="operation1"/>
        <result property="body1" column="body1"/>
        <result property="body2" column="body2"/>
        <result property="body3" column="body3"/>
        <result property="body4" column="body4"/>
        <result property="body5" column="body5"/>
        <result property="body6" column="body6"/>
        <result property="body7" column="body7"/>
        <result property="body8" column="body8"/>
        <result property="body9" column="body9"/>
        <result property="smoke1" column="smoke1"/>
        <result property="smoke2" column="smoke2"/>
        <result property="smoke3" column="smoke3"/>
        <result property="smoke4" column="smoke4"/>
        <result property="drink1" column="drink1"/>
        <result property="sport1" column="sport1"/>
        <result property="sport2" column="sport2"/>
        <result property="sport3" column="sport3"/>
        <result property="environment1" column="environment1"/>
        <result property="sleep1" column="sleep1"/>
        <result property="sleep2int" column="sleep2int"/>
        <result property="examination1" column="examination1"/>
        <result property="creator" column="creator"/>
        <result property="sleep2Other" column="sleep2_other"/>
        <result property="medication2Other" column="medication2_other"/>
        <result property="present2Other" column="present2_other"/>
        <result property="family3Other" column="family3_other"/>
        <result property="family2Other" column="family2_other"/>
        <result property="operation1Other" column="operation1_other"/>
        <result property="appUserId" column="app_user_id"/>
        <result property="sleep2" column="sleep2"/>
        <result property="body10" column="body10"/>
        <result property="patientbizno" column="patientbizno"/>
        <result property="bmi" column="bmi"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeisQuestionnaireSecondVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               patientname,
               id_sex,
               birthdate,
               idcardno,
               is_han,
               id_province,
               id_city,
               id_area,
               id_marriage,
               phone,
               family1,
               family2,
               family3,
               family4,
               present1,
               present2,
               present3,
               allergy1,
               medication1,
               medication2,
               operation1,
               body1,
               body2,
               body3,
               body4,
               body5,
               body6,
               body7,
               body8,
               body9,
               smoke1,
               smoke2,
               smoke3,
               smoke4,
               drink1,
               sport1,
               sport2,
               sport3,
               environment1,
               sleep1,
               sleep2int,
               examination1,
               creator,
               sleep2_other,
               medication2_other,
               present2_other,
               family3_other,
               family2_other,
               operation1_other,
               app_user_id,
               sleep2,
               body10,
               patientbizno,
               bmi,
               height,
               weight
        from md_peis_questionnaire_second
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeisQuestionnaireSecondMap">
        <include refid="selectPeisQuestionnaireSecondVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeisQuestionnaireSecondMap">
        <include refid="selectPeisQuestionnaireSecondVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

