<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.abteilung.dao.SampleDeliveryMapper">

    <resultMap type="com.center.medical.abteilung.bean.model.SampleDelivery" id="SampleDeliveryMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="sampleNo" column="sample_no"/>
        <result property="deliveryTime" column="delivery_time"/>
        <result property="deliveryName" column="delivery_name"/>
        <result property="isQualified" column="is_qualified"/>
        <result property="recipient" column="recipient"/>
        <result property="departmentId" column="department_id"/>
        <result property="unQualifiedId" column="un_qualified_id"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
        <result property="isVisit" column="is_visit"/>
        <result property="patientcode" column="patientcode"/>
        <result property="idExamfeeitem" column="id_examfeeitem"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSampleDeliveryVo">
        select id,
               createdate,
               modifydate,
               sample_no,
               delivery_time,
               delivery_name,
               is_qualified,
               recipient,
               department_id,
               un_qualified_id,
               create_id,
               modify_id,
               is_visit,
               patientcode,
               id_examfeeitem,
               is_delete
        from md_sample_delivery
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.abteilung.bean.vo.SampleDeVo">
        SELECT
            s.id,
            s.patientcode,
            p.patientname,
            CASE
                WHEN p.id_sex = '0' THEN
                    '男'
                WHEN p.id_sex = '1' THEN
                    '女' ELSE ''
                END as sex,
            i.examfeeitem_name,
            s.create_id,
            STR_TO_DATE( s.createdate, '%Y-%m-%d' ) as createdate
        FROM
            md_sample_delivery s
                INNER JOIN md_peispatient p ON p.patientcode = s.patientcode
                INNER JOIN md_items i ON i.id = s.id_examfeeitem
        <where>
            s.is_delete = 0
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND s.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND s.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND s.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY  s.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SampleDeliveryMap">
        <include refid="selectSampleDeliveryVo"/>
        <where>
            id = #{id}
            AND is_delete = 0
        </where>
    </select>


    <!-- 查询导出数据 -->
    <select id="export" resultType="com.center.medical.abteilung.bean.vo.SampleDeVo">
        SELECT
        s.id,
        s.patientcode,
        p.patientname,
        CASE
        WHEN p.id_sex = '0' THEN
        '男'
        WHEN p.id_sex = '1' THEN
        '女' ELSE ''
        END as sex,
        i.examfeeitem_name,
        s.create_id,
        STR_TO_DATE( s.createdate, '%Y-%m-%d' ) as createdate
        FROM
        md_sample_delivery s
        INNER JOIN md_peispatient p ON p.patientcode = s.patientcode
        INNER JOIN md_items i ON i.id = s.id_examfeeitem
        <where>
            s.is_delete = 0
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND s.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname LIKE concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND s.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND s.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY  s.createdate DESC
    </select>
</mapper>

