<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.machine.dao.TeamRegisterMapper">


    <!-- 获取所有检查项目 -->
    <select id="getAllItems" resultType="com.center.medical.machine.bean.dto.GetAllItemsDto">
        SELECT
        id AS id,
        cast(factprice AS DECIMAL ( 12, 2 )) AS price
        FROM
        md_peispatientfeeitem
        WHERE
        id_patient = #{patientCode}
        AND id_payway <![CDATA[ <> ]]> 5
        AND IFNULL ( f_feecharged, 0 ) <![CDATA[ <> ]]> 1
    </select>


    <!-- 获取最大的顺序 -->
    <select id="getChargeMaxNumIndex" resultType="java.lang.Integer">
        SELECT
            max( num_index ) AS numIndex
        FROM
            md_peispatientcharge
        WHERE
            patientcode = #{patientCode}
    </select>
</mapper>

