package ${packageName}.service.impl;

import java.util.List;
#foreach ($column in $columns)
    #if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import com.center.medical.common.utils.DateUtils;
        #break
    #end
#end
import org.springframework.stereotype.Service;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.center.medical.common.utils.page.PageParam;
#if($table.sub)
import org.springframework.transaction.annotation.Transactional;
    ${subClassName};
#end
import ${packageName}.dao.${ClassName}Mapper;
    ${ClassName};
import ${packageName}.service.I${ClassName}Service;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
@RequiredArgsConstructor
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}> implements I${ClassName}Service {
    private final ${ClassName}Mapper ${className}Mapper;

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}
     */
    @Override
    public ${ClassName} getDetailBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField}) {
        #if($table.sub)
        //TODO 实现查询子表数据
        #end
        return ${className}Mapper.selectById(${pkColumn.javaField});
    }

    /**
     * 查询${functionName}列表
     *
     * @param  param 查询参数
     * @return ${functionName}
     */
    @Override
    public IPage<${ClassName}> getList(PageParam<${ClassName}> page, ${ClassName}  param) {
        #if($table.sub)
        //TODO 实现查询子表数据
        #end
        return ${className}Mapper.getList(page, param);
    }

    /**
     * 新增${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    #if($table.sub)
    @Transactional(rollbackFor = Exception.class)
    #end
    @Override
    public int insertNew(${ClassName} ${className}) {
    #foreach ($column in $columns)
    #if($column.javaField == 'createTime')
        ${className}.setCreateTime(DateUtils.getNowDate());
    #end
    #end
    #if($table.sub)
        //TODO 实现新增子表数据
    #else
        return ${className}Mapper.insert(${className});
    #end
    }

    /**
     * 修改${functionName}
     *
     * @param ${className} ${functionName}
     * @return 结果
     */
    #if($table.sub)
    @Transactional(rollbackFor = Exception.class)
    #end
    @Override
    public int upById(${ClassName} ${className}) {
    #foreach ($column in $columns)
    #if($column.javaField == 'updateTime')
        ${className}.setUpdateTime(DateUtils.getNowDate());
    #end
    #end
    #if($table.sub)
        //TODO 实现更新子表数据
    #end
        return ${className}Mapper.updateById(${className});
    }

    /**
     * 批量删除${functionName}
     *
     * @param ${pkColumn.javaField}s 需要删除的${functionName}主键
     * @return 结果
     */
    #if($table.sub)
    @Transactional(rollbackFor = Exception.class)
    #end
    @Override
    public int  delBy${pkColumn.capJavaField}s(List<${pkColumn.javaType}> ${pkColumn.javaField}s) {
        #if($table.sub)
        //TODO 实现删除子表数据
        #end
        return ${className}Mapper.deleteBatchIds(${pkColumn.javaField}s);
    }

    /**
     * 删除${functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return 结果
     */
    #if($table.sub)
    @Transactional(rollbackFor = Exception.class)
    #end
    @Override
    public int  delBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField}) {
        #if($table.sub)
        //TODO 实现删除子表数据
        #end
        return ${className}Mapper.deleteById(${pkColumn.javaField});
    }

}
