<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.DaySalesVolumeMapper">


    <!-- 当日线下业绩 -->
    <select id="getDaySalesVolume" resultType="com.center.medical.finance.bean.vo.DaySalesVolumeVo">
        SELECT
        b.fzx,
        ifnull(sum(pi.factprice), 0.0) amount
        FROM
        md_peispatientfeeitem pi
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        INNER JOIN md_business_cat bc ON bc.type_id = i.bs_cat_id
        INNER JOIN md_peispatient p on p.patientcode = pi.id_patient
        INNER JOIN sys_branch b ON p.hospitalcode = b.branch_id
        WHERE
        pi.f_feecharged = 1
        <if test="param.time!=null">
            AND pi.feechargetime <![CDATA[ >= ]]> #{param.time}
            AND pi.feechargetime <![CDATA[ <= ]]> DATE_FORMAT(#{param.time}, '%Y-%m-%d 23:59:59')
        </if>
        <if test="param.ids!=null and param.ids.size > 0">
            AND bc.type_id IN
            <foreach collection="param.ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY
        b.fzx,
        bc.seq
    </select>


    <!-- 活动套餐-获取活动套餐种类 -->
    <select id="getActivityMeal" resultType="com.center.medical.finance.bean.vo.ActivityMealVo">
        SELECT
        m.id,
        m.tjtcmc
        FROM
        md_createmeal m
        INNER JOIN md_mealandfzx mf ON mf.tcid = m.id
        LEFT JOIN crm_sellcustomer s ON s.id = m.khdwmcid
        INNER JOIN (
        SELECT
        mfin.tcid,
        GROUP_CONCAT( mfin.fzxid ) AS fzxid
        FROM
        md_mealandfzx mfin
        GROUP BY
        tcid
        ) a ON a.tcid = m.id
        <where>
            m.is_delete = 0
            AND m.forbidden IS NULL
            AND m.zhjg IS NOT NULL
            <if test="param.tjtcmc!=null and param.tjtcmc!=''">
                AND m.tjtcmc like concat('%',#{param.tjtcmc},'%')
            </if>
        </where>
        GROUP BY
        m.id,
        m.tjtcmc,
        m.tjlx,
        m.tjtcjc,
        m.tjtcsrm,
        m.jhys,
        m.syxb,
        m.tcysjg,
        m.tczk,
        s.khdwmc,
        m.sfybd,
        m.sfwc,
        m.nlz,
        m.nld,
        m.fkfs,
        m.zytjlb,
        m.combostate,
        m.sfzx,
        m.createdate,
        a.fzxid,
        m.forbidden
        ORDER BY
        m.createdate DESC
    </select>


    <!-- 活动套餐-列表 -->
    <select id="getActivityMealList" resultType="com.center.medical.finance.bean.vo.ActivityMealListVo">
        SELECT
        cm.id,
        cm.tjtcmc,
        IFNULL(SUM(p.moneyamountpaid),0) AS amountTotal,
        IFNULL(SUM(p2.moneyamountpaid),0) AS amount,
        b.fzx
        FROM
        md_peispatient p
        INNER JOIN sys_branch b ON b.branch_id = p.hospitalcode AND b.is_show = 1
        LEFT JOIN md_createmeal cm ON p.id_tjtc = cm.id
        LEFT JOIN md_peispatient p2 ON p.patientcode = p2.patientcode
        <if test="now!=null">
            AND p.dateregister <![CDATA[ >= ]]> #{now}
            AND p.dateregister <![CDATA[ <= ]]> DATE_FORMAT(#{now}, '%Y-%m-%d 23:59:59')
        </if>
        <where>
            p.f_registered = 1
            AND p.examsuite_name is not null
            AND p.examsuite_name !=''
            AND p.id_tjtc = #{id}
            AND b.is_show = 1
        </where>
        GROUP BY
        p.id_tjtc,
        p.examsuite_name
        ORDER BY
        amountTotal DESC
    </select>


    <!-- 当日线下业绩 -->
    <select id="findOption" resultType="com.center.medical.finance.bean.dto.DSVOptionDto">
        SELECT
        b.fzx,
        type_name,
        ifnull(sum(pi.factprice), 0.0) amount
        FROM
        md_peispatientfeeitem pi
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        INNER JOIN md_business_cat bc ON bc.type_id = i.bs_cat_id
        INNER JOIN md_peispatient p on p.patientcode = pi.id_patient
        INNER JOIN sys_branch b ON p.hospitalcode = b.branch_id
        <where>
            pi.f_feecharged = 1
            <if test="time!=null">
                AND pi.feechargetime <![CDATA[ >= ]]> #{time}
                AND pi.feechargetime <![CDATA[ <= ]]> DATE_FORMAT(#{time}, '%Y-%m-%d 23:59:59')
            </if>
            AND bc.type_id = #{id}
        </where>
        GROUP BY
        b.fzx
    </select>


    <!-- 查询来检人数 -->
    <select id="findOptionCount" resultType="com.center.medical.finance.bean.dto.DSVOptionDto">
        SELECT
        b.fzx,
        type_name,
        ifnull( count( DISTINCT p.patientcode ), 0.0 ) amount
        FROM
        md_peispatientfeeitem pi
        INNER JOIN md_items i ON i.id = pi.id_examfeeitem
        INNER JOIN md_business_cat bc ON bc.type_id = i.bs_cat_id
        INNER JOIN md_peispatient p on p.patientcode = pi.id_patient
        INNER JOIN sys_branch b ON p.hospitalcode = b.branch_id
        <where>
            pi.f_feecharged = 1
            <if test="time!=null">
                AND pi.feechargetime <![CDATA[ >= ]]> #{time}
                AND pi.feechargetime <![CDATA[ <= ]]> DATE_FORMAT(#{time}, '%Y-%m-%d 23:59:59')
            </if>
            <if test="id!=null and id!=''">
                AND bc.type_id = #{id}
            </if>
        </where>
        GROUP BY
        b.fzx
    </select>



    <!-- 查询来检人数 -->
    <select id="findInCome" resultType="com.center.medical.finance.bean.dto.ISDataDto">
        SELECT
        b.fzx,
        ifnull( count( DISTINCT p.patientcode ), 0.0 ) as value
        FROM
        md_peispatient p
        INNER JOIN sys_branch b ON p.hospitalcode = b.branch_id
        <where>
            p.f_registered = 1
            <if test="time!=null">
                AND STR_TO_DATE(p.dateregister,'%Y-%m') = STR_TO_DATE(#{time},'%Y-%m')
            </if>
        </where>
        GROUP BY
        b.fzx
    </select>


    <!-- 查询来检金额 -->
    <select id="findInComeMoney" resultType="com.center.medical.finance.bean.dto.ISDataDto">
        SELECT
        b.fzx,
        ifnull(sum(pm.moneyamountpaid), 0.0) as value
        FROM
        md_peispatient p
        INNER JOIN sys_branch b ON p.hospitalcode = b.branch_id
        INNER JOIN md_peispatient_charge_main pm ON pm.patientcode = p.patientcode
        <where>
            p.f_registered = 1
            <if test="time!=null">
                AND STR_TO_DATE(p.dateregister,'%Y-%m') = STR_TO_DATE(#{time},'%Y-%m')
            </if>
        </where>
        GROUP BY
        b.fzx
    </select>
</mapper>

