<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.IndividualCustStatisticsMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.ICPageVo">
        SELECT qu.user_name AS jlmc,
        p.patientcode AS tjh,
        p.patientname AS tjrymc,
        IFNULL(sum(pc.moneyamountpaid), 0) AS kstchj,
        IFNULL(pcm.moneyamount, 0) AS sf,
        (IFNULL(pcm.moneyamount, 0) - IFNULL(sum(pc.moneyamountpaid), 0)) AS bkstc,
        STR_TO_DATE(p.dateregister, '%Y-%m-%d %T') AS djrq,
        p.examsuite_name AS tcmc,
        IFNULL(sum(CASE WHEN pc.is_add = 1 THEN pc.moneyamountpaid ELSE 0 END), 0) AS jxyhjhj,
        (IFNULL(sum(pc.moneyamountpaid), 0) - IFNULL(sum(CASE WHEN pc.is_add = 1 THEN pc.moneyamountpaid ELSE 0 END),
        0)) AS sjtcs,
        pp.lastJlmc
        FROM md_peispatient p
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        INNER JOIN md_peispatientcharge pc ON pc.patientcode = p.patientcode
        INNER JOIN md_dictpayway pw ON pc.id_payway = pw.id
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN lateral (
            SELECT
                p2.doctorapply lastJlmc
            FROM
                md_peispatient p2
            WHERE
                p2.idcardno = p.idcardno
                AND p2.f_registered = 1
                AND p2.dateregister <![CDATA[ < ]]> p.dateregister AND p2.dateregister <![CDATA[ >= ]]> DATE_SUB( p.dateregister, INTERVAL 1 YEAR )
                AND p2.f_usecodehiden = 1
            ORDER BY
                p2.dateregister DESC
            LIMIT 1
        ) pp ON 1 = 1
        <where>
            qu.del_flag = 0
            AND pw.id != '43'
            AND pw.f_hideondailyreport = 1
            AND p.f_usecodehiden = 0
            AND NOT EXISTS(
            SELECT 1
            FROM md_peispatientfeeitem pei_t
            INNER JOIN md_items i_t ON i_t.id = pei_t.id_examfeeitem
            WHERE pei_t.id_patient = p.patientcode
            AND pei_t.change_item = 0
            AND pei_t.f_feecharged = 1
            AND i_t.id_depart = 'ff8080817bc96399017bd2c73a0c5e96'
            )
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND qu.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND qu.user_name LIKE concat('%',#{param.xsjl},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.depart!=null and param.depart == 1">
                AND EXISTS (
                SELECT
                1
                FROM
                sys_user_dep qud
                INNER JOIN sys_dept qd ON qd.dept_no = qud.dep_id
                WHERE
                qud.user_id = qu.user_no
                AND qd.dept_name = '客服部')
            </if>
        </where>
        GROUP BY
        qu.user_name,
        p.patientcode,
        p.patientname,
        pcm.moneyamount,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d %T' ),
        p.examsuite_name,
        p.dateregister
        ORDER BY
        p.dateregister DESC,
        qu.user_name DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>


    <!-- 导出客服销售统计 -->
    <select id="getExportData" resultType="com.center.medical.finance.bean.vo.ICPageVo">
        SELECT qu.user_name AS jlmc,
        p.patientcode AS tjh,
        p.patientname AS tjrymc,
        IFNULL(sum(pc.moneyamountpaid), 0) AS kstchj,
        IFNULL(pcm.moneyamount, 0) AS sf,
        (IFNULL(pcm.moneyamount, 0) - IFNULL(sum(pc.moneyamountpaid), 0)) AS bkstc,
        STR_TO_DATE(p.dateregister, '%Y-%m-%d %T') AS djrq,
        p.examsuite_name AS tcmc,
        IFNULL(sum(CASE WHEN pc.is_add = 1 THEN pc.moneyamountpaid ELSE 0 END), 0) AS jxyhjhj,
        (IFNULL(sum(pc.moneyamountpaid), 0) - IFNULL(sum(CASE WHEN pc.is_add = 1 THEN pc.moneyamountpaid ELSE 0 END),
        0)) AS sjtcs,
        pp.lastJlmc
        FROM md_peispatient p
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        INNER JOIN md_peispatientcharge pc ON pc.patientcode = p.patientcode
        INNER JOIN md_dictpayway pw ON pc.id_payway = pw.id
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN lateral (
            SELECT
                p2.doctorapply lastJlmc
            FROM
                md_peispatient p2
            WHERE
                p2.idcardno = p.idcardno
                AND p2.f_registered = 1
                AND p2.dateregister <![CDATA[ < ]]> p.dateregister AND p2.dateregister <![CDATA[ >= ]]> DATE_SUB( p.dateregister, INTERVAL 1 YEAR )
                AND p2.f_usecodehiden = 1
            ORDER BY
                p2.dateregister DESC
            LIMIT 1
        ) pp ON 1 = 1
        <where>
            qu.del_flag = 0
            AND pw.id != '43'
            AND pw.f_hideondailyreport = 1
            AND p.f_usecodehiden = 0
            AND NOT EXISTS(
            SELECT 1
            FROM md_peispatientfeeitem pei_t
            INNER JOIN md_items i_t ON i_t.id = pei_t.id_examfeeitem
            WHERE pei_t.id_patient = p.patientcode
            AND pei_t.change_item = 0
            AND pei_t.f_feecharged = 1
            AND i_t.id_depart = 'ff8080817bc96399017bd2c73a0c5e96'
            )
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND qu.cid IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND qu.user_name LIKE concat('%',#{param.xsjl},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.depart!=null and param.depart == 1">
                AND EXISTS (
                SELECT
                1
                FROM
                sys_user_dep qud
                INNER JOIN sys_dept qd ON qd.dept_no = qud.dep_id
                WHERE
                qud.user_id = qu.user_no
                AND qd.dept_name = '客服部')
            </if>
        </where>
        GROUP BY
        qu.user_name,
        p.patientcode,
        p.patientname,
        pcm.moneyamount,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d %T' ),
        p.examsuite_name,
        p.dateregister
        ORDER BY
        p.dateregister DESC,
        qu.user_name DESC
    </select>
</mapper>

