<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.TallyQueryMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.TQPageVo">
        SELECT
        min( vation.org_name ) orgName,
        min( p.patientcode ) patientcode,
        min( p.patientname ) name,
        min( prcharge.jzje - prcharge.moneyamountpaid ) paid,
        min( prcharge.jzje ) jzje,
        min( p.jzdwr ) jzr,
        min( p.jzdw ) jzdw,
        min( STR_TO_DATE( charge.feechargetime, '%Y-%m-%d %T' )) jzDate,
        min( p.spr ) spr,
        min( p.doctorapply ) doctorapply,
        min( p.note ) note,
        min( prcharge.jsdate ) jsDate,
        min( prcharge.id ) id,
        min( prcharge.moneyamountpaid ) ypid,
        group_concat(DISTINCT u.user_name ) as feechargerName
        FROM
        md_peispatient p
        LEFT JOIN md_peispatientcharge charge ON p.patientcode = charge.patientcode
        LEFT JOIN md_peispatient_reservation_charge prcharge ON p.patientcode = prcharge.patientcode
        LEFT JOIN md_peis_reser_payway prp ON prcharge.id = prp.id_charge
        LEFT JOIN md_peisorgreservation vation ON p.id_org = vation.id_org
        LEFT JOIN md_dictpayway dpw ON charge.id_payway = dpw.id
        LEFT JOIN sys_user u on u.user_no = charge.id_feecharger
        <where>
            dpw.payway_name = '记账'
            AND charge.is_delete = 0
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.name!=null and param.name!=''">
                AND (p.input_code = #{param.name}
                OR p.patientname = #{param.name})
            </if>
            <if test="param.khdwmcid!=null and param.khdwmcid!=''">
                AND p.id_org = #{param.khdwmcid}
            </if>
            <if test="param.jzdw!=null and param.jzdw!=''">
                AND p.jzdw LIKE concat('%',#{param.jzdw},'%')
            </if>
            <if test="param.startTime!=null">
                AND charge.feechargetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND charge.feechargetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.jsStartTime!=null">
                AND prcharge.jsdate <![CDATA[ >= ]]> #{param.jsStartTime}
            </if>
            <if test="param.jsEndTime!=null">
                AND prcharge.jsdate <![CDATA[ <= ]]> #{param.jsEndTime}
            </if>
            <if test="param.jzr!=null and param.jzr!=''">
                AND p.jzdwr LIKE concat('%',#{param.jzr},'%')
            </if>
        </where>
        GROUP BY p.patientcode, p.createdate
        <if test="param.js!=null">
            <if test="param.js == 0">
                HAVING SUM(prcharge.jzje - prcharge.moneyamountpaid) > 0
            </if>
            <if test="param.js == 1">
                HAVING SUM(prcharge.jzje - prcharge.moneyamountpaid) <![CDATA[ <= ]]> 0
            </if>
        </if>
        ORDER BY p.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">


    </select>


    <!-- 记帐查询数据导出 -->
    <select id="getExportData" resultType="com.center.medical.finance.bean.vo.TQPageVo">
        SELECT
        min( vation.org_name ) orgName,
        min( p.patientcode ) patientcode,
        min( p.patientname ) name,
        min( prcharge.jzje - prcharge.moneyamountpaid ) paid,
        min( prcharge.jzje ) jzje,
        min( p.jzdwr ) jzr,
        min( p.jzdw ) jzdw,
        min( STR_TO_DATE( charge.feechargetime, '%Y-%m-%d %T' )) jzDate,
        min( p.spr ) spr,
        min( p.doctorapply ) doctorapply,
        min( p.note ) note,
        min( prcharge.jsdate ) jsDate,
        min( prcharge.id ) id,
        min( prcharge.moneyamountpaid ) ypid
        FROM
        md_peispatient p
        LEFT JOIN md_peispatientcharge charge ON p.patientcode = charge.patientcode
        LEFT JOIN md_peispatient_reservation_charge prcharge ON p.patientcode = prcharge.patientcode
        LEFT JOIN md_peis_reser_payway prp ON prcharge.id = prp.id_charge
        LEFT JOIN md_peisorgreservation vation ON p.id_org = vation.id_org
        LEFT JOIN md_dictpayway dpw ON charge.id_payway = dpw.id
        <where>
            dpw.payway_name = '记账'
            AND charge.is_delete = 0
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.name!=null and param.name!=''">
                AND (p.input_code LIKE concat('%',#{param.name},'%')
                OR p.patientname LIKE concat('%',#{param.name},'%') )
            </if>
            <if test="param.khdwmcid!=null and param.khdwmcid!=''">
                AND p.id_org = #{param.khdwmcid}
            </if>
            <if test="param.jzdw!=null and param.jzdw!=''">
                AND p.jzdw LIKE concat('%',#{param.jzdw},'%')
            </if>
            <if test="param.startTime!=null">
                AND charge.feechargetime <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND charge.feechargetime <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.jsStartTime!=null">
                AND prcharge.jsdate <![CDATA[ >= ]]> #{param.jsStartTime}
            </if>
            <if test="param.jsEndTime!=null">
                AND prcharge.jsdate <![CDATA[ <= ]]> #{param.jsEndTime}
            </if>
            <if test="param.jzr!=null and param.jzr!=''">
                AND p.jzdwr LIKE concat('%',#{param.jzr},'%')
            </if>
        </where>
        GROUP BY p.patientcode, p.createdate
        <if test="param.js!=null">
            <if test="param.js == 0">
                HAVING SUM(prcharge.jzje - prcharge.moneyamountpaid) > 0
            </if>
            <if test="param.js == 1">
                HAVING SUM(prcharge.jzje - prcharge.moneyamountpaid) <![CDATA[ <= ]]> 0
            </if>
        </if>
        ORDER BY p.createdate DESC
    </select>



    <!-- 记帐查询数据导出 -->
    <select id="getRemitter" resultType="com.center.medical.finance.bean.vo.RemitterVo">
        SELECT DISTINCT
            remitter
        FROM
            kd_remittance
        <where>
            <if test="key!=null and key!=''">
                AND remitter LIKE concat('%',#{key},'%')
            </if>
        </where>
        ORDER BY remitter DESC
    </select>
</mapper>

