<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.TeamChargeMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.TCPageVo">
        SELECT g.id,
        v.id_org AS khdwid,
        o.ddh AS orderNum,
        v.org_name,
        IFNULL(sum(pc.moneyamountpaid), 0) AS ys,
        IFNULL(g.reality_money, 0) AS sf,
        (IFNULL(sum(pc.moneyamountpaid), 0) - IFNULL(g.reality_money, 0)) AS balance,
        v.createdate,
        o.xsjl AS czxsjl,
        v.ddh AS orderId
        FROM md_peisorgreservation v
        INNER JOIN md_createorder o ON o.id = v.ddh
        AND o.spzt = 4
        INNER JOIN md_orderandfzx oaf ON o.id = oaf.ddid
        AND oaf.fzxid = #{param.fzxId}
        LEFT JOIN md_group_balance g ON g.order_id = o.id
        LEFT JOIN md_peispatient p ON p.id_orgreservation = v.id
        LEFT JOIN md_peispatientcharge pc ON pc.patientcode = p.patientcode
        AND pc.f_feecharged = 1
        AND pc.id_payway = '5'
        <where>
            1 = 1
            <if test="param.orderNum!=null and param.orderNum!=''">
                AND o.ddh = #{param.orderNum}
            </if>
            <if test="param.khdwmcid!=null and param.khdwmcid!=''">
                AND v.id_org = #{param.khdwmcid}
            </if>
            <if test="param.startTime!=null">
                AND g.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND g.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND o.xsjl LIKE concat('%',#{param.xsjl},'%')
            </if>
        </where>
        GROUP BY
        g.id,
        v.id_org,
        o.ddh,
        v.org_name,
        g.reality_money,
        v.createdate,
        o.xsjl,
        v.ddh
        ORDER BY
        v.createdate DESC
    </select>


    <!-- 导出团体结算数据 -->
    <select id="getExportData" resultType="com.center.medical.finance.bean.vo.TCExportVo">
        SELECT g.ddh,
        g.org_name,
        IFNULL(g.ys, 0) AS ys,
        IFNULL(p.moneyamountpaid, 0) AS moneyamountpaid,
        (IFNULL(g.ys, 0) - IFNULL(p.moneyamountpaid, 0)) AS dj,
        w.payway_name,
        u.user_name,
        STR_TO_DATE(p.moneyamountpaiddate, '%Y-%m-%d %T') AS moneyamountpaiddate,
        p.cardno,
        p.note,
        IFNULL(g.xsjl, '') AS xsjl
        FROM (
        SELECT
        g.id,
        v.id_org,
        o.ddh,
        v.org_name,
        IFNULL ( sum( pc.moneyamountpaid ), 0 ) ys,
        IFNULL ( g.reality_money, 0 ) sf,
        v.createdate,
        o.xsjl,
        v.ddh AS orderid
        FROM md_peisorgreservation v
        INNER JOIN md_createorder o ON o.id = v.ddh
        AND o.spzt = 4
        INNER JOIN md_orderandfzx oaf ON o.id = oaf.ddid
        AND oaf.fzxid = #{param.fzxId}
        LEFT JOIN md_group_balance g ON g.order_id = o.id
        LEFT JOIN md_peispatient p ON p.id_orgreservation = v.id
        LEFT JOIN md_peispatientcharge pc ON pc.patientcode = p.patientcode
        AND pc.f_feecharged = 1
        AND pc.id_payway = '5'
        <where>
            1 = 1
            <if test="param.orderNum!=null and param.orderNum!=''">
                AND o.ddh = #{param.orderNum}
            </if>
            <if test="param.khdwmcid!=null and param.khdwmcid!=''">
                AND v.id_org = #{param.khdwmcid}
            </if>
            <if test="param.startTime!=null">
                AND g.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND g.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND o.xsjl LIKE concat('%',#{param.xsjl},'%')
            </if>
        </where>
        GROUP BY
        g.id,
        v.id_org,
        o.ddh,
        v.org_name,
        g.reality_money,
        v.createdate,
        o.xsjl,
        v.ddh
        ORDER BY
        v.createdate DESC) g
        LEFT JOIN md_peis_reser_payway p ON p.id_charge = g.id
        LEFT JOIN md_dictpayway w ON w.id = p.id_payway
        LEFT JOIN sys_user u ON u.user_no = p.id_feecharger
        ORDER BY g.createdate DESC,
        p.createdate
    </select>
</mapper>

