<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.pacs.dao.PacsItemsBasicMapper">
    <select id="getPage" resultType="com.center.medical.pacs.bean.vo.PacsItemsListVo">
        select
            i.id,
            i.examfeeitem_name,
            i.sfxmsrm,
            i.examfeeitem_code,
            i.depart_name,
            i.xb,
            i.examfeeitem_nameprn,
            i.xh,
            i.jcyy
        from
            md_pacs_items i
        where
            i.is_delete=0
        <if test="param.sfxmsrm!=null and param.sfxmsrm!=''">
            and i.sfxmsrm like concat('%',#{param.sfxmsrm},'%')
        </if>
        <if test="param.examfeeitemName!=null and param.examfeeitemName!=''">
            and i.examfeeitem_name like concat('%',#{param.examfeeitemName},'%')
        </if>
        <if test="param.xb!=null and param.xb!=''">
            and i.xb = #{param.xb}
        </if>
        <if test="param.idDepart!=null and param.idDepart!=''">
            and i.id_depart = #{param.idDepart}
        </if>
        <if test="param.examfeeitemCode!=null and param.examfeeitemCode!=''">
            and i.examfeeitem_code = #{param.examfeeitemCode}
        </if>
        order by i.modifydate desc,examfeeitem_name
    </select>
    <select id="getExamPage" resultType="com.center.medical.pacs.bean.vo.PacsItemExamPageVo">
        select
            e.examitem_name,
            e.f_male,
            d.dept_name,
            e.type
        from
            md_pacs_basexamltem e
        inner join
            sys_dept d on d.dept_no=e.division_id
        inner join
            md_pacs_inspect_charge ic on ic.charge_id=#{id} and ic.inspect_id=e.id and ic.is_delete=0
        order by order_index
    </select>
    <select id="getExamList" resultType="com.center.medical.pacs.bean.vo.PacsItemExamListVo">
        select
            ic.id,
            ic.inspect_id,
            ic.order_index,
            e.examitem_name,
            e.f_male,
            d.dept_name,
            e.type
        from
            md_pacs_basexamltem e
        inner join
            sys_dept d on d.dept_no=e.division_id
        inner join
            md_pacs_inspect_charge ic on ic.charge_id=#{id} and ic.inspect_id=e.id and ic.is_delete=0
        order by order_index
    </select>
</mapper>