<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.CardMapper">

    <resultMap type="com.center.medical.finance.bean.model.Card" id="CardMap">
        <id property="id" column="id"/>
        <result property="cardNo" column="card_no"/>
        <result property="balanceLimit" column="balance_limit"/>
        <result property="createdate" column="createdate"/>
        <result property="createId" column="create_id"/>
        <result property="modifydate" column="modifydate"/>
        <result property="modifyId" column="modify_id"/>
        <result property="typeId" column="type_id"/>
        <result property="sellId" column="sell_id"/>
        <result property="sellTime" column="sell_time"/>
        <result property="validity" column="validity"/>
        <result property="cardState" column="card_state"/>
        <result property="memo" column="memo"/>
        <result property="getterId" column="getter_id"/>
        <result property="getTime" column="get_time"/>
        <result property="grantId" column="grant_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="cardPrefix" column="card_prefix"/>
        <result property="cardLogo" column="card_logo"/>
        <result property="balanceJf" column="balance_jf"/>
        <result property="payId" column="pay_id"/>
        <result property="skMoney" column="sk_money"/>
        <result property="isDeletea" column="is_deletea"/>
        <result property="password" column="password"/>
        <result property="tel" column="tel"/>
        <result property="orderId" column="order_id"/>
        <result property="tcId" column="tc_id"/>
        <result property="balanceMoney" column="balance_money"/>
        <result property="tcDateregister" column="tc_dateregister"/>
        <result property="tcPatientcode" column="tc_patientcode"/>
        <result property="tcChecked" column="tc_checked"/>
        <result property="recheckMoney" column="recheck_money"/>
        <result property="sellStatus" column="sell_status"/>
        <result property="tcPrice" column="tc_price"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="purchaser" column="purchaser"/>
        <result property="phone" column="phone"/>
        <result property="zk" column="zk"/>
        <result property="processId" column="process_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCardVo">
        select id,
               card_no,
               balance_limit,
               createdate,
               create_id,
               modifydate,
               modify_id,
               type_id,
               sell_id,
               sell_time,
               validity,
               card_state,
               memo,
               getter_id,
               get_time,
               grant_id,
               is_delete,
               card_prefix,
               card_logo,
               balance_jf,
               pay_id,
               sk_money,
               is_deletea,
               password,
               tel,
               order_id,
               tc_id,
               balance_money,
               tc_dateregister,
               tc_patientcode,
               tc_checked,
               recheck_money,
               sell_status,
               tc_price,
               sell_price,
               purchaser,
               phone,
               zk,
               process_id
        from md_card
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.SendCardVo">
        SELECT
        cd.card_no,
        ctype.type_name AS cardName,
        IFNULL( cd.balance_limit, 0 ) AS balanceLimit,
        ( CASE WHEN cd.type_id = #{param.card} THEN NULL ELSE IFNULL ( cd.balance_jf, 0 ) END ) AS balanceJf,
        u.user_name AS getterId,
        cd.get_time,
        cd.validity,
        cd.memo,
        cd.create_id,
        cd.createdate,
        cd.id,
        cd.password,
        -- au.NAME AS appUser,
        o.ddmc,
        IFNULL( m.tjtcmc, c.tjtcmc ) AS tcmc,
        cd.balance_money,
        cd.tc_price,
        u2.user_name AS createName
        FROM
        md_card cd
        LEFT JOIN md_card_type ctype ON cd.type_id = ctype.id
        LEFT JOIN sys_user u ON cd.getter_id = u.user_no
        -- LEFT JOIN app_user_card auc ON cd.id = auc.card_id
        -- LEFT JOIN app_user au ON au.id = auc.user_id
        LEFT JOIN md_createorder o ON o.id = cd.order_id
        LEFT JOIN md_createcombo c ON c.id = cd.tc_id
        LEFT JOIN md_createmeal m ON m.id = cd.tc_id
        LEFT JOIN sys_user u2 ON cd.create_id = u2.user_no
        <where>
            cd.is_delete = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND cd.create_id = #{param.userNo}
            </if>
            <if test="param.cardNo!=null and param.cardNo!=''">
                AND cd.card_no like concat('%',#{param.cardNo},'%')
            </if>
            <if test="param.typeId!=null and param.typeId!=''">
                AND cd.type_id = #{param.typeId}
            </if>
            <if test="param.type!=null and param.type!=''">
                AND ctype.type = #{param.type}
            </if>
            <if test="param.type == null and param.type == ''">
                AND card.is_delete = 0
            </if>
            <if test="param.startTime!=null">
                AND cd.get_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND cd.get_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY cd.createdate DESC, cd.card_no DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.finance.bean.model.Card">
        select
        c.*,
        u.user_name AS sellName
        from md_card c
        LEFT JOIN sys_user u ON u.user_no = c.sell_id
        <where>
            c.id = #{id}
            AND c.is_delete = 0
        </where>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoByNo" resultMap="CardMap">
        <include refid="selectCardVo"/>
        <where>
            card_no = #{cardNo}
            AND is_delete = 0
        </where>
    </select>


    <!-- 获取卡编号 -->
    <select id="getCardNo" resultType="string">
        SELECT
        t.card_no
        FROM
        (
        SELECT
        card_no
        FROM
        md_card
        <if test="typeId!=null and typeId!=''">
            WHERE TYPE_ID = #{typeId}
        </if>
        ORDER BY card_no DESC )T
        limit 1
    </select>


    <!-- 查询列表数据 -->
    <select id="getExportData" resultType="com.center.medical.finance.bean.vo.SendCardVo">
        SELECT
        cd.card_no,
        ctype.type_name AS cardName,
        IFNULL( cd.balance_limit, 0 ) AS balanceLimit,
        ( CASE WHEN cd.type_id = #{param.card} THEN NULL ELSE IFNULL ( cd.balance_jf, 0 ) END ) AS balanceJf,
        u.user_name AS getterId,
        cd.get_time,
        cd.validity,
        cd.memo,
        cd.create_id,
        cd.createdate,
        cd.id,
        cd.password,
        -- au.NAME AS appUser,
        o.ddmc,
        IFNULL( m.tjtcmc, c.tjtcmc ) AS tcmc,
        cd.balance_money,
        cd.tc_price
        FROM
        md_card cd
        LEFT JOIN md_card_type ctype ON cd.type_id = ctype.id
        LEFT JOIN sys_user u ON cd.getter_id = u.user_no
        -- LEFT JOIN app_user_card auc ON cd.id = auc.card_id
        -- LEFT JOIN app_user au ON au.id = auc.user_id
        LEFT JOIN md_createorder o ON o.id = cd.order_id
        LEFT JOIN md_createcombo c ON c.id = cd.tc_id
        LEFT JOIN md_createmeal m ON m.id = cd.tc_id
        <where>
            cd.is_delete = 0
            <if test="param.userNo!=null and param.userNo!=''">
                AND cd.create_id = #{param.userNo}
            </if>
            <if test="param.cardNo!=null and param.cardNo!=''">
                AND cd.card_no like concat('%',#{param.cardNo},'%')
            </if>
            <if test="param.typeId!=null and param.typeId!=''">
                AND cd.type_id = #{param.typeId}
            </if>
            <if test="param.type!=null and param.type!=''">
                AND cd.type = #{param.type}
            </if>
            <if test="param.startTime!=null">
                AND cd.get_time <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND cd.get_time <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        ORDER BY cd.createdate DESC, cd.card_no DESC
    </select>


    <!-- 查询列表数据 -->
    <select id="getMedicalCardAutoComData" resultType="com.center.medical.finance.bean.vo.MedicalCardVo">
        SELECT
        c.id,
        c.card_no
        FROM
        md_card c
        INNER JOIN md_card_type ct ON ct.id = c.type_id
        AND ct.type = 0
        <where>
            c.is_delete = 0
            <if test="key!=null and key!=''">
                AND c.card_no LIKE concat('%',#{key},'%')
            </if>
        </where>
        ORDER BY c.card_no
    </select>
</mapper>

