<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.FinanceInputMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.FIPageVo">
        SELECT f.id,
        u.user_no AS userid,
        u.user_name AS xsjl,
        f.year,
        f.yy,
        f.ey,
        f.sy,
        f.iy,
        f.wy,
        f.ly,
        f.qy,
        f.ay,
        f.jy,
        f.oy,
        f.ny,
        f.dy,
        f.bz
        FROM sys_user u
        INNER JOIN sys_user_dep ud ON ud.user_id = u.user_no
        LEFT JOIN md_financeinput f ON u.user_no = f.xsjlid
        <if test="param.listYear!=null and param.listYear!=''">
            AND f.year = #{param.listYear}
        </if>
        <where>
            u.cid = #{param.fzxid}
            AND ud.dep_id =( SELECT dept_no FROM sys_dept WHERE dept_name = '销售部' )
            AND u.isleader = 0
            AND u.del_flag = 0
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND u.user_name LIKE concat('%',#{param.xsjl},'%')
            </if>
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Financeinput">
        select *
        FROM md_financeinput
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

