<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.IndividualStatisticsMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.finance.bean.vo.ISPageVo">
        SELECT qu.user_no AS id,
        min(qu.user_name) AS xsjl,
        count(DISTINCT (CASE WHEN (p.insuranceno IS NULL OR p.insuranceno = '') THEN p.id ELSE NULL END)) AS count,
        min(bc.fzx) AS fzx,
        IFNULL ( SUM( pi.price ), 0 ) yjhj,
        IFNULL ( SUM( pi.factprice ), 0 ) sshj,
        IFNULL ( SUM( CASE WHEN pi.sfjx = 1 THEN pi.factprice ELSE 0 END ), 0 ) AS addprice,
        IFNULL ( SUM( CASE WHEN pi.sfjx = 1 THEN i.unitprice ELSE 0 END ), 0) AS addorgprice,
        IFNULL ( SUM( i.costprice ), 0 ) costprice,
        (
        SELECT
        group_concat( d.dept_name )
        FROM
        sys_user_dep ud
        LEFT JOIN sys_dept d ON d.dept_no = ud.dep_id
        WHERE
        ud.user_id = qu.user_no
        ) as depart
        FROM
        md_peispatient p
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        AND pi.f_feecharged = 1
        LEFT JOIN md_items i ON i.id = pi.id_examfeeitem
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        LEFT JOIN sys_branch bc ON qu.cid = bc.branch_id
        <where>
            p.f_usecodehiden = 0
            AND p.f_registered = 1
            <if test="param.itemIds!=null and param.itemIds.size > 0">
                AND pi.id_examfeeitem not IN
                <foreach collection="param.itemIds" item="itemId" open="(" close=")" separator=",">
                    #{itemId}
                </foreach>
            </if>
            <if test="param.ymks!=null and param.ymks!=''">
                AND i.id_depart != #{param.ymks}
            </if>
            <if test="param.type!=null">
                <if test="param.type == 0">
                    AND qd.dept_name ='客服部'
                </if>
                <if test="param.type == 1">
                    AND qd.dept_name ='销售部'
                </if>
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND qu.user_name like concat('%',#{param.xsjl},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.ksid!=null and param.ksid!=''">
                AND qd.dept_no = #{param.ksid}
            </if>
        </where>
        GROUP BY qu.user_no,qu.create_time
        <if test="param.isByDay!=null and param.isByDay == 1">
            , str_to_date(p.dateregister,'%Y-%m-%d')
        </if>
        ORDER BY qu.create_time DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>


    <!-- 查询列表数据 -->
    <select id="getExportData" resultType="com.center.medical.finance.bean.vo.ExportOneVo">
        SELECT * FROM (
        SELECT min(p.id) id,
        min(qu.user_name) xsjl,
        p.patientcode tjh,
        min(p.patientname) gjrymc,
        IFNULL(min(p.personpricelimit), 0) yj,
        IFNULL(min(pcm.moneyamountpaid), 0) ss,
        min(qd.dept_name) name,
        min(
        STR_TO_DATE(p.dateregister, '%Y-%m-%d %T')) regdate,
        IFNULL(
        m.tjtcmc,
        IFNULL(c.tjtcmc, gm.NAME)) AS tjtcmc
        FROM md_peispatient p
        LEFT JOIN md_createmeal m ON m.id = p.id_tjtc
        LEFT JOIN md_createcombo c ON c.id = p.id_tjtc
        LEFT JOIN md_base_guide_meal gm ON gm.id = p.id_tjtc
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        LEFT JOIN sys_user_dep qud ON qud.user_id = qu.user_no
        LEFT JOIN sys_dept qd ON qud.dep_id = qd.dept_no
        <where>
            p.f_usecodehiden = 0
            AND qu.del_flag = 0
            AND p.f_registered = 1
            <if test="param.isContainVaccine!=null and param.isContainVaccine == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pei_t
                INNER JOIN md_items i_t ON i_t.id = pei_t.id_examfeeitem
                WHERE
                pei_t.id_patient = p.patientcode
                AND pei_t.change_item = 0
                AND pei_t.f_feecharged = 1
                AND i_t.id_depart = 'ff8080817bc96399017bd2c73a0c5e96'
                )
            </if>
            <if test="param.isContainNuclein!=null and param.isContainNuclein == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pi
                WHERE
                1 = 1
                <if test="param.itemIds!=null and param.itemIds.size > 0">
                    AND pi.id_examfeeitem IN
                    <foreach collection="param.itemIds" item="itemId" open="(" close=")" separator=",">
                        #{itemId}
                    </foreach>
                </if>
                AND pi.id_patient = p.patientcode
                AND pi.change_item = 0
                AND ( pi.sfjj IS NULL OR pi.sfjj = 0 )
                AND pi.f_giveup = 0
                AND pi.f_transferedhl7 IS NULL
                )
            </if>
            <if test="param.type!=null and param.type!=''">
                <if test="param.type == '0'">
                    AND qd.dept_name ='客服部'
                </if>
                <if test="param.type == '1'">
                    AND qd.dept_name ='销售部'
                </if>
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND qu.user_name like concat('%',#{param.xsjl},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY
        p.patientcode,
        p.createdate,
        m.tjtcmc,
        c.tjtcmc,
        gm.name
        ORDER BY
        p.createdate DESC
        ) AS ssssss
    </select>


    <!-- 导出多条 -->
    <select id="getExportsData" resultType="com.center.medical.finance.bean.vo.ISPageVo">
        SELECT qu.user_no AS id,
        min(qu.user_name) AS xsjl,
        count(DISTINCT (CASE WHEN (p.insuranceno IS NULL OR p.insuranceno = '') THEN p.id ELSE NULL END)) AS count,
        min(bc.fzx) AS fzx,
        IFNULL ( SUM( pi.price ), 0 ) yjhj,
        IFNULL ( SUM( pi.factprice ), 0 ) sshj,
        IFNULL ( SUM( CASE WHEN pi.sfjx = 1 THEN pi.factprice ELSE 0 END ), 0 ) AS addprice,
        IFNULL ( SUM( CASE WHEN pi.sfjx = 1 THEN i.unitprice ELSE 0 END ), 0) AS addorgprice,
        IFNULL ( SUM( i.costprice ), 0 ) costprice,
        (
        SELECT
        group_concat( d.dept_name )
        FROM
        sys_user_dep ud
        LEFT JOIN sys_dept d ON d.dept_no = ud.dep_id
        WHERE
        ud.user_id = qu.user_no
        ) as depart
        <if test="param.isByDay!=null and param.isByDay == 1">
            , STR_TO_DATE(p.dateregister,'%Y-%m-%d') AS dateregister
        </if>
        FROM
        md_peispatient p
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        AND pi.f_feecharged = 1
        LEFT JOIN md_items i ON i.id = pi.id_examfeeitem
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        LEFT JOIN sys_branch bc ON qu.cid = bc.branch_id
        <where>
            p.f_usecodehiden = 0
            AND p.f_registered = 1
            <if test="param.itemIds!=null and param.itemIds.size > 0">
                AND pi.id_examfeeitem not IN
                <foreach collection="param.itemIds" item="itemId" open="(" close=")" separator=",">
                    #{itemId}
                </foreach>
            </if>
            <if test="param.ymks!=null and param.ymks!=''">
                AND i.id_depart != #{param.ymks}
            </if>
            <if test="param.type!=null">
                <if test="param.type == 0">
                    AND qd.dept_name ='客服部'
                </if>
                <if test="param.type == 1">
                    AND qd.dept_name ='销售部'
                </if>
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.xsjl!=null and param.xsjl!=''">
                AND qu.user_name like concat('%',#{param.xsjl},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.ksid!=null and param.ksid!=''">
                AND qd.dept_no = #{param.ksid}
            </if>
        </where>
        GROUP BY qu.user_no,qu.create_time
        <if test="param.isByDay!=null and param.isByDay == 1">
            , str_to_date(p.dateregister,'%Y-%m-%d')
        </if>
        ORDER BY qu.create_time DESC

    </select>


    <!-- 获取关联的数据 -->
    <select id="getListData" resultType="com.center.medical.finance.bean.vo.ISListDataVo">
        SELECT * FROM (
        SELECT
            min( p.id ) AS id,
            min( qu.user_name ) AS xsjl,
            p.patientcode AS tjh,
            min( p.patientname ) AS gjrymc,
            IFNULL ( min( p.personpricelimit ), 0 ) yj,
            IFNULL ( min( pcm.moneyamountpaid ), 0 ) ss,
            min( qd.dept_name ) name,
            min( STR_TO_DATE ( p.dateregister, '%Y-%m-%d %T' )) regdate,
            IFNULL (m.tjtcmc,IFNULL ( c.tjtcmc, gm.NAME )) AS tjtcmc
        FROM
            md_peispatient p
                LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
                AND pi.change_item = 0
                LEFT JOIN md_createmeal m ON m.id = p.id_tjtc
                LEFT JOIN md_createcombo c ON c.id = p.id_tjtc
                LEFT JOIN md_base_guide_meal gm ON gm.id = p.id_tjtc
                LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
                LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
                LEFT JOIN sys_user_dep qud ON qud.user_id = qu.user_no
                LEFT JOIN sys_dept qd ON qud.dep_id = qd.dept_no
        <where>
            p.f_usecodehiden = 0
          AND qu.del_flag = 0
          AND (
                p.f_registered IS NOT NULL
                AND p.f_registered = 1)
            <if test="param.isContainVaccine!=null and param.isContainVaccine == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pei_t
                INNER JOIN md_items i_t ON i_t.id = pei_t.id_examfeeitem
                WHERE
                pei_t.id_patient = p.patientcode
                AND pei_t.change_item = 0
                AND pei_t.f_feecharged = 1
                AND i_t.id_depart = 'ff8080817bc96399017bd2c73a0c5e96'
                )
            </if>
            <if test="param.isContainNuclein!=null and param.isContainNuclein == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pi
                WHERE
                1 = 1
                <if test="param.itemIds!=null and param.itemIds.size > 0">
                    AND pi.id_examfeeitem IN
                    <foreach collection="param.itemIds" item="itemId" open="(" close=")" separator=",">
                        #{itemId}
                    </foreach>
                </if>
                AND pi.id_patient = p.patientcode
                AND pi.change_item = 0
                AND ( pi.sfjj IS NULL OR pi.sfjj = 0 )
                AND pi.f_giveup = 0
                AND pi.f_transferedhl7 IS NULL
                )
            </if>
            <if test="param.type!=null">
                <if test="param.type == 1">
                    AND qd.dept_name ='销售部'
                </if>
            </if>
            <if test="param.id!=null and param.id!=''">
                AND qu.user_No = #{param.id}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY p.patientcode, p.createdate,m.tjtcmc,c.tjtcmc,gm.name
        ORDER BY p.createdate DESC
        ) AS aaaaaa
    </select>



    <!-- 导出右侧关联数据 -->
    <select id="exportListData" resultType="com.center.medical.finance.bean.vo.ISListDataVo">
        SELECT * FROM (
        SELECT
        min( p.id ) AS id,
        min( qu.user_name ) AS xsjl,
        p.patientcode AS tjh,
        min( p.patientname ) AS gjrymc,
        IFNULL ( min( p.personpricelimit ), 0 ) yj,
        IFNULL ( min( pcm.moneyamountpaid ), 0 ) ss,
        min( qd.dept_name ) name,
        min( STR_TO_DATE ( p.dateregister, '%Y-%m-%d %T' )) regdate,
        IFNULL (m.tjtcmc,IFNULL ( c.tjtcmc, gm.NAME )) AS tjtcmc
        FROM
        md_peispatient p
        LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        LEFT JOIN md_createmeal m ON m.id = p.id_tjtc
        LEFT JOIN md_createcombo c ON c.id = p.id_tjtc
        LEFT JOIN md_base_guide_meal gm ON gm.id = p.id_tjtc
        LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        LEFT JOIN sys_user qu ON p.id_opendoctor = qu.user_no
        LEFT JOIN sys_user_dep qud ON qud.user_id = qu.user_no
        LEFT JOIN sys_dept qd ON qud.dep_id = qd.dept_no
        <where>
            p.f_usecodehiden = 0
            AND qu.del_flag = 0
            AND (
            p.f_registered IS NOT NULL
            AND p.f_registered = 1)
            <if test="param.isContainVaccine!=null and param.isContainVaccine == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pei_t
                INNER JOIN md_items i_t ON i_t.id = pei_t.id_examfeeitem
                WHERE
                pei_t.id_patient = p.patientcode
                AND pei_t.change_item = 0
                AND pei_t.f_feecharged = 1
                AND i_t.id_depart = 'ff8080817bc96399017bd2c73a0c5e96'
                )
            </if>
            <if test="param.isContainNuclein!=null and param.isContainNuclein == 0">
                AND NOT EXISTS (
                SELECT
                1
                FROM
                md_peispatientfeeitem pi
                WHERE
                1 = 1
                <if test="param.itemIds!=null and param.itemIds.size > 0">
                    AND pi.id_examfeeitem IN
                    <foreach collection="param.itemIds" item="itemId" open="(" close=")" separator=",">
                        #{itemId}
                    </foreach>
                </if>
                AND pi.id_patient = p.patientcode
                AND pi.change_item = 0
                AND ( pi.sfjj IS NULL OR pi.sfjj = 0 )
                AND pi.f_giveup = 0
                AND pi.f_transferedhl7 IS NULL
                )
            </if>
            <if test="param.type!=null">
                <if test="param.type == 1">
                    AND qd.dept_name ='销售部'
                </if>
            </if>
            <if test="param.id!=null and param.id!=''">
                AND qu.user_No = #{param.id}
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
        </where>
        GROUP BY p.patientcode, p.createdate,m.tjtcmc,c.tjtcmc,gm.name
        ORDER BY p.createdate DESC
        ) AS aaaaaa
    </select>

</mapper>

