<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.KdRemittanceMapper">

    <resultMap type="com.center.medical.finance.bean.model.KdRemittance" id="KdRemittanceMap">
        <id property="fid" column="fid"/>
        <result property="transactionnumber" column="transactionnumber"/>
        <result property="remitter" column="remitter"/>
        <result property="income" column="income"/>
        <result property="transdate" column="transdate"/>
        <result property="branchId" column="branch_id"/>
        <result property="online" column="online"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectKdRemittanceVo">
        select fid, transactionnumber, remitter, income, transdate, branch_id, createdate, online, modifydate,
        from kd_remittance
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="KdRemittanceMap">
        <include refid="selectKdRemittanceVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="KdRemittanceMap">
        <include refid="selectKdRemittanceVo"/>
        <where>
            fid = #{id}
        </where>
    </select>

</mapper>

