<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.finance.dao.KdUploadMapper">
    <select id="statisticsOfAllInspectionPaidInExpensesOfTheDay" resultType="com.center.medical.finance.bean.dto.EpayWaysDto">
        select
            w.payway_name,
            w.kingdee_company payway_company,
            w.thing_kingdee_number,
            w.group_kingdee_number,
            w.pos_kingdee_number,
            w.kingdee_saleer,
            ifnull(a.tuan, 0) tuan,
            ifnull(a.geren, 0) geren,
            ifnull(b.tuantj, 0) tuan_tj,
            ifnull(b.gerentj, 0) geren_tj
        from
            md_dictpayway w
        left join (
            select
                min(dpw.payway_name) paywayname,
                sum(
                    case
                    when p.f_usecodehiden = 1 then
                    pcharge.moneyamountpaid
                    else
                    0
                    end
                ) tuan,
                sum(
                    case
                    when p.f_usecodehiden = 1 then
                    0
                    else
                    ifnull(pcharge.moneyamountpaid, 0)
                    end
                ) geren,
                min(dpw.seq) plsx
            from
                md_dictpayway dpw
            left join md_peispatientcharge pcharge on dpw.id = pcharge.id_payway
            left join md_peispatient p on pcharge.patientcode = p.patientcode
            where
                p.patientcode is not null
                and pcharge.is_delete = 0
                and dpw.payway_name <![CDATA[ <> ]]> '统收'
              AND ( pcharge.note NOT LIKE '%老系统%' OR pcharge.note = '' OR pcharge.note IS NULL )
              and STR_TO_DATE( pcharge.feechargetime,'%Y-%m-%d') <![CDATA[ >= ]]> #{startTime}
                and STR_TO_DATE( pcharge.feechargetime,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
            group by
                dpw.id,
                dpw.createdate
        ) a on w.payway_name = a.paywayname
        left join (
            select
                ifnull(
                    sum(
                    case
                    when p.f_usecodehiden = 0 then
                    prp.moneyamountpaid
                    else
                    0
                    end
                    ),
                    0
                ) gerentj,
                ifnull(
                    sum(
                    case
                    when p.f_usecodehiden = 1 then
                    prp.moneyamountpaid
                    else
                    0
                    end
                    ),
                    0
                ) tuantj,
                pay.payway_name
            from
                md_peispatient_reservation_charge prc
            left join md_peis_reser_payway prp on prc.id = prp.id_charge
            left join md_dictpayway pay on prp.id_payway = pay.id
            left join md_peispatient p on prc.patientcode = p.patientcode
            where
                prp.id_payway is not null
                and prp.moneyamountpaiddate <![CDATA[ >= ]]> str_to_date(
                    concat(#{startTime},' 00:00:00'),
                    '%Y-%m-%d %T'
                )
                and prp.moneyamountpaiddate <![CDATA[ <= ]]> str_to_date(
                    concat(#{endTime},' 23:59:59'),
                    '%Y-%m-%d %T'
                )
            group by
                pay.payway_name
        ) b on b.payway_name = w.payway_name
        where
            (
            b.payway_name is not null
            or a.paywayname is not null
            )
        order by
            a.plsx
    </select>
    <select id="statisticsOfALLInspectionPaidInExpensesOfTheMonth" resultType="com.center.medical.finance.bean.dto.EpayWaysDto" >
        select
            w.payway_name,
            w.kingdee_company payway_company,
            w.thing_kingdee_number,
            w.group_kingdee_number,
            w.pos_kingdee_number,
            w.kingdee_saleer,
            ifnull(a.tuan, 0) tuan,
            ifnull(a.geren, 0) geren,
            ifnull(b.tuantj, 0) tuan_tj,
            ifnull(b.gerentj, 0) geren_tj
        from
            md_dictpayway w
        left join (
                select
                    min(ww.payway_name) paywayname,
                    sum(
                        case
                        when p.f_usecodehiden = 1 then
                        pcharge.moneyamountpaid
                        else
                        0
                        end
                    ) tuan,
                    sum(
                        case
                        when p.f_usecodehiden = 1 then
                        0
                        else
                        ifnull(pcharge.moneyamountpaid, 0)
                        end
                    ) geren,
                    min(ww.seq) plsx
                from
                md_dictpayway ww
                left join md_peispatientcharge pcharge on ww.id = pcharge.id_payway
                left join md_peispatient p on pcharge.patientcode = p.patientcode
                where
                    p.patientcode is not null
                    and pcharge.is_delete = 0
                    and ww.payway_name <![CDATA[ <> ]]> '统收'
                    and STR_TO_DATE(pcharge.createdate,'%Y-%m-%d') <![CDATA[ >= ]]> #{startTime}
                    and STR_TO_DATE(pcharge.createdate,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
                group by
                    ww.id,
                    ww.createdate
            ) a on w.payway_name = a.paywayname
        left join (
            select
                ifnull(
                    sum(
                        case
                        when p.f_usecodehiden = 0 then
                        prp.moneyamountpaid
                        else
                        0
                        end
                    ),
                    0
                ) gerentj,
                ifnull(
                    sum(
                        case
                        when p.f_usecodehiden = 1 then
                        prp.moneyamountpaid
                        else
                        0
                        end
                    ),
                    0
                ) tuantj,
                pay.payway_name
            from
            md_peispatient_reservation_charge prc
            left join md_peis_reser_payway prp on prc.id = prp.id_charge
            left join md_dictpayway pay on prp.id_payway = pay.id
            left join md_peispatient p on prc.patientcode = p.patientcode
            where
                prp.id_payway is not null
                and prp.moneyamountpaiddate <![CDATA[ >= ]]> str_to_date(
                    concat(#{startTime}, ' 00:00:00'),
                    '%Y-%m-%d %T'
                )
                and prp.moneyamountpaiddate <![CDATA[ <= ]]> str_to_date(
                    concat(#{endTime}, ' 23:59:59'),
                    '%Y-%m-%d %T'
                )
            group by
                pay.payway_name
            ) b on b.payway_name = w.payway_name
        where
            (
                b.payway_name is not null
                or a.paywayname is not null
            )
            and w.payway_name = '体检卡'
            or w.payway_name = '会员积分'
        order by
            a.plsx
    </select>
    <select id="getCollectiveCollection" resultType="com.center.medical.finance.bean.dto.CollectiveCollectionDto">
        select
            sc.jindie_id org_name,
            sc.khdwmc note_name,
            sum(
                ifnull(pcharge.moneyamountpaid, 0)
            ) paid,
            u.nick_name name,
            sc.int_id,
            pay.pos_kingdee_number,
            s.account_no kingdee_saleer,
            u.user_name,
            b.fzx
        from
            md_peisorgreservation vation
        left join md_peispatient p on vation.id = p.id_orgreservation
        left join md_peispatientcharge pcharge on p.patientcode = pcharge.patientcode
        inner join crm_sellcustomer sc on sc.id = vation.id_org
        left join sys_user u on sc.xsjlid = u.user_no
        left join md_user_saleer us on u.user_no = us.user_id
        left join kd_saleer s on us.saleer_md5 = s.md5
        left join md_dictpayway pay on pcharge.id_payway = pay.id
        left join sys_branch b on b.branch_id = u.cid
        where
            pcharge.id_payway = '5'
            and STR_TO_DATE(pcharge.feechargetime,'%Y-%m-%d') <![CDATA[ >= ]]> #{startTime}
            and STR_TO_DATE(pcharge.feechargetime,'%Y-%m-%d') <![CDATA[ <= ]]> #{endTime}
        group by
            sc.jindie_id,
            sc.khdwmc,
            u.nick_name,
            sc.int_id,
            pay.pos_kingdee_number,
            s.account_no,
            u.user_name,
            b.fzx
        order by
            sc.int_id
    </select>
</mapper>