<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reservation.dao.PingAnMapper">


    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.data.bean.model.PaPeissortexam">

    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.data.bean.model.PaPeissortexam">

    </select>

    <!-- 体检预约可用人数 -->
    <select id="getAvailableNums" resultType="com.center.medical.reservation.bean.vo.PingAnNumsVo">
        SELECT
            DATE_FORMAT ( rs.reservation_date, '%Y%m%d' ) date,
            ( CASE WHEN sum( rs.STATUS ) > 0 THEN 1 ELSE 0 END ) canOrder,
            ( CASE WHEN SUM(CASE WHEN rs.level_id = 2 AND rs.STATUS = 1 THEN 1 ELSE 0 END) > 0
            THEN 1 ELSE 0 END ) provideVipData,
            sum( CASE WHEN rs.level_id = 2 AND rs.STATUS = 1 THEN rs.max_num ELSE 0 END ) vipMaxNum,
            sum( CASE WHEN rs.level_id = 2 AND rs.STATUS = 1 THEN rs.done_num ELSE 0 END ) vipOrderNum,
            sum( CASE WHEN rs.level_id != 3 AND rs.STATUS = 1 THEN rs.max_num ELSE 0 END ) maxNum,
            sum( CASE WHEN rs.level_id != 3 AND rs.STATUS = 1 THEN rs.done_num ELSE 0 END ) orderNum
        FROM
            md_reservation_setting rs
            INNER JOIN sys_branch b ON b.branch_id = rs.branch_id
        <where>
            rs.level_id in (1,2)
            <if test="param.startDate!=null and param.startDate!=''">
                AND rs.reservation_date <![CDATA[ >= ]]> STR_TO_DATE ( concat(#{param.startDate},'00:00:00'), '%Y%m%d %T' )
            </if>
            <if test="param.endDate!=null and param.endDate!=''">
                AND rs.reservation_date <![CDATA[ <= ]]> STR_TO_DATE ( concat(#{param.endDate},'23:59:59'), '%Y%m%d %T' )
            </if>
            <if test="param.hospitalSubId!=null and param.hospitalSubId!=''">
                AND b.hospital_sub_id = #{param.hospitalSubId}
            </if>
        </where>
        group by rs.reservation_date
        ORDER BY rs.reservation_date
    </select>


    <!-- 获取平安好医生需要上传pdf的体检号 -->
    <select id="getPingAnCode" resultType="com.center.medical.reservation.bean.dto.GetPingAnCodeDto">
        SELECT
            p.id,
            p.patientcode
        FROM
            md_peispatient p
                INNER JOIN md_report r ON r.patientcode = p.patientcode
                AND r.disease_health = 0
        <where>
            p.countreportoccupation IN (1, 3)
            AND r.STATUS >= 9
            AND p.f_wordprinted IS NULL
            AND p.instancetag IS NOT NULL
            AND p.statusofhm = 'Y'
            AND (r.is_nuclein IS NULL OR r.is_nuclein <![CDATA[ < ]]> 3)
        </where>
    </select>
</mapper>

