<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reservation.dao.ReservationReturnVisitMapper">

    <resultMap type="com.center.medical.reservation.bean.model.ReservationReturnVisit" id="ReservationReturnVisitMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientId" column="patient_id"/>
        <result property="visitId" column="visit_id"/>
        <result property="visitTime" column="visit_time"/>
        <result property="visitNote" column="visit_note"/>
        <result property="sflj" column="sflj"/>
        <result property="ljsj" column="ljsj"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReservationReturnVisitVo">
        select id,
               createdate,
               modifydate,
               patient_id,
               visit_id,
               visit_time,
               visit_note,
               sflj,
               ljsj
        from md_reservation_return_visit
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="ReservationReturnVisitMap">
        <include refid="selectReservationReturnVisitVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReservationReturnVisitMap">
        <include refid="selectReservationReturnVisitVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

