<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.reservation.dao.ReservationGroupTimeMapper">

    <resultMap type="com.center.medical.reservation.bean.model.ReservationGroupTime" id="ReservationGroupTimeMap">
        <id property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="timeId" column="time_id"/>
        <result property="count" column="count"/>
        <result property="createdate" column="createdate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectReservationGroupTimeVo">
        select id, group_id, time_id, count, createdate
        from md_reservation_group_time
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ReservationGroupTimeMap">
        <include refid="selectReservationGroupTimeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ReservationGroupTimeMap">
        <include refid="selectReservationGroupTimeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

