<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.MdComboandfzxMapper">

    <resultMap type="com.center.medical.olddata.bean.model.MdComboandfzx" id="MdComboandfzxMap">
        <id property="id" column="id"/>
        <result property="tcid" column="tcid"/>
        <result property="fzxid" column="fzxid"/>
        <result property="tbzt" column="tbzt"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdComboandfzxVo">
        select id, tcid, fzxid, tbzt, createdate, modifydate
        from md_comboandfzx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdComboandfzxMap">
        <include refid="selectMdComboandfzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdComboandfzxMap">
        <include refid="selectMdComboandfzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

