<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.MdItemsAndFzxMapper">

    <resultMap type="com.center.medical.olddata.bean.model.MdItemsAndFzx" id="MdItemsAndFzxMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="itemsId" column="items_id"/>
        <result property="fzxId" column="fzx_id"/>
        <result property="tbzt" column="tbzt"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectMdItemsAndFzxVo">
        select id, createdate, modifydate, items_id, fzx_id, tbzt
        from md_items_and_fzx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="MdItemsAndFzxMap">
        <include refid="selectMdItemsAndFzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="MdItemsAndFzxMap">
        <include refid="selectMdItemsAndFzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

