<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.OrComboandfzxMapper">

    <resultMap type="com.center.medical.olddata.bean.model.OrComboandfzx" id="ComboandfzxMap">
        <id property="id" column="ID"/>
        <result property="tcid" column="TCID"/>
        <result property="fzxid" column="FZXID"/>
        <result property="tbzt" column="TBZT"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectComboandfzxVo">
        select ID, TCID, FZXID, TBZT, CREATEDATE, MODIFYDATE
        from COMBOANDFZX
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="ComboandfzxMap">
        <include refid="selectComboandfzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ComboandfzxMap">
        <include refid="selectComboandfzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

