<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.OrDescribeMapper">

    <resultMap type="com.center.medical.olddata.bean.model.OrDescribe" id="DescribeMap">
        <id property="id" column="ID"/>
        <result property="patientcode" column="PATIENTCODE"/>
        <result property="itemId" column="ITEM_ID"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="inspectDescribe" column="INSPECT_DESCRIBE"/>
        <result property="signList" column="SIGN_LIST"/>
        <result property="createdate" column="CREATEDATE"/>
        <result property="modifydate" column="MODIFYDATE"/>
        <result property="depId" column="DEP_ID"/>
        <result property="tjlx" column="TJLX"/>
        <result property="shortCode" column="SHORT_CODE"/>
        <result property="depDescription" column="DEP_DESCRIPTION"/>
        <result property="feeId" column="FEE_ID"/>
        <result property="feeName" column="FEE_NAME"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDescribeVo">
        select ID,
               PATIENTCODE,
               ITEM_ID,
               ITEM_NAME,
               INSPECT_DESCRIBE,
               SIGN_LIST,
               CREATEDATE,
               MODIFYDATE,
               DEP_ID,
               TJLX,
               SHORT_CODE,
               DEP_DESCRIPTION,
               FEE_ID,
               FEE_NAME
        from DESCRIBE
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="DescribeMap">
        <include refid="selectDescribeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DescribeMap">
        <include refid="selectDescribeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

