<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.olddata.dao.OrInspectChargeMapper">




    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.olddata.bean.model.OrInspectCharge">

    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.olddata.bean.model.OrInspectCharge">
        select * from inspect_charge
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

