<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.CarmanagefrMapper">

    <resultMap type="com.center.medical.bean.model.Carmanagefr" id="CarmanagefrMap">
        <id property="id" column="id"/>
        <result property="idUser" column="id_user"/>
        <result property="idCarmanage" column="id_carmanage"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCarmanagefrVo">
        select id, id_user, id_carmanage, createdate, modifydate
        from md_carmanagefr
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="CarmanagefrMap">
        <include refid="selectCarmanagefrVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CarmanagefrMap">
        <include refid="selectCarmanagefrVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

