<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.CountryMapper">

    <resultMap type="com.center.medical.bean.model.Country" id="CountryMap">
        <id property="id" column="id"/>
        <result property="keycountry" column="keycountry"/>
        <result property="countryName" column="country_name"/>
        <result property="countryCode" column="country_code"/>
        <result property="countryCode2" column="country_code2"/>
        <result property="countryCode3" column="country_code3"/>
        <result property="countryCodehm" column="country_codehm"/>
        <result property="countryCodexh" column="country_codexh"/>
        <result property="inputCode" column="input_code"/>
        <result property="note" column="note"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectCountryVo">
        select id,
               keycountry,
               country_name,
               country_code,
               country_code2,
               country_code3,
               country_codehm,
               country_codexh,
               input_code,
               note,
               createdate,
               modifydate
        from md_country
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="CountryMap">
        <include refid="selectCountryVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="CountryMap">
        <include refid="selectCountryVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

