<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.DlqkMapper">

    <resultMap type="com.center.medical.bean.model.Dlqk" id="DlqkMap">
        <id property="id" column="id"/>
        <result property="bm" column="bm"/>
        <result property="mc" column="mc"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDlqkVo">
        select id,
               bm,
               mc,
               create_id,
               modify_id,
               patientcode,
               createdate,
               modifydate
        from md_dlqk
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="DlqkMap">
        <include refid="selectDlqkVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DlqkMap">
        <include refid="selectDlqkVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

