<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.DrugDiseaseTypeMapper">

    <resultMap type="com.center.medical.bean.model.DrugDiseaseType" id="DrugDiseaseTypeMap">
        <id property="id" column="id"/>
        <result property="healthEvaluation" column="health_evaluation"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDrugDiseaseTypeVo">
        select id, health_evaluation, input_code, createdate, modifydate
        from md_drug_disease_type
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="DrugDiseaseTypeMap">
        <include refid="selectDrugDiseaseTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DrugDiseaseTypeMap">
        <include refid="selectDrugDiseaseTypeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

