<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.FileChangeRecordMapper">

    <resultMap type="com.center.medical.bean.model.FileChangeRecord" id="FileChangeRecordMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="status" column="status"/>
        <result property="dir" column="dir"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFileChangeRecordVo">
        select id, createdate, modifydate, status, dir
        from md_file_change_record
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="FileChangeRecordMap">
        <include refid="selectFileChangeRecordVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FileChangeRecordMap">
        <include refid="selectFileChangeRecordVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

