<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.FxReviewsituationMapper">

    <resultMap type="com.center.medical.bean.model.FxReviewsituation" id="FxReviewsituationMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="sampleId" column="sample_id"/>
        <result property="positives" column="positives"/>
        <result property="summaryText" column="summary_text"/>
        <result property="occupationSummary" column="occupation_summary"/>
        <result property="patientname" column="patientname"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="jhys" column="jhys"/>
        <result property="jhysIds" column="jhys_ids"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="summarySerialno" column="summary_serialno"/>
        <result property="trades" column="trades"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFxReviewsituationVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               sample_id,
               positives,
               summary_text,
               occupation_summary,
               patientname,
               sex,
               age,
               jhys,
               jhys_ids,
               review_status,
               summary_serialno,
               trades
        from md_fx_reviewsituation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="FxReviewsituationMap">
        <include refid="selectFxReviewsituationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FxReviewsituationMap">
        <include refid="selectFxReviewsituationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

