<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.NationMapper">

    <resultMap type="com.center.medical.bean.model.Nation" id="NationMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="inputCode" column="input_code"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="romeCode" column="rome_code"/>
        <result property="wordCode" column="word_code"/>
        <result property="numberCode" column="number_code"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectNationVo">
        select id,
               name,
               input_code,
               createdate,
               modifydate,
               rome_code,
               word_code,
               number_code
        from md_nation
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="NationMap">
        <include refid="selectNationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="NationMap">
        <include refid="selectNationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

