<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.NotifySmsVisitMapper">

    <resultMap type="com.center.medical.bean.model.NotifySmsVisit" id="NotifySmsVisitMap">
        <id property="id" column="id"/>
        <result property="idVisit" column="id_visit"/>
        <result property="idTemplate" column="id_template"/>
        <result property="notifyResult" column="notify_result"/>
        <result property="notifyTime" column="notify_time"/>
        <result property="createer" column="createer"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectNotifySmsVisitVo">
        select id,
               id_visit,
               id_template,
               notify_result,
               notify_time,
               createer,
               fzxid,
               createdate,
               modifydate
        from md_notify_sms_visit
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="NotifySmsVisitMap">
        <include refid="selectNotifySmsVisitVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="NotifySmsVisitMap">
        <include refid="selectNotifySmsVisitVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

