<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.OtherReportMapper">

    <resultMap type="com.center.medical.bean.model.OtherReport" id="OtherReportMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="pdfUrl" column="pdf_url"/>
        <result property="configId" column="config_id"/>
        <result property="createStatus" column="create_status"/>
        <result property="errorMsg" column="error_msg"/>
        <result property="creater" column="creater"/>
        <result property="createTime" column="create_time"/>
        <result property="reportType" column="report_type"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectOtherReportVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               pdf_url,
               config_id,
               create_status,
               error_msg,
               creater,
               create_time,
               report_type
        from md_other_report
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据体检号和类型查询 -->
    <select id="getInfoByCode" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
        <where>
            patientcode = #{patientcode}
            AND report_type = #{type}
        </where>
    </select>

    <!-- 根据体检号查询 -->
    <select id="getByPatientcode" resultMap="OtherReportMap">
        <include refid="selectOtherReportVo"/>
        <where>
            patientcode = #{patientcode}
        </where>
    </select>
</mapper>

