<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeispatientAndFzxMapper">

    <resultMap type="com.center.medical.bean.model.PeispatientAndFzx" id="PeispatientAndFzxMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientId" column="patient_id"/>
        <result property="fzxId" column="fzx_id"/>
        <result property="xzzt" column="xzzt"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientAndFzxVo">
        select id, createdate, modifydate, patient_id, fzx_id, xzzt
        from md_peispatient_and_fzx
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeispatientAndFzxMap">
        <include refid="selectPeispatientAndFzxVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientAndFzxMap">
        <include refid="selectPeispatientAndFzxVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

