<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeisReserPaywayMapper">

    <resultMap type="com.center.medical.bean.model.PeisReserPayway" id="PeisReserPaywayMap">
        <id property="id" column="id"/>
        <result property="idCharge" column="id_charge"/>
        <result property="moneyamountpaid" column="moneyamountpaid"/>
        <result property="moneyamountpaiddate" column="moneyamountpaiddate"/>
        <result property="idFeecharger" column="id_feecharger"/>
        <result property="idPayway" column="id_payway"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="cardno" column="cardno"/>
        <result property="isCharged" column="is_charged"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeisReserPaywayVo">
        select id,
               id_charge,
               moneyamountpaid,
               moneyamountpaiddate,
               id_feecharger,
               id_payway,
               createdate,
               modifydate,
               note,
               cardno,
               is_charged
        from md_peis_reser_payway
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeisReserPaywayMap">
        <include refid="selectPeisReserPaywayVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeisReserPaywayMap">
        <include refid="selectPeisReserPaywayVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 获取结算信息 -->
    <select id="getBillingData" resultType="com.center.medical.bean.model.PeisReserPayway">
        SELECT prp.*,
        dp.payway_name,
        u.user_name
        FROM md_peis_reser_payway prp
        LEFT JOIN md_dictpayway dp ON dp.id = prp.id_payway
        LEFT JOIN sys_user u ON u.user_no = prp.id_feecharger
        <where>
            prp.id_charge = #{id}
        </where>
    </select>
</mapper>

