<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.SalesTargetStatisticMapper">

    <resultMap type="com.center.medical.bean.model.SalesTargetStatistic" id="SalesTargetStatisticMap">
        <id property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="complete" column="complete"/>
        <result property="complete1" column="complete1"/>
        <result property="complete2" column="complete2"/>
        <result property="complete3" column="complete3"/>
        <result property="complete4" column="complete4"/>
        <result property="complete5" column="complete5"/>
        <result property="complete6" column="complete6"/>
        <result property="complete7" column="complete7"/>
        <result property="complete8" column="complete8"/>
        <result property="complete9" column="complete9"/>
        <result property="complete10" column="complete10"/>
        <result property="complete11" column="complete11"/>
        <result property="complete12" column="complete12"/>
        <result property="bz" column="bz"/>
        <result property="cid" column="cid"/>
        <result property="year" column="year"/>
        <result property="type" column="type"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectSalesTargetStatisticVo">
        select id,
               userid,
               username,
               complete,
               complete1,
               complete2,
               complete3,
               complete4,
               complete5,
               complete6,
               complete7,
               complete8,
               complete9,
               complete10,
               complete11,
               complete12,
               bz,
               cid, year, type, createdate, modifydate
        from md_sales_target_statistic
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="SalesTargetStatisticMap">
        <include refid="selectSalesTargetStatisticVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="SalesTargetStatisticMap">
        <include refid="selectSalesTargetStatisticVo"/>
        <where>
            id = #{id}
        </where>
    </select>



    <!-- 销售目标自动统计年度计划 -->
    <select id="selectLeaderList" resultMap="SalesTargetStatisticMap">
        select * from (
                          select
                              u.user_no userid,
                              u.user_name,
                              null bz,
                              IFNULL(sum(pcm.moneyamountpaid),0) complete,
                              u.cid,
                              0 type
                          from sys_user u
                               inner join sys_user_dep qud on qud.user_id=u.user_no
                               and qud.dep_id='402881b757417af40157417f62eb0009'
                               left join md_peispatient p on p.id_opendoctor=u.user_no
                                and p.dateregister >= #{yearStart}
                                and p.dateregister <![CDATA[<=]]> #{yearEnd}
                                and p.hospitalcode=u.cid
                                left join md_peispatientcharge pcm on pcm.patientcode=p.patientcode
                                and (pcm.is_add is null or pcm.is_add=0)
                          where  u.del_flag = 0
                          group by
                              u.user_no,
                              u.user_name,
                              u.cid

                          union all

                          select
                              u.user_no userid,
                              u.user_name,
                              '服务单' bz,
                              IFNULL(sum(pcm.moneyamountpaid),0) complete ,
                              p.hospitalcode cid,
                              0 type
                          from sys_user u
                                   inner join sys_user_dep qud on qud.user_id=u.user_no
                                   and qud.dep_id='402881b757417af40157417f62eb0009'
                                   inner join md_peispatient p on p.id_opendoctor=u.user_no
                                   and p.dateregister >= #{yearStart}
                              and p.dateregister <![CDATA[<=]]> #{yearEnd}
                                   inner join md_peispatientcharge pcm on pcm.patientcode=p.patientcode
                                   and (pcm.is_add is null or pcm.is_add = 0 )
                                   inner join sys_user_branch qub on qub.user_id = u.user_no
                                   and qub.branch_id = p.hospitalcode
                          where u.cid!=p.hospitalcode
                                and u.del_flag = 0
                          group by
                              u.user_no ,
                              u.user_name,
                              p.hospitalcode
                      ) as aaaa
        order by user_name
    </select>



    <!-- 销售目标自动统计季度计划 -->
    <select id="selectSellList" resultMap="SalesTargetStatisticMap">
        select * from (
                          select
                              u.user_no userid,
                              u.user_name,
                              null bz,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart1},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd1},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete1,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart2},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd2},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete2,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart3},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd3},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete3,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart4},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd4},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete4,
                              u.cid,
                              1 type
                          from sys_user u
                                   inner join sys_user_dep qud on qud.user_id = u.user_no
                                   and qud.dep_id='402881b757417af40157417f62eb0009'
                                   left join md_peispatient p on p.id_opendoctor = u.user_no
                                   and p.dateregister >= STR_TO_DATE(#{param.yearStart},'%Y-%m-%d %T')
                                   and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.yearEnd},'%Y-%m-%d %T')
                                    and p.hospitalcode=u.cid
                                   left join md_peispatientcharge pcm on pcm.patientcode = p.patientcode
                                   and (pcm.is_add is null or pcm.is_add=0)
                          where   u.del_flag=0
                          group by
                              u.user_no ,
                              u.user_name,
                              u.cid

                          union all

                          select
                              u.user_no userid,
                              u.user_name,
                              '服务单' bz,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart1},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd1},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete1,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart2},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd2},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete2,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart3},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd3},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete3,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.seasonStart4},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.seasonEnd4},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete4,
                              p.hospitalcode cid,
                              1 type
                          from sys_user u
                                   inner join sys_user_dep qud on qud.user_id=u.user_no
                                    and qud.dep_id='402881b757417af40157417f62eb0009'
                                   inner join md_peispatient p on p.id_opendoctor = u.user_no
                                   and p.dateregister >= STR_TO_DATE(#{param.yearStart},'%Y-%m-%d %T')
                                   and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.yearEnd},'%Y-%m-%d %T')
                                   inner join md_peispatientcharge pcm on pcm.patientcode = p.patientcode
                                   and (pcm.is_add is null or pcm.is_add=0)
                                   inner join sys_user_branch qub on qub.user_id = u.user_no
                                   and qub.branch_id=p.hospitalcode
                          where u.cid!=p.hospitalcode and u.del_flag=0
                          group by
                              u.user_no ,
                              u.user_name,
                              p.hospitalcode
                      ) as aaaa
        order by user_name
    </select>




    <!-- 销售目标自动统计月度计划 -->
    <select id="selectMonthList" resultMap="SalesTargetStatisticMap">
        select * from (
                          select
                              u.user_no userid,
                              u.user_name,
                              null bz,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart1},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd1},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete1,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart2},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd2},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete2,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart3},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd3},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete3,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart4},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd4},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete4,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart5},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd5},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete5,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart6},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd6},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete6,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart7},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd7},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete7,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart8},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd8},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete8,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart9},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd9},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete9,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart10},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd10},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete10,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart11},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd11},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete11,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart12},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd12},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete12,
                              u.cid,
                              2 type
                          from sys_user u
                                   inner join sys_user_dep qud on qud.user_id = u.user_no
                                   and qud.dep_id='402881b757417af40157417f62eb0009'
                                   left join md_peispatient p on p.id_opendoctor = u.user_no
                                   and p.dateregister >= STR_TO_DATE(#{param.yearStart},'%Y-%m-%d %T')
                                   and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.yearEnd},'%Y-%m-%d %T')
                                    and p.hospitalcode = u.cid
                                   left join md_peispatientcharge pcm on pcm.patientcode = p.patientcode
                                   and (pcm.is_add is null or pcm.is_add = 0)
                          where  u.del_flag = 0
                          group by
                              u.user_no ,
                              u.user_name,
                              u.cid

                          union all

                          select
                              u.user_no userid,
                              u.user_name,
                              '服务单' bz,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart1},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd1},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete1,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart2},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd2},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete2,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart3},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd3},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete3,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart4},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd4},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete4,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart5},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd5},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete5,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart6},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd6},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete6,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart7},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd7},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete7,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart8},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd8},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete8,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart9},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd9},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete9,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart10},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd10},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete10,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart11},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd11},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete11,
                              IFNULL(sum(case when p.dateregister >= STR_TO_DATE(#{param.monthStart12},'%Y-%m-%d %T') and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.monthEnd12},'%Y-%m-%d %T')   then pcm.moneyamountpaid else 0 end),0) complete12,
                              p.hospitalcode cid,
                              2 type
                          from sys_user u
                                   inner join sys_user_dep qud on qud.user_id = u.user_no
                                   and qud.dep_id='402881b757417af40157417f62eb0009'
                                   inner join md_peispatient p on p.id_opendoctor = u.user_no
                                   and p.dateregister >= STR_TO_DATE(#{param.yearStart},'%Y-%m-%d %T')
                                   and p.dateregister <![CDATA[<=]]> STR_TO_DATE(#{param.yearEnd},'%Y-%m-%d %T')
                                   inner join md_peispatientcharge pcm on pcm.patientcode = p.patientcode
                                   and (pcm.is_add is null or pcm.is_add = 0)
                                   inner join sys_user_branch qub on qub.user_id = u.user_no
                                   and qub.branch_id = p.hospitalcode
                          where u.cid!=p.hospitalcode and u.del_flag=0
                          group by
                              u.user_no ,
                              u.user_name,
                              p.hospitalcode
                      ) as aaaa
        order by user_name
    </select>
</mapper>

