<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.WsDepartmentMapper">

    <resultMap type="com.center.medical.bean.model.WsDepartment" id="WsDepartmentMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="parent" column="parent"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isFunction" column="is_function"/>
        <result property="inputCode" column="input_code"/>
        <result property="xh" column="xh"/>
        <result property="sjbggs" column="sjbggs"/>
        <result property="jcdd" column="jcdd"/>
        <result property="jklx" column="jklx"/>
        <result property="ksh" column="ksh"/>
        <result property="imgpath" column="imgpath"/>
        <result property="reportPathHealth" column="report_path_health"/>
        <result property="reportPathDisease" column="report_path_disease"/>
        <result property="addPicBefore" column="add_pic_before"/>
        <result property="reportSort" column="report_sort"/>
        <result property="dydXh" column="dyd_xh"/>
        <result property="address" column="address"/>
        <result property="house" column="house"/>
        <result property="payment" column="payment"/>
        <result property="enddate" column="enddate"/>
        <result property="flag" column="flag"/>
        <result property="flagId" column="flag_id"/>
        <result property="dpcode" column="dpcode"/>
        <result property="dplevel" column="dplevel"/>
        <result property="customerId" column="customer_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWsDepartmentVo">
        select id,
               name,
               description,
               parent,
               createdate,
               modifydate,
               is_delete,
               is_function,
               input_code,
               xh,
               sjbggs,
               jcdd,
               jklx,
               ksh,
               imgpath,
               report_path_health,
               report_path_disease,
               add_pic_before,
               report_sort,
               dyd_xh,
               address,
               house,
               payment,
               enddate,
               flag,
               flag_id,
               dpcode,
               dplevel,
               customer_id
        from ws_department
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WsDepartmentMap">
        <include refid="selectWsDepartmentVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WsDepartmentMap">
        <include refid="selectWsDepartmentVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

