<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.WzJwbMapper">

    <resultMap type="com.center.medical.bean.model.WzJwb" id="WzJwbMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="inputCode" column="input_code"/>
        <result property="occupationDiseast" column="occupation_diseast"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWzJwbVo">
        select id, createdate, modifydate, input_code, occupation_diseast
        from md_wz_jwb
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="WzJwbMap">
        <include refid="selectWzJwbVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WzJwbMap">
        <include refid="selectWzJwbVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

