<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.ZyOccupationOrgMapper">

    <resultMap type="com.center.medical.bean.model.ZyOccupationOrg" id="ZyOccupationOrgMap">
        <id property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
        <result property="orgOtherName" column="org_other_name"/>
        <result property="orgInfo" column="org_info"/>
        <result property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
        <result property="inputCode" column="input_code"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyOccupationOrgVo">
        select org_code,
               org_name,
               org_other_name,
               org_info,
               id,
               createdate,
               modifydate,
               is_delete,
               input_code
        from md_zy_occupation_org
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="ZyOccupationOrgMap">
        <include refid="selectZyOccupationOrgVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyOccupationOrgMap">
        <include refid="selectZyOccupationOrgVo"/>
        <where>
            orgCode = #{id}
        </where>
    </select>

</mapper>

