<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.EveryProjectMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.EveryProjectVo">
        SELECT
        t1.dateregister AS every0,
        t1.dept_name AS every1,
        t1.examfeeitem_name AS every2,
        t1.user_name AS every3,
        count( DISTINCT t1.id_patient ) AS every4,
        count( DISTINCT ( CASE WHEN t1.f_usecodehiden = 1 THEN NULL ELSE t1.id_patient END ) ) AS every5,
        count( DISTINCT ( CASE WHEN t1.f_usecodehiden = 1 THEN t1.id_patient ELSE NULL END ) ) AS every6,
        t1.id_ks AS depId,
        t1.id_examfeeitem AS itemId
        FROM
        (
        SELECT
        pf.id_patient,
        d.dept_name,
        pf.id_examfeeitem,
        pf.examfeeitem_name,
        pf.id_ks,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d' ) AS dateregister,
        p.f_usecodehiden,
        (
        CASE
        WHEN pf.id_ks = '19'
        THEN
        ( SELECT inspect_name FROM md_peispatientexamitem WHERE patientcode = pf.id_patient AND id_examfeeitem =
        pf.id_examfeeitem LIMIT 1 )
        ELSE
        (SELECT u.user_name FROM md_section_result_main s LEFT JOIN sys_user u ON u.user_no = s.audit_id WHERE
        patientcode = pf.id_patient AND dep_id = pf.id_ks LIMIT 1)
        END
        ) AS user_name
        FROM
        md_peispatientfeeitem pf
        LEFT JOIN md_peispatient p ON pf.id_patient = p.patientcode
        LEFT JOIN sys_dept d ON d.dept_no = pf.id_ks
        <where>
            pf.change_item = 0
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND pf.examfeeitem_name LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND pf.id_ks = #{param.ks}
            </if>
            <if test="param.FExaminated!=null">
                <if test="param.FExaminated == 1">
                    AND pf.f_examinated = 1
                </if>
                <if test="param.FExaminated == 0">
                    AND pf.f_examinated = 0
                </if>
            </if>
        </where>
        ) t1
        GROUP BY
        t1.dateregister,
        t1.dept_name,
        t1.examfeeitem_name,
        t1.user_name,
        t1.id_ks,
        t1.id_examfeeitem
        ORDER BY
        t1.dateregister DESC,
        t1.dept_name
    </select>


    <!-- 右侧体检者数据 -->
    <select id="analyseInfo" resultType="com.center.medical.statistics.bean.vo.AnalyseInfoVo">
        SELECT
        p.patientcode,
        p.patientname,
        p.id_sex,
        p.age,
        p.org_name,
        d.dept_name AS dept,
        (case when oci.id is not null then wsjg.`name` else NULL end) as wsjg,
        i.examfeeitem_name AS feeitem,
        p.f_registered AS fRegistered,
        pf.f_feecharged AS fFeecharged,
        pf.f_examinated AS fExaminated,
        pf.id_ks,
        p.phone,
        p.examsuite_name,
        p.id_examtype,
        pt.patient_name AS idPatientclass,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d' ) AS dateregister,
        p.doctorapply AS doctorreg,
        pf.id_examfeeitem,
        p.idcardno,
        p.note,
        pf.f_giveup AS qj,
        pf.f_delayed AS cj,
        pf.f_transferedhl7 AS bj,
        pf.sfjj AS jj
        FROM
        md_peispatientfeeitem pf
        INNER JOIN md_peispatient p ON p.patientcode = pf.id_patient
        LEFT JOIN sys_dept d ON d.dept_no = pf.id_ks
        INNER JOIN md_items i ON i.id = pf.id_examfeeitem
        LEFT JOIN md_outside_main om ON om.patientcode = p.patientcode
        LEFT JOIN md_outside_charge_item oci ON oci.patientcode = p.patientcode
        AND oci.id_charge = pf.id_examfeeitem
        LEFT JOIN md_wsjg wsjg ON wsjg.id = oci.wsjg_id
        LEFT JOIN md_patienttype pt ON pt.id = p.id_patientclass
        <where>
            pf.change_item = 0
            <if test="param.dateregister!=null">
                AND STR_TO_DATE (p.dateregister, '%Y-%m-%d' ) = STR_TO_DATE (#{param.dateregister}, '%Y-%m-%d' )
            </if>
            <if test="param.depId!=null and param.depId!=''">
                AND d.dept_no= #{param.depId}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.doctor!=null and param.doctor!=''">
                AND (
                (
                pf.id_ks = '19'
                AND EXISTS (
                SELECT
                1
                FROM
                md_peispatientexamitem pe
                WHERE
                pe.patientcode = pf.id_patient
                AND pe.id_examfeeitem = pf.id_examfeeitem
                AND pe.inspect_name = #{param.doctor} )
                )
                OR (
                pf.id_ks != '19'
                AND EXISTS (
                SELECT
                1
                FROM
                md_section_result_main s
                INNER JOIN sys_user u ON u.user_no = s.audit_id
                WHERE
                s.patientcode = pf.id_patient
                AND s.dep_id = pf.id_ks
                AND u.user_name = #{param.doctor} )
                )
                )
            </if>
            <if test="param.FExaminated!=null">
                <if test="param.FExaminated == 1">
                    AND pf.f_examinated = 1
                </if>
                <if test="param.FExaminated == 0">
                    AND (pf.f_examinated IS NULL OR pf.f_examinated = 0)
                </if>
            </if>
        </where>
        ORDER BY p.doctorreg,p.patientcode
    </select>


    <!-- 查询列表数据 -->
    <select id="exportData" resultType="com.center.medical.statistics.bean.vo.EveryProjectVo">
        SELECT
        STR_TO_DATE ( dateregister, '%Y-%m-%d' ) AS every0,
        d.dept_name AS every1,
        i.examfeeitem_name AS every2,
        ( CASE WHEN pf.id_ks = '19' THEN pe.inspect_name ELSE u.user_name END ) AS every3,
        count( DISTINCT pf.id_patient ) AS every4,
        count( DISTINCT ( CASE WHEN f_usecodehiden = 1 THEN NULL ELSE pf.id_patient END )) AS every5,
        count( DISTINCT ( CASE WHEN f_usecodehiden = 1 THEN pf.id_patient ELSE NULL END )) AS every6,
        d.dept_no AS depId,
        i.id AS itemId
        FROM
        md_peispatientfeeitem pf
        INNER JOIN md_peispatient p ON p.patientcode = pf.id_patient
        LEFT JOIN sys_dept d ON d.dept_no = pf.id_ks
        INNER JOIN md_items i ON i.id = pf.id_examfeeitem
        LEFT JOIN md_peispatientexamitem pe ON pe.patientcode = pf.id_patient
        AND pe.id_examfeeitem = pf.id_examfeeitem
        LEFT JOIN md_section_result_main s ON s.patientcode = pf.id_patient
        AND s.dep_id = pf.id_ks
        LEFT JOIN sys_user u ON u.user_no = s.audit_id
        <where>
            pf.change_item = 0
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.name!=null and param.name!=''">
                AND i.examfeeitem_name LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.ks!=null and param.ks!=''">
                AND pf.id_ks = #{param.ks}
            </if>
            <if test="param.FExaminated!=null">
                <if test="param.FExaminated == 1">
                    AND pf.f_examinated = 1
                </if>
                <if test="param.FExaminated == 0">
                    AND (pf.f_examinated IS NULL OR pf.f_examinated = 0)
                </if>
            </if>
        </where>
        GROUP BY
        STR_TO_DATE ( dateregister, '%Y-%m-%d' ),
        d.dept_name,
        i.examfeeitem_name,
        ( CASE WHEN pf.id_ks = '19' THEN pe.inspect_name ELSE u.user_name END ),
        d.dept_no,
        i.id
        ORDER BY
        STR_TO_DATE ( dateregister, '%Y-%m-%d' ) DESC,
        d.dept_name
    </select>


    <!-- 右侧体检者数据 -->
    <select id="exportInfo" resultType="com.center.medical.statistics.bean.vo.AnalyseInfoVo">
        SELECT
        p.patientcode,
        p.patientname,
        p.id_sex,
        p.age,
        p.org_name,
        d.dept_name AS dept,
        (case when oci.id is not null then wsjg.`name` else NULL end) as wsjg,
        i.examfeeitem_name AS feeitem,
        p.f_registered AS fRegistered,
        pf.f_feecharged AS fFeecharged,
        pf.f_examinated AS fExaminated,
        pf.id_ks,
        p.phone,
        p.examsuite_name,
        p.id_examtype,
        pt.patient_name AS idPatientclass,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d' ) AS dateregister,
        p.doctorapply AS doctorreg,
        pf.id_examfeeitem,
        p.idcardno,
        p.note,
        pf.f_giveup AS qj,
        pf.f_delayed AS cj,
        pf.f_transferedhl7 AS bj,
        pf.sfjj AS jj
        FROM
        md_peispatientfeeitem pf
        INNER JOIN md_peispatient p ON p.patientcode = pf.id_patient
        LEFT JOIN sys_dept d ON d.dept_no = pf.id_ks
        INNER JOIN md_items i ON i.id = pf.id_examfeeitem
        LEFT JOIN md_outside_main om ON om.patientcode = p.patientcode
        LEFT JOIN md_outside_charge_item oci ON oci.patientcode = p.patientcode
        AND oci.id_charge = pf.id_examfeeitem
        LEFT JOIN md_wsjg wsjg ON wsjg.id = oci.wsjg_id
        LEFT JOIN md_patienttype pt ON pt.id = p.id_patientclass
        <where>
            pf.change_item = 0
            <if test="param.dateregister!=null">
                AND STR_TO_DATE (p.dateregister, '%Y-%m-%d' ) = STR_TO_DATE (#{param.dateregister}, '%Y-%m-%d' )
            </if>
            <if test="param.depId!=null and param.depId!=''">
                AND d.dept_no= #{param.depId}
            </if>
            <if test="param.itemId!=null and param.itemId!=''">
                AND i.id = #{param.itemId}
            </if>
            <if test="param.doctor!=null and param.doctor!=''">
                AND (
                (
                pf.id_ks = '19'
                AND EXISTS (
                SELECT
                1
                FROM
                md_peispatientexamitem pe
                WHERE
                pe.patientcode = pf.id_patient
                AND pe.id_examfeeitem = pf.id_examfeeitem
                AND pe.inspect_name = #{param.doctor} )
                )
                OR (
                pf.id_ks != '19'
                AND EXISTS (
                SELECT
                1
                FROM
                md_section_result_main s
                INNER JOIN sys_user u ON u.user_no = s.audit_id
                WHERE
                s.patientcode = pf.id_patient
                AND s.dep_id = pf.id_ks
                AND u.user_name = #{param.doctor} )
                )
                )
            </if>
            <if test="param.FExaminated!=null">
                <if test="param.FExaminated == 1">
                    AND pf.f_examinated = 1
                </if>
                <if test="param.FExaminated == 0">
                    AND (pf.f_examinated IS NULL OR pf.f_examinated = 0)
                </if>
            </if>
        </where>
        ORDER BY p.doctorreg,p.patientcode
    </select>
</mapper>

