<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.HealthResultMapper">





    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.statistics.bean.vo.HealthResultVo">
        select
            p.patientcode,
            p.patientname,
            p.id_sex as sex,
            p.org_name as org,
            p.numorgresv as ddh,
            p.age,
            p.idcardno,
            p.phone,
            STR_TO_DATE ( p.dateregister, '%Y-%m-%d' ) as dateregister,
            st.summarize,
            st.offer
        from
            md_peispatient p
            inner join md_section_total st on st.patientcode = p.patientcode
                and st.disease_health = 0
            LEFT JOIN md_report r on r.patientcode = p.patientcode
                and r.disease_health = 0
        <where>
            p.jktjzt >=1
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.reportStartTime!=null">
                AND r.generate_date <![CDATA[ >= ]]> #{param.reportStartTime}
            </if>
            <if test="param.reportEndTime!=null">
                AND r.generate_date <![CDATA[ <= ]]> #{param.reportEndTime}
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.idExamtype!=null and param.idExamtype!=''">
                AND p.id_examtype = #{param.idExamtype}
            </if>
            <if test="param.fzx!=null and param.fzx!=''">
                AND p.hospitalcode = #{param.fzx}
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND p.id_opendoctor = #{param.xsjlid}
            </if>
        </where>
        ORDER BY p.patientcode DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>


    <!-- 导出健康检查结果附表 -->
    <select id="getExportData" resultType="com.center.medical.statistics.bean.vo.HealthResultVo">
        select
        p.patientcode,
        p.patientname,
        p.id_sex as sex,
        p.org_name as org,
        p.numorgresv as ddh,
        p.age,
        p.idcardno,
        p.phone,
        STR_TO_DATE ( p.dateregister, '%Y-%m-%d' ) as dateregister,
        st.summarize,
        st.offer
        from
        md_peispatient p
        inner join md_section_total st on st.patientcode = p.patientcode
        and st.disease_health = 0
        LEFT JOIN md_report r on r.patientcode = p.patientcode
        and r.disease_health = 0
        <where>
            p.jktjzt >=1
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.idOrg!=null and param.idOrg!=''">
                AND p.id_org = #{param.idOrg}
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            <if test="param.reportStartTime!=null">
                AND r.generate_date <![CDATA[ >= ]]> #{param.reportStartTime}
            </if>
            <if test="param.reportEndTime!=null">
                AND r.generate_date <![CDATA[ <= ]]> #{param.reportEndTime}
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.idExamtype!=null and param.idExamtype!=''">
                AND p.id_examtype = #{param.idExamtype}
            </if>
            <if test="param.fzx!=null and param.fzx!=''">
                AND p.hospitalcode = #{param.fzx}
            </if>
            <if test="param.xsjlid!=null and param.xsjlid!=''">
                AND p.id_opendoctor = #{param.xsjlid}
            </if>
        </where>
        ORDER BY p.patientcode DESC
    </select>
</mapper>

