<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.PersonalTotalMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.PersonalTotalVo">
        SELECT
        p.xsjlid AS id,
        p.khdwmc AS orgName,
        IFNULL ( p.kdzl_name, '' ) AS kdzl,
        p.xsjl AS sellName,
        count(
        DISTINCT ( CASE WHEN ( p.insuranceno IS NULL OR p.insuranceno = '' ) THEN p.id ELSE NULL END )) AS counts,
        IFNULL ( count( DISTINCT ( CASE WHEN p.id_sex = 0 THEN p.patientcode ELSE NULL END ) ), 0 ) mans,
        IFNULL ( count( DISTINCT ( CASE WHEN p.id_sex = 1 THEN p.patientcode ELSE NULL END ) ), 0 ) womans,
        IFNULL ( sum( pi.price ), 0 ) AS price,
        IFNULL ( sum( pi.factprice ), 0 ) AS fastprice,
        p.int_id,
        sum( CASE WHEN pi.sfjx = 1 THEN pi.factprice ELSE 0 END ) AS addprice,
        sum( CASE WHEN pi.sfjx = 1 THEN i.unitprice ELSE 0 END ) AS addorgprice,
        IFNULL ( count( DISTINCT p.patientcode ), 0 ) AS patientcodeCount,
        IFNULL ( SUM( i.costprice ), 0 ) costprice
        FROM
        (
            select DISTINCT * from (
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND qu.user_name = #{param.userName}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND qu.superior_id = #{param.userNo}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND co.kdzl_name = #{param.userName}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND co.kdzl_name LIKE concat('%',#{param.userName},'%')
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
           ) as temp_table
        ) p
        LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        AND pi.f_feecharged = 1
        LEFT JOIN md_items i ON i.id = pi.id_examfeeitem
        LEFT JOIN sys_branch bc ON bc.branch_id = p.hospitalcode
        GROUP BY
        p.xsjlid,
        p.xsjl,
        p.int_id,
        p.khdwmc,
        p.kdzl_name
        ORDER BY
        p.xsjl,
        p.int_id ASC
    </select>


    <!-- 查询列表数据 -->
    <select id="getExportData" resultType="com.center.medical.statistics.bean.vo.PersonalTotalVo">
        SELECT
        p.xsjlid AS id,
        p.khdwmc AS orgName,
        IFNULL ( p.kdzl_name, '' ) AS kdzl,
        p.xsjl AS sellName,
        count(
        DISTINCT ( CASE WHEN ( p.insuranceno IS NULL OR p.insuranceno = '' ) THEN p.id ELSE NULL END )) AS counts,
        IFNULL ( count( DISTINCT ( CASE WHEN p.id_sex = 0 THEN p.patientcode ELSE NULL END ) ), 0 ) mans,
        IFNULL ( count( DISTINCT ( CASE WHEN p.id_sex = 1 THEN p.patientcode ELSE NULL END ) ), 0 ) womans,
        IFNULL ( sum( pi.price ), 0 ) AS price,
        IFNULL ( sum( pi.factprice ), 0 ) AS fastprice,
        p.int_id,
        sum( CASE WHEN pi.sfjx = 1 THEN pi.factprice ELSE 0 END ) AS addprice,
        sum( CASE WHEN pi.sfjx = 1 THEN i.unitprice ELSE 0 END ) AS addorgprice,
        IFNULL ( count( DISTINCT p.patientcode ), 0 ) AS patientcodeCount,
        IFNULL ( SUM( i.costprice ), 0 ) costprice
        FROM
        (
        select DISTINCT * from (
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND qu.user_name = #{param.userName}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND qu.superior_id = #{param.userNo}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND co.kdzl_name = #{param.userName}
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        UNION ALL
        SELECT
        p.id,
        p.insuranceno,
        p.id_sex,
        p.patientcode,
        p.numorgresv,
        p.id_org,
        p.hospitalcode,
        co.kdzl_name,
        co.ddh,
        sc.xsjlid,
        sc.khdwmc,
        sc.xsjl,
        sc.int_id
        FROM
        md_peispatient p
        INNER JOIN crm_sellcustomer sc ON sc.id = p.id_org
        LEFT JOIN sys_user qu ON sc.xsjlid = qu.user_no
        LEFT JOIN md_createorder co ON co.ddh = p.numorgresv
        <where>
            p.f_usecodehiden = 1
            AND p.f_registered = 1
            AND p.doctorapply != '补检'
            <if test="param.userName!=null and param.userName!=''">
                AND co.kdzl_name LIKE concat('%',#{param.userName},'%')
            </if>
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.name!=null and param.name!=''">
                AND sc.xsjl LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.tjlx!=null">
                <if test="param.tjlx == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.tjlx == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.noReview!=null and param.noReview == 1">
                AND p.id_examtype != '3'
            </if>
        </where>
        ) as temp_table
        ) p
        LEFT JOIN md_peispatientfeeitem pi ON pi.id_patient = p.patientcode
        AND pi.change_item = 0
        AND pi.f_feecharged = 1
        LEFT JOIN md_items i ON i.id = pi.id_examfeeitem
        LEFT JOIN sys_branch bc ON bc.branch_id = p.hospitalcode
        GROUP BY
        p.xsjlid,
        p.xsjl,
        p.int_id,
        p.khdwmc,
        p.kdzl_name
        ORDER BY
        p.xsjl,
        p.int_id ASC
    </select>


    <!-- 查询右边列表 -->
    <select id="getTotalList" resultType="com.center.medical.statistics.bean.vo.PTTotalListVo">
        SELECT
        co.ddh AS `order`,
        o.bdrq AS regDate,
        p.dateregister AS FirstDate,
        s.khdwmc AS khdwmc,
        sum( CASE WHEN pc.f_feecharged = 1 THEN pc.moneyamountpaid ELSE 0 END ) AS hj,
        sum( CASE WHEN pc.id_payway = '5' AND pc.f_feecharged = 1 THEN pc.moneyamountpaid ELSE 0 END ) AS ts,
        sum( CASE WHEN pc.id_payway = '4' THEN pc.moneyamountpaid ELSE 0 END ) AS jz
        FROM
        md_createorder co
        LEFT JOIN md_peispatient p ON p.numorgresv = co.ddh
        LEFT JOIN md_peispatientcharge pc ON pc.patientcode = p.patientcode
        LEFT JOIN crm_sellcustomer s ON co.khdwmcid = s.id
        LEFT JOIN md_orderandfzx o ON o.ddid = co.id AND o.fzxid = p.hospitalcode
        <where>
            p.f_registered = 1
            <if test="param.tjxs!=null and param.tjxs!=''">
                AND co.tjxs = #{param.tjxs}
            </if>
            <if test="param.id!=null and param.id!=''">
                AND s.int_id = #{param.id}
            </if>
            <if test="param.branchIds!=null and param.branchIds.size > 0">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.type!=null">
                <if test="param.type == 0">
                    AND p.id_examtype = 0
                </if>
                <if test="param.type == 1">
                    AND p.id_examtype != 0
                </if>
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        GROUP BY co.ddh,o.bdrq,p.dateregister,s.khdwmc
        ORDER BY co.ddh,p.dateregister DESC
    </select>
</mapper>

