<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.ProfessionUploadResultMapper">
    <sql id="selectProfessionUploadResultSql">
        SELECT
            ps.patientcode,
            CASE
                WHEN ps.jinan_status = 1
                OR ps.jinan_status = 3 THEN
                1
                ELSE
                ps.jinan_status
                END AS STATUS,
                ps.jinan_msg AS msg,
            p.id_examtype,
            p.dateregister,
            ps.modifydate,
            p.patientname,
            p.org_name,
            p.doctorapply
        FROM
            md_peis_state ps
        INNER JOIN md_peispatient p ON p.patientcode = ps.patientcode
        WHERE
            p.ID_EXAMTYPE IN ('1', '2', '3')
            <if test="param.status == 1">
                AND (
                    ps.jinan_status = 1
                    OR ps.jinan_status = 3
                )
            </if>
            <if test="param.status == 0">
                AND (
                    ps.JINAN_STATUS IS NULL
                    OR ps.jinan_status = 0
                )
            </if>
            <if test="param.status == 2">
                AND ps.JINAN_STATUS = 2
            </if>
            <if test="param.startDate != null">
                AND p.DATEREGISTER <![CDATA[ >= ]]> #{param.startDate}
            </if>
            <if test="param.endDate != null">
                AND p.DATEREGISTER <![CDATA[ <= ]]> #{param.endDate}
            </if>
            <if test="param.patientcode != null">
                AND instr(p.PATIENTCODE,#{param.patientcode}) <![CDATA[ > ]]> 0
            </if>
            <if test="param.idOrg != null">
                AND instr(p.ID_ORG,#{param.idOrg}) <![CDATA[ > ]]> 0
            </if>
            <if test="param.doctorapply!=null and param.doctorapply!=''">
                AND p.doctorapply like concat('%',#{param.doctorapply},'%')
            </if>
            <if test="param.ddh!=null and param.ddh!=''">
                AND p.numorgresv = #{param.ddh}
            </if>
            AND p.ZYTJZT >= 2
            AND p.F_REGISTERED = 1
            AND (instr(p.examsuite_name, '特种作业') = 0 OR p.examsuite_name IS NULL)
        ORDER BY
            CASE
                WHEN ps.jinan_status = 1
                OR ps.jinan_status = 3 THEN
                1
                ELSE
                ps.jinan_status
                END,
            ps.patientcode
    </sql>
    <select id="getPage" resultType="com.center.medical.statistics.bean.vo.ProfessionUploadResultVo">
        <include refid="selectProfessionUploadResultSql"/>
    </select>
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.ProfessionUploadResultVo">
        <include refid="selectProfessionUploadResultSql"/>
    </select>
</mapper>