<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.RegistrationNotCheckMapper">


    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.statistics.bean.vo.RegistrationNotCheckVo">
        SELECT
            p.id,
            p.hospitalcode as fzxid,
            b.fzx,
            sc.int_id,
            sc.khdwmc,
            p.patientname,
            p.dateregister,
            group_concat(DISTINCT pc.payway) as payway,
            group_concat(DISTINCT pf.examfeeitem_name) as examfeeitemName,
            pcm.moneyamount,
            pcm.moneyamountpaid,
            p.patientcode
        FROM
            md_peispatient p
            LEFT JOIN sys_branch b on p.hospitalcode = b.branch_id
            LEFT JOIN crm_sellcustomer sc on sc.id = p.id_org
            LEFT JOIN md_peispatientcharge pc on pc.patientcode = p.patientcode
            LEFT JOIN md_peispatient_charge_main pcm on pcm.patientcode = p.patientcode
            LEFT JOIN md_peispatientfeeitem pf on pf.id_patient = p.patientcode
        <where>
            p.f_registered = 1
            AND p.f_readytofinal = 0
            AND pf.f_examinated = 0
            AND pf.f_transferedhl7 is null
            AND pf.sfjj = 0
            AND f_giveup = 0
            AND change_item = 0
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.khdwmc!=null and param.khdwmc!=''">
                AND sc.khdwmc like concat('%',#{param.khdwmc},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        GROUP BY p.id
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>



    <!-- 导出登记未检客户统计 -->
    <select id="export" resultType="com.center.medical.statistics.bean.vo.RegistrationNotCheckVo">
        SELECT
        p.id,
        p.hospitalcode as fzxid,
        b.fzx,
        sc.int_id,
        sc.khdwmc,
        p.patientname,
        p.dateregister,
        group_concat(pc.payway) as payway,
        group_concat(pf.examfeeitem_name) as examfeeitemName,
        pcm.moneyamount,
        pcm.moneyamountpaid,
        p.patientcode
        FROM
        md_peispatient p
        LEFT JOIN sys_branch b on p.hospitalcode = b.branch_id
        LEFT JOIN crm_sellcustomer sc on sc.id = p.id_org
        LEFT JOIN md_peispatientcharge pc on pc.patientcode = p.patientcode
        LEFT JOIN md_peispatient_charge_main pcm on pcm.patientcode = p.patientcode
        LEFT JOIN md_peispatientfeeitem pf on pf.id_patient = p.patientcode
        <where>
            p.f_registered = 1
            AND p.f_readytofinal = 0
            AND pf.f_examinated = 0
            AND pf.f_transferedhl7 is null
            AND pf.sfjj = 0
            AND f_giveup = 0
            AND change_item = 0
            <if test="param.branchIds!=null">
                AND p.hospitalcode IN
                <foreach collection="param.branchIds" item="brandId" open="(" close=")" separator=",">
                    #{brandId}
                </foreach>
            </if>
            <if test="param.khdwmc!=null and param.khdwmc!=''">
                AND sc.khdwmc like concat('%',#{param.khdwmc},'%')
            </if>
            <if test="param.patientname!=null and param.patientname!=''">
                AND p.patientname like concat('%',#{param.patientname},'%')
            </if>
            <if test="param.startTime!=null">
                AND p.dateregister <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND p.dateregister <![CDATA[ <= ]]> #{param.endTime}
            </if>
        </where>
        GROUP BY p.id
    </select>
</mapper>

