<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.statistics.dao.SatisfactionRankMapper">


    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.statistics.bean.vo.SatisfactionRankVo">
        SELECT
            s.uname AS doctorName,
            s.dname AS depName,
            s.points AS points,
            rank() over ( PARTITION BY s.did ORDER BY s.points DESC ) AS rowid
        FROM
            (
                SELECT
                    u.user_name AS uname,
                    d.dept_name AS dname,
                    sum(    CASE
                                WHEN s.appraise_result = '1' THEN
                                    2
                                WHEN s.appraise_result = '2' THEN
                                    1
                                WHEN s.appraise_result = '4' THEN
                                    - 1 ELSE 0
                                END
                        ) AS points,
                    d.report_sort,
                    d.dept_no AS did,
                    u.user_no AS u_id
                FROM
                    md_satisfaction s
                        INNER JOIN sys_dept d ON d.dept_no = s.division_id
                        INNER JOIN sys_user u ON u.user_no = s.ks_doctor_id
                WHERE
                    s.division_receptionist = 0
                    <if test="param.startTime!=null">
                        AND s.appraise_time <![CDATA[ >= ]]> #{param.startTime}
                    </if>
                    <if test="param.endTime!=null">
                        AND s.appraise_time <![CDATA[ <= ]]> #{param.endTime}
                    </if>
                    <if test="param.divisionId!=null and param.divisionId!=''">
                        AND s.division_id = #{param.divisionId}
                    </if>
                    GROUP BY u.user_name,
                             d.dept_name,
                             u.user_no,
                             d.dept_no,
                             d.report_sort
                ) s
        WHERE
            1 = 1
        <if test="param.userid!=null and param.userid!=''">
            AND s.u_id = #{param.userid}
        </if>
        ORDER BY s.report_sort ASC,s.dname,s.points DESC
    </select>



</mapper>

