<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.outside.dao.BoyingBusinessMapper">
    <select id="getPatientInfo" resultType="com.center.medical.outside.bean.model.BoyingGetPatientInfoData">
        SELECT
            p.patientcode patientID,
            CONCAT(pi.id, '-', bi.id)	orderID,
            p.patientcode inPatientNo,
            p.patientcode cardID,
            p.patientname `name`,
            CASE

                WHEN p.id_sex = '0' THEN
                    '男'
                WHEN p.id_sex = '1' THEN
                    '女' ELSE ''
                END sex,
            IF
            ( p.birthdate IS NOT NULL, date_format( p.birthdate, '%Y-%m-%d' ), '' ) birthday,
            IFNULL( p.address, '' ) address,
            IFNULL( p.idcardno, '' ) idNumber,
            IFNULL( p.phone, '' ) phone,
            bi.examitem_name testName,
            IFNULL( bi.id, '' ) testCode,
            d.dept_name openDpmt,
            d.dept_no openDpmtCode,
            d.dept_name execDpmt,
            d.dept_no execDpmtCode,
            '' sickbed,
            IFNULL( p.doctorapply, '' ) openDoc,
            '' jybs,
            '' lczd,
            IF
            ( p.dateregister IS NOT NULL, DATE_FORMAT( p.dateregister, '%Y-%m-%d %H:%i:%s' ), '' ) openDate,
            '未执行' execStatus,
            '' source
        FROM
            md_peispatient p
                INNER JOIN md_peispatientfeeitem pi ON p.patientcode = pi.id_patient
                AND pi.id_ks = '9'
                AND ( pi.sfjj IS NULL OR pi.sfjj = 0 )
                AND ( pi.change_item IS NULL OR pi.change_item = 0 )
                AND ( pi.f_giveup IS NULL OR pi.f_giveup = 0 )
                AND pi.f_feecharged = 1
                INNER JOIN sys_dept d ON d.dept_no = '9'
                LEFT JOIN md_inspect_charge ic ON ic.charge_id = pi.id_examfeeitem
                INNER JOIN md_basexamltem bi ON bi.id = ic.inspect_id AND ic.is_delete = 0
        WHERE
            p.f_registered = 1
          AND p.patientcode = #{patientcode}
          AND p.f_paused = 0
          AND bi.interface_code = '010617'
        ORDER BY
            bi.createdate
    </select>
</mapper>