<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.workflow.dao.ApprovalStatusMapper">



    <!-- 查询列表数据 -->
    <select id="getPage" resultType="com.center.medical.workflow.bean.vo.ApprovalStatusVo">
        SELECT
        wfc.id,
        wfc.createdate,
        wfc.case_name,
        wfc.status,
        concat(wfc.all_level,'/',wfc.cur_level) as schedule,
        wfc.remark,
        wfci.user_name,
        wfc.type_flag
        FROM
        md_workflow_case wfc
        LEFT JOIN md_workflow_case_item wfci ON wfci.case_id = wfc.id
        and wfci.status = 1
        <where>
            1 = 1
            <if test="param.startTime!=null">
                AND wfc.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND wfc.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.caseName!=null and param.caseName!=''">
                AND wfc.case_name LIKE concat('%',#{param.caseName},'%')
            </if>
            <if test="param.userNo!=null and param.userNo!=''">
                AND wfc.creator = #{param.userNo}
            </if>
        </where>
        ORDER BY wfc.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.Peispatient">

    </select>

</mapper>

