<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.workflow.dao.WorkflowTypeMapper">

    <resultMap type="com.center.medical.workflow.bean.model.WorkflowType" id="WorkflowTypeMap">
        <id property="typeId" column="type_id"/>
        <result property="typeFlag" column="type_flag"/>
        <result property="typeName" column="type_name"/>
        <result property="remark" column="remark"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectWorkflowTypeVo">
        select type_id, type_flag, type_name, remark, createdate, modifydate
        from md_workflow_type
    </sql>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="WorkflowTypeMap">
        <include refid="selectWorkflowTypeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="WorkflowTypeMap">
        <include refid="selectWorkflowTypeVo"/>
        <where>
            typeId = #{id}
        </where>
    </select>

</mapper>

