<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.DescribeMapper">

    <resultMap type="com.center.medical.bean.model.Describe" id="DescribeMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="inspectDescribe" column="inspect_describe"/>
        <result property="signList" column="sign_list"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="depId" column="dep_id"/>
        <result property="tjlx" column="tjlx"/>
        <result property="shortCode" column="short_code"/>
        <result property="depDescription" column="dep_description"/>
        <result property="feeId" column="fee_id"/>
        <result property="feeName" column="fee_name"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectDescribeVo">
        select id,
               patientcode,
               item_id,
               item_name,
               inspect_describe,
               sign_list,
               createdate,
               modifydate,
               dep_id,
               tjlx,
               short_code,
               dep_description,
               fee_id,
               fee_name
        from md_describe
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="DescribeMap">
        <include refid="selectDescribeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="DescribeMap">
        <include refid="selectDescribeVo"/>
        <where>
            id = #{id}
        </where>
    </select>


    <!-- 获取小结及图片数据 -->
    <select id="getSummaryAndPictures" resultType="com.center.medical.bean.dto.SummaryAndPicturesDto">
        SELECT
            pf.id,
            pf.id_patient,
            pf.id_ks,
            i.examfeeitem_nameprn,
            pr.item_name,
            pr.examresultdesc,
            pr.examresultsummary,
            srm.audit_time,
            srm.rummager_name,
            srm.audit_name,
            srm.conclusions,
            srm.zy_conclusions,
            pr.examdoctor,
            pr.audit_doctor
        FROM
            md_peispatientfeeitem pf
        INNER join md_section_result_main srm on srm.patientcode = pf.id_patient
        and srm.dep_id = pf.id_ks
        INNER JOIN md_items i ON i.id = pf.id_examfeeitem
        LEFT JOIN md_pacs_result pr ON pf.id_patient = pr.patientcode
        AND pr.item_id = pf.id_examfeeitem
        <where>
            pf.id_patient = #{patientcode}
            AND pf.id_ks = #{deptNo}
            and pf.f_feecharged = 1
            and pf.f_giveup = 0
            and pf.sfjj = 0
            and pf.change_item = 0
            AND pf.f_transferedhl7 IS NULL
        </where>
    </select>



    <!-- 获取小结及图片数据 -->
    <select id="getOldSummaryAndPictures" resultType="com.center.medical.bean.dto.SummaryAndPicturesDto">
        SELECT
        srm.audit_time,
        srm.rummager_name,
        srm.audit_name,
        srm.conclusions,
        srm.zy_conclusions
        FROM
        md_section_result_main srm
        <where>
            srm.patientcode = #{patientcode}
            AND srm.dep_id = #{deptNo}
        </where>
    </select>
</mapper>

