<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.EducationMapper">

    <resultMap type="com.center.medical.bean.model.Education" id="EducationMap">
        <id property="id" column="id"/>
        <result property="keyeducation" column="keyeducation"/>
        <result property="educationName" column="education_name"/>
        <result property="educationCode" column="education_code"/>
        <result property="educationCode2" column="education_code2"/>
        <result property="educationCode3" column="education_code3"/>
        <result property="educationCodehm" column="education_codehm"/>
        <result property="educationCodex" column="education_codex"/>
        <result property="inputCode" column="input_code"/>
        <result property="note" column="note"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectEducationVo">
        select id,
               keyeducation,
               education_name,
               education_code,
               education_code2,
               education_code3,
               education_codehm,
               education_codex,
               input_code,
               note,
               createdate,
               modifydate
        from md_education
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="EducationMap">
        <include refid="selectEducationVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="EducationMap">
        <include refid="selectEducationVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

