<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.FailTotalVisitMapper">

    <resultMap type="com.center.medical.bean.model.FailTotalVisit" id="FailTotalVisitMap">
        <id property="id" column="id"/>
        <result property="visitType" column="visit_type"/>
        <result property="personcode" column="personcode"/>
        <result property="visitId" column="visit_id"/>
        <result property="memo" column="memo"/>
        <result property="visitTime" column="visit_time"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="visitMainId" column="visit_main_id"/>
        <result property="sflj" column="sflj"/>
        <result property="ljsj" column="ljsj"/>
        <result property="visitText" column="visit_text"/>
        <result property="visitResult" column="visit_result"/>
        <result property="noticeAgain" column="notice_again"/>
        <result property="preTime" column="pre_time"/>
        <result property="preResult" column="pre_result"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFailTotalVisitVo">
        select id,
               visit_type,
               personcode,
               visit_id,
               memo,
               visit_time,
               createdate,
               modifydate,
               visit_main_id,
               sflj,
               ljsj,
               visit_text,
               visit_result,
               notice_again,
               pre_time,
               pre_result
        from md_fail_total_visit
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="FailTotalVisitMap">
        <include refid="selectFailTotalVisitVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FailTotalVisitMap">
        <include refid="selectFailTotalVisitVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

