<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.FinanceinputMapper">

    <resultMap type="com.center.medical.bean.model.Financeinput" id="FinanceinputMap">
        <id property="id" column="id"/>
        <result property="xsjlid" column="xsjlid"/>
        <result property="year" column="year"/>
        <result property="yy" column="yy"/>
        <result property="ey" column="ey"/>
        <result property="sy" column="sy"/>
        <result property="iy" column="iy"/>
        <result property="wy" column="wy"/>
        <result property="ly" column="ly"/>
        <result property="qy" column="qy"/>
        <result property="ay" column="ay"/>
        <result property="jy" column="jy"/>
        <result property="oy" column="oy"/>
        <result property="ny" column="ny"/>
        <result property="dy" column="dy"/>
        <result property="bz" column="bz"/>
        <result property="fzxid" column="fzxid"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectFinanceinputVo">
        select id, xsjlid, year, yy, ey, sy, iy, wy, ly, qy, ay, jy, oy, ny, dy, bz, fzxid, createdate, modifydate
        from crm_financeinput
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="FinanceinputMap">
        <include refid="selectFinanceinputVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="FinanceinputMap">
        <include refid="selectFinanceinputVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

