<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.HandleNewProjectsMapper">

    <resultMap type="com.center.medical.bean.model.HandleNewProjects" id="HandleNewProjectsMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="createId" column="create_id"/>
        <result property="modifyId" column="modify_id"/>
        <result property="projectsId" column="projects_id"/>
        <result property="addDoctorId" column="add_doctor_id"/>
        <result property="isHandle" column="is_handle"/>
        <result property="handleTime" column="handle_time"/>
        <result property="handleNameId" column="handle_name_id"/>
        <result property="status" column="status"/>
        <result property="idea" column="idea"/>
        <result property="isDelete" column="is_delete"/>
        <result property="handleType" column="handle_type"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectHandleNewProjectsVo">
        select id,
               patientcode,
               createdate,
               modifydate,
               create_id,
               modify_id,
               projects_id,
               add_doctor_id,
               is_handle,
               handle_time,
               handle_name_id,
               status,
               idea,
               is_delete,
               handle_type
        from md_handle_new_projects
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultType="com.center.medical.bean.vo.HandleNewVo">
        SELECT
        hnp.patientcode,
        p.patientname,
        p.id_sex,
        p.age,
        p.org_name,
        pitem.examfeeitem_name as examfeeitemName,
        d.dept_name as ksname,
        users.user_name as jxys,
        pitem.doctorreg_r as user,
        STR_TO_DATE( hnp.createdate, '%Y-%m-%d %T') as createdate,
        hnp.id,
        hnp.status as statuss,
        hnp.handle_name_id as handleNameId,
        handle.user_name as handleName,
        hnp.idea,
        hnp.handle_type as type,
        STR_TO_DATE( hnp.handle_time, '%Y-%m-%d %T') as handleTime,
        createru.user_name creater
        FROM md_handle_new_projects hnp
        LEFT JOIN md_peispatient p ON hnp.patientcode = p.patientcode
        LEFT JOIN md_peispatientfeeitem pitem ON hnp.projects_id = pitem.id
        LEFT JOIN sys_dept d ON pitem.id_ks = d.dept_no
        LEFT JOIN sys_user users ON pitem.jxys = users.user_no
        LEFT JOIN sys_user createru ON hnp.create_id = createru.user_no
        LEFT JOIN sys_user handle ON hnp.handle_name_id = handle.user_no
        <where>
            1 = 1
            AND (pitem.change_item = 0 OR d.sjbggs = 1 )
            AND pitem.f_feecharged = 1
            <if test="param.patientcode!=null and param.patientcode!=''">
                AND p.patientcode LIKE concat('%',#{param.patientcode},'%')
            </if>
            <if test="param.name!=null and param.name!=''">
                AND p.input_code LIKE concat('%',#{param.name},'%')
            </if>
            <if test="param.khdwmcid!=null and param.khdwmcid!=''">
                AND p.id_org = #{param.khdwmcid}
            </if>
            <if test="param.status!=null and param.status!=''">
                AND hnp.status = #{param.status}
            </if>
            <if test="param.startTime!=null">
                AND hnp.createdate <![CDATA[ >= ]]> #{param.startTime}
            </if>
            <if test="param.endTime!=null">
                AND hnp.createdate <![CDATA[ <= ]]> #{param.endTime}
            </if>
            <if test="param.lx!=null and param.lx!=''">
                AND hnp.handle_type = #{param.lx}
            </if>
            <if test="param.type!=null">
                <choose>
                    <when test="param.type == 0">
                        AND d.dept_name = '检验科'
                    </when>
                    <otherwise>
                        AND d.dept_no = #{param.type}
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY hnp.status ASC, hnp.handle_type ASC , pitem.createdate DESC
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultType="com.center.medical.bean.model.HandleNewProjects">
        SELECT hnp.*,
        pitem.examfeeitem_name as examfeeitemName,
        handle.user_name as handleName
        FROM md_handle_new_projects hnp
        LEFT JOIN md_peispatientfeeitem pitem ON hnp.projects_id = pitem.id
        LEFT JOIN sys_user handle ON hnp.handle_name_id = handle.user_no
        <where>
            hnp.id = #{id}
        </where>
    </select>

</mapper>

