<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PacsResultMapper">

    <resultMap type="com.center.medical.bean.model.PacsResult" id="PacsResultMap">
        <id property="id" column="id"/>
        <result property="patientcode" column="patientcode"/>
        <result property="patientname" column="patientname"/>
        <result property="examfeeitemCode" column="examfeeitem_code"/>
        <result property="examdatetime" column="examdatetime"/>
        <result property="examdoctor" column="examdoctor"/>
        <result property="examresultdesc" column="examresultdesc"/>
        <result property="examresultsummary" column="examresultsummary"/>
        <result property="examresultisnormal" column="examresultisnormal"/>
        <result property="transftertarget" column="transftertarget"/>
        <result property="fResulttransfered" column="f_resulttransfered"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="imagefullpath" column="imagefullpath"/>
        <result property="username" column="username"/>
        <result property="depId" column="dep_id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="shortCode" column="short_code"/>
        <result property="writeDate" column="write_date"/>
        <result property="pacsItemId" column="pacs_item_id"/>
        <result property="isNewPacs" column="is_new_pacs"/>
        <result property="updateNum" column="update_num"/>
        <result property="auditDoctor" column="audit_doctor"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPacsResultVo">
        select id,
               patientcode,
               patientname,
               examfeeitem_code,
               examdatetime,
               examdoctor,
               examresultdesc,
               examresultsummary,
               examresultisnormal,
               transftertarget,
               f_resulttransfered,
               createdate,
               modifydate,
               imagefullpath,
               username,
               dep_id,
               item_id,
               item_name,
               short_code,
               write_date,
               pacs_item_id,
               is_new_pacs,
               update_num,
               audit_doctor
        from md_pacs_result
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PacsResultMap">
        <include refid="selectPacsResultVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PacsResultMap">
        <include refid="selectPacsResultVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

