<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeispatientscclMapper">

    <resultMap type="com.center.medical.bean.model.Peispatientsccl" id="PeispatientscclMap">
        <id property="id" column="id"/>
        <result property="clname" column="clname"/>
        <result property="idFzx" column="id_fzx"/>
        <result property="clcontent" column="clcontent"/>
        <result property="jm" column="jm"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientscclVo">
        select id, clname, id_fzx, clcontent, jm, createdate, modifydate
        from md_peispatientsccl
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeispatientscclMap">
        <include refid="selectPeispatientscclVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientscclMap">
        <include refid="selectPeispatientscclVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

