<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeispatientfeeitemMapper">

    <resultMap type="com.center.medical.bean.model.Peispatientfeeitem" id="PeispatientfeeitemMap">
        <id property="id" column="id"/>
        <result property="idPatientfeeitem" column="id_patientfeeitem"/>
        <result property="idPatient" column="id_patient"/>
        <result property="idExamfeeitem" column="id_examfeeitem"/>
        <result property="examfeeitemName" column="examfeeitem_name"/>
        <result property="price" column="price"/>
        <result property="factprice" column="factprice"/>
        <result property="settleprice" column="settleprice"/>
        <result property="fAddeditem" column="f_addeditem"/>
        <result property="idPayway" column="id_payway"/>
        <result property="fRegistered" column="f_registered"/>
        <result property="idDoctorreg" column="id_doctorreg"/>
        <result property="doctorregR" column="doctorreg_r"/>
        <result property="registertime" column="registertime"/>
        <result property="idPatientregistersheet" column="id_patientregistersheet"/>
        <result property="fRegreturned" column="f_regreturned"/>
        <result property="fFeecharged" column="f_feecharged"/>
        <result property="idFeecharger" column="id_feecharger"/>
        <result property="feechargerNameR" column="feecharger_name_r"/>
        <result property="feechargetime" column="feechargetime"/>
        <result property="idFeediscounter" column="id_feediscounter"/>
        <result property="batchnumber" column="batchnumber"/>
        <result property="tubeposition" column="tubeposition"/>
        <result property="samplenumber" column="samplenumber"/>
        <result property="fLabsampled" column="f_labsampled"/>
        <result property="idLabsampler" column="id_labsampler"/>
        <result property="labsamplerNameR" column="labsampler_name_r"/>
        <result property="labsampletime" column="labsampletime"/>
        <result property="fLabsendtolis" column="f_labsendtolis"/>
        <result property="labsendtolistime" column="labsendtolistime"/>
        <result property="fLabrcvdfromlis" column="f_labrcvdfromlis"/>
        <result property="labrcvdfromlistime" column="labrcvdfromlistime"/>
        <result property="fGiveup" column="f_giveup"/>
        <result property="fExaminated" column="f_examinated"/>
        <result property="idPatientexamdepart" column="id_patientexamdepart"/>
        <result property="idExamdoctor" column="id_examdoctor"/>
        <result property="examdoctorNameR" column="examdoctor_name_r"/>
        <result property="examinatetime" column="examinatetime"/>
        <result property="fMarkFeereturn" column="f_mark_feereturn"/>
        <result property="fWorkInnerModify" column="f_work_inner_modify"/>
        <result property="severedegree" column="severedegree"/>
        <result property="positivesummary" column="positivesummary"/>
        <result property="interfacemarks" column="interfacemarks"/>
        <result property="urlresult" column="urlresult"/>
        <result property="fDelayed" column="f_delayed"/>
        <result property="dtDelayedtill" column="dt_delayedtill"/>
        <result property="notewhydelayed" column="notewhydelayed"/>
        <result property="idExamplace" column="id_examplace"/>
        <result property="fTransferedhl7" column="f_transferedhl7"/>
        <result property="qty" column="qty"/>
        <result property="feeitemdesc" column="feeitemdesc"/>
        <result property="feeitemsummary" column="feeitemsummary"/>
        <result property="idTypist" column="id_typist"/>
        <result property="idExamapprovedby" column="id_examapprovedby"/>
        <result property="examapprovedbyNameR" column="examapprovedby_name_r"/>
        <result property="samplenumberfromlis" column="samplenumberfromlis"/>
        <result property="samplemsgfromlis" column="samplemsgfromlis"/>
        <result property="receiptsheetnofromhis" column="receiptsheetnofromhis"/>
        <result property="feeitemrequestno" column="feeitemrequestno"/>
        <result property="samplestatus" column="samplestatus"/>
        <result property="backupsingleitemcopiesprinted" column="backupsingleitemcopiesprinted"/>
        <result property="fFeechargedinttrans" column="f_feechargedinttrans"/>
        <result property="giveupnotelet" column="giveupnotelet"/>
        <result property="sfjx" column="sfjx"/>
        <result property="jxys" column="jxys"/>
        <result property="idKs" column="id_ks"/>
        <result property="count" column="count"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="changeItem" column="change_item"/>
        <result property="isMintc" column="is_mintc"/>
        <result property="isbx" column="isbx"/>
        <result property="bxcount" column="bxcount"/>
        <result property="endtuiprice" column="endtuiprice"/>
        <result property="actualprice" column="actualprice"/>
        <result property="shortCode" column="short_code"/>
        <result property="qjr" column="qjr"/>
        <result property="bjr" column="bjr"/>
        <result property="cjr" column="cjr"/>
        <result property="qjsj" column="qjsj"/>
        <result property="bjsj" column="bjsj"/>
        <result property="cjsj" column="cjsj"/>
        <result property="sfjj" column="sfjj"/>
        <result property="jjr" column="jjr"/>
        <result property="jjsj" column="jjsj"/>
        <result property="jjrqm" column="jjrqm"/>
        <result property="itemGroup" column="item_group"/>
        <result property="adiconCode" column="adicon_code"/>
        <result property="chargeId" column="charge_id"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="isconfirm" column="isconfirm"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientfeeitemVo">
        select id,
               id_patientfeeitem,
               id_patient,
               id_examfeeitem,
               examfeeitem_name,
               price,
               factprice,
               settleprice,
               f_addeditem,
               id_payway,
               f_registered,
               id_doctorreg,
               doctorreg_r,
               registertime,
               id_patientregistersheet,
               f_regreturned,
               f_feecharged,
               id_feecharger,
               feecharger_name_r,
               feechargetime,
               id_feediscounter,
               batchnumber,
               tubeposition,
               samplenumber,
               f_labsampled,
               id_labsampler,
               labsampler_name_r,
               labsampletime,
               f_labsendtolis,
               labsendtolistime,
               f_labrcvdfromlis,
               labrcvdfromlistime,
               f_giveup,
               f_examinated,
               id_patientexamdepart,
               id_examdoctor,
               examdoctor_name_r,
               examinatetime,
               f_mark_feereturn,
               f_work_inner_modify,
               severedegree,
               positivesummary,
               interfacemarks,
               urlresult,
               f_delayed,
               dt_delayedtill,
               notewhydelayed,
               id_examplace,
               f_transferedhl7,
               qty,
               feeitemdesc,
               feeitemsummary,
               id_typist,
               id_examapprovedby,
               examapprovedby_name_r,
               samplenumberfromlis,
               samplemsgfromlis,
               receiptsheetnofromhis,
               feeitemrequestno,
               samplestatus,
               backupsingleitemcopiesprinted,
               f_feechargedinttrans,
               giveupnotelet,
               create_date,
               sfjx,
               jxys,
               id_ks,
               count,
               createdate,
               modifydate,
               change_item,
               is_mintc,
               isbx,
               bxcount,
               endtuiprice,
               actualprice,
               short_code,
               qjr,
               bjr,
               cjr,
               qjsj,
               bjsj,
               cjsj,
               sfjj,
               jjr,
               jjsj,
               jjrqm,
               item_group,
               adicon_code,
               charge_id,
               trade_no,
               isconfirm
        from md_peispatientfeeitem
    </sql>

    <!--一键体检者收费项目去重-->
    <delete id="deduplication">
        DELETE
        FROM md_peispatientfeeitem
        WHERE id IN (SELECT id
                     FROM (SELECT bbb.*,
                                  ROW_NUMBER() OVER ( PARTITION BY bbb.id_patient, bbb.id_examfeeitem ORDER BY bbb.id_patient, bbb.f_registered DESC, bbb.f_examinated DESC ) AS rn
                           FROM (SELECT p1.id,
                                        p1.id_patient,
                                        p1.id_examfeeitem,
                                        p1.examfeeitem_name,
                                        p1.qty,
                                        p1.f_registered,
                                        p1.f_examinated,
                                        p1.f_giveup
                                 FROM md_peispatientfeeitem p1
                                          INNER JOIN (SELECT id_patient, id_examfeeitem
                                                      FROM md_peispatientfeeitem
                                                      WHERE id_patient = #{patientcode}
                                                        AND f_mark_feereturn != 1
                                                      GROUP BY id_patient, id_examfeeitem
                                                      HAVING COUNT(*) > 1) aaa ON p1.id_patient = aaa.id_patient
                                     AND p1.id_examfeeitem = aaa.id_examfeeitem
                                 ORDER BY p1.id_patient,
                                          p1.id_examfeeitem,
                                          p1.f_registered DESC,
                                          p1.f_examinated DESC) bbb) ccc
                     WHERE ccc.rn > 1)
    </delete>

    <!-- 查询列表数据 -->
    <select id="getPage" resultMap="PeispatientfeeitemMap">
        <include refid="selectPeispatientfeeitemVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientfeeitemMap">
        <include refid="selectPeispatientfeeitemVo"/>
        <where>
            id = #{id}
        </where>
    </select>
    <!-- 计算收费项目体检次数-->
    <select id="getItemsCount" resultType="com.center.medical.bean.dto.ItemsExamCountDto">
        SELECT p.id_examfeeitem AS idPatientfeeitem,
               count(p.id)      AS `count`
        FROM md_peispatientfeeitem p
                 INNER JOIN md_items i ON i.id = p.id_examfeeitem
        WHERE p.f_examinated = 1
          AND (i.dt_lastautoinsert IS NULL OR i.dt_lastautoinsert <![CDATA[ < ]]> p.createdate)
          AND p.createdate <![CDATA[ <= ]]> #{now}
          AND p.id_ks = #{deptId}
        GROUP BY p.id_examfeeitem
    </select>


    <!-- 获取没有检查的-->
    <select id="getNoCheckItems" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT pe.*
        FROM md_peispatientfeeitem pe
                 LEFT JOIN sys_dept d ON d.dept_no = pe.id_ks
        WHERE pe.id_patient = #{patientCode}
          AND (pe.change_item IS NULL OR pe.change_item = 0)
          AND (pe.f_giveup IS NULL OR pe.f_giveup = 0)
          AND (pe.sfjj IS NULL OR pe.sfjj = 0)
          AND (pe.id_ks IS NULL OR d.is_function = 0)
          AND pe.f_feecharged = 1
    </select>


    <!-- 查询未缴费项目-->
    <select id="selectUnfees" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT p.*
        FROM md_peispatientfeeitem p
                 INNER JOIN sys_dept d ON d.dept_no = p.id_ks
                 INNER JOIN sys_user_dep ud ON ud.dep_id = d.dept_no
            AND ud.user_id = #{userNo}
        WHERE p.id_patient = #{patientCode}
          AND d.is_function = 1
          AND d.del_flag = 0
          AND p.f_giveup != 1
            AND ( p.sfjj IS NULL OR p.sfjj = 0 )
            AND p.change_item != 1
            AND (
                p.f_feecharged = 0
            OR p.f_feecharged IS NULL
            )
    </select>


    <!-- 通过体检码查询收费项目名称-->
    <select id="findExamitemNameByCode" resultType="string">
        SELECT e.examitem_name
        FROM md_peispatientfeeitem pi
                 INNER JOIN md_items i ON i.id = pi.id_examfeeitem
                 INNER JOIN md_inspect_charge ic ON ic.charge_id = i.id
                 INNER JOIN md_basexamltem e ON e.id = ic.inspect_id
        WHERE pi.id_ks = '19'
          AND pi.id_patient = #{patientcode}
          AND pi.f_giveup = 0
          AND (pi.sfjj IS NULL OR pi.sfjj = 0)
          AND pi.change_item = 0
          AND pi.f_feecharged = 1
          AND pi.f_transferedhl7 IS NULL
          AND ic.is_delete = 0
          AND e.is_delete = 0
          AND (e.f_lab_byhand IS NULL OR e.f_lab_byhand != 1)
          AND NOT EXISTS(SELECT 1
                         FROM md_peispatientexamitem pei
                         WHERE pei.patientcode = pi.id_patient
                           AND pei.id_examitem = e.id)
          AND NOT EXISTS(SELECT 1
                         FROM md_outside_pictrue op
                         WHERE op.patientcode = pi.id_patient
                           AND (
                                     op.charge_id = pi.id_examfeeitem
                                 OR op.charge_id LIKE CONCAT('%,', pi.id_examfeeitem)
                                 OR op.charge_id LIKE CONCAT(pi.id_examfeeitem, ',%')
                                 OR op.charge_id LIKE CONCAT('%,', pi.id_examfeeitem, ',%')
                             ))
    </select>


    <!-- 项目列表-->
    <select id="getItemData" resultType="com.center.medical.bean.vo.GetItemDataVo">
        SELECT t.id               as id,
               i.examfeeitem_name as itemName,
               i.depart_name      as departName,
               y.NAME             as yblx,
               i.x_ybdm           as bz
        FROM md_peispatientfeeitem t
                 LEFT JOIN md_items i ON t.id_examfeeitem = i.id
                 LEFT JOIN md_yblx y ON i.id_labtype = y.id
        WHERE t.id_patient = #{patientcode}
          AND i.id_depart = '19'
          AND t.change_item = 0
          AND i.is_delete = 0
        ORDER BY t.createdate DESC
    </select>


    <!-- 外送项目-->
    <select id="getWsxmData" resultType="com.center.medical.bean.vo.WsxmDataVo">
        SELECT
        t.id_examfeeitem as id,
        i.examfeeitem_name as xmmc,
        i.input_code as inputCode
        FROM
        md_peispatientfeeitem t
        LEFT JOIN md_items i ON t.id_examfeeitem = i.id
        LEFT JOIN md_yblx y ON i.id_labtype = y.id
        <where>
            y.name = '外送'
            AND i.is_delete = 0
            AND y.is_delete = 0
            AND t.id_patient = #{patientcode}
            <if test="key!=null and key!=''">
                AND i.input_code like concat('%',#{key},'%')
            </if>
        </where>
        ORDER BY t.createdate DESC
    </select>


    <!-- 无关联科室已检-->
    <select id="irrelevantInspect" resultMap="PeispatientfeeitemMap">
        SELECT pe.*
        FROM md_peispatientfeeitem pe
                 LEFT JOIN sys_dept d ON d.dept_no = pe.id_ks
        WHERE pe.id_patient = #{patientcode}
          AND (pe.change_item IS NULL OR pe.change_item = 0)
          AND (pe.f_giveup IS NULL OR pe.f_giveup = 0)
          AND (pe.sfjj IS NULL OR pe.sfjj = 0)
          AND (pe.id_ks IS NULL OR d.is_function = 0)
          AND pe.f_feecharged = 1
    </select>


    <!-- 科室加项右侧数据-->
    <select id="getAddListData" resultType="com.center.medical.bean.vo.AddListDataVo">
        SELECT *
        FROM (SELECT NULL                 id,
                     pi.id_examfeeitem AS itemId,
                     i.examfeeitem_name,
                     q.user_name       AS doctorUsername,
                     pi.factprice      AS price,
                     pi.feeitemdesc    AS remarks,
                     pi.id_patient     AS patientcode,
                     pi.id             AS feeitemId,
                     pi.qty,
                     NULL                 createdate,
                     d.dept_name       AS ssks,
                     pi.f_feecharged
              FROM md_peispatientfeeitem pi
                       INNER JOIN md_items i ON i.id = pi.id_examfeeitem
                       INNER JOIN sys_dept d ON d.dept_no = pi.id_ks
                       LEFT JOIN sys_user q ON q.user_no = pi.jxys
              WHERE pi.id_patient = #{patientcode}
                AND (pi.change_item IS NULL OR pi.change_item = 0)
              UNION ALL
              SELECT tp.id,
                     tp.item_id,
                     i.examfeeitem_name,
                     tp.doctor_username,
                     tp.price,
                     tp.remarks,
                     tp.patientcode,
                     tp.feeitem_id,
                     NULL as qty,
                     tp.createdate,
                     d.dept_name as ssks,
                     null as fFeecharged
              FROM md_temp_feeitem tp
                       INNER JOIN md_items i ON i.id = tp.item_id
                       INNER JOIN sys_dept d ON d.dept_no = i.id_depart
              WHERE tp.is_delete = 0
                AND tp.patientcode = #{patientcode}) a
        ORDER BY (
                     CASE
                         WHEN a.feeitemId IS NOT NULL
                             AND a.id IS NULL THEN
                             2
                         WHEN a.feeitemId IS NOT NULL
                             AND a.id IS NOT NULL THEN
                             1
                         ELSE 0
                         END
                     ) ASC,
                 qty ASC,
                 createdate ASC
    </select>


    <!-- 项目列表-->
    <select id="getOSItemData" resultType="com.center.medical.bean.vo.OSItemDataVo">
        SELECT t.id_examfeeitem   as id,
               i.examfeeitem_name as itemName,
               i.depart_name      as ksName,
               y.name             as yblx,
               i.id_cooporg       as wsjgId,
               w.name             as wsjg
        FROM md_peispatientfeeitem t
                 LEFT JOIN md_items i ON t.id_examfeeitem = i.id
                 LEFT JOIN md_wsjg w ON w.id = i.id_cooporg
                 LEFT JOIN md_yblx y ON i.id_labtype = y.id
                 INNER JOIN sys_dept d ON d.dept_no = t.id_ks AND d.sjbggs = 1
        WHERE t.id_patient = #{patientcode}
          AND t.f_feecharged = 1
          AND (t.f_giveup IS NULL
            OR t.f_giveup = 0)
          AND (t.sfjj IS NULL
            OR t.sfjj = 0)
          AND (t.change_item IS NULL
            OR t.change_item = 0)
          AND t.f_transferedhl7 IS NULL
          AND y.name = '外送'
        ORDER BY t.createdate DESC
    </select>


    <!-- 导出体检者收费项目列表-->
    <select id="exportItems" resultType="com.center.medical.bean.vo.ExportItemsVo">
        SELECT i.examfeeitem_name,
               p.price,
               p.factprice,
               d.payway_name,
               u.user_name                  AS jxysName,
               IFNULL(p.f_registered, 0)    as fRegistered,
               p.change_item,
               IFNULL(p.f_feecharged, 0)    as fFeecharged,
               IFNULL(p.f_labsendtolis, 0)  as fLabsendtolis,
               p.f_examinated,
               p.f_giveup,
               IFNULL(p.f_delayed, 0)       as FDelayed,
               IFNULL(p.f_transferedhl7, 0) as fTransferedhl7,
               sd.dept_name,
               u2.user_name                 AS doctorregName,
               p.feechargetime
        FROM md_peispatientfeeitem p
                 LEFT JOIN md_items i ON i.id = p.id_examfeeitem
                 LEFT JOIN md_dictpayway d ON d.id = p.id_payway
                 LEFT JOIN sys_user u ON u.user_no = p.jxys
                 LEFT JOIN sys_dept sd ON sd.dept_no = p.id_ks
                 LEFT JOIN sys_user u2 ON u2.user_no = p.id_doctorreg
        WHERE p.id_patient = #{param.patientCode}
              AND p.change_item = 0
        ORDER BY p.qty asc
    </select>

    <!--TODO sql 报错过慢查询：获取所有尚未获取Lis数据的体检号-->
    <select id="receiveLisDataUser" resultType="java.lang.String">
        SELECT
	        i.id_patient
        FROM
            md_peispatientfeeitem i
            INNER JOIN md_items t ON t.id = i.id_examfeeitem
            INNER JOIN md_inspect_charge ic ON t.id = ic.charge_id
            INNER JOIN md_basexamltem e ON ic.inspect_id = e.id
            INNER JOIN md_peispatient p ON p.patientcode = i.id_patient
            AND ( p.f_paused IS NULL OR p.f_paused != 1 )
            LEFT JOIN md_peispatientexamitem pei ON pei.patientcode = i.id_patient
            AND pei.id_examfeeitem = t.id
            AND pei.id_examitem = e.id
        WHERE
            i.id_ks = '19'
            AND ( i.f_giveup IS NULL OR i.f_giveup = 0 )
            AND ( i.sfjj IS NULL OR i.sfjj = 0 )
            AND ( i.change_item IS NULL OR i.change_item = 0 )
            AND i.f_transferedhl7 IS NULL
            AND ( p.f_paused IS NULL OR p.f_paused != 1 )
            AND ( p.f_finallocked IS NULL OR p.f_finallocked != 1 )
            AND ((
                    p.jktjzt IS NULL
                    OR p.jktjzt = 0
                    )
            AND ( p.zytjzt IS NULL OR p.zytjzt = 0 ))
            AND ic.is_delete = 0
            AND e.is_delete = 0
            AND pei.id IS NULL
            AND i.f_feecharged = 1
            AND ( i.f_examinated IS NULL OR i.f_examinated = 0 OR e.f_lab_byhand = 1 )
            AND t.examfeeitem_code IS NOT NULL
            AND i.f_examinated = 0
            <if test="daysAgo != null and daysAgo > 0">
            AND p.dateregister <![CDATA[ >= ]]> DATE (
            subdate( now(), INTERVAL #{daysAgo} DAY ))
            </if>
        GROUP BY
            i.id_patient
        ORDER BY
            p.dateregister;
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getByPatientCode" resultMap="PeispatientfeeitemMap">
        <include refid="selectPeispatientfeeitemVo"/>
        <where>
            id_patient = #{patientcode}
        </where>
    </select>




    <!-- 查询该科室未出结果的项目-->
    <select id="getDepartmentResults" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM sys_dept d
             INNER JOIN md_peispatientfeeitem i ON i.id_ks = d.dept_no
        <where>
            i.id_patient = #{patientcode}
            AND d.dept_no = '19'
            AND d.del_flag = 0
            AND i.f_giveup != 1
            AND i.sfjj = 0
            AND i.change_item != 1
            AND i.f_feecharged = 1
            AND i.f_transferedhl7 IS NULL
            AND i.f_examinated = 0
        </where>

    </select>



    <!-- 获取原价和优惠价-->
    <select id="getPriceAndFactprice" resultType="com.center.medical.bean.dto.PriceAndFactPriceDto">
        SELECT
            sum(i.price) as price,
            sum(i.factprice) as factprice
        from md_peispatientfeeitem i
        <where>
            i.id_patient = #{patientCode}
            AND i.change_item != 1
        </where>
    </select>


    <!-- 查询未收费项目-->
    <select id="unpaidItems" resultType="java.lang.Integer">
        SELECT
        count(*)
        from md_peispatientfeeitem
        <where>
            id_patient = #{patientCode}
            AND (f_feecharged is null or f_feecharged <![CDATA[ <> ]]> 1)
        </where>
    </select>





    <!-- 获取华欧医院外送登记项目列表-->
    <select id="getHuaOuItemData" resultType="com.center.medical.bean.vo.OSItemDataVo">
        SELECT t.id_examfeeitem   as id,
               i.examfeeitem_name as itemName,
               i.depart_name      as ksName,
               y.name             as yblx,
               i.id_cooporg       as wsjgId,
               w.name             as wsjg
        FROM md_peispatientfeeitem t
                 LEFT JOIN md_items i ON t.id_examfeeitem = i.id
                 LEFT JOIN md_wsjg w ON w.id = i.id_cooporg
                 LEFT JOIN md_yblx y ON i.id_labtype = y.id
                 INNER JOIN sys_dept d ON d.dept_no = t.id_ks AND d.sjbggs = 1
        WHERE t.id_patient = #{patientcode}
          AND t.f_feecharged = 1
          AND (t.f_giveup IS NULL
            OR t.f_giveup = 0)
          AND (t.sfjj IS NULL
            OR t.sfjj = 0)
          AND (t.change_item IS NULL
            OR t.change_item = 0)
          AND t.f_transferedhl7 IS NULL
          AND d.dept_no = '19'
        ORDER BY t.createdate DESC
    </select>

    <!--判断体检者收费项目是否重复-->
    <select id="isRepeat" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT p1.id,
               p1.id_patient,
               p1.id_examfeeitem,
               p1.examfeeitem_name,
               p1.price,
               p1.factprice,
               p1.endtuiprice,
               p1.actualprice,
               p1.qty,
               p1.f_registered,
               p1.f_examinated,
               p1.f_giveup
        FROM md_peispatientfeeitem p1
                 INNER JOIN (SELECT id_patient, id_examfeeitem
                             FROM md_peispatientfeeitem
                             WHERE id_patient = #{patientcode}
                               AND f_mark_feereturn != 1
                             GROUP BY id_patient, id_examfeeitem
                             HAVING COUNT(*) > 1) aaa ON p1.id_patient = aaa.id_patient
            AND p1.id_examfeeitem = aaa.id_examfeeitem
    </select>




    <!--查出收费项目不对的体检号-->
    <select id="recalculatePrice" resultType="com.center.medical.bean.dto.RecalculatePriceDto">
        SELECT
            p.id,
            p.patientcode,
            cm.zhjg,
            sum(pf.factprice) as factprices
        FROM
            md_peispatient p
                LEFT JOIN md_peispatientfeeitem pf ON pf.id_patient = p.patientcode
                LEFT JOIN md_createmeal cm ON cm.id = p.id_tjtc
        <where>
            p.f_registered = 0
            AND p.numorgresv in
            <foreach collection="ddhs" item="ddh" open="(" close=")" separator=",">
                #{ddh}
            </foreach>
        </where>
        GROUP BY
            p.patientcode
        HAVING zhjg != factprices
    </select>



    <!--获取未退费的项目数量-->
    <select id="getUnreimbursedProjects" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            md_peispatientfeeitem
        WHERE
            id_patient = #{patientcode}
            and (f_mark_feereturn = 0 or f_mark_feereturn is null)
    </select>


    <!--判断是否包含早餐-->
    <select id="includesBreakfast" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            md_peispatientfeeitem f
        <where>
            f.id_patient = #{patientcode}
          and f.f_feecharged = 1
          and f.f_giveup = 0
          and f.sfjj = 0
          and f.change_item = 0
          and f.examfeeitem_name like '%早餐%'
        </where>
    </select>

    <select id="selectByBoying" resultType="com.center.medical.bean.model.Peispatientfeeitem">
        SELECT
            pi.*
        FROM
            md_peispatientfeeitem pi
                LEFT JOIN md_inspect_charge ic ON ic.charge_id = pi.id_examfeeitem
                INNER JOIN md_basexamltem bi ON bi.id = ic.inspect_id AND ic.is_delete = 0
        WHERE
            id_patient = #{patientcode}
          AND pi.id_ks = #{ksId}
          AND f_giveup = 0
          AND change_item = 0
          AND bi.interface_code = '010617'
        GROUP BY pi.id
    </select>
</mapper>

