<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeispatientReservationChargeMapper">

    <resultMap type="com.center.medical.bean.model.PeispatientReservationCharge" id="PeispatientReservationChargeMap">
        <id property="id" column="id"/>
        <result property="idOrgreservation" column="id_orgreservation"/>
        <result property="patientcode" column="patientcode"/>
        <result property="moneyamountpaid" column="moneyamountpaid"/>
        <result property="jzje" column="jzje"/>
        <result property="note" column="note"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="idPayway" column="id_payway"/>
        <result property="idFeecharger" column="id_feecharger"/>
        <result property="idCharge" column="id_charge"/>
        <result property="jsdate" column="jsdate"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientReservationChargeVo">
        select id,
               id_orgreservation,
               patientcode,
               moneyamountpaid,
               jzje,
               note,
               createdate,
               modifydate,
               id_payway,
               id_feecharger,
               id_charge,
               jsdate
        from md_peispatient_reservation_charge
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeispatientReservationChargeMap">
        <include refid="selectPeispatientReservationChargeVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientReservationChargeMap">
        <include refid="selectPeispatientReservationChargeVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

