<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeispatientChargeMainMapper">

    <resultMap type="com.center.medical.bean.model.PeispatientChargeMain" id="PeispatientChargeMainMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="note" column="note"/>
        <result property="moneyamount" column="moneyamount"/>
        <result property="moneyamountpaid" column="moneyamountpaid"/>
        <result property="patientcode" column="patientcode"/>
        <result property="version" column="version"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeispatientChargeMainVo">
        select id,
               createdate,
               modifydate,
               note,
               moneyamount,
               moneyamountpaid,
               patientcode,
               version
        from md_peispatient_charge_main
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeispatientChargeMainMap">
        <include refid="selectPeispatientChargeMainVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeispatientChargeMainMap">
        <include refid="selectPeispatientChargeMainVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getByPatientCode" resultMap="PeispatientChargeMainMap">
        <include refid="selectPeispatientChargeMainVo"/>
        <where>
            patientcode = #{patientcode}
        </where>
    </select>


    <!-- 根据主键id获取记录详情 -->
    <select id="getAddChangMain" resultType="java.lang.String">
        SELECT
            p.patientcode
        FROM
            md_peispatient p
                LEFT JOIN md_peispatient_charge_main pcm ON pcm.patientcode = p.patientcode
        WHERE
            pcm.id IS NULL
    </select>
</mapper>

