<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.PeisStateMapper">

    <resultMap type="com.center.medical.bean.model.PeisState" id="PeisStateMap">
        <id property="id" column="id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="patientcode" column="patientcode"/>
        <result property="fDiffperson" column="f_diffperson"/>
        <result property="fInneroper" column="f_inneroper"/>
        <result property="patientflag" column="patientflag"/>
        <result property="idPatientclass2" column="id_patientclass2"/>
        <result property="idGuidancereturnedby" column="id_guidancereturnedby"/>
        <result property="scbs" column="scbs"/>
        <result property="countreportpdf" column="countreportpdf"/>
        <result property="countreportcomparexml" column="countreportcomparexml"/>
        <result property="isBatchRegistered" column="is_batch_registered"/>
        <result property="jinanMsg" column="jinan_msg"/>
        <result property="jinanStatus" column="jinan_status"/>
        <result property="uploadDate" column="upload_date"/>
        <result property="healthCareId" column="health_care_id"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectPeisStateVo">
        select id,
               createdate,
               modifydate,
               patientcode,
               f_diffperson,
               f_inneroper,
               patientflag,
               id_patientclass2,
               id_guidancereturnedby,
               scbs,
               countreportpdf,
               countreportcomparexml,
               is_batch_registered,
               jinan_msg,
               jinan_status,
               upload_date,
               health_care_id
        from md_peis_state
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据体检号获取记录详情 -->
    <select id="getInfoByPatientcode" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
        <where>
            <if test="patientcode != null">
                AND patientcode = #{patientcode}
            </if>
            <if test="scbs != null">
                AND scbs = #{scbs}
            </if>
        </where>
    </select>


    <!-- 根据体检号获取记录详情 -->
    <select id="getByPatientcode" resultMap="PeisStateMap">
        <include refid="selectPeisStateVo"/>
        <where>
            <if test="patientcode != null">
                AND patientcode = #{patientcode}
            </if>
        </where>
    </select>
</mapper>

