<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.medical.dao.ZyFhcsGcMapper">

    <resultMap type="com.center.medical.bean.model.ZyFhcsGc" id="ZyFhcsGcMap">
        <id property="id" column="id"/>
        <result property="defendEngieeringCode" column="defend_engieering_code"/>
        <result property="defendEngineering" column="defend_engineering"/>
        <result property="inputCode" column="input_code"/>
        <result property="dbUser" column="db_user"/>
        <result property="defendEngineeringClass" column="defend_engineering_class"/>
        <result property="gcId" column="gc_id"/>
        <result property="createdate" column="createdate"/>
        <result property="modifydate" column="modifydate"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!-- 数据表字段属性 -->
    <sql id="selectZyFhcsGcVo">
        select id,
               defend_engieering_code,
               defend_engineering,
               input_code,
               db_user,
               defend_engineering_class,
               gc_id,
               createdate,
               modifydate,
               is_delete
        from md_zy_fhcs_gc
    </sql>

    <!-- 查询列表数据 -->
    <select id="getList" resultMap="ZyFhcsGcMap">
        <include refid="selectZyFhcsGcVo"/>
    </select>

    <!-- 根据主键id获取记录详情 -->
    <select id="getInfoById" resultMap="ZyFhcsGcMap">
        <include refid="selectZyFhcsGcVo"/>
        <where>
            id = #{id}
        </where>
    </select>

</mapper>

